[2020-08-27 21:50] kaisong1990 commented on #1066
@ralexandre-ciandt Thanks for your question.

Could you try to use the system webView instead of embedded webView in MSAL?

To make the change, please use ```MSALWebviewTypeDefault``` instead of ```MSALWebviewTypeWKWebView``` when assigning ```webviewType``` in ```MSALInteractiveTokenParameters```.

Meanwhile, we will investigate if it will bring any security concern to support phone schema in emb

[2020-08-27 21:58] kaisong1990 commented on #878
@ovolab We added a class property to get SDK version form ```MSALPublicClientApplication```:

```MSALPublicClientApplication.sdkVersion```

Thanks for your feedback

[2020-08-27 21:59] #878 closed

[2020-08-27 22:37] ralexandre-ciandt commented on #1066
Hi!
Changing it to TypeDefault I got the following error when trying to initialize the journey:

`Error Domain=com.apple.AuthenticationServices.WebAuthenticationSession Code=2 "Cannot start ASWebAuthenticationSession without providing presentation context. Set presentationContextProvider before calling -start." UserInfo={NSDebugDescription=Cannot start ASWebAuthenticationSession without providing

[2020-08-27 23:03] kaisong1990 commented on #1066
When creating ```MSALWebviewParameters```, can you try to set ```parentViewController``` to be a viewController so that the system knows where to present. For example if ```self``` is a viewController, you can do:

webviewParameters.parentViewController = self;

[2020-08-28 20:33] #974 closed

[2020-08-29 14:02] eltonjhony commented on #1061
Hi @kaisong1990

Thanks for your help!
The fix that we made on NewRelic solved the issue! We don't have crashes anymore!

We can close this issue.

Best regards

[2020-08-29 14:02] #1061 closed

[2020-08-31 08:20] arangato opened #1073 "Xcode 12 issue navigator warnings"
XCode 12 shows "Validate project settings" warning in issue navigator and suggests a number of projects settings updates. See below the list of suggestions by Xcode 12.0 beta 6 (12A8189n).
Through some trial and error I discovered that turning on "swift whole module optimization" and "missing localizability static analysis" is enough to make Xcode happy (see checked ones on the screenshot).
Althou

[2020-09-01 15:03] ShilpaGavade commented on #1038
I am facing issue with organisation data removal policy, as mentioned above I have used both MSAL as well as Intune app protection policy in the app, when I try to login with another user using MSAL, it asks for organisation data removal for first user, when I say yes, it removes data (looks like this) but after that I restart app and try to login another user, getting MSAL error, "(Error Domain=M

[2020-09-02 00:51] smudireddy opened #1078 "Question on ADAL to MSAL difference in workflow behavior w.r.t usage of authority string "/common" in request"
When we integrated ADAL into iOS Apps, we supported only a Multi-Tenant registered Azure AD configuration with the use of "Authority" as "/common" for provided Client-ID. ADAL worked with "/common" irrespective customer registered an app as "Single-Tenant"  or "Multi-Tenant". When we upgraded Agent to use MSAL with the same authority, started throwing an error for customers who registered app as "

[2020-09-02 19:04] #935 closed

[2020-09-02 23:49] sharjeelahmed commented on #1053
any idea what i m doing wrong ?

[2020-09-05 02:45] #1005 closed

[2020-09-08 10:19] maksirol opened #1083 "MSAL Apple login cancel locks all flow."
Hello,

I've encountered bug while logging in with apple provider.

When I click apple login button, this popup appears:
![appleLogin11](https://user-images.githubusercontent.com/6607569/92464341-ad893580-f1d5-11ea-8f26-dd734f6216be.png)

And then i click "Cancel" button and all flow seems to be frozen and i don't get any callback from MSAL.

However when i choose "Use different apple Id" and i cl

[2020-09-08 22:41] hieunguyenmsft commented on #1083
Thanks @maksirol for reporting this issue. We will look at this.

[2020-09-08 22:43] hieunguyenmsft commented on #985
Reopen this issue.

[2020-09-08 22:48] hieunguyenmsft commented on #1073
Thank you for reporting this. Xcode 12 is still beta so we will wait until it's final.

[2020-09-08 23:54] jasoncoolmax commented on #1078
The document about endpoints is [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols#endpoints).

Moving from ADAL to MSAL for single tenant apps also requires the use of the tenanted endpoint, not common or organizations. It is by design, as using common as the home tenant of the app for some apps is a bad practice.

Changing to a Multi-Tenant app t

[2020-09-09 05:50] cnfuzedRk62 commented on #764
Hi @aaronjedwards  please help me , i am getting same error message , and i also add same solution as you mentioned but it not works for me.

[2020-09-09 06:29] smudireddy commented on #1078
@jasoncoolmax ,

Thanks Jason for the info.

1) We made the recommendation as the registered application ID only used by the users of that Organization as ID is a dynamic configurable configurable option in our Application when it is running on the Organization device.
2) We made that recommendation based on Microsoft Outlook app works as "Multi-Tenant".

We are working on to add Single Tenant sup

[2020-09-09 06:33] smudireddy commented on #1044
Issue resolved with  1.1.8.

[2020-09-09 14:21] #1050 closed

[2020-09-10 11:35] cnfuzedRk62 commented on #764
Hey Guys please Add com.microsoft.adalcache
in the KeyChain. In above screen shot there is misspelled and it waste my whole day.

[2020-09-10 14:40] aaronjedwards commented on #764
@cnfuzedRk62 That was my point in posting the screenshot, to note that it was misspelled and that was the reason for the error. Were you able to get it resolved?

[2020-09-11 11:34] ralexandre-ciandt commented on #1066
Hi!
Even with this flag we couldn't get the desired behavior, the journey even opens differently like a popup =/
For now, we made the journey return an error so we opened the dialer natively and then refreshed the journey

[2020-09-11 12:38] guidedways opened #1090 "Crashes on macOS 10.11"
Recent updates broke MSAL on macOS 10.11. Our customers complaining that it's stopped working. I can confirm v1.1.7 is working fine. Please help.

[code]

[2020-09-11 16:26] oldalton commented on #1090
Thanks, as of last update we only support 10.12 and above: https://github.com/AzureAD/microsoft-authentication-library-for-objc#supported-versions

[2020-09-11 16:42] guidedways commented on #1090
:( I think it would be fairly easy to support 10.11 though? If not, that's okay. We will stick with 1.1.7

[2020-09-12 01:26] oldalton commented on #1090
I think we are using some 10.12+ APIs, so that wouldn't work on 10.11.

[2020-09-12 02:00] ameyapat opened #1091 "Test Issue to check Teams Integration"
Creating an issue to test teams integration

[2020-09-12 02:03] ameyapat commented on #1091
@ameyapat Test comment

[2020-09-12 14:39] ianloubser opened #1092 "Cannot consent to different API's with single acquireToken interactive call"
I keep getting the following error when I try to `acquireToken` for multiple API scopes simultaneously.
[code]

Is it possible to get consent for multiple API's (MS Graph and own App on Azure) with a single acquireToken interactive call ?

So for instance we want to call acquireToken Interactively with the following 2 scopes:
`api://4db21fb4-9469-4cc4-89c6-cc7bc8dea8df/user_impersonate`
`https://g

[2020-09-12 14:53] ianloubser commented on #1092
Also, if I remove the MS graph scope, and only request for our exposed API scope, then the consent screen correctly gets shown. But then I only get to consent to our API and cannot get an access token for MS graph. Would really like to avoid having an interactive request for consenting to both API's 🙂

[2020-09-14 18:21] locksleyu opened #1093 "How to configure XCode to link in MSAL when using integrate_targets = false"
I am trying to integrate MSAL into an objective-C project that uses a Podfile with integrate_targets=false (and I cannot change this).

When I build now I get this error:

`ld: library not found for -lMSAL
`

I checked and I see that libMSAL is being built as part of the process, and is ending up here:

`/Users/me/Library/Developer/Xcode/DerivedData/MyApp-ewcfgimmllljvzhlfbgqgmqozhus/Build/Product

[2020-09-14 19:00] locksleyu commented on #1093
I ended up getting to work by adding "$(BUILT_PRODUCTS_DIR)/MSAL/" to the search path of my main target.

But I'm a little unsure if this is the "right" way. If anybody can confirm this is fine let me know.

[2020-09-15 07:19] sudeepngeorge commented on #923
I also get the exact issue as @AnthonyUccello , witth the same steps mentioned above.

//Pasting the same steps reported by AnthonyUccello
Login a user interactively (don't log them out and close the app)
-Restart the app, log in as a second user also interactively (close the app)
-Restart the app and try to login silently and you will now get the cache error.
-Now that you are getting the cache e

[2020-09-15 07:21] sudeepngeorge commented on #923
@AnthonyUccello  Were you able to solve this?

[2020-09-15 18:22] antrix1989 commented on #1093
By checking the [doc](https://rubydoc.info/gems/cocoapods/Pod%2FInstaller%2FInstallationOptions:integrate_targets), this looks like the right solution to me.

`If set to false, Pods will be downloaded and installed to the `Pods/` directory but they will not be integrated into your project.`

[2020-09-15 18:33] antrix1989 commented on #1066
Since you found the workaround, I will close this issue. Please let us know if you have other questions.

[2020-09-15 18:33] #1066 closed

[2020-09-15 18:34] #1044 closed

[2020-09-15 18:39] antrix1989 commented on #1092
Hi @ianloubser, could you provide us correlation id of the error?

[2020-09-15 21:39] ianloubser commented on #1092
Correlation ID : 1464c183-8b18-461e-85d4-534b14262c92

Thanks @antrix1989  🙂

[2020-09-16 13:45] ShilpaGavade opened #1095 "Intune Data removal Policy"
I am facing issue with organisation data removal policy, as mentioned above I have used both MSAL as well as Intune app protection policy in the app, when I try to login with another user using MSAL, it asks for organisation data removal for first user, when I say yes, it removes data (looks like this) but after that I restart app and try to login another user, getting MSAL error, "(Error Domain=M

[2020-09-16 22:07] #1026 closed

[2020-09-16 22:08] locksleyu commented on #923
I am seeing the same issue. I can't give repro steps since I don't know exactly what I did, and I don't know how to un-do things so I can try the steps again to repro.

How can I clear things out? I tried removing the account in MS Authenticator (and device unregister) and deleted that app (and my app) as well.

[2020-09-18 00:44] guidedways opened #1098 "Random crashes"
I'm seeing random crashes reported in App Center from the MSAL.framework on macOS 10.15.6. This wasn't the case earlier.

[code]

[2020-09-18 22:16] antrix1989 commented on #1098
Could you please provide symbolicated trace and MSAL log?

[2020-09-18 22:23] antrix1989 commented on #1095
Seems you are using [SingleAccount mode](https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/dev/README.md#single-account-mode). If you app support multiple accounts, you shouldn't use this API. Please check out out our [Readme](https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/dev/README.md) file for sample code.

If you app support Single Account onl

[2020-09-18 22:26] #1091 closed

[2020-09-18 22:26] #1090 closed

[2020-09-19 01:55] oldalton commented on #923
Reopening the issue.

[2020-09-19 02:17] #1002 closed

[2020-09-21 06:33] ShilpaGavade commented on #1095
@antrix1989 : Thanks for your response but from where should I call this method as 'organisation data removal' is handled by intune policy then intune library should remove previous user account, right? I went through readme file link mentioned above but did not get proper solution. is there any call back when data removal actually happens, so that, we can handle account removal.

[2020-09-21 10:11] alobaili commented on #1073
Xcode 12 is now released to the Mac App Store. I installed it and performed all the recommended changes given to me.

One particular change was upgrading the iOS deployment target to 12.0. After that, a bunch of new Buildtime warnings appear that some methods are deprecated since iOS 11.0 and 12.0.

![Screen Shot 2020-09-21 at 13 07 45](https://user-images.githubusercontent.com/27203112/93755150-7

[2020-09-21 12:23] RegisStGelais opened #1099 "Deployment target for version 1.1.9 ?"
The deployment target for my app is iOS 12 but Cocoapod refuse to install MSAL higher than 1.1.7

Tks

[2020-09-21 12:29] RegisStGelais commented on #1099
[code]

[2020-09-22 15:18] oldalton commented on #1099
Thanks for raising this. Could you share your Podfile?

[2020-09-22 17:01] RegisStGelais commented on #1099
Never mind.
My app target is iOS12 but the platform setting in the podfile was still to iOS10.
Sorry.

[2020-09-22 22:16] #1099 closed

[2020-09-22 22:22] ameyapat commented on #1073
@arangato @alobaili Thanks for bringing this to notice. We have plans to resolve any deprecated methods and fix any issues related to xcode 12 and ios 14 soon.

[2020-09-22 23:00] #961 closed

[2020-09-23 17:13] sharmaniti commented on #737
@mitchdenny  - I created .xcframework from MSAL.framework and import it locally in my project to test. But i'm getting build error  as
'
Showing All Messages
While building for iOS Simulator, no library for this platform was found in 'MSAL.xcframework'.
'
simulator selected iPhone11 13.7

Any help to resolve this ?

[2020-09-24 02:45] ryanthon commented on #737
Any updates on making this work?

[2020-09-24 06:23] ShilpaGavade commented on #1095
@ShruthiAchutha : Any update on this?

[2020-09-24 10:25] genesisemmloh opened #1105 "Login pop up does not show"
**i have a reactnative app and i registerd on B2C
my app simple wont get the Login dialog and  i get an error**

i have followed the instructions and add a KeychainSharing, edited de info.plist
what i see its to different documentations, i have tried with both ways and i get same error.
**Note: for Android the redirect format that worked was, msal<client-id>**
first i read this one;
[https://docs.

[2020-09-24 13:45] ShruthiAchutha commented on #1095
on my team is currently investigating this and will update you on progress.

[2020-09-24 13:52] ShilpaGavade commented on #1095
@ShruthiAchutha : Thank you for info

[2020-09-24 15:09] darosal commented on #1095
Hi @ShilpaGavade,

We call the `wipeDataForAccount` delegate in IntuneMAMPolicyDelegate.h when an account is removed. This would be the best place to do any additional cleanup. In order to not get the MSAL error when running on Single Account mode, the `removeAccount` MSAL API should be called here.

Please do note that this delegate requires a `BOOL` return value. If **all** account data is also

[2020-09-25 07:51] rahulcode opened #1106 "Authentication Issues ( Cert based / ADFS Password ) (1.1.10- Prompttype .selectAccount V/S. .login )"
MSAL 1.1.10

Issue :

Certificate based authentication  not working with parameters.promptType = .login ( Sign In Certificate is not shown in Login Page ), Works with promptType = .selectAccount

Certificate and server trust certificates are installed manually into the device.

Tried the same with Sample MSAL App.

` func acquireTokenInteractively() {

        guard let applicationContext = self.a

[2020-09-25 07:53] rahulcode commented on #1106
**Working :**
![Sign in using a certificate](https://user-images.githubusercontent.com/19573187/94241373-33c1ad80-ff32-11ea-9c92-c5b9264c38b3.jpg)

**Not Working :**
![Not certificagte](https://user-images.githubusercontent.com/19573187/94241384-36bc9e00-ff32-11ea-93c5-a4c226cf3d53.jpg)

[2020-09-25 10:21] rahulcode commented on #1106
Hi Folks

Similarly for ADFS + Password Setups

Description :
If .login type is used for interactive authentication request, then the Authenticator app ended up showing below error.
(Works with .selectAccount type option )

.login
--------------------------------------------------

Launch URL :

msauthv2://broker?msg_protocol_ver=3&authority=https%3A%2F%2Flogin.microsoftonline.com%2Fcommon&broker_

[2020-09-25 10:30] rahulcode commented on #1106
Note :

For Azure Only users it works properly with .login prompt type.
The issue is only with ADFS Accounts.

[2020-09-25 14:55] oldalton commented on #1106
Thanks for reporting this issue. We don't really control how ADFS behaves and reacts to different prompt types. This is something that should be checked for a particular ADFS configuration by its admin.

[2020-09-25 14:55] guidedways opened #1107 "iOS user unable to authenticate, prompting them to enable Cookies when they already are"
We've got a strange case where a user's saying they see the following notice when trying to authenticate. In his exact words: I can’t connect to it because the authentication window tells me I need to allow cookies. However, in both Safari and Brave, my two browsers, I have allowed cookies, but still Microsoft says cookies are blocked.

The logs show normal 5005 errors and there's nothing for us t

[2020-09-25 14:59] oldalton commented on #1105
Looks like MSAL is trying to load a network request, but domain is not found.
Could you double check the authority that you're providing MSAL with?

[2020-09-25 15:02] oldalton commented on #1098
@guidedways, just following up if you could upload symbolicated crash logs and MSAL logs to continue investigating this issue. Thanks.

[2020-09-25 15:03] genesisemmloh commented on #1105
Hi , it's a react native project and In the android version works... I would assume i don't need to change the values for the ios version. But I will give it a try.

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Olga Dalton <notifications@github.com>
Sent: Friday, September 25, 2020 4:59:33 PM
To: AzureAD/microsoft-authentication-library-for-objc <microsoft-

[2020-09-25 15:06] guidedways commented on #1098
@oldalton apologies! I don't know why but I think since we were using Carthage, no symbols were available. We had issues with the latest framework update as macOS 10.11 wasn't supported so had to downgrade anyway. The random crashing stopped. I was unable to reproduce this myself or would have given it a try. I essentially saw AppCenter report numerous crashes on macOS 10.15 (which is officially s

[2020-09-25 15:07] oldalton commented on #1107
Can you try following on your device `Settings > Safari > Block Cookies and set it to Never`
Looks similar to this: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/928
Seems external to MSAL.

[2020-09-25 15:08] guidedways commented on #1107
@oldalton interesting, I'll ask them to give it a try and get back to you shortly.

[2020-09-25 15:18] oldalton commented on #1105
Thanks. Library configuration might be different between iOS and Android due to platform differences.
If you could show us your configuration code, and [MSAL log](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=android), this would be helpful. Thanks.

[2020-09-25 17:13] smudireddy commented on #1106
What configuration we need to check on Admin side of ADFS ?. Is there any particular param in request or response will end up in this that instead of cert option only password option shown to user ?. If that is the case then what is the difference in request with PromptType as .login to .SelectAccount ?

[2020-09-25 22:18] oldalton commented on #1106
I think it's documented here: https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/configure-user-certificate-authentication#check-if-azure-ad-promptloginbehavior-is-configured-correctly-on-your-federated-domain-settings

[code]

[2020-09-26 01:04] smudireddy commented on #1106
Thanks @oldalton  for the info, We seen the point here in the above link explained the case.

_Many Office 365 applications send prompt=login to Azure AD. Azure AD, by default, converts it to a fresh password login to AD FS. As a result, even if you have configured certificate authentication in AD FS, your end users will only see a password login.__

QQ >>> Does the configuration change you sugges

[2020-09-27 12:28] guidedways commented on #1107
Unfortunately that didn't help. They've tried various things and it still fails to work. Worth mentioning that it's only MSAL auth failing, AppAuth / Google is working fine.

[2020-09-27 12:29] guidedways commented on #928
A user we have is having the same issue. They've tried everything but nothing seems to help.

[2020-09-27 23:57] mitchdenny commented on #737
An ```*.xcframework``` is a directory layout which contains multiple ```*.framework``` outputs. It sounds tome like you may have built a ```.framework``` for a platform other than your intended target. The examples I've seen from Apple show packaging multiple ```.framework``` dirs into a single ```.xcframework```.

[2020-09-28 09:01] ShilpaGavade commented on #1095
Hi @darosal , thanks for the answer, just confirming whatever I understood from above comment is, if we return 'False' in wipe data delegate then intune handle all the things itself. If we return 'True' in wipe data delegate then we have to handle account removal manually.
Will try setting 'false' in delegate for now

[2020-09-28 10:20] ShilpaGavade commented on #1095
@darosal : Your answer will be helpful for us as our devices stopped working for this particular application as not able to sign in again with any other user nor with previous user.

[2020-09-28 10:33] sharjeelahmed opened #1109 "microsoft authenticator app didn't return access token instead , error shown UserInfo={MSALErrorDescriptionKey=application did not receive response from broker."
hi when i try to acquire the token from interactively method the microsoft authenticator app opens , i select the account and enter password . after that the microsoft authenticator app close but it didn't return the token the following error occur

Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=application did not receive response from broker., MSALInternalErr

[2020-09-28 11:09] sharmaniti commented on #737
@mitchdenny  - IS it possible for you to share `package.swift` file for reference please ?

[2020-09-28 14:40] oldalton commented on #1109
Can you double check that you have implemented MSAL response callback for your app? See more information here: https://github.com/AzureAD/microsoft-authentication-library-for-objc#swift-1

[2020-09-28 14:41] oldalton commented on #1107
Thanks, do you mean that auth for the same AAD tenant works with AppAuth, but not with MSAL?
Or that Google auth works with AppAuth, but AAD auth doesn't work with MSAL?

Perhaps user has somehow opted out from cookie usage?

[2020-09-28 14:45] oldalton commented on #1106
@smudireddy, it largely depends on the ADFS version of the customer. I'd recommend checking with [this documentation](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/ad-fs-prompt-login).

In general, I'd also advise against using prompt=login as it has many other unintended consequences. For example, prompt=login is not compatible with the combination of certificate based

[2020-09-28 14:47] oldalton commented on #1098
Thanks, please do upload logs if you get any in the future. That will help us a lot.

[2020-09-28 14:48] oldalton commented on #1093
Closing as this is by design. Feel free to reopen if needed.

[2020-09-28 14:48] #1093 closed

[2020-09-28 15:02] oldalton commented on #1053
Could you try with the latest MSAL version. We've introduced a few changes to signout behavior that might help with this scenario.

[2020-09-28 15:03] oldalton commented on #1020
Closing as this got fixed and released.

[2020-09-28 15:03] oldalton commented on #964
Closing as this should be now fixed with the latest Intune SDK update.

[2020-09-28 15:03] #964 closed

[2020-09-28 15:06] oldalton commented on #378
In the latest MSAL, you can now call [signout API](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplication.html#/c:objc(cs)MSALPublicClientApplication(im)signoutWithAccount:signoutParameters:completionBlock:), and if you set [signoutFromBrowser](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALSignoutParameters.html#/c:

[2020-09-28 15:07] oldalton commented on #210
In the latest MSAL, you can now call [signout API](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplication.html#/c:objc(cs)MSALPublicClientApplication(im)signoutWithAccount:signoutParameters:completionBlock:), and if you set [signoutFromBrowser](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALSignoutParameters.html#/c:

[2020-09-28 15:10] oldalton commented on #883
Closing this issue as this is available in the latest MSAL release. Feel free to reopen if needed.

[2020-09-28 15:10] #883 closed

[2020-09-28 19:25] sharjeelahmed commented on #1109
oh thanks . actually my app uses both appdelegate and scenedelegate . putting this function in scenedelegate solve the issue . thanks again
func scene(_ scene: UIScene, openURLContexts URLContexts: Set<UIOpenURLContext>) {}

[2020-09-29 03:47] smudireddy opened #1111 "AADSTS500031: Cannot find signing certificate configured"
MSAL SDK : 1.1.5

Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=AADSTS500031: Cannot find signing certificate configured.

MSAL-Auth: Internal Error -
{ MSALCorrelationIDKey = "AEB669E6-7FDB-4BAF-B005-237246B5D298"; MSALErrorDescriptionKey = "AADSTS500031: Cannot find signing certificate configured. \nTrace ID: 2ee1cf52-44ed-477e-9906-008f809ba200 \nCorrelatio

[2020-09-29 12:24] guidedways commented on #1107
No sorry what I meant was that they're only seeing this for MSAL related authentication. We use OUTH2 (and a similar library called AppAuth to authenticate google accounts) and that seems to work okay for them. They're only seeing this issue when they try and authenticate their O365 account.

[2020-09-29 13:38] guidedways commented on #1107
The user's finally had success. Apparently they had installed "1Blocker" for iOS - some kind of Safari plugin for blocking trackers. It seems to have blocked cookies for MSAL too somehow inadvertently. That's a shame though - is there no way for Microsoft's authentication to work if a plugin's blocking cookies?

[2020-09-29 14:26] oldalton commented on #1107
Thank you for reporting back. This is very useful information and explains why this behavior was seen regardless of cookie cleaning operation. Let me research this topic.

[2020-09-29 14:51] rahulcode opened #1112 "Azure AD Device registration. ( Works only in specific workflow )"
Summary: Device registration not working when directly asking for a token with claim request in certificate-based authentication flow.

Device Registration Issues with Certificate Based Authentications.
Used MSAL Sample Application for trying out all combinations.
Certificated installed in the keychain Manually.

**Scenarios and Issues**
(Authenticator App has no active sessions, no registrations

[2020-09-29 15:20] wvezey opened #1113 "Authenticate to the proxy gateway using a cookie?"
TL;DR
Is it possible to authenticate to the proxy gateway using the AzureAppProxyAccessCookie, rather than the Authorization header?

Long Version
Our apps, web and iOS, run within our corporate firewall. Currently, users outside the firewall have to be on the corporate VPN. We are building a POC using this repo as a guide. We are thus far able to successfully authenticate to Azure AD and get the

[2020-09-29 15:28] darosal commented on #1095
@ShilpaGavade, that is correct.

It is worth noting that even if you return `FALSE`, the SDK will not remove the MSAL account data. That needs to be done manually within the delegate.

[2020-09-29 22:27] oldalton commented on #1113
Thanks for the question. We don't support issuing a cookie. @brandwe, could you help connecting with the right owners for this use case?

[2020-09-29 22:32] #1109 closed

[2020-09-29 22:34] oldalton commented on #1107
I followed up and this is by design. It seems that 1Blocker is not just blocking all cookies, but blocking Google and AAD cookies differently. I'd recommend reporting this to the 1Blocker app support team.

Closing as by design.

[2020-09-29 22:34] #1107 closed

[2020-09-29 22:41] oldalton commented on #1106
Closing as by design.

[2020-09-29 22:41] #1106 closed

[2020-09-29 22:41] oldalton commented on #1105
@genesisemmloh, did you get it working?

[2020-09-29 22:59] oldalton commented on #1112
Certificate based authentication with device registration only works using a "converged_broker_enabled" feature flag right now, so this is by design at this moment.

[2020-09-29 23:33] aherciya commented on #1111
Hi @smudireddy can you provide the steps you took while running into this issue such that we can reproduce it? Thanks.

[2020-09-30 01:06] smudireddy commented on #1112
Thanks @oldalton  for confirmation  about the need of "converged_broker_enabled" configuration.
 App able to register the device if user already authenticated for any other workflow without the "converged_broker_enabled" configuration. It is the case not working is post Authenticator app installed and first request is "Register" the device with an additional claim of some resource auth.

[2020-09-30 01:24] smudireddy commented on #1111
@aherciya ,
With an ADFS setup, MSAL SDK initialized in our app and user made an interactive login request.
Authenticator app not used in this workflow. Auth request is inline of the App.

[2020-09-30 01:25] smudireddy commented on #1111
21/09/2020 15:49:39:397|[548462]|78<Info>: TID=548339 MSAL 1.1.5 iOS 14.0 [2020-09-21 20:49:39 - 274449BD-6832-4C3E-AAE6-B611307BA25D] [MSAL] Beginning interactive flow.
21/09/2020 15:49:39:397|[548462]|78<Info>: TID=548339 MSAL 1.1.5 iOS 14.0 [2020-09-21 20:49:39 - 274449BD-6832-4C3E-AAE6-B611307BA25D] [MSAL] Resolving authority: Masked(not-null), upn: auth.placeholder-92346b7e@orrm.com
21/09/202

[2020-09-30 01:36] oldalton commented on #1112
Yes, passing deviceId claim is equivalent to device being not registered and won't work when certificate based authentication is involved.

[2020-09-30 03:49] smudireddy commented on #1112
Thanks @oldalton .

With provided documentation, "converged_broker_enabled" can be configured only on devices managed by MDM solution.
What about the device not managed by MDM solution case ?. How to configure this required flag for Authenticator app to work with Certificate based user authentication ?.

Note: User can also add a certificate by importing from webpage or can add from Files App ..et

[2020-09-30 05:09] rahulcode commented on #1112
Hi @oldalton

Just to confirm, Is this the expected (supported) scenario in which registration works without any SSO extension (converged_broker_enabled) in certificate-based authentication?
`
ONLY working scenario ( SelectAccount )

Only order which works is Fetching token without Claim request first with selectAccount
and then next requesting claims.
Register is Shown and on Register works prope

[2020-09-30 06:04] ShilpaGavade commented on #1095
@darosal, ok but not getting specific method for remove account in iOS for single account mode, so, just setting currentAccount = nil.
If you have any other solution then please suggest

[2020-09-30 07:02] genesisemmloh commented on #1105
@oldalton hi, good morning, yes it did.
i have changed pretty much all.

the Authority URL im using now the url with the **tfp** format.
https://<TENANT_NAME>.b2clogin.com/tfp/<TENANT_NAME>.onmicrosoft.com/<POLICY_NAME>

now i use the  RedirectUri format for IOS. and android different,
android:msal[ClientId]://auth
IOS:msauth.[BundleId]://auth

, But definitely what i think change, was the Library

[2020-09-30 12:31] mitchdenny commented on #737
Here is an example here:

https://github.com/mitchdenny/microsoft-authentication-library-for-objc/blob/swift-pm-via-binary-framework/Package.swift

This was a while ago so the package description format could have been tweaked in the meantime.

[2020-09-30 13:47] maksirol commented on #1083
Any update for this issue?

[2020-09-30 14:41] oldalton commented on #1112
Here's the current state:

1. With converged_broker_enabled flag:
- Registration should work with certificate based auth in most cases (the only exception is on-prem MFA. But we haven't seen cases where both on-prem MFA and CBA for authentication are used).

2. Without converged_broker_enabled flag:
- Microsoft Authenticator settings: registration should work. On-prem MFA won't work for subsequent

[2020-09-30 14:50] oldalton commented on #1105
Great, thanks for confirming. Closing the issue.

[2020-09-30 14:50] #1105 closed

[2020-09-30 15:54] smudireddy commented on #1112
Thanks @oldalton .

With provided documentation, "converged_broker_enabled" can be configured only on devices managed by MDM solution.
What about the devices not managed by a MDM solution?. How to configure this required flag for Authenticator app to work for Certificate based user authentication in those devices ?.

Note: User can also add a certificate by importing from webpage / Files / Notes/

[2020-09-30 16:32] oldalton commented on #1112
@smudireddy, yes, this is not supported for non-MDM devices at this moment. "converged_broker_enabled" is a preview feature, and we only have a mechanism to enable preview features through MDM channel at this time.

[2020-09-30 17:03] mckmoffatt commented on #478
I am seeing this same problem and have no resolution.

[2020-09-30 17:05] oldalton commented on #478
@mckmoffatt - same question, which webview type are you using?

[2020-09-30 17:08] mckmoffatt commented on #478
More specifically, I'm trying to use AAD to log into Yammer and I get this message. When I look at the details, it shows that my device identifier is missing.
![image](https://user-images.githubusercontent.com/57155180/94717223-e0ba7280-0304-11eb-8335-eb5819dc83b9.png)

[2020-09-30 19:50] locksleyu opened #1118 "Proper way to handle the case when MS Authenticator is not installed"
I am writing an app that uses MSAL to help with AAD Device Compliance use cases. The problem I have is how to smoothly handle the case where MS Authenticator is not installed.

If I try to get a token and MSA is not installed, it will show a dialog saying its installation is required, and if I click on the button it will flip to the app store, where I can install MSA.

The problem is that if I go

[2020-10-01 13:14] ShilpaGavade opened #1122 "Opening URL in intune SDK protected app"
We are having an iOS and android application protected by Intune SDK and using MSAL auth library for login but we are using third party API's in it. These API's need cookies for authentication. We are capturing cookies using custom code and edge browser, which is managed browser in android but in iOS, not able to capture cookies using edge browser as it is going out of application so, is there any

[2020-10-01 13:52] eRDe33 opened #1123 "macOS: Acquiring a token stopped working on the Big Sure beta 9 (20A5384c)"
Hi,
I've tried the MSAL library on the latest macOS Big Sur Beta (version 11.0 Beta (20A5384c)) and it seems that acquiring a token has completely stopped working on this system version.

Every time you call `acquireToken(with:, completionBlock:)`, acquiring token ends with a cancellation error (_Could not acquire token: Error Domain=MSALErrorDomain Code=-50005 "(null)" UserInfo={MSALErrorDescript

[2020-10-01 14:04] sharmaniti commented on #737
@mitchdenny - Thanks, solution works for me only on simulator not on devices. App crashes on launch  `dyld: Library not loaded: @rpath/MSAL.framework/` and when i use same .xcframework file directly in xcode project, just drag and drop in link libraries it works on devices as well as simulator but not as a swift package.

Not sure is there any way to disable code signing for .xcframework, when add

[2020-10-01 18:18] oldalton commented on #1122
@ShruthiAchutha, is this something we support?

[2020-10-01 19:01] ShruthiAchutha commented on #1122
Can you clarify the scenario with maybe some screenshots/ video/ steps of what you are currently seeing and what you'd like to accomplish? In case you are asking if its okay to open third party websites within the app in a secure manner, then yes, you could use WKWebView but set that to unmanaged context so managed data doesn't leak into the web-view.

[2020-10-02 11:32] eRDe33 commented on #1123
**Available workaround:**
When you set _prefersEphemeralWebBrowserSession_ to true on used _MSALWebViewParameters_, everything will start again. Of course, you will lose the benefits of a non-ephemeral authentication session (more info here: https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession/3237231-prefersephemeralwebbrowsersessio?language=objc).

[code]

[2020-10-02 13:38] ralexandre-ciandt opened #1124 "Question: Correct way to handle journeys inside the app"
Hello!

We have a few journeys to update the user's information (name, email, etc) inside the app.

The problem is: we have to handle the webview's cookies before opening the journey, otherwise it will request the login before.

We save the cookies after an interactive journey and before opening the "update user's information" journey we have to load the cookies to the webview in order to show the

[2020-10-02 21:33] kaisong1990 commented on #1123
@eRDe33 Thanks for your post, we tried with a different beta version, and cannot reproduce this issue. We will try with the Big Sur version as you mentioned again. Meanwhile, could you try to run with MSAL 1.1.10 which is our latest version?

[2020-10-02 22:28] oldalton commented on #1124
Can you clarify if you're trying to develop a B2C app? MSAL doesn't directly handle cookies, and we recommend using ASWebAuthenticationSession which should preserve cookies across sessions automatically. Are you seeing a different behavior?

[2020-10-02 22:38] oldalton commented on #1118
Thanks for the question. There're multiple scenarios where Authenticator app is required. To better identify your scenario, could you provide a screenshot or a video of the webpage that asks to install the Microsoft Authenticator app? Thanks.

[2020-10-02 22:42] oldalton commented on #1083
We're still trying to reproduce this issue on our side. We'll report back if we find anything. Thanks.

[2020-10-02 23:00] locksleyu commented on #1118
Thanks for the response. That API looks helpful.

I attached a screenshot. Username has been whited out for privacy reasons, but I can provide offline if needed.

![MSA_required](https://user-images.githubusercontent.com/10435419/94975990-4f93f900-04c8-11eb-9524-81c52ab69f59.PNG)

[2020-10-03 12:36] mitchdenny commented on #737
Yeah -- I think I signed that ```.xcframework``` with my local Apple developer ID rather than anything that you could verify. If you clone the repo and setup your own Package.swift file and build and host the .xcframework yourself, you should be able to get it going end to end, but obviously the AAD team is going to need to produce an official .xcframework if they want to support Swift Package Man

[2020-10-05 07:52] ShilpaGavade commented on #1122
hey @ShruthiAchutha, thank you for the reply, we are trying to capture cookies on login on third party portal.
so here are steps:
1) user is login with MSAL
2) After MSAL login, user is login again on third party portal,
In case of android, user need not to login again as link is opening on edge browser and edge browser is a managed browser which already has been logged in with user.
3) In case of

[2020-10-05 07:57] ShilpaGavade commented on #1122
Just to add in it,
currently we have set managed browser policy flag 'OFF' for opening link on edge browser, due to that we are able to open link on wkwebview but we can not set this flag always be 'OFF', because of which we are asking for settings or configurations from any side.

[2020-10-05 07:59] eRDe33 commented on #1123
@kaisong1990 I tried it with the latest version 1.1.10 and unfortunately the result was the same.
[code]
Meanwhile my colleague tried it on the previous version of the Big Sur Beta and there everything worked fine. After he updated to the latest Big Sur version the activation started failing, so I think the problem was introduced in the latest Big Sur realease (20A5384c).

[2020-10-05 12:02] ralexandre-ciandt commented on #1124
Hi!
Yes, we have a B2C app developed

For now, basically we have to save the cookies for 2 purposes: 1- autologin when closing the app and reopening; and 2- we open B2C journeys inside the app while logged in, in order to perform user account updates like name, email, etc.

We saw the need for saving cookies in order to correctly open the update user information journeys, otherwise, it was showing

[2020-10-05 19:46] antrix1989 commented on #1092
Hi @ianloubser, thanks for the correlation id! Could you please run 2 more tests:
- remove graph scope and make a request for 2nd scope only (please capture a correlation ID as well as timestamp)
- add graph scope back and make a new request for both scopes (please capture a correlation ID as well as timestamp)

[2020-10-05 22:21] guidedways opened #1125 "Influx of "Cannot connect" complaints"
We'd had an unusual number of users complain today that they can no longer connect to their accounts. We haven't made any recent changes and so I don't know if this is a coincidence or just something at their end. Here's what we see:

[code]

Is there any way for developers to actually figure out what these errors mean and why they cannot connect? The "Authorization Window" does not show at all fo

[2020-10-05 22:28] guidedways commented on #1125
I wonder if this is related? https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1123

The user that I mentioned earlier is on Big Sur

[2020-10-06 00:50] ameyapat commented on #1124
@ralexandre-ciandt Which iOS version are you using? Is it iOS 14?

[2020-10-06 03:42] guidedways commented on #1125
I can confirm this was it. After making the proposed change it worked for one of our users. We are still on an older version of MSAL as we need to support macOS 10.11.

[2020-10-06 03:42] guidedways commented on #1123
Thanks. That worked for me too. Same issue, all our Big Sur users having the same problem.

[2020-10-06 03:45] mattvlas commented on #1123
While an OK workaround, this inhibits some really nice usability benefits of the shared auth cache to simplify SSO.

I can confirm this only impacts this specific beta build... With any luck it will just be fixed in the next update.

@kaisong1990 have you raised an issue with Apple?  I'm, happy to do so as well if you can provide any helpful details about why this has stopped working.

[2020-10-06 06:55] maksirol opened #1126 "More meaningful error codes."
Hello,

It is possible to return more meaningful error for this function:
`(nullable MSALAccount *)accountForIdentifier:(nonnull NSString *)identifier
                                         error:(NSError * _Nullable __autoreleasing * _Nullable)error;`
in MSALPublicClientApplication.h

Right now i just get Foundation._GenericObjCError.nilError and it's impossible to understand what is wrong.

[2020-10-06 07:49] kaisong1990 commented on #1123
@eRDe33  Thanks for providing more details and workaround to unblock the development.

**We are able to reproduce this issue on Big Sur Beta 9 with both Xcode 12.0.1 and Xcode 12.2 beta 2**. Internally, we are starting a ASWebAuthenticationSession by providing a completion block and some other params to Apple SDK, and have no control over the popover behavior.

@mattvlas We posted the issue in the

[2020-10-06 07:52] kaisong1990 commented on #1125
@guidedways Sounds like this question is related to #1123, could you also help to confirm if the user is using Big Sur Beta 9 specifically? It seems to be a Apple bug in their beta os and we are still pending for their confirmations

[2020-10-06 11:17] ralexandre-ciandt commented on #1124
Our app supports iOS 11 and above

[2020-10-06 11:44] guidedways commented on #1125
I believe they're all on the latest beta

[2020-10-06 16:48] kaisong1990 commented on #1125
@guidedways in that case, would you mind closing this thread and merge into #1123?

[2020-10-06 22:21] jasoncoolmax commented on #1126
Hi @maksirol , do you mean you get back a nil error? Nil error means there is no error happening. You might want to check if there is any account being returned. If nil account is returned, it means there is no account found based on the provided identifier.

[2020-10-06 22:33] jasoncoolmax commented on #1118
Hi @locksleyu , thank you for providing the screenshot.

Currently we are relying on pasteboard to pass the request from MSAL app to Authenticator. Once Authenticator is installed, it will pick up the request in pasteboard and continue with the unfinished authentication flow.

However, pasteboard can only be shared among apps signed by the same cert/same publisher. Therefore, your app is not able

[2020-10-06 22:46] kaisong1990 commented on #1123
An Apple engineer replied that when he tried with this [sample code](https://developer.apple.com/documentation/authenticationservices/authenticating_a_user_through_a_web_service?language=objc) provided by Apple, he can reproduce the same issue on beta 9. I have provided the feedback id, and he has request access to the bug report for further updates.

[2020-10-07 00:19] #1125 closed

[2020-10-07 03:03] wvezey commented on #1113
Thanks @oldalton. Headers it is.

[2020-10-07 03:03] #1113 closed

[2020-10-07 09:40] maksirol commented on #1126
I'm calling it from swift, so code looks like this:

`do {
            let client = try client.account(forIdentifier: id)
        } catch {}`

and it triggers catch block with nsError domain "Foundation._GenericObjCError" and code 0.

So can i assume that always when i get this error, it means that account does not exists? Or is it possible that something else went wrong.

[2020-10-07 10:46] ShilpaGavade commented on #1122
@ShruthiAchutha , can we get any help regarding this?

[2020-10-08 15:51] darosal commented on #1122
@ShilpaGavade, setting the webview into an unmanaged context wouldn't be done through the Intune admin portal. This would be done programmatically. The managed browser policy affects outgoing URLs opened with `UIApplication`'s `openURL`, not web content that stays locally within the app through webviews.

Shruthi was suggesting that before presenting the webview, the app should switch to an unmana

[2020-10-08 15:58] darosal commented on #1095
@ShilpaGavade, according to the earlier discussion, I believe the following should be used for removing the account in single account mode.
[code]

This should be called within the `wipeDataForAccount` delegate. This will completely remove the account, allowing for a future sign in with a different account.

@antrix1989, please correct me if I'm wrong about the MSAL method to use.

[2020-10-08 16:10] smudireddy commented on #1112
@oldalton ,
Any plan to provide the support for non MDM devices through the integrated MSAL SDK in our App to Authenticator request ?
I mean sending the "converged_broker_enabled" value through the request to Authenticator app from App integrated with MSAL SDK.

[2020-10-09 15:31] ShilpaGavade commented on #1095
@darosal : I have called MSALPublicClientApplication.remove(account) in wipeData method of IntuneMAMPolicyDelegate, but do we have to assign delegate for IntuneMAMPolicyDelegate?
I have implemented wipeData method of IntuneMAMPolicyDelegate only.

Sorry for troubling but still I am getting the same error.

[2020-10-09 15:38] darosal commented on #1095
@ShilpaGavade, I see. The delegate needs to be set by the time the application's `UIApplicationDelegate`
`application:willFinishLaunchingWithOptions` method returns. This can be done by calling `[[IntuneMAMPolicyManager instance] setDelegate:...]` there.

[2020-10-12 04:25] rzulkoski commented on #713
@oldalton, is the Azure DevOps REST API being a `v1 resource` a permanent state of affairs or will this eventually be allowed?

[2020-10-12 09:04] t-hand opened #1133 "Offline/Error handling of signout with signoutFromBrowser"
Hello,

I've encountered the following problem/potential bug.

When `signout` with `signoutFromBrowser` is called in a case where the application has no internet connection the user has to dismiss the presented AuthenticationSession view. In this case the user is logged out locally but all potential SSO cookies still exist and calling `acquireToken` without `promptType = .login` will automatically

[2020-10-12 19:55] NerevarineRule commented on #923
Hi @sudeepngeorge  & @locksleyu,

thank you for helping to highlight the issue.

MSALPublicClientApplication actually has a public API that allows you to query multiple accounts, and I believe @AnthonyUccello did not use the correct API to do so. Let me provide you a sample code to do so in Obj-C, assuming that you already have multiple accounts in the cache.

    MSALPublicClientApplicationConfig

[2020-10-13 07:59] ShilpaGavade commented on #1122
@darosal, one more thing related to this.. as we are opening link in unmanaged context, so, whatever we are capturing and storing locally is protected by intune?? As we know that intune protects organisation data in application (using 'Encrypt org data'), so captured cookies will be protected by intune or no?

[2020-10-13 11:00] ShilpaGavade commented on #1095
@darosal : i tried setting MAM delegate in willFinishLaunching method like,

func application(_ application: UIApplication, willFinishLaunchingWithOptions launchOptions: [UIApplication.LaunchOptionsKey : Any]? = nil) -> Bool {
        IntuneMAMPolicyManager().delegate = self as? IntuneMAMPolicyDelegate
        return true
    }

But not getting any luck as it is throwing multiple account error, is

[2020-10-13 13:03] schlingding commented on #737
Any updates? This is halting our adoption of an Azure AD in our new applications.

[2020-10-13 13:52] ShilpaGavade commented on #1095
I am asking this because our devices are blocked now...

[2020-10-13 14:40] darosal commented on #1095
@ShilpaGavade Can you confirm that the code within the wipeDelegate is being called by using a breakpoint? I'm trying to see if the issue is that the delegate is never called or that the account data is not being removed when it is called.

[2020-10-13 14:50] ShilpaGavade commented on #1095
ok, will confirm and update you accordingly.

On Tue, Oct 13, 2020 at 8:10 PM David Rosales <notifications@github.com>
wrote:

[2020-10-13 16:30] Limoo commented on #737
We would also like to convert to Swift Package Manager. MSAL is the only framework that is still missing support

[2020-10-13 17:08] ShilpaGavade commented on #1095
@darosal : I am trying on the simulator where already multiple account exist error is coming, so, it is not allowing to navigate on microsoft page for login.
_Below method is giving error_:
"**applicationContext.getCurrentAccount(with: msalParameters, completionBlock: { (currentAccount, previousAccount, error) in**",
_error is_:
Optional(Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={

[2020-10-13 17:24] ShilpaGavade commented on #1095
but again, not able to get account using 'getCurrentAccount' method as it is giving error so, not able to remove specific account.
so, how can we handle this.. I am trying to search in docs but very limited information is available in docs.

[2020-10-14 00:19] ameyapat commented on #1126
@maksirol client object will be nil inside the try expression since your code defines client = try client.account. Is _client_ variable  initialized to a MSALPublicClientApplication object?

[2020-10-14 00:57] ameyapat commented on #1124
@ralexandre-ciandt ASWebAuthenticationSession can be used and it should handle cookies. Here is some documentation regarding choice of browser : https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews#cookie-sharing-and-single-sign-on-sso-implications

There is also a B2C custom policy : https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-keep-me-si

[2020-10-14 01:49] aherciya commented on #1111
Hi @smudireddy can you confirm that your [application certificates](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-sign-in-problem-federated-sso-non-gallery#certificate-or-key-not-configured) are configured correctly? It might be the case they they somehow became corrupt and so deleting the old one and creating a new certificate might be all you need. Let us know i

[2020-10-14 05:27] jatinmishra commented on #938
Is there any way possible to display the default webview `MSALWebviewTypeDefault` in fullscreen as the WKWebview.
I need SSO so cant use WKWebview and I need the webview in fullscreen.

Thanks.

[2020-10-14 17:08] ralexandre-ciandt commented on #1124
Thanks, @ameyapat !
We will take a look at these documentations!

Thanks!

[2020-10-15 10:39] ShilpaGavade commented on #1095
@darosal, please let me know if need any other information from our side, this is causing lots of issues in our ongoing project.

[2020-10-15 15:23] ShruthiAchutha commented on #1095
@oldalton or @antrix1989 could you help with the MSAL question Shilpa had above?

[2020-10-15 17:14] ameyapat commented on #1133
@t-hand In this case, we make a call to logout endpoint and the server is responsible to clear any cookies via the response. We currently don't have support to detect if the signout operations performed by the server were successful or not. From client side we will perform operations like clearing keychain entries and caches from the device.

We don't handle cookies in MSAL and leave the browser t

[2020-10-15 21:22] oldalton commented on #1095
@ShilpaGavade, you'll need to query account by the identifier since you have multiple accounts in cache. We have a sample code here: https://github.com/AzureAD/microsoft-authentication-library-for-objc#silently-acquiring-an-updated-token

[2020-10-16 05:48] zntfdr opened #1135 "Testing/Mocking MSAL authentication"
Hi team,
I'm exploring how an app implementing the `MSAL` framework can test the sign in/up flow:

- is there a way we can achieve so without hitting your servers (via mock or other)?

Any direction is more than welcome 🙏

Thank you in advance,
Federico

[2020-10-16 10:32] eRDe33 commented on #1123
@kaisong1990 just for info. In the latest version of Big Sur beta 10 (20A5395g), the system bug causing this issue is fixed and everything works fine. Thanks for your effort.

[2020-10-16 22:23] #1123 closed

[2020-10-16 22:28] ameyapat commented on #1135
@zntfdr I guess you could use a mocking framework to mockout API calls in MSAL. What part of the authentication process are you trying to test?

[2020-10-17 02:54] zntfdr commented on #1135
@ameyapat thank you for the response, I would like to mock the whole process from when the app asks for a token (triggering the web view) until the sign in/up flow completes and the app gets a token back.

This is probably something we'd need to do via UI test (but I very welcome other suggestions).

To make it clearer, this is the flow I would like to have an automated test for (possibly without

[2020-10-17 15:03] schlingding opened #1139 "iOS 14 authenticationSession webviewType dismisses when tapping outside the webview (iPad)"
Xcode 12, MSAL 1.1.11

In iOS13, Tapping the background when the Authentication window is showing does nothing.

In iOS 14, you can tap the background around the window (iPad) which dismisses the authentication session without any notification or error. This can leave an application in an unexpected or unrecoverable state if login is trying to be enforced.

Is there a workaround or has this issue

[2020-10-19 10:45] ShilpaGavade commented on #1095
Hi @oldalton, I managed to remove previous all accounts using applicationContext.allAccounts() but as @darosal mentioned above, at the time of organisation data removal, we should remove account manually but it is not happening because, I checked using breakpoint but it is not reaching to wipeData method

[2020-10-19 14:59] darosal commented on #1095
@ShilpaGavade, then the delegate might not have been set correctly. I'm not the most familiar with the swift syntax for setting the delegate. But I believe it should be
[code]
rather than
[code]

Is there a reason the second was done instead? Does changing that cause the wipeData delegate to run?

If not, it could be that the wipeData delegate isn't being called even if the IntuneMAMPolicyManager

[2020-10-20 00:10] hieunguyenmsft commented on #1023
A bug was filed with Apple as we can't control the swipe down event in ASWebAuthenticationSession and Apple didn't trigger the callback at that moment. We will update when have a response from Apple.

[2020-10-20 00:10] #1023 closed

[2020-10-20 13:21] draskovits commented on #737
Also interested in SPM support. I tried to include it with a xcframework, and it seems to work. There is currently an issue with SPM/Xcode when trying to use a binary dependency in a swift package (https://bugs.swift.org/browse/SR-13343). But for that issue a workaround exists. (Workaround is described in the thread)

When using a xcframework with spm, the xcframework needs to be included in every

[2020-10-20 14:00] ShilpaGavade commented on #1095
Hi @darosal, Tried assigning IntuneMAMPolicyManager delegate in the way you suggested

`IntuneMAMPolicyManager.instance().delegate = self as? IntuneMAMPolicyDelegate`

but still control not reaching to wipe data method which is written in appDelegate file.
It is not removing previous account details after organisation data removal, sometimes it asks for password for previous account only.
Very wei

[2020-10-20 14:32] darosal commented on #1095
@ShilpaGavade, how are you triggering the signout/unenrollment? What actions prompt the organization data removal?

[2020-10-20 15:02] ShilpaGavade commented on #1095
![image](https://user-images.githubusercontent.com/65016832/96604930-45b92500-1313-11eb-8db1-992fc0325d36.png)
I am getting this pop up with two account options

[2020-10-20 15:27] ShilpaGavade commented on #1095
After selecting any one of account, getting another popup saying
**"Your organisation has removed its data associated with this app....To reconnect....."**
After this, all account should get removed

[2020-10-20 22:40] mipetriu commented on #1139
Thank you for reporting this, we will investigate and get back to you when we have an update.

[2020-10-20 23:01] mipetriu commented on #1135
@zntfdr MSAL doesn't provide a solution for mocking, so you might need to implement your own mocking solution to meet your testing needs. From a quick internet search, some options may be network stubbing or creating a mock server on your local machine, but I'm not completely sure that those solutions would work.

[2020-10-21 02:28] zntfdr commented on #1135
@ameyapat @mipetriu thank you for the support!

Is there a way to bypass the sign in process then? As in, "inject" a signed in account (a token or what else is needed) in a test.

In this case the goal is to test the app functionalities that are available only when a user is signed in.

Thank you again and wish you a nice day,
Federico

PS
I understand that this can be achieved by wrapping the MSA

[2020-10-21 02:46] #1073 closed

[2020-10-21 11:49] ShilpaGavade commented on #1122
@darosal, referring to below url:
https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios

which flag need to set, 'isExternalURL' or 'setUIPolicyIdentity'?
Our third party website is corporate website only, which we are using for authentication purpose

[2020-10-26 08:07] maksirol commented on #1126
Yes, client is initialized to MSALPublicClientApplication object. And sorry for confusion, with assigning to same variable name. This will be more clear:

`do { let account = try client.account(forIdentifier: id) } catch(let error) {}`

But my question is that can i assume that 'error' with domain "Foundation._GenericObjCError" and code 0 will always mean that account does not exist. Or it can hap

[2020-10-26 16:42] SeboRax commented on #1139
Upvoting this iOS 14 behavior not handled by the library... Do you have an ETA for this fix?

[2020-10-26 16:57] #1098 closed

[2020-10-26 16:57] #1053 closed

[2020-10-26 21:56] #923 closed

[2020-10-27 09:32] cdescours-amaris commented on #1139
I reproduce this bug on my iOS 14 app, any news on that?

[2020-10-27 18:06] Daekou commented on #737
Very interested in SPM support. Any updates ?

[2020-10-27 23:32] mipetriu commented on #1139
We've tested this scenario, and have been able to reproduce this behavior as well. After some investigation it seems that as of iOS 14, tapping outside of a view closes it, and we haven't been able to find any notification or delegate to handle that type of close. I will submit a radar to Apple with this issue and keep this thread updated with their response.

[2020-10-27 23:43] mipetriu commented on #1135
@zntfdr Unfortunately we don't provide a way to mock or bypass the sign in process directly with the MSAL library. Personally, I'm not an expert with mocking, but I think your idea for how to move forward is a good one.

[2020-10-27 23:53] schlingding commented on #1139
This may be ASWebAuthenticationSession behavior?

[2020-10-28 02:17] zntfdr commented on #1135
@mipetriu thank you for the support!

[2020-10-28 02:17] #1135 closed

[2020-10-28 06:58] ShilpaGavade opened #1143 "MSAL with Edge iOS"
Hello Team,

We have an ios app protected by Intune SDK and using MSAL auth library for login, MSAL uses system web browser by default for authentication purpose.
In iOS, safari is the default browser (or depends on iOS versions..like, ASWebAuthenticationSession or SFSafariViewController etc.) but our intune policy restricts us to open login page on edge which is not happening in iOS, so we are ge

[2020-10-28 16:15] kaisong1990 commented on #1143
@ShilpaGavade Thanks for your question, even though user is able to switch to Edge or other 3rd party browsers as default one externally, iOS is still using Safari (system browser) for authentication internally. We don't have a way to configure this at the moment.

[2020-10-28 17:11] ShilpaGavade commented on #1143
Thanks @kaisong1990 for quick response, it means, we should change policy from azure side to allow authentication on safari browser.
Just to confirm one thing, as MSAL using safari internally, so, there is no harm to data, I mean, as edge is managed browser and intune takes care of data in case of edge, same happen with safari?

[2020-10-29 04:33] kaisong1990 commented on #1143
@ShilpaGavade Just to be clear, MSAL is using ```ASWebAuthenticationSession``` which provided by Apple, and ```ASWebAuthenticationSession``` uses system browser internally. In the authentication process, we are passing a completion handler and listen to the response, rests are handled by Apple.

I am not sure what kind of data you mentioned here, would you provide more details?

[2020-10-29 11:30] ralexandre-ciandt commented on #1124
Hi @ameyapat !

Just a feedback about our implementation.

We updated the MSAL library to the latest version and removed our cache mechanism. MSAL and the browser are handling the cookies by themselves in the latest version. I changed the signout method to hit the /logout endpoint and sign out the user from B2C following the documentation and the sign out starts working. But when we login again an

[2020-10-29 14:28] rahulcode commented on #985
Please can we reopen this and track.

[2020-10-29 17:38] ShilpaGavade commented on #1143
@kaisong1990 just wanted to confirm one thing, as you mentioned, currently there is no way to configure Edge browser for authentication purpose, but there are some iOS apps which uses edge, like, microsoft outlook, zoom etc.
So, have they applied some configurations form application side

[2020-10-29 19:28] kaisong1990 commented on #1143
@ShilpaGavade Thanks for your question. For clarification, do you mean the Microsoft Outlook use Edge browser within the Microsoft Outlook app for authentication on iOS?

[2020-10-30 08:29] ShilpaGavade commented on #1143
@kaisong1990, thank you for you reply, we checked Microsoft outlook app on iOS and it seems it opens edge browser internally for authentication. I am not sure still confirming it.
Please clear and apologies if the question is wrong.

[2020-10-30 16:35] kaisong1990 commented on #1143
@ShilpaGavade Theoretically there shouldn't be any 3rd party browser during authentication session within Outlook apps. Would you be able to share a screenshot if see this happening?

[2020-10-30 16:44] ShilpaGavade commented on #1143
@kaisong1990, yes will try to share it in sometime

[2020-10-31 01:19] ameyapat commented on #1124
@ralexandre-ciandt Thank you for the observation. I'm assuming by blinking you mean web view pops up and disappears, please correct me if I'm wrong. Since you have specified signoutParameters.signoutFromBrowser = true, I think a request is made to the logout endpoint and the server will remove/invalidate any cookies from the session in browser to logout, hence it pops up the webview for the reques

[2020-11-02 16:26] oldalton commented on #1143
Adding @ShruthiAchutha from Intune MAM side to comment on ASWebAuthenticationSession and data protection.

[2020-11-02 17:12] hieunguyenmsft commented on #1083
B2C teams are looking at the current issue for the AppleId login flow. Will update when I heard from them.

[2020-11-02 18:02] MrCull opened #1144 "The README file in this repo has a bad link - [404:NotFound]"
The README file in this repo has a bad link - [404:NotFound]

Status code [404:NotFound] - Link: https://docs.microsoft.com/en-us/azure/active-directory/develop/redirect-uris

This was found by an new experimental hobby project that I have just created: https://github.com/MrCull/GitHub-Repo-ReadMe-Dead-Link-Finder
If this has been in any way helpful then please consider giving the above Repo a Sta

[2020-11-02 19:54] kaisong1990 commented on #1144
@MrCull Thanks for the updates, we have updated the url from the following pull request:

https://github.com/AzureAD/microsoft-authentication-library-for-objc/pull/1145

[2020-11-03 00:43] adiashok123 opened #1146 "ADFS + SSO Extension + Cert Based Authentication - Multiple authentication prompts"
While doing an authentication "ADFS + SSO Extension + Cert Based Authentication", we are seeing multiple login prompts in MSAL 1.1.10.

(Certification is pushed using MDM, SSO Extension is enabled.)

<img width="840" alt="image" src="https://user-images.githubusercontent.com/73838676/97934353-79785e00-1d9b-11eb-8ae4-b16807ca39b9.png">

[SSO_EXTENSION_CUSTOMER.txt](https://github.com/AzureAD/micros

[2020-11-03 02:30] smudireddy commented on #1146
The second auth screen comes with an empty user ID and expecting user to enter the email/upn value.

[2020-11-03 03:45] #1092 closed

[2020-11-03 13:59] ralexandre-ciandt commented on #1124
Hi @ameyapat !
Sorry to bother you again, but we could fix the "blink" thing :)

We just got a different problem now, when we close my app and reopen it, it's possible to retrieve the token from acquireTokenSilently but when opening a journey we are prompted to log in again. Is it something we might be missing?
After logging in again the journeys work, but until the app is closed and reopened agai

[2020-11-03 15:03] honkmaster commented on #737
Any update?

[2020-11-03 15:59] oldalton commented on #1124
WKWebView doesn't store session-only cookies after the app is restarted. You'd need to use one of the system WebViews, like ASWebAuthenticationSession instead. We have some more information here: https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews

[2020-11-03 22:25] darosal commented on #1122
@ShilpaGavade, the SDK mainly protects data by preventing it from leaving certain boundaries within the app. The 'Encrypt org data' policy enforces iOS encryption flags on data stored locally. Could you elaborate on how these cookies are captured? It's possible that we are defaulting to iOS protections for this. Data can also be protected using some of our public facing APIs found in `IntuneMAMDat

[2020-11-03 23:29] kaisong1990 commented on #737
We are still looking into it, but no ETA at this point

[2020-11-03 23:31] #1144 closed

[2020-11-04 01:57] smudireddy commented on #1146
Any changes needed in SSO extension configuration (Attached here with this issue) ?

[2020-11-04 14:15] rahulcode commented on #760
Any Updates On this issue , is there are fix to handle such cases wherein the user can cancel current request and continue with a new request.

[2020-11-05 00:33] #1118 closed

[2020-11-05 03:17] sxudan commented on #760
Cancel the session if "-42402" error is thrown. This line of code simply did a trick for me.
`MSALPublicClientApplication.cancelCurrentWebAuthSession()`

[2020-11-05 03:58] smudireddy commented on #1146
Any update ?

[2020-11-05 14:56] ShilpaGavade commented on #1095
I am not sure why this issue is marked as 'stale', I think I have provided all the required information still no response from team, if need any other info then please let me know

[2020-11-05 15:21] darosal commented on #1095
@ShilpaGavade, what is being called that triggers this removal? Is it an additional sign-in?

Also, what is the exact flow of prompts now and when do you see the original MSAL error? I'm trying to see where the MSAL error is happening.

If it is feasible, could you also add code (temporarily) to [call our diagnostic tool](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#how-can-i-

[2020-11-05 15:21] t-hand commented on #1133
I fully understand that the browser is responsible for deleting the Cookies and that MSAL can only open the logout url so please let me rephrase my original questions.

What is the correct way to detect that the user closed the `ASWebAuthenticationSession`? `ASWebAuthenticationSessionErrorCodeCanceledLogin` is not handed over to the `signout` completion block which ends in a state that our client

[2020-11-05 15:22] ShilpaGavade commented on #1122
hello @darosal, thank you for your reply, can you please give more info regarding IntuneMAMDataProtectionManager, I mean, how can we utilise the functions from it?
And we are opening third party url using WKWebview inside the iOS application and capturing cookies through WKWebview, so, I am just checking if we are opening something in WKWebview then would it be protected by intune.

[2020-11-05 15:48] darosal commented on #1122
@ShilpaGavade, sure! Generally, these functions are used on data that a user might be able to manipulate. An example would be an app that handles files. All these files would be encrypted using the IntuneMAMFileProtectionManager and held in that state when at rest. The app only calls the unencrypt functions when the managed user attempts to open the file. If the unecrypt fails because the user isn

[2020-11-05 21:53] vigavadi commented on #1143
@ShilpaGavade This seems to be as a result of using `isExternalURL`. It could be linked to the ongoing issue #1122

[2020-11-06 01:43] #1112 closed

[2020-11-06 11:40] ShilpaGavade commented on #1122
Thanks @ShruthiAchutha  and @darosal for addressing issues. Let me explain complete flow for better understanding.

We are having an iOS and android application protected by Intune SDK and using MSAL auth library for authentication purpose. Android application working as expected but on iOS we are facing lots of issues related to intune, intune conditional access policy and MSAL authentication.

1

[2020-11-06 12:05] jussiron opened #1148 "MSAL login with Microsoft Authenticator session not shared to Safari"
After calling acquireToken(with: parameters), Microsoft Authenticator opens, user authenticate and then app is called with the url parameters. However the session seems not to be shared to Safari, SafariViewController or WKWebView. Is that possible when device have broker installed?

[2020-11-09 15:38] oldalton commented on #1146
@smudireddy, you'll need to disable browser_sso_interaction_enabled flag when certificate based authentication is in use. See documentation about this flag here: https://docs.microsoft.com/en-us/azure/active-directory//develop/apple-sso-plugin#allow-creating-sso-session-from-any-application. We're also looking into how to make this work with this flag, but we don't yet have an ETA. Assigning to @a

[2020-11-10 01:20] smudireddy commented on #1146
Thanks for the information @oldalton

[2020-11-10 23:43] aherciya commented on #1148
Do you mind giving us some context on what behaviors you'd like to implement?

[2020-11-11 01:02] aherciya commented on #1133
Hi @t-hand. Unfortunately this is by design and the issue is we don't directly control cookies in the browser.

[2020-11-11 07:12] jussiron commented on #1148
User can see list of news which are fetched from Sharepoint Rest API. Each of those news have orginalURL to point to Sharepoint page. That url would be opened with SFSafariViewController if user choose to do so by tapping the news item. IF there is no authentication broker installed, it'll of course work because user will use Safari to login, but with the broker it's different story.

[2020-11-11 09:01] honkmaster opened #1152 "Interfacing with SwiftUI"
SwiftUI has no concept of ViewControllers.
Unfortunately, `MSALWebviewParameters` needs exactly this as input.
Of course, we could use the `SceneDelegate`:

[code]

However, this approach does not feel native and fragile. Any better Idea how to handle this?

[2020-11-11 09:44] SeboRax commented on #1139
Hi, you've reproduced this on your side, can you mark this as bug and provide a fix version? This affects all apps using Microsoft authentication on iOS 14, that's a lot...

[2020-11-11 15:52] #1111 closed

[2020-11-12 17:08] hroblesm opened #1155 "ITMS-90338: Non-public API usage - execute, initWithClientId:error:, initWithParentViewController:, removeAccount:error:"
Hi,

I'm trying to upload my app that use your MSAL library 1.1.7. After pass the initial validation I received the following from Apple:

Dear Developer,
We identified one or more issues with a recent delivery for your app, "XXXXXXXXX". Please correct the following issues, then upload again.
ITMS-90338: Non-public API usage - The app references non-public selectors in WeavLT-prod-1.10.1: execute,

[2020-11-13 08:57] smudireddy commented on #1146
@oldalton  / @jasoncoolmax ,

Scenarios: Certificate based Auth + SSO extension

We are getting  an error whenever user trying to Authenticate post token got expired.

Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fragments not set." UserInfo={NSDebugDescription=JSON text did not start with array or object and option to allow fragments

[2020-11-13 09:10] smudireddy opened #1156 "Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fragments not set.""
MSAL 1.1.11
ADFS + cert Based Auth + SSO extension distributed by MDM.

Able to login and use the App till token got expired. When token got expired (Token expiry configured Via conditional access policy "Grant" option), MSAL switches to broker extension  auth page and getting an error.

Error Domain=NSCocoaErrorDomain Code=3840 "JSON text did not start with array or object and option to allow fra

[2020-11-13 09:19] smudireddy commented on #1156
With ADFS + Password case is working.

[2020-11-13 09:24] smudireddy commented on #1156
[Uploading MS_Authenticator_Logs.log…]()

[2020-11-13 09:27] smudireddy commented on #1156
https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime

[2020-11-13 12:24] t-hand commented on #1133
@aherciya: Thanks for your response. As pointed out before, we are aware that MSAL has no control over the content of the browser and cookies.
Assuming that you mean that the success state in case of an active user cancelation (user taps "Cancel" button in ASWebAuthenticationSession) is by design, could you please confirm that sending the `MSALWebAuthDidFailNotification` notification is also by de

[2020-11-13 23:49] hieunguyenmsft commented on #1156
@smudireddy can you reup the log file and the network trace? The link above doesn't work.
Thank you.

[2020-11-14 00:02] hieunguyenmsft commented on #1139
Hi, we already submitted the bug ticket to Apple. Will kept you posted.

[2020-11-14 00:27] aherciya commented on #1155
Hi @hroblesm, neither MSAL 1.1.7 or MSAL latest contains those specific API's(i.e. we don't share the same method signatures as initWithClientId:error:, initWithParentViewController:, removeAccount:error). Were you able to submit a ticket with apple through the [support link?](https://developer.apple.com/support/technical/) they provided? If they isolate the issue to MSAL please let us know.

[2020-11-14 00:39] aherciya commented on #1148
@jussiron Sorry, again I'm not catching what you'd like to implement or the question, but based on your previous comment that allotted to "session seems not to be shared to Safari, SafariViewController or WKWebView. Is that possible when device have broker installed?" It sounds like perhaps you are interested in sharing sign-in state across applications, if that is the case you can accomplish this

[2020-11-14 01:15] hroblesm commented on #1155
Hi @aherciya , following is the answer I got from Apple support team:

"This is Steven from Apple Developer Program Support, and I am following up with you regarding the message you received when you attempted your most recent upload to App Store Connect.

I have been informed that a review by my engineers has revealed the use of the API “initWithParentViewController:”, which is a non-public API.

[2020-11-15 02:59] oldalton commented on #1146
@smudireddy, thank you for reporting this. Could you please send us an Authenticator incident ID?

[2020-11-17 02:02] smudireddy commented on #1156
![File (1)](https://user-images.githubusercontent.com/13241928/99335281-07c60700-28a7-11eb-8f43-3c6009b299fe.jpg)

[2020-11-17 02:02] smudireddy commented on #1146
![File (1)](https://user-images.githubusercontent.com/13241928/99335521-18767d00-28a7-11eb-8a26-3da73fc02bad.jpg)

[2020-11-17 02:04] smudireddy commented on #1156
[MS_Authenticator_Logs.log](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/5550825/MS_Authenticator_Logs.log)

[2020-11-17 02:04] smudireddy commented on #1146
[MS_Authenticator_Logs.log](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/5550828/MS_Authenticator_Logs.log)

[2020-11-17 17:25] hieunguyenmsft commented on #1156
Thanks, I got the log. Let me check it and update you on anything I find.

[2020-11-17 23:33] hieunguyenmsft commented on #1146
Close this one as a duplication from this issue below, please track the progress in that issue:
https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1156

[2020-11-18 17:07] kaisong1990 commented on #1152
@honkmaster Thanks for your question, SwiftUI should be compatible with UIKit and here are some guidances to Apple doc:
https://developer.apple.com/tutorials/swiftui/interfacing-with-uikit

Currently we don't have ways of supporting SwiftUI without UIKit

[2020-11-18 17:57] hieunguyenmsft commented on #1156
@smudireddy There is an error when client trying to parse the response from server, I'm not sure it's from server side or client side. Can you help to provide a network trace? Thank you.

[2020-11-18 21:05] aherciya commented on #1155
Hi @hroblesm, It seems you are using a [deprecated API](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALWebviewParameters.html#/c:objc(cs)MSALWebviewParameters(im)initWithAuthPresentationViewController).

[2020-11-18 21:28] hroblesm commented on #1155
Hi @aherciya , which version should I use?

[2020-11-18 21:45] aherciya commented on #1155
@hroblesm For instance if you are using **initWithParentViewController**:, then you should replace that by using **initWithAuthPresentationViewController:** instead.

[2020-11-18 21:54] hroblesm commented on #1155
I'm not using initWithParentViewController at all. What Apple complains is about the methods.

[2020-11-19 22:02] SurbhitBhatnagar commented on #713
Hi @oldalton,
I am having the same issue with msal-browser. In my case, the scope is 'https://management.azure.com/user_impersonation'.
signInAudience set as 'Accounts in any organizational directory and personal Microsoft accounts’. Any suggestions?

[2020-11-20 07:29] smudireddy commented on #1156
@hieunguyenmsft / @oldalton ,

[MaaS360_JSON  Error Proxy.chls.zip](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/5571922/MaaS360_JSON.Error.Proxy.chls.zip)

[2020-11-20 16:33] darosal commented on #1122
@ShilpaGavade I apologize for the delay. It might be best to schedule a call, if possible, to better answer any questions and track down the issues. Could you send an email to Shiv Patel at shpate@microsoft.com so that he can set that up? Thanks!

[2020-11-20 21:17] hieunguyenmsft commented on #1156
Thanks @smudireddy I'm working with our server team to investigate this issue. Will keep you posted.

[2020-11-20 23:13] guidedways opened #1159 "On-premises Modern Authentication?"
We've got users that have an on-premises Exchange server however MSAL does not seem to work at all with "hybrid modern authentication".

Is there something special that we need to do to support this? Do we need to use the deprecated ADAL library for this? I'm a little confused (sorry.. exchange has to be the most complex protocol we have had to deal with, especially with so many overlapping SDKs a

[2020-11-20 23:15] guidedways commented on #1159
To add to this - I *think* MSAL seems to "authenticate" but the actual EWS API calls seem to fail for the tokens returned by MSAL.

[2020-11-20 23:20] #1159 closed

[2020-11-21 02:00] guidedways opened #1160 "How do we determine "EWS.AccessAsUser.All" for on-premises, hybrid modern authentication?"
We use the `https://outlook.office365.com/EWS.AccessAsUser.All` scope, however it seems some on-premises hybrid modern auth setups require the scope to be: `https://their.onpremises-server.com/EWS.AccessAsUser.All`.

This may not be the most relevant place to ask this question but I'd appreciate any help. How do we determine the required scope by the server? `https://outlook.office365.com/EWS.Acce

[2020-11-21 02:05] guidedways commented on #1160
https://gist.github.com/gscales/fe2fb8cbcaa95218b903c43a44e7cb5c looks like it. However how does one get permission to use `EWS.AccessAsUser.All` on its own in azure? The only scope we've been able to add there is `https://outlook.office365.com/EWS.AccessAsUser.All`

[2020-11-21 04:18] #1160 closed

[2020-11-21 16:44] TayyabAli652 opened #1161 "Our App is rejected due to UIWebView api"
I used this library and also set ` webViewParamaters?.webviewType = .wkWebView` everything was good but when we upload app on app store app store reject app due to UIWebView used in this library. Please remove UIWebView and use only WKWebView.

![image](https://user-images.githubusercontent.com/46528730/99882494-b02af100-2c42-11eb-8ba2-63d5041ce699.png)

[2020-11-21 17:44] oldalton commented on #1161
Which MSAL version are you using? Some older MSAL versions had "UIWebView" in the comment which was triggering this. It should be now fixed, so please make sure you're using the latest version.

[2020-11-21 17:48] TayyabAli652 commented on #1161
My mistake I'm using OneDriveSDK and MSAL both but forgot to remove OneDriveSDK and I thought it's MSAL error,

[2020-11-21 17:48] #1161 closed

[2020-11-23 14:49] S2V opened #1162 "How to check the service availability(via MS Graph) for specified account?"
I was faced with some confusing behavior. I try to sign in with Office 365 account, which doesn't have access to the mail-box(Outlook, I mean). Of course, my application has required scope items like `[Mail.Send, User.Read]`. Sign in is successful with result scope `[Mail.Send, User.Read, email, openid, profile]`. And when I try to send mail, obvious, occurred the 404 error. How can I check the av

[2020-11-23 18:27] bengovernment commented on #737
My team has also migrated multiple dependencies from Carthage to SPM. MSAL remains the last framework we can't move.

[2020-11-23 18:58] #1126 closed

[2020-11-24 06:31] ShilpaGavade commented on #1122
@darosal : thank you for your response, will send an email to set up a call.

[2020-11-24 15:25] JimmyLS opened #1165 "MSAL iOS how to leverage broker when device auth was triggered in silent auth call"
We have a customer facing below issue:

They developed iOS app (object C) integrated with MSAL library, also configured required things for using Broker.

When calling MAM from the app it's leveraging broker fine, and got Access token & Refresh token back.

When calling other APIs, the app was using its own refresh token without going through Broker, and blocked by their MAM CA policy saying "Devi

[2020-11-24 17:17] kaisong1990 commented on #1165
@JimmyLS Thanks for your question, broker doesn't support silent flow with existing refresh token from another app. However, MSAL provides a public API where developers can use to redeem new access token by using existing refresh token:

https://github.com/AzureAD/microsoft-authentication-library-for-objc#silently-acquiring-an-updated-token

Developers needs to implement this silent call as needed

[2020-11-25 02:13] JimmyLS commented on #1165
@kaisong1990

I should explain it more clear sorry. I mean when the application tries to redeem new access token with its refresh token, this auth call is blocked by Conditional access policy which requires Compliant MAM app (device auth required and the request must come from broker). **In such case will MSAL ios automatically handle the error and send request to broker instead, or developers sho

[2020-11-25 02:32] smudireddy commented on #1156
@hieunguyenmsft  / @oldalton ,
Any update on this blocker issue ?

[2020-11-25 14:06] ralexandre-ciandt commented on #1124
Hi @oldalton

Thanks for your previous comment!

Just to give you a more detailed context:

- We use B2C and we have a login journey to access the app, then inside the native app, we have a menu where the user can update their account information like name, email, etc (this is another journey).
- Before, when opening a journey inside the app it prompted to login every time before showing the updat

[2020-11-30 00:05] kaisong1990 commented on #1165
@JimmyLS Thanks for clarifying your question. We don't handle errors on behalf of our developers when there is a silent call error. So developers will need to handle the error accordingly

[2020-11-30 07:02] JimmyLS commented on #1165
@kaisong1990
Yes I've proved that by testing, thanks for the clarificaiton!

[2020-11-30 16:39] oldalton commented on #1124
Thank you for a thorough reply. MSAL doesn't provide a built-in cookie management for the WKWebView and we operate with tokens only.

[code]

The recommended solution is to indeed use ASWebAuthenticationSession, or SFSafariViewController. Neither of them provides customization that you might need, but it has a few advantages:
1. Persistent cookies are saved by the browser process, so you wouldn't

[2020-12-01 17:26] antrix1989 commented on #1162
@S2V which URL are you using to send an email?

[2020-12-01 17:49] S2V commented on #1162
@antrix1989 I'm set up my request for sending with the`https://graph.microsoft.com/v1.0/me/sendMail` URL

[2020-12-01 23:23] #1165 closed

[2020-12-02 09:48] rahulcode commented on #1156
Any Updates here  ?

[2020-12-02 23:26] nrichard-neudesic commented on #848
Hello, I am wondering if there has been a response from Apple regarding this issue? Any feedback would be greatly appreciated as this is a point of frustration for our consumers.

[2020-12-03 12:57] ramohanreddy opened #1167 "Microsoft Authentication Login not working"
Hi @odin-2711 @boumenot @oldalton

i am facing login issue. I am not able to get login option in alert.
Please find the below screen shot for reference.
![1606994832881](https://user-images.githubusercontent.com/18551145/101020725-ef3b3980-3594-11eb-871f-5707e68eda17.JPEG)

[2020-12-03 16:48] kaisong1990 commented on #1167
@ramohanreddy Thanks for providing the screenshot. This error means current log in session is not closed yet and user is trying to start a new session.

Could you provide more details so that we can try to reproduce this issue? Thanks

[2020-12-04 05:15] ramohanreddy commented on #1167
Hi @kaisong1990 ,

What type details i need provide

[2020-12-04 05:38] kaisong1990 commented on #1167
For example, did you get the issue immediately after starting MSAL sample app or if you have tried to login and dismiss the login view somehow.

It would helpful if you could provide a video or the steps to reproduce the issue.

[2020-12-04 05:40] ramohanreddy commented on #1167
okay let me create video.

[2020-12-04 13:16] guidedways commented on #1167
I'm seeing the following for some users. This is for an O365 account. Any idea what's going on?

[code]

[2020-12-04 16:49] kaisong1990 commented on #1167
@guidedways Thanks for your question, this means user manually canceled the current authentication session (For example, user clicks the top left button to dismiss the log in view on iOS) which is an expected error.

If you think this is unexpected in your case, please create a separate issue in our repo and provide user scenarios.

[2020-12-04 20:06] #1095 closed

[2020-12-05 00:09] aherciya commented on #1133
@t-hand As of now there aren't any plans to make changes, but we follow semver, so you should be informed when there will be a major update. Using ASWebAuthenticationSessions with MSALWebAuthDidFailNotification is not by design.

[2020-12-08 14:27] jontolof commented on #737
Hi. We are also eager to migrate this framework to SPM. Any news?

[2020-12-08 16:50] oldalton commented on #737
@ameyapat is actively investigating this right now. While we still don't have an ETA, we'll keep you posted on the progress.

[2020-12-09 04:20] jpsweet commented on #1016
Now that Apple Ext SSO plug-in is available in MS Authenticator, this should be possible if the MS Authenticator plug-in signs out during MDM unenrollment or removal of SSO payload.  Apple leaves time for this cleanup work to occur but the plug-in needs to handle the sign out logic.

[2020-12-09 12:09] ramohanreddy commented on #1167
Hi @kaisong1990
i am not able  login with multiple accounts.
i am getting this error.

**Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=Multiple accounts found in cache., MSALInternalErrorCodeKey=-42102}**

can you please check this once.

[2020-12-10 17:29] kaisong1990 commented on #1167
@ramohanreddy Thanks for your question. This error message normally means your current account changes when calls the following public API:

```- (void)getCurrentAccountWithParameters:(nullable MSALParameters *)parameters completionBlock:(MSALCurrentAccountCompletionBlock)completionBlock;```

Were you trying to log in a new account without logout the current account?

[2020-12-12 14:34] #1148 closed

[2020-12-14 21:04] pradeepktg commented on #701
Hello, How to get the JWT? I'm getting the JWT decoded data, but I need JWT encoded/raw value.

[2020-12-14 21:49] oldalton commented on #701
Raw id_token is exposed as part of MSALResult object: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALResult.html#/c:objc(cs)MSALResult(py)idToken

[2020-12-15 22:47] antrix1989 commented on #1162
That is a correct url. @S2V please capture a network trace and send it to my email: sedemche@microsoft.com. I will followup with out server team.

[2020-12-16 03:01] wenywang opened #1177 "Unable to see the Sign In web page with MSAL 1.1.12 / 1.1.13 in iOS 14"
Hi,

I hope you are doing well.

We are integrating our application with Intune SDK and MSAL, which allows users to login first before using the app:

![Simulator Screen Shot - iPhone 8 Plus - 2020-12-16 at 10 49 35](https://user-images.githubusercontent.com/68687169/102327436-b2256d00-3fc0-11eb-9c98-ebb2576a607a.png)
Recently we have upgraded the Intune SDK to 14.0 and MSAL to 1.1.13. However, we

[2020-12-16 04:10] sunilbraj369 opened #1179 "Security Vulnerability"
Posted issue to email as suggested

[2020-12-16 04:54] #1179 closed

[2020-12-16 09:34] mbondoso commented on #1155
Hi, I am also getting this error:
ITMS-90338: Non-public API usage - The app references non-public selectors in XXXX: idToken, initWithParentViewController:, removeAccount:error:. If method names in your source code match the private Apple APIs listed above, altering your method names will help prevent this app from being flagged in future submissions. In addition, note that one or more of the abo

[2020-12-16 16:06] smudireddy commented on #1156
@oldalton ,
Any update on this issue from your side?.

[2020-12-16 23:49] kaisong1990 commented on #1177
Hi @wenywang Thanks for your question.

We were not able reproduce this issue through our [sample iOS app](https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc) running MSAL 1.1.13 on iOS 14.2 devices.

@ShruthiAchutha Since this user mentioned upgraded to Intune SDK 14.0, could you help to take look?

[2020-12-17 21:56] guidedways opened #1180 "Release Frameworks?"
In the latest releases the .tar.gz and the .zip files are the same as the Sources.zip files, i.e. I don't see any "release" versions of the Frameworks. Can we have those to simply download and copy into our projects? Carthage has stopped working properly with Xcode 12 and I'm now seeing code signing errors when trying to use MSAL.

Would be great to have Swift PM supported eventually.

[2020-12-18 01:24] oldalton commented on #1180
We don't currently release MSAL as a framework. You can build your version from the source code.

[2020-12-18 01:25] oldalton commented on #1180
Closing as a duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/737 for SwiftPM.

[2020-12-18 01:25] #1180 closed

[2020-12-18 01:28] oldalton commented on #1156
We know the root cause of the issue but it is hard to fix in the short term. Let's discuss priority of this offline.

[2020-12-18 01:29] oldalton commented on #1016
@jpsweet, can you give a bit more information about how could SSO extension detect unenrollment event?

[2020-12-18 01:30] #210 closed

[2020-12-18 01:30] #378 closed

[2020-12-18 01:35] jpsweet commented on #1016
This Ext SSO feature was covered in the WWDC 2020 session https://developer.apple.com/wwdc20/10139 Leverage enterprise identity and authentication.  See the attached slide.  Note the last bullet -  Profile removal operation support.   ![image](https://user-images.githubusercontent.com/5776546/102563441-e53e2e00-409e-11eb-8a3c-04dc59dd4398.jpeg)

[2020-12-18 02:27] oldalton commented on #1016
Awesome, thanks for pointing to it.

[code]

[2020-12-18 03:12] wenywang commented on #1177
Hi @kaisong1990,

Thanks a lot for the response.
I would like to know whether you are going to release a new version of MSAL by the end of 2020?

Thanks
Wenyin Wang

[2020-12-18 03:19] jpsweet commented on #1016
Thanks Olga. Good to see you were able to locate it.  Logout on unenroll would be a very helpful addition to the MS Authenticator SSO Extension.

[2020-12-18 15:56] vistpp opened #1181 "MSALPublicClientApplication.allAccounts returns no accounts sometimes"
We notice MSALPublicClientApplication.allAccounts() returns no accounts at all occasionally, even though first interactive login has succeeded and refresh token should be valid yet. We even cannot reproduce this one consistently just happens from time to time for our signed in users.

Is this some known issue, maybe someone can provide some insights why that can happen?

Or maybe we should not rel

[2020-12-18 16:38] Kyle-Reis commented on #1177
Hi @wenywang, is the blank authentication prompt shown when you call an Intune enrollment API, or does it happen when initiating a call MSAL directly to acquire a token?

[2020-12-18 16:55] kaisong1990 commented on #1177
Thanks for your question. We don't have a release plan in December, but for January 2021

[2020-12-18 17:44] hieunguyenmsft commented on #1181
Currently, there is no known reported issue, .allAccounts() should return all signed-in accounts. Can you provide logs when the error happen?
Thanks.

[2020-12-18 23:52] #1124 closed

[2020-12-19 02:00] aherciya commented on #1155
@mbondoso @hroblesm Can you tell us how you are consuming MSAL, i.e. CocoaPods, Carthage, Framework or a Static Lib?

[2020-12-19 04:19] #1152 closed

[2020-12-20 11:50] mbondoso commented on #1155
@aherciya I'm using via Carthage

[2020-12-22 06:04] wenywang commented on #1177
The blank authentication prompt was shown when calling Intune enrolment API. Actually in Info.plist we have set up IntuneMAMSettings with all necessary information such as ADALClientId and ADALRedirectUri, and set AutoEnrollOnLaunch to YES.

[2020-12-22 16:39] Kyle-Reis commented on #1177
Hi @wenywang, I tried configuring a test app with the same settings using same versions of Intune and MSAL, and was not able to reproduce this issue. Which version of Xcode are you compiling the app with?

[2020-12-22 23:06] Kyle-Reis commented on #1177
Hey @wenywang - I was able to reproduce this after resetting the device to clear the keychain.

@kaisong1990 - The root cause of this issue appears to be that MSALPublicClientApplication is returning an error object when accountForUsername is called with a nil username parameter. This was not the case in previous versions of MSAL. Could you look into why that might have changed? There does appear

[2020-12-22 23:10] ameyapat commented on #1155
We'll open a feedback with Apple regarding this and provide an update.

[2020-12-22 23:15] Kyle-Reis commented on #1177
Go help further in tracking down this issue, here is the error message logged by MSAL when the above is called:

 MSAL 1.1.13 iOS 14.3 [2020-12-22 22:45:13] username is nil or empty which is unexpected, (null), error code: 0

[2020-12-22 23:37] #1122 closed

[2020-12-23 04:15] pranayubs commented on #935
Hello, I'm facing same issue. Any idea, How to resolve this issue?

Here is the pod file
[code]
pod installation
[code]
Compilation error
`Implicit declaration of function 'MSID_LOG_WITH_CTX' is invalid in C99`

[2020-12-23 04:23] wvezey commented on #935
@pranayubs We fixed the issue by formatting our podfile MSAL call like this:

`pod 'MSAL', :git => 'https://github.com/AzureAD/microsoft-authentication-library-for-objc.git', :submodules => true`

[2020-12-23 11:40] S2V commented on #1162
Hello @antrix1989 , pls check your email-box

[2020-12-24 06:07] crspybits commented on #737
@draskovits Do you have your XCFramework downloadable? Or a procedure to create it from this repo? Thanks!

[2020-12-24 19:53] crspybits commented on #737
My initial step in making an XCFramework is to build MSAL as a framework. But this fails. E.g., When I try:

[code]

from the root directory of the repository, I get:

[code]

[2020-12-28 17:48] wenjie-hou commented on #737
@draskovits Hey, I just made my own fork, and the xcframework build (https://github.com/wenjie-hou/microsoft-authentication-library-for-objc). It works for me with SPM

[2020-12-28 21:20] crspybits commented on #737
Thanks for this, @wenjie-hou -- could we please have the commands you used to generate this?

[2020-12-28 21:26] wenjie-hou commented on #737
I use the same command as yours. Maybe you didn't clone the repo with `--recursive`?

[2020-12-28 23:34] kaisong1990 commented on #1177
@Kyle-Reis @wenywang

Username from accountForUsername is defined as non-nullable in public API. In previous version, it would send back a random account if username is not provided (nil or empty)

There is a new change in 1.1.12/1.1.13 where when developers passed in username as nil/empty, MSAL will throw error back (if developer provided), and return nil back instead of a random account. This is

[2020-12-28 23:46] kaisong1990 commented on #1177
@Kyle-Reis Also developer mentioned it worked fine with MSAL 1.1.13 on iOS 13, could you help to verify that? The code changes we made in 1.1.12/1.1.13 should not impact specific version

[2020-12-29 07:39] amansharma2014 opened #1183 "iOS Alert Pop Up Disappears"
Hi,

I am facing one weird issue with current SDK. Whenever iOS Alert Controller appears which ask for user permissions via Web Interactive Login appears where we have options to **Continue** and **Cancel**.

If user puts app in background then that alert Pop Up disappears and Azure starts giving error whenever user try to login again.

Is there any way by which we can know user has cancelled or g

[2020-12-29 12:31] draskovits commented on #737
yeah basically did the same, but once for iPhone simulator and once for iPhoneSDK.

Currently I use my fork, but the version is out date (I think it is 1.1.9)
https://github.com/draskovits/microsoft-authentication-library-for-objc/tree/spm-support

[2020-12-29 17:30] kaisong1990 commented on #1183
Hi @amansharma2014,

Thanks for your question, we are trying to reproduce the scenario and cannot put app into background when system popover is in front view.

Developers should know if user canceled the current process or other type of errors in the ```completionBlock``` from ```MSALPublicClientApplication```. For example:

```- (void)acquireTokenWithParameters:(nonnull MSALInteractiveTokenParam

[2020-12-29 18:24] amansharma2014 commented on #1183
Hi,

Steps to Reproduce -
1. Authentication Alert Pop Up Appears
2. Lock iPhone via Right Side Button
3. Unlock iPhone Alert Disappears

[2020-12-29 20:23] Kyle-Reis commented on #1177
@kaisong1990 - I was not able to reproduce the issue on older iOS versions.

@wenywang - I have a fix for this issue in code review now. It should be available in the next update to the Intune SDK. In the meantime, is it feasible to use version 1.1.11 of MSAL?

[2020-12-29 20:26] Kyle-Reis commented on #1177
Sorry, @kaisong1990 - for clarity, what I meant above was that MSAL does appear to return an error on older iOS versions, as expected.

[2020-12-29 20:49] kaisong1990 commented on #1183
Thanks and we will look into it

[2020-12-30 02:19] antrix1989 commented on #1162
Thanks @S2V, I replied in the email thread.

[2020-12-30 02:37] wenywang commented on #1177
@Kyle-Reis Thanks for the response, could you estimate when will the next version be released?

[2020-12-31 06:48] rakeshiosdev commented on #1038
Please provide a valid controller like:
webViewParamaters = MSALWebviewParameters(authPresentationViewController: self)

[2021-01-02 04:10] smudireddy commented on #1156
Issue should be fixed otherwise users with Certificate based authentication case will not work when token got expired.

[2021-01-02 09:04] #1133 closed

[2021-01-04 17:21] Kyle-Reis commented on #1177
@wenywang, current estimate is end of this month.

[2021-01-04 19:03] kaisong1990 commented on #1183
We have tested and don't get callbacks from Apple API when device is locked in this scenario. Will reach out to Apple for guidance and post updates here

[2021-01-04 22:45] aherciya commented on #1155
@mbondoso @hroblesm Do you mind providing either a ticker number or your app name and date when this App Store submission issue occurred? You can send this privately at aherciya@microsoft.com.

[2021-01-05 00:21] mbondoso commented on #1155
Hi, I emailed it to you.
Thanks for the help.

On Mon, 4 Jan 2021, 22:46 Ahmet Erciyas, <notifications@github.com> wrote:

[2021-01-05 11:13] jeevanbalanmanoj opened #1186 "Is it possible to do client credentials flow for Microsoft Azure active directory with this library?"
Can this library be used to implement [client credentials flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-client-creds-grant-flow) for the azure active directory? If so please provide me with the samples or documentation on doing so

[2021-01-05 14:15] pranayubs opened #1187 "Azure Application Proxy accessing issue using MSAL token"
We are trying to access the Azure Application Proxy endpoint using MSAL token but it is being redirected to login.microsoft.com instead getting a json response

`https://login.microsoftonline.com/**tenant_id**/oauth2/authorize?response_type=code&client_id=**client_id**&scope=openid&nonce=**nonce**&redirect_uri=https%3a%2f%2fXXXXXXXXX.msappproxy.net%2fapi%2f&state=AppProxyState%3a%7b%22InvalidToken

[2021-01-05 19:00] kaisong1990 commented on #1186
Hi @jeevanbalanmanoj Thanks for your question.

Our library doesn't support client credentials flow. Flows which mobile is supported can be found [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-authentication-flows#client-credentials)

[2021-01-05 19:09] kaisong1990 commented on #1187
Hi @pranayubs, could you provide the correlationId and we will take a look?

[2021-01-06 09:12] maksirol commented on #1181
I've got this issue as well. Not possible to reproduce it locally, but i can see that production users experience this issue from time to time.
Could it maybe due to that [protected data is not available](https://developer.apple.com/documentation/uikit/uiapplication/1622925-isprotecteddataavailable) ?

[2021-01-06 15:46] pranayubs commented on #1187
@kaisong1990
Can you please advice from where I can get the correlationId? I am getting below response on the api call

`{ URL: https://login.microsoftonline.com/XXXXXXXXX/oauth2/authorize?response_type=code&client_id=XXXX&scope=openid&nonce=ddcacdae-8f62-4008-86d2-16b00126248b&redirect_uri=https%3a%2f%2fXXXX%2fapi%2f&state=AppProxyState%3a%7b%22InvalidTokenRetry%22%3atrue%2c%22IsMsofba%22%3afalse

[2021-01-07 23:50] #1167 closed

[2021-01-09 04:12] kaisong1990 commented on #1187
@pranayubs

correlationId can be found in logs like when there is an error returned during authentication.

After looking into your response, we noticed it said invalidTokenRetry within the URL, and the url you provided is for a new authentication flow. So the potential issue could be that the MSAL token you were using is invalid. Would you try to fetch a new access token and try again?

[2021-01-09 14:47] guidedways opened #1195 "Swift PM instructions are invalid"
The main page suggests we set 1.1.14 as the min version when setting up with Swift PM, yet no such version exists.

[2021-01-09 14:50] guidedways commented on #1195
I see this is because the `dev` branch seems to have been set as the main branch. Having said that, it's still not working if I pick `dev` as the branch to pull from. How can I test SwiftPM distribution?

[2021-01-09 17:52] kaisong1990 commented on #1195
Hi @guidedways

Thanks for your question. Yes, we haven't released the version 1.1.14 yet. We are still finalizing SPM support and will post more information in the [thread](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/737) once it is ready for testing/integrating. Let us know if you have more questions.

[2021-01-09 18:12] guidedways commented on #1195
Thank you! Desperately waiting. Sick of dealing with all other distribution methods that come with their own sets of problems.

[2021-01-11 04:13] pranayubs commented on #1187
Thanks @kaisong1990 for your reply.

I tried with access token and refresh token but always retrieved same error.

[2021-01-11 20:22] rishabsahu1996 opened #1196 "How to get authorization code using provided MSAL framework, its urgent please help!"
There are no instructions for how to get an authorization code using the library, there is only instructions for tokens.
Please help me I am stuck its urgent.

[2021-01-11 20:24] oldalton commented on #1196
Can you please clarify why you would need access to the authorization code?
MSAL doesn't provide you with a direct access to the authorization code - just the tokens (access and id tokens).

[2021-01-11 20:27] rishabsahu1996 commented on #1196
Actually, I need an authorization code for calling web service APIs.

[2021-01-11 20:28] rishabsahu1996 commented on #1196
https://login.microsoftonline.com/{tenant}/oauth2/v2.0/authorize?
client_id=6731de76-14a6-49ae-97bc-6eba6914391e
&response_type=code
&redirect_uri=http%3A%2F%2Flocalhost%2Fmyapp%2F
&response_mode=query
&scope=openid%20offline_access%20https%3A%2F%2Fgraph.microsoft.com%2Fmail.read
&state=12345
&code_challenge=YTFjNjI1OWYzMzA3MTI4ZDY2Njg5M2RkNmVjNDE5YmEyZGRhOGYyM2IzNjdmZWFhMTQ1ODg3NDcxY2Nl
&code_cha

[2021-01-11 20:28] #1196 closed

[2021-01-11 21:46] oldalton commented on #1196
@rishabsahu1996, MSAL would make this request internally, then exchange authorization code for tokens and return you the tokens. You should be using access tokens to call APIs. You can read more about access tokens here: https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens

[2021-01-12 18:04] kaisong1990 commented on #1195
@guidedways I will merge this thread to the SPM thread I posted above and feel free to reopen it if you have further question

[2021-01-12 18:05] #1195 closed

[2021-01-12 18:09] kaisong1990 commented on #1187
When putting the credentials after the new login screen prompt from above URL, will the new access token work for you?

Could you give a try with our [iOS sample app](https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc) and [Mac sample app](https://github.com/Azure-Samples/ms-identity-macOS-swift-objc) and see if the same thing happens?

[2021-01-12 23:31] hieunguyenmsft commented on #1155
We've filed a TSI ticket with Apple and waiting for their response. Will keep you posted.

[2021-01-12 23:34] hieunguyenmsft commented on #1181
Hi @maksirol @vistpp I can't repro the issue on my site. Would you please send the log when the issue happens? Thank you.

[2021-01-12 23:35] #1186 closed

[2021-01-14 01:23] tysonkerridge opened #1197 "Unable to Select Account and/or log in to a different account after having logged in before"
Hi, I'm having an issue where the "Select Account" login flow isn't working on iOS 14.2, seemingly regardless of the `promptType` applied to the `MSALInteractiveTokenParameters`. Noticed the issue using MSAL v1.0.6, and updating to v1.1.13 hasn't made a difference. I believe it worked at the end of 2020.

If I log into "Account 1", and then try to log in with "Account 2" it instead redirects to a

[2021-01-14 06:23] pranayubs commented on #1187
Hi @kaisong1990,
I tried with your iOS sample app as well but **NO** luck.

We are getting access_token and using that token we are able to get the user details from Graph API.
https://graph.microsoft.com/v1.0/me/
Result from Graph:
[code]

But when we tried to call the Azure Proxy URL/API, Its not working. It always return redirection URL instead JSON data.
Below is the request and response detai

[2021-01-14 07:03] zntfdr opened #1198 "Crash found on webAuthSession start when running on iOS 13 simulator with M1 mac"
In `MSIDASWebAuthenticationSessionHandler.m`:
<img width="902" alt="Screenshot 2021-01-14 at 12 02 52" src="https://user-images.githubusercontent.com/5277837/104547794-fceae100-5661-11eb-8023-12c08bd7ca69.png">

This can be reproduced on the MSAL iOS sample app as well.

Steps to reproduce the issue:
1. `git clone https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc.git`
2. run `po

[2021-01-15 23:31] hieunguyenmsft commented on #1198
Thank you for reporting the bug. We're trying to reproduce it and will update you.

[2021-01-15 23:45] hieunguyenmsft commented on #1197
Thank you for reporting this bug. We're following with our server team to figure out the issue and will keep you posted.

[2021-01-15 23:45] #1162 closed

[2021-01-18 12:05] jatinmishra commented on #649
Any updates on this? if mac catalyst will be supported?

[2021-01-19 11:34] pranayubs commented on #1187
Hi @kaisong1990, Any inputs on above please?

[2021-01-19 21:19] kaisong1990 commented on #1187
Hi @pranayubs

Sorry for the late reply, we are currently working with application proxy team and figuring out why the token is not working Will update with more info  in this  thread as soon as we get a response from the other team

[2021-01-20 00:52] kalyankrishna1 commented on #1187
@pranayubs why are you send the token to *https://xxxxx-xxxx.msappproxy.net/api/version/login*? you should send it to your API exposed via App Proxy, i.e. the "External Url" [Reference](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-secure-api-access)

[2021-01-20 16:35] gao-sun commented on #737
For those who are struggling on waiting the next release, you can try [the forked version](https://github.com/scdt-china/microsoft-authentication-library-for-objc) **(iOS only)** which is based on the latest `dev` branch (the last version is 1.1.13). I added `rc1` suffix so do not forget to choose `branch` for resolving. Cheers.

![image](https://user-images.githubusercontent.com/14722250/10520494

[2021-01-21 22:01] guidedways commented on #649
@oldalton I realize it's been a while and understand the limitations, however is there no news on this? Mac Catalyst has become a reality now with Big Sur and I can imagine we'll have more developers adopting it in the near future. MSAL is currently the only external library we rely on that isn't compatible.

[2021-01-22 17:05] jennyf19 commented on #1139
@hieunguyenmsft any update on this one? thx.

[2021-01-22 17:19] hieunguyenmsft commented on #1139
@jennyf19 I created a ticket to Apple in Oct 19, 2020 but haven't heard their response.
The feedback ID is:
FB8813382

[2021-01-22 19:55] kalyankrishna1 commented on #1187
@pranayubs , if you have resolved this issue, let us know. We'd then close this issue.

[2021-01-22 22:50] jasoncoolmax commented on #1197
@tysonkerridge this looks like a regression that our server team has recently fixed. Could you try again to see if the issue has been resolved? If not, could you catch the network trace (like using Charles Trace) such that we can do further investigation?
Thank you very much!

[2021-01-22 23:31] danielelkington commented on #737
1.1.14 has been released now, but it doesn't seem to fix the problem - now there's a checksum issue.
![image](https://user-images.githubusercontent.com/20923693/105559740-0eb93c00-5d66-11eb-834e-f1b5897fbdfd.png)

[2021-01-23 00:26] aherciya commented on #1156
A fix is in place for our next release(1.1.15).

[2021-01-23 00:49] ameyapat commented on #737
@danielelkington mistakenly had tagged the wrong commit in the release. Can you retry?

[2021-01-23 08:22] danielelkington commented on #737
This is working now - I think this issue can be closed.

[2021-01-25 02:15] tysonkerridge commented on #1197
Hey @jasoncoolmax, it looks like the issue is fixed, to a degree. I don't think it works as it used to, as I believe it used to show a list of logged in accounts and/or to add to the list, but it at least gives the user the option to sign in using a different account now compared to no option at all. Screenshot included below, so closing this issue. Thanks for the info and investigating! I imagine

[2021-01-25 02:15] #1197 closed

[2021-01-25 18:31] ameyapat commented on #737
Using MSAL as a swift package dependency is available in release 1.1.14. To use it as a package dependency please follow : https://github.com/AzureAD/microsoft-authentication-library-for-objc#using-swift-packages

Please let us know if there are any issues regarding this and thanks for your patience!

[2021-01-25 22:30] Kyle-Reis commented on #1177
@wenywang - This issue should be addressed with the [latest release](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) of the Intune SDK (version 14.1.0)

[2021-01-25 22:30] #1177 closed

[2021-01-26 03:12] zntfdr commented on #1198
Update: I've moved to `1.1.14`, SPM, and Xcode 12.4.

The crash still happen when running on iOS 13 simulators (no problems in iOS 14), just in a different, less helpful place:

<img width="847" alt="Screenshot 2021-01-26 at 09 48 55" src="https://user-images.githubusercontent.com/5277837/105793685-27bb2a80-5fbc-11eb-9eb0-211553af6f19.png">

The steps to get the crash are the same as before (repla

[2021-01-26 03:51] zntfdr commented on #737
@ameyapat (and the rest of the MSAL team) thank you for adding SPM support! 👏🏻

Everything works great while debugging, however archiving now fails with the following error:

[code]

The only change I did is removing the MSAL pod and add the dependency via SPM following the linked guide:
https://github.com/AzureAD/microsoft-authentication-library-for-objc#using-swift-packages

Do you have any lead

[2021-01-26 05:45] ChrisPearce commented on #737
Thanks for adding SPM support.

I can compile successfully but I'm encountering the following error when submitting the package to the App Store:
`2021-01-26T03:06:24.0949520Z [03:06:24]: WARNING ITMS-90806: "CFBundleIdentifier collision. Each bundle must have a unique bundle identifier. The bundle identifier 'com.microsoft.MSAL' is used in the bundles '[Payload/MyApp.app/Frameworks/MSAL.framework

[2021-01-26 16:35] pranayubs commented on #1187
@kalyankrishna1  https://xxxxx-xxxx.msappproxy.net/api this is the External URL only. We have mentioned Internal URL in Azure Portal and using external URL for API communication.

[2021-01-26 18:52] ameyapat commented on #737
@ChrisPearce Looks like a SPM bug where frameworks get copied under Frameworks and Plugins when building as per : https://forums.swift.org/t/swift-package-binary-framework-issue/41922/3. I guess for now the workaround is to have a script to remove the framework when building : https://forums.swift.org/t/swift-package-binary-framework-issue/41922/3

[2021-01-26 23:21] jasoncoolmax commented on #1197
Thank you @tysonkerridge for getting back. Glad that your issue has been resolved.

Regarding the screen you saw, it is expected for Microsoft Account (MSA account), where we only support one MSA being signed in at a time.
What you mentioned regarding seeing a list of signed-in accounts is only for AAD accounts, but not MSA accounts.

[2021-01-26 23:25] tysonkerridge commented on #1197
@jasoncoolmax Ahh yes, the AAD account difference makes sense, thanks!

[2021-01-27 01:03] ameyapat commented on #737
@zntfdr What do the distribution logs say when IPA processing fails? Maybe the .app has MSAL.framework embedded at multiple locations causing this issue. Could you try the same workaround as I mentioned in above comment : https://forums.swift.org/t/swift-package-binary-framework-issue/41922/3

[2021-01-27 03:24] zntfdr commented on #737
@ameyapat Thank you! Adding the script phase works! 🎉

For other people with this issue, here's the complete script phase that needs to be added:
<img width="907" alt="Screenshot 2021-01-27 at 09 52 28" src="https://user-images.githubusercontent.com/5277837/105936232-e000d580-6085-11eb-8b9a-53f77086aaf2.png">

Explanation:
1. add the following script to cleanup extra frameworks from your app plugi

[2021-01-29 06:57] cassianodialpad commented on #737
I'm facing a different issue here. It works fine running on simulator, but then I get the error below when trying to run on device. I have a workspace with a framework as an umbrella for SPM dependencies, and it works fine with all other dependencies I have. I was using MSAL with carthage before, and no issues. This happens only when adding MSAL to my SPM dependencies.

Worth noting that it looks

[2021-01-29 07:50] rahulcode opened #1204 "Failed to retrieve the Device ID claim post device got registered to Azure through Authenticator App."
**Issue**
Failed to retrieve the Device ID claim post device got registered to Azure through Authenticator App
MSALErrorDescriptionKey = "Failed to get session key from JWE.";

Microsoft Authenticator Ticket ID

![IMG_0131 3](https://user-images.githubusercontent.com/19573187/106245048-db792000-6231-11eb-8047-48ef233056e7.PNG)

Issue Description:

Sometimes using MSAL we are not able to retrieve t

[2021-01-29 15:59] guidedways commented on #737
I'm facing a different issue altogether - it does not seem to work for a macOS app. I see a `CodeSign Failed` build time error:

[code]

[2021-01-29 21:21] ameyapat commented on #737
@guidedways Your issue might be related to [this SPM issue](https://forums.swift.org/t/swiftpm-binarytarget-dependency-and-code-signing/38953). I would suggest the following : In your project's target -> Build Phases

- Add Copy Files phase with destination as Frameworks
- After that add Run script phase with `rm -rf "${CODESIGNING_FOLDER_PATH}/Contents/Frameworks/MSAL.framework"` (Similar to [thi

[2021-01-29 21:24] ameyapat commented on #737
@cassianodialpad Not totally sure but your issue might be related to this SPM bug : https://bugs.swift.org/browse/SR-13366

[2021-01-30 00:38] guidedways commented on #737
@ameyapat That worked when I tried building the project, but fails when I try running the app under the debugger with the same error. I've give up for now as this seems far more painful than simply adding a direct dependency to Xcode.

[2021-01-30 05:32] cassianodialpad commented on #737
@ameyapat Yes, probably... I was able to work around it by codesigning my internal umbrella framework and then moving MSAL to my app's `Frameworks` folder with this build post action:

`mv "${TARGET_BUILD_DIR}/${PRODUCT_NAME}.app/Frameworks/Umbrella.framework/Frameworks/MSAL.framework" "${TARGET_BUILD_DIR}/${PRODUCT_NAME}.app/Frameworks/MSAL.framework"`

[2021-02-01 10:28] mbondoso commented on #1155
Hi @hieunguyenmsft any news from Apple?

[2021-02-01 14:29] pranayubs commented on #1187
@kaisong1990, @kalyankrishna1  Any inputs on above please?

[2021-02-01 18:10] ameyapat commented on #737
Closing this issue. Will highlight some of these workaround in README. If there are any issues related to MSAL swift package dependency, please open a new issue. Thanks!

[2021-02-01 18:10] #737 closed

[2021-02-02 02:21] zntfdr commented on #1198
Update: according to [Xcode 12.5 beta release notes](https://developer.apple.com/documentation/xcode-release-notes/xcode-12_5-beta-release-notes/), this is a known bug on Apple's side:

<img width="758" alt="Screenshot 2021-02-02 at 09 20 27" src="https://user-images.githubusercontent.com/5277837/106543263-ebe21100-6537-11eb-8997-78f2a62d83df.png">

[2021-02-02 03:29] #1183 closed

[2021-02-02 09:53] yyken commented on #1197
Hi, I have the same issue on iOS 14, but it works on iOS 13

I try to log in with "Account 2"

![image](https://user-images.githubusercontent.com/2316280/106582350-dd6b1800-657e-11eb-89db-926f1f5d60ac.png)

![image](https://user-images.githubusercontent.com/2316280/106582303-cfb59280-657e-11eb-9234-be260df8e17c.png)

**it always shows "Account 1"**

![image](https://user-images.githubusercontent.c

[2021-02-02 18:29] rahulcode commented on #1204
Hi @antrix1989
Any updates on this issue ?

[2021-02-02 23:19] #1198 closed

[2021-02-03 23:21] antrix1989 commented on #1204
Thanks, @rahulcode. I will let you know once I finish the investigation.

[2021-02-04 05:07] rahulcode opened #1212 "MSAL throwing error(AADSTS70043) for token invalidation even after fetching fresh token interactively."
Issues:   MSAL giving stale token even after fresh interactive login. After fetching fresh tokens, token validation throws an error.

**MSAL 1.1.13**
Authentication is done always in Microsoft Authenticator for fetching new tokens interactively.

Setup :  ADFS + Password Setup.
Conditional Access Policy enforced with 1 hour of Session timings. 

**Bug Type:**
 The bad state of MSAL SDK sitting in

[2021-02-04 17:44] kayvanhaverbeck opened #1222 "Get Account returning NULL"
I am trying to write a method that will return the current account logged in with MSAL.

After successfully logging in, and then calling my GET Account Method - getCurrentAccountWithParameters: keeps returning null for both account and previous account.

I have my keystore set up - not sure what else could be wrong?

`RCT_REMAP_METHOD(getAccount,
                acct_resolver:(RCTPromiseResolveBlo

[2021-02-05 09:51] rahulcode commented on #1204
Hi @antrix1989 / @oldalton

New Log shared over the Email along with Charles session after reproducing the issue.
Suresh Will be sharing Details over mail.

[2021-02-05 10:43] rahulcode commented on #1204
Attaching here too :
[JWE_Error_Details_Charles_Logs_Latest_5thFeb.zip](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/5931847/JWE_Error_Details_Charles_Logs_Latest_5thFeb.zip)

[2021-02-05 23:53] kaisong1990 commented on #1187
@kalyankrishna1 Could you provide mode info here?

[2021-02-06 01:16] kalyankrishna1 commented on #1187
oh, thanks for clarifying. @pranayubs there is no such thing as a MSAL token. what you have a token that is got a resource named "MS Graph", i.e. https://graph.microsoft.com". please replace the Graph URL with your URL, "https://xxxxx-xxxx.msappproxy.net" in the code and the new Access token that MSAL gets you would work for your App proxy endpoint

[2021-02-06 01:23] kalyankrishna1 commented on #1187
@pranayubs , could you also share the code that signs-in the users and gets you a token..

[2021-02-06 09:36] githubarpyka commented on #1187
@pranayubs
If the access token is not valid, the Azure AD Application Proxy will redirect the incoming request to login.microsoftonlie.com.

We have 2 articles that describe the scenario in detail, you'd like to implement:

https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/application-proxy-configure-native-client-application
https://docs.microsoft.com/en-us/azure/active-director

[2021-02-08 23:01] saj11 opened #1232 "Multiple account"
Hi!

I see inside Android docs that MSAL support the use case of doing several logins from different accounts on the same app. So I search about iOS but I didn't find anything. Is it possible on iOS, too?

[2021-02-09 11:42] songwut opened #1235 "MSALErrorDescriptionKey=AADSTS9001011:+Device+policy+contains+unsupported+required+device+state:+domain_joined."
Could not acquire token: Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=AADSTS9001011:+Device+policy+contains+unsupported+required+device+state:+domain_joined.
Trace+ID:+721e966f-bd4a-4254-b6f4-5ba321b40900
Correlation+ID:+5a9fb17c-6384-4398-b7c3-2a7ae2a227a9
Timestamp:+2021-02-09+11:17:03Z, MSALOAuthErrorKey=invalid_request, MSALCorrelationIDKey=5A9FB17C-6384-

[2021-02-09 18:22] NerevarineRule commented on #1222
Hi @kayvanhaverbeck

Thanks for your inquiry.

I've noticed two things:
1) you need to pass in MSALAccountEnumerationParameters, rather than MSALParameters, into getCurrentAccountWithParameters API.
Please see below code snippet for an example.

2) You are trying to directly print account and prev account, but they are of MSALAccount object type, which is a wrapper class containing information abo

[2021-02-09 22:31] oldalton commented on #1232
Yes, MSAL supports multiple accounts. Here is a basic sample: https://github.com/AzureAD/microsoft-authentication-library-for-objc#acquiring-your-first-token-interactively

To summarize, you need to keep track of the account identifier and pass the correct account identifier to the acquireTokenSilent API. You can enumerate accounts that MSAL knows about by using the [allAccounts: API](https://azur

[2021-02-09 22:31] #1232 closed

[2021-02-09 23:22] oldalton commented on #1155
We're still following up with Apple, but haven't received any specific guidance yet. I think it would be great if you could also follow up on your side so that Apple could look into the specifics of your project/app. Thanks.

[2021-02-09 23:58] oldalton commented on #1181
Closing due to inactivity.

[2021-02-09 23:58] #1181 closed

[2021-02-10 00:10] oldalton commented on #1235
This means that there's a conditional access policy to require device to be domain joined. This policy is unsupported on iOS. See more here: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/require-managed-devices

[2021-02-10 00:10] #1235 closed

[2021-02-10 14:45] saj11 commented on #1232
@oldalton Thanks for answer me the question. But what I see is that I can make an acquire token interactively and then use the allAccount to see which account had already logged.

What I need to know is how can I login with more one user through acquire token interactively. I try to this flow but when I try it the second time with another account I get login but also get an error that I can't logi

[2021-02-10 14:46] songwut opened #1237 "MSAL Error code AADSTS9001011"
How to fix for this issue?
[code]

[2021-02-10 14:52] #1237 closed

[2021-02-10 14:57] songwut commented on #1237
sorry duplicate question look on this : https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1235

[2021-02-10 16:14] saj11 opened #1238 "Multiple Account - More than one interactively browser."
@oldalton Thanks for answer me the question. But what I see is that I can make an acquire token interactively and then use the allAccount to see which account had already logged.

What I need to know is how can I login with more one user through acquire token interactively. I try to this flow but when I try it the second time with another account I get login but also get an error that I can't logi

[2021-02-10 17:42] oldalton commented on #1238
`I try to this flow but when I try it the second time with another account I get login but also get an error that I can't login again.`

Could you please share the error?

[2021-02-10 17:56] saj11 commented on #1238
Sure @oldalton! The error is:

MSALErrorDomain Code=-50000
MSALErrorDescriptionKey=Only one interactive session is allowed at a time.
MSALInternalErrorCodeKey=-42402

The flow that I have on the swift app is:
1. Do the login through browser while using acquireTokenInteractively
2. For security reasons, to be able to modify some settings an admin account is needed and for some cases the first user

[2021-02-10 18:19] oldalton commented on #1238
You might be calling acquireToken API multiple times. You need to wait for the first call to finish before starting second one.

If you make sure that this is not the case, you can try calling [cancelCurrentWebAuthSession API](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplication.html#/c:objc(cs)MSALPublicClientApplication(cm)cancelCurrentWebAuthSe

[2021-02-10 22:01] saj11 commented on #1238
Thanks @oldalton! But neither the first case nor the second one works as expected.

As you suggest, I call the cancelCurrentWebAuthSession before calling acquireToken, but I get the same result. After logged the second time, the azure permission alert show up. Also, I get more information when this occur.

The additional information I get is:
- Attempting to load the view of a view controller whil

[2021-02-10 22:07] oldalton commented on #1238
It seems something on your application side. Please make sure that the controller you're passing to MSAL is not getting deallocated.

[2021-02-10 22:16] saj11 commented on #1238
Yeah! Thanks for all your help @oldalton. I will follow it with my team

[2021-02-11 01:14] NerevarineRule commented on #1212
Hello @rahulcode Could you try to remove the account from MSAL and then try to login again to see if the issue goes away afterwards? If not, could you please provide us repro steps? that will help us tremendously!

Having seen the log it is indeed returning two RTs, and our logic is always returning the first element in the array in such a case, but this logic was built with the assumption that th

[2021-02-11 13:37] guidedways commented on #737
@ameyapat We're still seeing issues trying to make this work for a mac app - the workaround does not help.

[2021-02-11 15:33] ameyapat commented on #737
@guidedways The issue seems to caused because of swift package manager bug and not related to MSAL. The workaround provided had worked with our [sample app](https://github.com/Azure-Samples/ms-identity-macOS-swift-objc) when I tried it. Can you open a separate issue providing more details about the issue that you are facing?

[2021-02-12 17:30] cappern opened #1239 "Implement MSAL for New SWIFT iOS App protocol"
I have searched high and low for any pointers/examples of how I can implement MSAL with the new SwiftUI App protocol ( https://developer.apple.com/documentation/swiftui/app) but I can't seem to find any useful information anywhere.

I am pretty new to swift/ iOS programming.. Anyone?

[2021-02-12 17:45] kaisong1990 commented on #1239
Hi @cappern

Thanks for your question, MSAL doesn't support SwiftUI without UIKit, please refer to the following issues for more details:

https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1152
https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/983

[2021-02-12 19:09] oldalton commented on #1238
Closing the issue. Feel free to re-open if needed.

[2021-02-12 19:09] #1238 closed

[2021-02-17 04:12] zntfdr commented on #1198
This is now fixed in Xcode 12.5b2:
<img width="756" alt="Screenshot 2021-02-17 at 10 56 48" src="https://user-images.githubusercontent.com/5277837/108155181-fd6b1180-7110-11eb-88f1-cae1ee44b617.png">

[2021-02-18 16:19] noxo opened #1244 "Documentation for MSALGlobalConfig.brokerAvailability // crashes"
I've noticed some random crashes on devices having Microsoft Authenticator installed, and having Single Sign-On MDM payload settings provisioned. In this case MSAL lib will use Apples Authentication Services framework.

App will crash without stacktrace right after calling _MsalApplication.acquireToken_, there seems to be "XPC connection interrupted" in console each time crash occures.

As an work

[2021-02-18 18:21] BalkiX commented on #649
does this limitation applies also on NTLM/Kerberos authentication used in Catalyst apps? I have iOS app that is able to connect to server configured with NTLM authentication and it works fine there. But in Catalyst app on macOS it's not working. Is it due to sandboxing and inaccessibility to macOS login keychain?

[2021-02-18 18:48] oldalton commented on #1244
Hi. Could you please share a stack trace for the crash you're seeing?
We don't recommend disabling brokered authentication, because broker is required to support AAD conditional access policies.

[2021-02-19 00:09] mipetriu commented on #1139
I had the chance to bring this issue up with an Apple developer technical support engineer, and they were able to test this and confirm that unfortunately there's no way to trigger a callback in this scenario or no workaround right now. We still need to hear back regarding the ticket that we previously submitted to be notified of a fix.

[2021-02-19 21:17] kaisong1990 commented on #1187
@pranayubs we are closing this issue since there is no active conversation for more than 14 days. Feel free to reopen if you have further questions

[2021-02-19 21:17] #1187 closed

[2021-02-19 21:18] kaisong1990 commented on #1239
Closing this issue for now and feel free to reopen if there were other questions :)

[2021-02-19 21:18] #1239 closed

[2021-02-19 22:42] oldalton commented on #649
I don't think access to keychain would impact, but NTLM challenge relies on OS understanding Negotiate/NTLM challenges and forwarding them to us. So I'm not sure if it would work for Catalyst. Have you checked where it is failing? Do we receive an OS challenge but don't handle it, or we don't even receive a challenge?

[2021-02-22 11:14] noxo commented on #1244
Unfortunately the is no stack trace produced for crashes, and can't get my hands on on Device Logs on those crashing devices :)

Only evidence is the "XPC connection interrupted" right after doing silent auth using MsalApplication.acquireToken(), which sort of hints something triggered by MSAL & XPC (Apples Authentication Services uses XPC?).

Started gettings reports once MS Authenticator v6.5.15

[2021-02-23 10:41] deepiksdev commented on #649
In case it helps someone, we managed to support MSAL in our Catalyst app by simply removing ` && !TARGET_OS_MACCATALYST` from line 29 in file `MSIDBrokerConstants.m` in pod `MSAL`.

Not sure wether or not this could fix the current issue, and how this could be properly implemented in the original code

[2021-02-23 16:23] azriel46d opened #1249 "Nativescript Wrapper for MSAL (application did not receive response from broker)"
Hi I am working on a wrapper for the iOS (and android) SDK for the MSAL.
Now when Im working using the simulator, I have no issue. The app opens up, login is performed via the webview and the session works well.
However, when using a device which has the **Authenticator** app, I am having trouble.
The app navigates correctly to the Authenticator app, however on approval and returning back to the a

[2021-02-23 17:15] kaisong1990 commented on #1249
Hi @azriel46d

Thanks for your logs, looks like your application did not handle the response from broker correctly. Could you check the following link and add the handler in appDelegate or SceneDelegate whichever you have when broker navigate back to your application?

https://github.com/AzureAD/microsoft-authentication-library-for-objc#ios-only-steps

```3. To handle a callback, add the following

[2021-02-24 02:01] #1222 closed

[2021-02-24 05:38] neerajhr19 commented on #1143
Hello @ShilpaGavade ,
Any update on the login issue that you were facing?
In case it is solved, and you can login to your managed app, could you please share the steps taken or the changes made in the policy?
We are facing the same issue and as we are on a strict deadline, any help would be appreciated!

[2021-02-24 06:03] rahulcode commented on #1146
w.r.t https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1146#issuecomment-724091095
The
Please re-open this issue.

JSON error is tracked separately and this issue was specifically for the SSO extension flag: **browser_sso_interaction_enabled**

[2021-02-24 07:53] azriel46d commented on #1249
Hi @kaisong1990 , yep I have the appDelegate setup. And in fact if the Authenticator app is not installed , I can see the delegate part being accessed properly.
However utilising when the Authenticator App is installed and login is performed with it , the Authenticator app loads, but on return the appDelegate seems to be skipped for some reason.

[2021-02-24 08:50] rahulcode commented on #1156
Is this handled with the latest 1.1.15 release?

[2021-02-24 08:52] rahulcode commented on #1204
Any updates on this issue ( Failed to get session key from JWE.)

[2021-02-24 17:35] kaisong1990 commented on #1249
@azriel46d Sounds like there is an Apple API that is not triggered when moving your app to foreground. Could you check if the url scheme is registered correctly in the info.plist?

[How to add URL Scheme](https://github.com/AzureAD/microsoft-authentication-library-for-objc#ios-only-steps)

and follow Step 1

[2021-02-24 18:43] azriel46d commented on #1249
As far as i can see these are also setup correctly
[code]

[code]

[2021-02-24 19:06] oldalton commented on #1204
@rahulcode - we're hoping that the upcoming Authenticator release will fix the issue (should be available in the App Store in 1-2 weeks from now, min version 6.5.33).

[2021-02-24 19:13] oldalton commented on #1156
Unfortunately we found some additional edge cases, so latest release doesn't yet fully address this. We'll keep looking into other possible workarounds for this case.

[2021-02-24 23:52] kaisong1990 commented on #1249
@azriel46d The setting looks good

For further steps:

1. Update to use latest MSAL (1.1.15)
2. Follow [Apple doc](https://developer.apple.com/documentation/uikit/uiapplicationdelegate/1623112-application) to make sure the conditions were met before triggering this method
3. If above doesn't help, please file a ticket to Nativescript team for more helps as this is a application delegate which is n

[2021-02-25 01:56] brandwe commented on #1249
It'd be great if our SDK can work with , so let us know if anything needed to be changed so we can help others in the future @azriel46d

[2021-02-25 02:21] brandwe commented on #1143
The original issue was that when an admin blocks Safari as policy and only allows for the Intune Managed Browser (Edge), authentication fails if the app uses MSAL. This is because MSAL uses the System Browser by default and that System Browser is Safari in iOS. We should definitely investigate this internally because blocking all MSAL apps is an unintended consequence we may not be communicating t

[2021-02-25 02:39] brandwe opened #1252 "MSAL should gracefully fall back to another browser or embedded if MDM policy restricts Safari"
This is a tracking item for issue #1143.

[2021-02-25 03:15] brandwe commented on #1143
Hey @neerajhr19 and @ShilpaGavade can you tell us exactly what you are seeing that appears broken?

From discussing this with the engineers, you should be able to use System Browser within MSAL even if a policy is applied that blocks Safari on the device. We will allow it at the Azure AD service itself.

[2021-02-25 04:32] neerajhr19 commented on #1143
Hey @brandwe,
I am using a personally owned device enrolled with intune using company portal.
My application is using MSAL libraries and it is wrapped using iOS intune wrapper to make this MAM enabled. While authentication, MSAL opens Safari browser for login but the admin only allows the authentication in Edge(Managed Browser),  So authentication fails in Safari. I need MSAL to open Edge by defau

[2021-02-25 23:00] oldalton commented on #1143
@neerajhr19, thanks for the clarification. Could you please share a screenshot of the error you're seeing in Safari when authentication fails?

[2021-02-26 00:47] oldalton commented on #1252
Marking as enhancement.

[2021-02-26 04:34] neerajhr19 commented on #1143
Hi @oldalton,
I am getting the below error on safari while authentication.

![IMG-20210226-WA0000](https://user-images.githubusercontent.com/39955559/109255362-d5b73000-7819-11eb-931e-12f8831bff83.jpg)

[2021-02-26 15:44] rahulcode commented on #1212
After Remove the account the workflows are fine.

As reaching into this state can be a buggy situation for end-users.
What are the next plans to handle such cases?
Are we keeping some sanity check to handle the logic wrt to More than one RT and use the latest one?

Thanks

[2021-02-26 16:39] azriel46d commented on #1249
Update
- Updated the podfile to 1.1.15
-  All looks fine with regards to point two as it follows more established plugins:
 Delegation class creation
`https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/src/firebase.ios.ts#L482`
and function for the opening the URL
`https://github.com/EddyVerbruggen/nativescript-plugin-firebase/blob/master/src/firebase.ios.ts#L309`

So far n

[2021-02-26 17:08] NerevarineRule commented on #1212
There could be scenarios where the latest RT might not necessarily be the right RT. So I am adding additional logging in the token retrieval logic to better understand where the difference comes from. It would be best to clearly understand the root cause prior to applying the fix.
Thank you again for bringing up this issue.

[2021-02-26 17:52] oldalton commented on #1143
Thanks for sharing. This just means that your device needs to be enrolled into MDM.
Can you double check a few more things?
1. Make sure your device is Intune-managed. Open Intune Company Portal app to double check.
2. Make sure that you have a device identity certificate on your device (On your iPhone, open Settings -> General -> Device Management -> Mobile device management -> More details -> Un

[2021-03-01 23:48] kaisong1990 commented on #1249
Is there any sample project we can take a look?

[2021-03-02 09:40] azriel46d commented on #1249
@kaisong1990 We've published to git the source code of the plugin [here](https://github.com/medirectbank/ns-workspace) . It utilises the nativescript plugin workspace. What you have there are three parts:
1. A `demo` app folder with two demo apps (so far the Vanilla JS version is done, not the angular one)
2. The `packages` folder . Here you will find the core logic in exposing the native MSAL SDK

[2021-03-02 21:32] ekscrypto commented on #848
We have partially fixed this issue in one of our project by using a custom WKWebView, this allows us to control when the view is dismissed.  There is some magic needed to detect when the user is prompted to saving his password, which due to code copyright issues I cannot share here.

I believe using a custom WKWebView is the way to solve this issue.

[2021-03-02 21:34] ekscrypto commented on #584
Following +1

[2021-03-02 21:38] ekscrypto opened #1257 "Callback for external domain requests"
Our B2C authentication page has a "Help" button which user can click on to be redirected to our support page, hosted on a different domain, in case they are unable to sign-in or register.  I believe that due to the navigationDelegate rules configured by the MSAL library we are unable to navigate outside of the B2C authentication domain, causing user interactions with the help button to be ignored.

[2021-03-02 23:28] mipetriu commented on #1257
What version of MSAL are you using? As far as I know, the newest version of MSAL should be able to handle links that open in an external tab. Also, is an HTTP or HTTPS link? Only HTTPS links should work.

[2021-03-02 23:30] mipetriu commented on #584
@ekscrypto, do you mind letting us know what scenario you're looking to achieve with touchID/faceID?

[2021-03-02 23:35] mipetriu commented on #1155
Marking as external to prevent this issue from becoming stale while we wait for a response from Apple.

[2021-03-03 05:47] kaisong1990 commented on #1249
Thanks for sharing, we will take a look

[2021-03-03 21:30] mipetriu commented on #848
I had the opportunity to bring up this issue for ASWebAuthenticationSession in a different Apple support channel than our pending bug report, and they unfortunately confirmed that this is a bug that needs to be addressed by their Authentication team.

I wanted to mention that we don't recommend using a WKWebView with custom manipulation, and while it may work to enable using TouchID to sign in, Fa

[2021-03-04 12:54] maksirol opened #1260 "MSAL fails to retrieve token silently"
Hello,

From time to time i keep notice that MSAL fails to retrieve token silently. I couldn't reproduce it locally, but i have those logs.

`TID=5346383 MSAL 1.1.12 iOS 14.4 [2021-03-03 21:34:45 - 462F998E-17A3-4C60-9B62-1E2082E28AEB] Processing an AAD error with error code -51412, error invalid_grant, suberror (null), description Masked`

`TID=5346383 MSAL 1.1.12 iOS 14.4 [2021-03-03 21:34:45 -

[2021-03-04 18:30] guidedways opened #1261 "AADSTS500011: How do we fix this?"
Some of our users are seeing the following error when trying to login. Other apps they've tried it with don't exhibit the same behavior. What do we need to do to make this work?

[code]

[2021-03-04 18:56] kaisong1990 commented on #1260
@maksirol Thanks for your question. We are not able to find the logs based on the timestamp and correlationId provided above.

invalid_grant error is very generic and could be caused by different issues.

Could you provide another set of correlationIds and more context/logs so that we can have a better understanding of the behavior?

[2021-03-04 19:57] kaisong1990 commented on #1261
@guidedways Thanks for your question, we are able to find some logs. Looks like the user is trying to access certain resource/application that isn't installed in your tenant. You might need to check with the administrator and see how to setup this resource and application into the tenant

[2021-03-05 08:14] thomas-topway-it opened #1263 "error "cannot find 'MSALPublicClientApplication' in scope""
Hello, when building on ios (11) in a flutter app I get the following error

"cannot find 'MSALPublicClientApplication' in scope"

do you have any idea how to solve it ?
Thanks
(Thomas)

[2021-03-05 10:20] maksirol commented on #1260
For refresh token i'm using this function
`- (void)acquireTokenSilentWithParameters:(nonnull MSALSilentTokenParameters *)parameters
                         completionBlock:(nonnull MSALCompletionBlock)completionBlock;`

 From MSALPublicClientApplication

It happens just after app launch.
I receive session start event at 19:25:14, and then app is trying to refresh token immediately.

And here are

[2021-03-05 17:55] ekscrypto opened #1264 "Automatically remove trailing spaces on iOS provided email addresses"
Using MSAL to interactively authenticate, when the user focuses the email input field iOS automatically suggests email addresses the user has configured on his profile, tapping one of those emails inserts it into the input field with a trailing space.

If the user hit "Next" without removing this space, authentication will fail.

MSAL should be updated to automatically strip the trailing space in

[2021-03-05 17:59] ekscrypto commented on #1257
We seem to be using version 1.1.15, the link is https.  FYI I'm using a customWebView to present MSAL.  Is there a delegate or callback that has to be setup?

[2021-03-05 18:51] kaisong1990 commented on #1264
@ekscrypto Thanks for your question, will verify this and report to our UX team. If nothing we can do from outside, will inform Apple for the issue

[2021-03-05 19:24] kaisong1990 commented on #1260
@maksirol Also tried with ```13403D4F-BB9D-4E2B-85E1-55F77B2FC927```, but nothing pop up.

```Creating Error with description: Only one interactive session is allowed at a time.```

User didn't cancel the current authentication session correctly and try to start a new one, which is not allowed in our lib. Please make sure the logic is correct there

```Creating Error with description: parentViewCo

[2021-03-05 19:36] thomas-topway-it commented on #1263
*** the solution is to import MSAL on top of the file, it was just missing from the documentation of the flutter library

[code]

[2021-03-05 19:36] #1263 closed

[2021-03-05 19:39] kaisong1990 commented on #1263
@thomas-topway-it Thanks for your question, this seems to be an issue where the MSAL lib is not imported into the project correctly by using Fluter.

Please refer to [this article](https://flutter.dev/docs/get-started/flutter-for/ios-devs)about Fluter for iOS developers

and create an issue to Fluter team [here](https://github.com/flutter/flutter) if the above doesn't help

Feel free to let us kno

[2021-03-05 19:40] kaisong1990 commented on #1249
We have informed our JS team to look and keep you posted once get anything back

[2021-03-05 19:41] thomas-topway-it commented on #1263
Hello Dave, yes, I wanted to close today
the thread with this note as well.  (I did it now)
Thanks for your comment. I have another issue,
error
"The operation couldn't be completed. (MSALErrorDomain error ~50000.)"
"currentAccount is null" (on signing-in)

I will open another thread, I'm still not sure from what is caused
on android it works fine
(Thomas)

 
 

Sent: Friday, March 05, 2021 at 9:5

[2021-03-05 19:45] thomas-topway-it commented on #1263
@kaisong1990
thanks for the comment, actually the flutter library at this address
https://pub.dev/packages/msal_mobile
has at least two missing details.

Now I'm experiencing the error
```The operation couldn't be completed. (MSALErrorDomain error ~50000.)```
"currentAccount is null" (on signing-in)

while on android it works fine

[2021-03-05 19:54] kaisong1990 commented on #1264
@ekscrypto Could you also provide which OS version and MSALWebviewType you were using?

[2021-03-05 19:54] thomas-topway-it opened #1266 "Error "The operation couldn't be completed. (MSALErrorDomain error ~50000.)""
Hello, I get the following error on sign-in

```The operation couldn't be completed. (MSALErrorDomain error ~50000.) ```

just on ios (and using this library https://pub.dev/packages/msal_mobile )
while android works fine. Any idea how to solve that ? (I have followed all the steps related to the ios set-up) but I'm not sure where the error lies.
thanks
(Thomas)

[2021-03-05 20:08] kaisong1990 commented on #1266
Thanks for your question.

There could be multiple causes for this. However without more logs, we cannot tell the root cause.

**Please note:** the library you provided is not officially published by us and please reach out to the original owner for further questions

[2021-03-06 02:05] thomas-topway-it commented on #1266
@kaisong1990
I have no extra log currently. I could try to retrieve more information but I would need to know more about the multiple causes mentioned by you.

Regarding the external label, I have opened the issue in the original library as well
https://github.com/gbwisx/msal_mobile/issues/14
however it's not seem to be frequently maintained
(Thomas)

[2021-03-08 11:21] maksirol commented on #1260
i've managed to solve  `Only one interactive session is allowed at a time.` and  `parentViewController has no window!` errors, thank you :)

But `Processing an AAD error with error code -51412, error invalid_grant` remains a mystery... :(

[2021-03-08 17:54] kaisong1990 commented on #1260
@maksirol what type of the account it is? Is it common AAD users?

[2021-03-09 10:10] maksirol commented on #1260
We're using ADB2C accounts.

[2021-03-09 11:29] rennarda opened #1270 "Error - unable to log the user out of MSAL, credentials persisted after logout call"
I am experiencing an issue where I am not able to sign the user out properly from MSAL. After calling the sign-out api, the next time the app attempts to authenticate it is still picking up cached credentials, and signing straight back into that account.

The only UI I see is the prompt screen "Are you trying to sign into [app name]?" with the user's account username already populated.

Here's the

[2021-03-09 11:54] rennarda commented on #1270
If I add `signoutParams.signoutFromBrowser = true` to the signout params, then MSAL prompts to open a new modal UX which allows me to pick an account to sign out of.

This isn't the UX that we want though - it's very confusing to the user to be prompted to 'sign in' when they are really signing out, and this occurs before the user has interacted in any way after starting the logout process.

What

[2021-03-09 12:55] ekscrypto commented on #1264
iPadOS 14.4, MSALWebviewType.wkWebView with a customWebview configured.

In some previous life we handled it either in code in the app or in JavaScript with a onSubmit cleanup

[2021-03-09 13:06] ekscrypto commented on #584
@mipetriu Our users are issued 24hr refresh token with a sliding window of 14 days but in many cases they may study Monday-Friday; so if their session isn't used over the weekend on Monday they end up having to re-authenticate again.

What we are hoping to achieve, is on a successful interactive login, have the app asking them if they want their credentials remembered and enable TouchId/FaceID. Pr

[2021-03-09 17:53] kaisong1990 commented on #1270
Hi @rennarda Thanks for your question. Your sign out implementation looks good.

It could be some issues while trying to sign user back in.

Could you try to set the ```promptType``` to ```.login``` on ```MSALInteractiveTokenParameters```?

Also please try our sample apps for [iOS](https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc) and [Mac](https://github.com/Azure-Samples/ms-i

[2021-03-10 12:11] rennarda commented on #1270
Thanks for the reply.

It looks like this is a UX misunderstanding on my part. My assumption was that making the call to `signout` actually signed you out, but it seems as though that doesn't actually happen until after the user has selected an account to sign out of. I have made some UX tweaks to our logout flow and it's much more logical now.

Perhaps some clear documentation on this flow would

[2021-03-10 12:11] #1270 closed

[2021-03-10 12:33] rennarda opened #1271 "Signout always returns 'true' even if user cancels"
Continuing my signout adventures from #1270, it seems as though when the user cancels the signout process the `signout(with:signoutParams)` callback always receives `true` and no error.

My signout code looks like this:

[code]

When this method is called the user is first prompted with an alert that the app wants to open a website to authenticate, and then if they continue, a modal sheet showing

[2021-03-10 12:34] rennarda commented on #1270
I have raised another issue #1271 following on from this, when the user cancels the signout process.

[2021-03-10 14:04] rennarda commented on #1271
I don't seem to be able to obtain any information from the `MSALAccount` object that would tell me if the user is still signed in

[2021-03-10 23:46] kaisong1990 commented on #1264
@ekscrypto We have chatted with the UX team and they do provided the logic to remove the trailing space, would you able to provide any video and/or network trace to make sure the error is caused by the trailing space?

[2021-03-11 00:00] kaisong1990 commented on #1271
@rennarda We have confirmed this issue and currently it is expected. The cause is that server side does not return any callback/response whenever user signs out successfully or failed through browser. So client will not know when the logout happens or if it is finished or not. All we can rely on is when user click the cancel button. High level flow is as below:

`signout -> remove account in cache

[2021-03-11 00:02] kaisong1990 commented on #1260
@maksirol We have forwarded the correlationId to B2C teams and keep you posted if they found anything

[2021-03-11 00:51] ekscrypto commented on #1264
Is there a private address at which a video recording can be provided?  I would rather not share it publicly due to branding.

[2021-03-11 05:37] kaisong1990 commented on #1264
@ekscrypto Sure my email address is kasong@microsoft.com, feel free to drop an email

[2021-03-11 08:43] rennarda commented on #1271
How do you advise that we handle this situation? Is there an additional property we can query?

We have post signout clean up that we perform that we shouldn't do if the user has cancelled signout (removing some cached data, etc). We need to be able to tell if the user has actually completed the signout procedure or not.

Also as mentioned in #1270 it seems that until the user manually completes t

[2021-03-11 16:06] ekscrypto commented on #1264
Not sure what happened or if our B2C User identity team changed scripts on their side, but the issue is no longer reproducible. Closing.

[2021-03-11 16:06] #1264 closed

[2021-03-11 16:07] ekscrypto commented on #1257
FYI, while we are using a custom WKWebView, we are not overriding the navigationDelegate and webviewConfiguration set by MSAL.

[2021-03-11 16:39] mthielemann commented on #737
I see the exact same issue. Could make it work by doing this in a Run Script build phase:
[code]

[2021-03-11 19:01] kaisong1990 commented on #1271
1. When user click sign out, account is always removed from local cache, and if there is any error happened in this stage, the callback should catch
2. You can verify by calling ```allAccounts```, ```accountForIdentifier``` or other get account methods provided by ```MSALPublicClientApplication``` to confirm deletion
3. When we remove account locally, the access token, refresh token and id token w

[2021-03-12 08:46] rennarda commented on #1271
Thanks - that's not quite what I was asking. I need to know if the user has cancelled signout, because I need to not remove app caches and not pop them out to our app's home screen if they cancelled.

I was wondering how I can detect the user has chosen to cancel the signout, if the actual signout method always returns `true`

[2021-03-12 17:17] kaisong1990 commented on #1271
Understood, and unfortunately there is no way to tell at the moment without server makes the fix. Reason has been explained:

`As you can see, removing account always happened first and call back will always return true even if user cancels the session intentionally in your case as we can't distinguish the logout state (cancelled by user before logging out or after logging out).`

As a workaround,

[2021-03-12 17:55] mipetriu commented on #1257
@ekscrypto I double-checked the code, and HTTPS links should work. Maybe you could debug the situation by placing a breakpoint in MSIDOAuth2EmbeddedWebviewController.m, in the `decidePolicyForNavigationAction:` method at line 358 to make sure that delegate gets triggered?

If it's triggered, you should be able to see why the link is not opening.

[2021-03-12 19:13] bjoshua89 commented on #1266
@kaisong1990 I am also experiencing the same error. Below are the error codes.

- Error Domain=MSALErrorDomain Code=-50002 "(null)" UserInfo={MSALErrorDescriptionKey=User interaction is required, MSALOAuthErrorKey=invalid_request
- MSALErrorDescriptionKey=AADB2C90288: UserJourney with id 'ResourceOwnerPasswordCredentials-RedeemRefreshToken' referenced in TechnicalProfile 'JwtIssuer' for refresh to

[2021-03-12 23:22] #1261 closed

[2021-03-15 15:09] maksirol opened #1272 "Facebook login returns "The server has redirected to a non-https url" error"
We noticed recently that MSAL login return error, but only for facebook provider.

`Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=The server has redirected to a non-https url., MSALInternalErrorCodeKey=-42602, MSALCorrelationIDKey=0446F02D-D0A2-4DEE-B297-29D63E3DA986}`

Everything works fine, if we will use 'MSALWebviewType.default' in configuration, but it re

[2021-03-15 20:13] thomas-topway-it commented on #1266
(*** attention, I will quote some commands in the external library, but I think they can be explanatory for msal as well)
It seems that using the following command to login
[code]
it does not work on ios (but it works on android). While using the following:

[code]
it works
(but I get the error
```You can't sign in here with a personal account. Use your work or school account instead.```

But the

[2021-03-16 13:27] emilmarkose commented on #1204
Getting the same error message "**Failed to get session key from JWE.**"

iPhone SE 2020 (14.4)
Authenticator version 6.5.38 (latest available in the AppStore)
MSAL SDK version 1.1.15

Can someone provide any insights?

[2021-03-16 21:48] NerevarineRule commented on #1212
Next MSAL release will have more robust logging in the code area that resulted in this issue.
Could you help to update your MSAL to the next release, once it becomes available, and then try to reproduce this issue & provide the log again?

Thanks,
Peter

[2021-03-16 21:49] NerevarineRule commented on #1212
I will close this issue until then, since the root cause cannot be identified before the actions I have suggested above is taken.

[2021-03-16 21:51] #1212 closed

[2021-03-16 22:33] jasoncoolmax commented on #1272
Hi @maksirol , could you please collect the network trace to see what network request is causing that error? That will help us to further provide the suggestion here. Thank you!

[2021-03-16 22:44] jasoncoolmax commented on #1266
@thomas-topway-it I noticed that the library you are using hasn't been updated since 2019. So you are using a very old MSAL version.
Could you use the latest MSAL to login? MSAL itself supports B2C natively. And you can see the sample app and guidance [here](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal).

[2021-03-17 02:09] oldalton commented on #1204
@emilmarkose, can you share an incident ID for the Authenticator app? Thanks.

[2021-03-17 04:09] emilmarkose commented on #1204
@oldalton This issue happened for one of our end user. He is unable to login to our app because of this issue. The user haven't raised an incident for this.

Thanks

[2021-03-17 08:50] maksirol commented on #1272
Hi @jasoncoolmax
I've tracked down that embedded webView calls WKNavigationDelegate function
`(void)webView:(WKWebView *)webView decidePolicyForNavigationAction:(WKNavigationAction *)navigationAction decisionHandler:(void (^)(WKNavigationActionPolicy))decisionHandler`
From MSIDOAuth2EmbeddedWebviewController and request url is
`about:srcdoc`

I've tried to intercept this call and add additional ru

[2021-03-17 09:09] thomas-topway-it commented on #1266
@jasoncoolmax
thanks, it seems quite straightforward.
The only issue is that in our case it has to  be integrated in a flutter app,
so I have to check how it can be done.
Would be worth to publish an updated msal flutter library, given that the current library does not appear to be actively maintained ?
(Thomas)

[2021-03-18 08:29] thomas-topway-it opened #1275 "retrieving token with multiple scopes (including delegated permission) not working"
Hello I'm trying to retrieve a token using delegated permission, like this
[code]
and it works, but when I use the following

[code]

it does not work. I have also tried the following

[code]

assigning all the related scopes to the "authorized client application"
but it does not work either.

I have found the following ticket

https://github.com/AzureAD/microsoft-authentication-library-for-objc/i

[2021-03-18 08:32] thomas-topway-it commented on #1266
I think this issue can be closed because the following works

[code]

but another issue arises for which I have opened the following ticket

https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1275

[2021-03-18 08:32] #1266 closed

[2021-03-18 16:23] mayuri-03 opened #1276 "Problem with Authenticator app when switching app to non-broker to broker flow - iOS"
My App was initially published to App Store with non-brokered flow. In next app update I have updated app to brokered flow. In my plist file when my app was in non broker flow I have added URL types with msauth.{bundle ID 1}. Please note {bundle ID 1} is not same ID as per my app's bundle ID.

In my app update, because we have added support for brokered flow I have updated URL Types with msauth.{A

[2021-03-18 18:50] thomas-topway-it commented on #1266
@jasoncoolmax I have updated the msal version to the latest but the issue described in this thread, as well that here https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1275 is still there, do you have any hint why the code included https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1275  does not work ?

[2021-03-19 17:15] kaisong1990 commented on #1276
@mayuri-03 Thanks for you question.

Could you share if there is any error in the log when trying to using Authenticator.

[Here](https://github.com/AzureAD/microsoft-authentication-library-for-objc#ios-only-steps) is the guidance on how to set up in plist

Also I would recommend to take a look at our [iOS Sample app](ms-identity-mobile-apple-swift-objc/) and check if redirectUri/bundleId is set c

[2021-03-19 21:47] hieunguyenmsft commented on #1272
@maksirol I think your change should be fine, as my understanding `about:blank` and `about:srcdoc` both are special URLs for iFrame.
https://chromium.googlesource.com/chromium/src.git/+/master/docs/special_case_urls.md
I will add update our lib to handle `about:srcdoc`

[2021-03-22 05:16] mayuri-03 commented on #1276
Thanks for the reply. I don't have any error log for this. The deep linking code for Authenticator app is as per given link. Somehow below pop up is not coming to open any third party application from MSAL sdk when we switch app from non-brokered flow to brokered.
 "<Application name> wants to open "Authenticator""

[2021-03-23 21:46] hieunguyenmsft commented on #1276
@mayuri-03 It's hard to further investigate the issue without any information from log. Would you any chance collect the log and send to us?

[2021-03-23 21:47] hieunguyenmsft commented on #1155
Remove stale tag, still waiting for a response from Apple.

[2021-03-23 22:00] hieunguyenmsft commented on #1275
@thomas-topway-it: do you have the same error as in #865? In case you have a different error, could you please share its detail?
Thank you.

[2021-03-23 22:45] hieunguyenmsft commented on #1204
@emilmarkose: the customer can follow this link to easily create an IncidentID: [link](https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Instructions-on-Collecting-Microsoft-Authenticator-Logs). After that we can further investigate.

[2021-03-24 05:26] emilmarkose commented on #1204
Thanks @hieunguyenmsft. I will ask the customer to do this. For now we fixed the issue with the following configuration.

[code]

This configuration will avoid broker (authenticator app) and goes to the browser for authentication.

@hieunguyenmsft or @oldalton Does this configuration have any indirect implications?

[2021-03-24 18:53] rahulcode commented on #1156
Thanks, @oldalton for the update.
Is there any update on this issue ?
Thanks

[2021-03-25 07:01] mayuri-03 commented on #1276
This issue was raised by one of our user on App Store app build. Information logs are not possible to fetch from their device.

Thank you for your time for investing this issue.  You can close this issue, if we can't proceed without logs.

[2021-03-25 16:25] hieunguyenmsft commented on #1276
Sure, I will close it for now. If you have any additional information, feel free to open it and tag me.
Thank you.

[2021-03-25 16:25] #1276 closed

[2021-03-25 23:18] thomas-topway-it commented on #1275
@hieunguyenmsft
the problem is that the following
 https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/865#issuecomment-596735882
is not applicable to my azure account.

I will send you the log as soon as possible, currently
I have been able to use the form
[code]
both on ios and android, but indeed I need to retrieve the log and to ensure the http request is precisely the

[2021-03-25 23:57] hieunguyenmsft commented on #1275
Supporting for a new language is great as it can bring MSAL to more people, but in another hand our resource is limited, and we don't have experience with Flutter. I will forward the ask to my manager to see what we can do with it.
Back to your issue, testing these scopes with native obj-c MSAL should be fine, so as you said, there would be a chance problem is in the flutter library.
If you have t

[2021-03-26 15:05] zzdravkin opened #1279 "Is SSO supported on iOS 13/14 with WkWebView or SFSafariViewController?"
Hi,
App. open and successfully sign in with MSAL.
After opening wkwebview or instance of SFSafariViewController is asking again for sign-in.

I've tried with all webviewType, as .default, .authenticationSession and custom wkWebView.

[2021-03-26 22:11] tjprescott opened #1280 "Breaking Change in MSAL 1.1.16"
After releasing MSAL 1.1.16, our CI began failing due to `expiresOn` changing from non-optional to optional. We have pinned our MSAL version to avoid these surprises in the future, but it would be good to conform with semver so that customers can rely on the versioning scheme not breaking their project.

[2021-03-29 21:01] kaisong1990 commented on #1280
@tjprescott Thanks for the feedback. We will discuss as a team this week and post updates here

[2021-03-29 22:06] pzelenak opened #1281 "Getting Keychain -34018 error (failed to set item into keychain)"
Hi there,

We are trying to add MSAL support into our **macOS** application. According to the documentation (https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-v2-keychain-objc?tabs=objc) it should be possible
to configure MSAL not to use Keychain Sharing (see "Disable Keychain Sharing") by specifying
`config.cacheConfig.keychainSharingGroup = [[NSBundle mainBundle] bundleIdenti

[2021-03-30 22:30] antrix1989 commented on #1275
Please reopen once you get logs.

[2021-03-30 23:32] antrix1989 commented on #1279
Closing as a [duplicate](https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/issues/50).

[2021-03-30 23:32] #1279 closed

[2021-03-31 05:51] #1244 closed

[2021-03-31 05:51] #1143 closed

[2021-03-31 19:48] antrix1989 commented on #1281
Hi @pzelenak, which MacOS version are you using?

[2021-04-01 00:59] oldalton commented on #1156
@rahulcode  - could you try with the build number 6.5.51 and see if the issue is resolved? It should be currently in the App Store.

[2021-04-01 01:19] ekscrypto commented on #1257
I put a breakpoint as well as a NSLog entry in that function and neither got triggered -- is it at all possible that when using a customWebView that this code is not the one deciding on the policy?

[code]

[2021-04-01 04:29] pzelenak commented on #1281
Hi @antrix1989
macOS Catalina (version 10.15.6)
Thanks

[2021-04-01 11:39] rahulcode commented on #1156
Thanks @oldalton for the update.

1 Query before starting validation :

Which Version of the MSAL library should be taken along with the latest Microsoft Authenticator Application (6.5.51)?
Will the fix be backward compatible i.e. Will it work with prior MSAL release versions, Or do we need to take in the latest version of MSAL + 6.5.51 Authenticator?

Thanks

[2021-04-01 12:58] rahulcode opened #1282 "Crashes seen MSAL Library"
**Issue:**
Crashes in MSAL library

**Nature:**
Intermittent

Happens in the host application after opening the application.(fore4ground)

**Symbolicated Stack traces collected:**
Symbolicated crashes show the following threads to be the reason for Crash.
Both look the same.

**Stack trace 1**

**Stack trace 2**
`

Not able to fetch any other debugging-related information.
Please can we look into

[2021-04-01 20:14] antrix1989 commented on #1282
hi @rahulcode, could you please provide more details:
- steps to reproduce
- OS name and version
- xcode version

Does this happen when you run unit tests or when you run app extension?

[2021-04-01 20:25] antrix1989 commented on #1156
Thanks @rahulcode , we will take a look.

[2021-04-01 20:37] antrix1989 commented on #1281
Thanks @pzelenak, please use [xcode 11](https://developer.apple.com/documentation/xcode-release-notes/xcode-11-release-notes) or 12. Keychain groups on MacOS aren't available in xcode 10.

[2021-04-01 20:40] #1271 closed

[2021-04-02 05:34] rahulcode commented on #1282
Hi @antrix1989

**Steps to Reproduce**
As such there are no specific steps to reproduce.
It happened in our Application where we have functionality wherein Authentication happens silently whenever we launch and some other conditions. Normally it works absolutely fine, but in some cases after launching our application sometimes it crashes randomly with this stack trace.

**Test scenario::**
The app

[2021-04-02 10:36] pzelenak commented on #1281
Hey,

@antrix1989 - Sorry, I am not following. Would you be able to expand with additional info, please?
Keychain sharing is available in XCode 10.

**Docs says the following:**
If you don't want to share SSO state between multiple apps, or use any keychain access group, disable keychain sharing by passing the application bundle ID as your keychainGroup...

I was understanding this as enabling Key

[2021-04-05 22:57] mipetriu commented on #1257
@ekscrypto, we took another look at the code, and it seems that as long as the `loadView` function is being called, we should be setting the navigation delegate, no matter if it is a custom webview or not. Could you try to place a breakpoint in that method to make sure the navigation delegation is being set?

Another test to see what's happening could be to use our sample app with and without your

[2021-04-06 12:15] joeypatino opened #1284 "Brokered SSO with WKWebView and Intune"
Hi,

I’m attempting to configure an app with MSAL and Intune. After signing in using the Authenticator app I am redirected back to my app. I then attempt to show my secure website in a `WKWebView` but am asked to login again.

I’ve read this issue (https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1279) which is similar but doesn’t seem to provide an answer on how to reso

[2021-04-06 19:37] ekscrypto commented on #1257
I will attempt to take a deeper look at this again this week.  In my last attempts none of my breakpoints were getting hit in the MSAL framework even the obvious ones that should have.  Thanks for double checking; I will let you know once I've had a chance to give this a go again

[2021-04-06 22:28] NerevarineRule commented on #1146
Could you retry with the latest Authenticator build? Thanks.

[2021-04-06 23:21] antrix1989 commented on #1281
@pzelenak The [API that enables keychain groups on MacOS](https://developer.apple.com/documentation/security/ksecusedataprotectionkeychain?language=objc) is available in  macOS SDK 10.15+. XCode 10 doesn't contain this SDK. It was added to the [Xcode 11](https://developer.apple.com/documentation/xcode-release-notes/xcode-11-release-notes).

[2021-04-07 02:19] pzelenak commented on #1281
@antrix1989 - As far as I can tell the API mentioned enables treating of macOS keychain items as iOS keychain items. The general support for Keychain access groups has existed for a long time and doesn't require XCode 11 or macOS SDK 10.15.

[In Setup info](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-differences-ios-macos)
we have
macOS
When you set up your project on macO

[2021-04-12 22:43] mattvlas commented on #992
@kaisong1990 reopening as this is still happening and causing intermittent UX issues.

Any word on your end?

[2021-04-13 16:26] kaisong1990 commented on #992
@MAaronYeh We are not getting anything back from Apple since Aug last year. We will try with latest Big Sur this week and follow up again

[2021-04-13 22:34] ameyapat commented on #1272
Fix for this is committed and will be rolled out in next release

[2021-04-13 22:34] #1272 closed

[2021-04-14 16:15] kaisong1990 commented on #1249
@azriel46d Sorry for the late replying, our JS team mentioned the same case that the app delegate could not be set up correctly. Unfortunately they don't use Nativescript and cannot provide more details.

Do you get any update from Nativescript? Looks like the setup is correct regarding MSAL, and will need expertise from Nativescript for more investigations

[2021-04-14 16:36] NerevarineRule commented on #1284
Hi joeypatino, for enabling SSO using MSAL, we recommend that you use ASWebAuthenticationSession.
Unfortunately, WKWebview doesn't share cookies or website data with other WKWebview instances, so SSO experience will be limited by this restriction.

Please refer to this document - https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews

[2021-04-14 22:06] antrix1989 commented on #1281
Hi @pzelenak, yes, the app needs to be signed even for debugging purposes. When you provide a bundle identifier as a keychain sharing group, you don't completely "disable" cache, but rather configure MSAL to save tokens into your own keychain "island".  Also, we recommend you switching to the Xcode 12 since we only support the latest major Xcode version.

[2021-04-15 04:05] ekscrypto commented on #1257
Sorry busy with other priorities at the moment, still planning to continue solving this.

[2021-04-15 10:07] azriel46d commented on #1249
Unfortunately I did not hear back from anyone from the Nativescript (tried even through the official Discord channels) . For now I will close the ticket and will try to dig deeper on it on why its not able to recover back correctly. The plugin is following the same that other plugins hook up with the app delegate (see this [example](https://github.com/EddyVerbruggen/nativescript-plugin-firebase/bl

[2021-04-15 10:07] #1249 closed

[2021-04-15 10:45] maksirol commented on #1260
Hello, any news on this issue?

[2021-04-15 19:02] joeypatino commented on #1284
Hi @NerevarineRule, thanks a lot for the response. I understand the issue with cookie sharing in WKWebView and I'm fine with migrating the app to use SFSafariViewController instead

Would you be able to provide info on the correct URL to use when creating the `SFAuthenticationSession` instance? I can't seem to find an example anywhere showing what this should be for MSAL.

Regarding the Intune int

[2021-04-15 21:19] kaisong1990 commented on #1260
Sorry for the late replying, let me confirm with the team.

Meanwhile could you provide some new correlationIds and MSAL version you are running?

[2021-04-15 21:46] kaisong1990 commented on #992
@mattvlas We tested on latest version of BigSure (11.2.3) with the old MSAL (1.1.5) where it can reproduce the issue earlier. Multi session windows cannot be reproduced anymore. Please do let us know if you still have issue with later version

[2021-04-16 09:18] alexpenzWND commented on #992
@kaisong1990 I confirm the issue is still present on my BigSure (11.2.3) with latest MSAL v1.1.16.
Steps to reproduce are the same:
1. Quit safari
2. Press "Call Microsoft Graph API" button in example app
3. Press "Continue" in "“MSALMacOS” wants to use “microsoftonline.com” to sign in." window
4. See two login prompt with login.microsoftonline.com page open

[2021-04-16 09:43] alexkozlowski commented on #992
Hello, I have been able to reproduce this issue on my Mac fairly consistently. I am running Big Sur 11.2.3 using MSAL 1.1.5
Every-time the MS prompt is shown there are two windows opened when we would only expect one.

<img width="1222" alt="Screenshot 2021-04-16 at 10 35 01" src="https://user-images.githubusercontent.com/82642637/115005392-b9418680-9e9f-11eb-8596-1808c8004978.png">

[2021-04-16 12:37] lrun-cmck opened #1290 "MSAL 1.1.16 Error: While building for Mac Catalyst, no library for this platform was found in"
Hi,

I'm attempting to build a private framework that has all the MSAL logic inside it, which will be used in an app that should support `macOS 11.0 +`. I'm using `SPM` for importing it. While building for `macOS`, I'm getting this error: `While building for Mac Catalyst, no library for this platform was found in ... MSAL/MSAL.xcframework`

<img width="1645" alt="Screenshot 2021-04-16 at 15 21 52"

[2021-04-16 16:05] ameyapat commented on #1290
Hi, Currently we don't support mac catalyst. Currently we have a [feature](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/649) tracking this.

[2021-04-16 16:07] #1290 closed

[2021-04-16 18:23] kaisong1990 commented on #992
@alexpenzWND @alexkozlowski

Thanks for reporting! Would you create a radar/feedback to Apple and attach the diagnose?

[2021-04-18 17:43] ryandegruyter opened #1292 "Microsoft Authenticator app is never used with brokered authentication, only web browser."
Previously we used ADAL and it would always redirect the user to Microsoft Authenticator when we enabled brokered authentication.

But with this library, we can't seem to find a way to trigger the Authenticator app.

Context:
- We followed all these steps correctly: https://github.com/AzureAD/microsoft-authentication-library-for-objc#configuring-msal
- Device is managed by Intune
- iPhone X
- iOS

[2021-04-19 12:52] zzdravkin commented on #1279
Suddenly after login from webview with MSAL return a blank page, instead of redirecting to the right page as before? Any help will be appreciated

[2021-04-19 16:57] kaisong1990 commented on #1292
@ryandegruyter Thanks for your questions. [Here](https://docs.microsoft.com/en-us/azure/active-directory/develop/migrate-objc-adal-msal) is a documentation on how to migrate from ADAL to MSAL including settings for broker support.

If the above doc won't help, I would suggest to file an issue in original plugin repo as it is not officially supported by our SDK and could have other issues there.

A

[2021-04-19 16:59] kaisong1990 commented on #1204
No active conversations for a while and closing the issue.

[2021-04-19 16:59] #1204 closed

[2021-04-21 03:38] oldalton commented on #1156
Sent a follow up email to get a network trace. Unable to reproduce with in-house CBA setup.

[2021-04-21 08:36] rahulcode commented on #1156
Hi @oldalton
Hope you are doing good.

Tested again the complete workflows and following is the summary with all logs :

1) **Enroll Now**
**Flow to reproduce before :**
After Sign In Frequency is applied from CA, Try to fetch the token interactively.

Now, ( With Latest Authenticator) ( This is a new issue in Same workflow )
We are **not seeing JSON issue in the same workflow** , but now we are s

[2021-04-21 17:09] NerevarineRule commented on #1284
Hi @joeypatino.

Could you please clarify which URL you are referring to? if you are referring to the redirect Uri, that's something you'd need to specify as a developer for your application as below:
[code]

Also, SFAuthenticationSession is deprecated, and we'd recommend using ASWebAuthenticationSession instead.

Doing below should be enough.
webViewParameters.webviewType  = MSIDWebviewTypeDefaul

[2021-04-21 18:19] joeypatino commented on #1284
Hi @NerevarineRule,

I was referring to the first parameter used in constructing the ASWebAuthenticationSession / SFAuthenticationSession class, the authentication URL. Am I misunderstanding things? It sounds like you're saying I don't need to create and manage a ASWebAuthenticationSession instance myself but should just be setting the `webviewType` property to `MSIDWebviewTypeDefault` when callin

[2021-04-22 01:18] oldalton commented on #1156
Thanks! I'll take a look at the "enroll now" issue and report back.

However, just to confirm the status of the JSON issue - I think before this could be reproduced if you'd already have an authenticator account, and would call MSAL interactively with prompt=login, or if user's password would change and you were calling MSAL immediately after that.

I'd like to confirm that this issue is fully res

[2021-04-22 07:14] ryandegruyter commented on #1292
Thank you @kaisong1990, I will try and gather some more debug information.

We have full control over the native implementation, so If you have any more suggestions to better debug the issue, feel free to let me know.

[2021-04-22 17:01] kaisong1990 commented on #1292
Sounds great! Let us know if you find anything :)

[2021-04-23 12:26] AvinashKiran commented on #455
I am facing this issue when the user goes to change password flow, a Web page is opening with login form and after successful authentication change password flow is displaying.
is there any way to open the change password page directly?

[2021-04-23 12:27] AvinashKiran opened #1294 "MSAL iOS B2C login cache is not saved. we use custom policy for sign-in and change password. after successful signing change password policy again asking for user credentials"

[2021-04-23 12:29] AvinashKiran commented on #1294
For change password flow, MSAL is asking for credentials even user has already signed into the application.

[2021-04-23 18:59] kaisong1990 commented on #1294
@AvinashKiran Thanks for reaching out. Could you provide more details on the signing flow to the app? Is it through web browser?

[2021-04-26 11:14] AvinashKiran commented on #1294
Yes, Authentication happens using a web page.  We have two policies for login and change passwords.  When a user tries to change the password, the web page is opening with the Login and proceeds to the change password flow. I am unable to pass the session information to change the password flow. I have set the account and login hint but no use. Pls help me with this issue.

I have tried with 'webv

[2021-04-26 21:20] #1281 closed

[2021-04-27 09:31] joeypatino commented on #1284
Hello,

Also as additional info, after being redirected back into my application I am calling the InTune SDK (`registerAndEnrollAccount`) and am receiving back a MAM Policy, but I still am requested to login a second time in the in-app `SFSafariViewController`. The `registerAndEnrollAccount` step is described in the documentation I linked above regarding how to integrate MSAL and Intune.

Thanks,

[2021-04-27 22:52] kaisong1990 commented on #1294
@AvinashKiran Can you provide correlationId and timestamp, and we might be able to pull the logs

[2021-04-28 03:11] AvinashKiran commented on #1294
["TID=629854 MSAL 1.1.16 iOS 14.4.2 [2021-04-28 03:09:45 - 8F4BE9BA-48AC-4B5F-8DF8-FD6428EED1EB] [MSAL] -[MSALPublicClientApplication acquireTokenWithParameters:(\n    \"https://meghaqa.onmicrosoft.com/api/read\"\n)\n                                     extraScopesToConsent:(null)\n                                                  account:Masked(not-null)\n

[2021-04-28 07:08] maksirol commented on #1260
Sorry for late response.
Here are some other logs:

One case:
`TID=9432052 MSAL 1.1.15 iOS 14.4.2 [2021-04-23 11:08:37 - 748EB11B-80FE-4532-BA08-7BC06D04599F] Processing an AAD error with error code -51412, error invalid_grant, suberror (null), description Mask`

`TID=9432052 MSAL 1.1.15 iOS 14.4.2 [2021-04-23 11:08:37 - 748EB11B-80FE-4532-BA08-7BC06D04599F] Creating Error with description: User i

[2021-04-28 22:53] NerevarineRule commented on #1284
Thanks @joeypatino. Sorry for the delay.

Just to double check did you make sure to override Intune APP SDK default values, as recommended in the document?
"If your app already uses MSAL to authenticate users, the app must use its existing registration values and override the Intune App SDK default values. This ensures that users are not prompted for authentication twice (once by the Intune App SD

[2021-04-29 10:45] Naveen-workboard opened #1297 "How to make unified login flow to the mobile app."
Hi,

I'm not sure this is correct place to ask, but I'm looking for a solution for a problem we are facing.
We have our mobile app (iPhone and Android) which has it's own authentication flow to login the users and this is done using SSO. Some vendors of our app use Microsoft corporate accounts for SSO login. Now one vendor is asking us to integrate the MS Intune in the app so that they can apply t

[2021-04-29 12:08] joeypatino commented on #1284
Hi,

No problem on the delay! I really do appreciate the assistance

Re the Intune SDK value overrides: Yes, I believe I have these configured correctly. The only settings I've seen referenced for InTune have been the `IntuneMAMSettings` dictionary in the plist, specifically `ADALAuthority`, `ADALClientId`, and `ADALRedirectUri` and I have these set to the same values I use when creating the MSAL

[2021-04-29 17:20] kaisong1990 commented on #1294
@AvinashKiran Thanks, shared those logs to B2C team for more information

[2021-04-29 17:22] kaisong1990 commented on #1260
@maksirol Thanks, shared the logs to B2C team

[2021-04-29 22:23] mipetriu commented on #1297
Hi @Naveen-workboard, we're not experts about the Intune SDK, but it seems that there might be other API's that are available to apply policies once the user is signed in.

Feel free to raise the question to the Intune MAM SDK repo here: https://github.com/msintuneappsdk/ms-intune-app-sdk-ios

[2021-04-30 03:57] Naveen-workboard commented on #1297
@mipetriu : Thanks, I'll check with intune team.

[2021-04-30 03:57] #1297 closed

[2021-04-30 18:06] NerevarineRule commented on #1284
Hi Joey, Thanks for your quick response.

1)  I've noticed you are still using SFSafariViewController, which doesn't support SSO. you should use ASWebAuthenticationSession, not SafariViewController. You can see in below table for iOS 11+ SFSafariVeiwController doesn't share cookies.
https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews#cookie-sharing-and-single-sign-on

[2021-05-03 12:45] joeypatino commented on #1284
Hi Peter,

1) I've replaced the SFSafariViewController with a ASWebAuthenticationSession instance and this still does not work. The user is always required to login in the ASWebAuthenticationSession webview, even if they have already authenticated before using the MS Authenticator App, or by logging in using their username / password in the ASWebAuthenticationSession webview.

Additionally, and th

[2021-05-04 04:04] Jins17994 commented on #378
@oldalton how to call signet API and set signoutFromBrowser in our code? plz share a sample code....plzzz
in my case when user sign out from account(Facebook is I am using in azure ad b2c) and again click on sign in button with another user then MSALwebView shows previously logged user detail(cache not cleared).

[2021-05-04 13:12] Jins17994 commented on #683
@oldalton what is the difference between iDtoken and accesstoken ?  in my case I get only idToken access token is empty.
using JWTDecoder I get the details. and the main issue is cache not clearing, previously login data is found when new customer trying to login.

[2021-05-05 01:53] oldalton commented on #378
@Jins17994, here's a sample: https://github.com/AzureAD/microsoft-authentication-library-for-objc#implement-signout

[2021-05-05 01:54] oldalton commented on #683
I think links above summarize the difference between those two tokens. Let me know if you have further questions after reviewing the documents.

[2021-05-05 02:12] Jins17994 commented on #683
thanks for the reply,

this is my code, plz check is there any mistake

*let* viewController = *self* /*replace with your main presentation
controller here */

            *let* webViewParameters =
MSALWebviewParameters(authPresentationViewController: viewController)

            *let* signoutParameters =
MSALSignoutParameters(webviewParameters: webViewParameters)

            signoutParameters.si

[2021-05-05 02:14] oldalton commented on #683
Can you change this line to true?

`signoutParameters.signoutFromBrowser = *true*`

[2021-05-05 02:14] Jins17994 commented on #378
thanks for the reply,

this is my code, plz check is there any mistake

*let* viewController = *self* /*replace with your main presentation
controller here */

            *let* webViewParameters =
MSALWebviewParameters(authPresentationViewController: viewController)

            *let* signoutParameters =
MSALSignoutParameters(webviewParameters: webViewParameters)

            signoutParameters.si

[2021-05-05 02:19] Jins17994 commented on #683
the above replied mail is my mistake.

On Wed, May 5, 2021 at 7:42 AM Jins George ***@***.***>
wrote:

[2021-05-05 02:32] Jins17994 commented on #683
signoutParameters.signoutFromBrowser = *true*

when i replace my code with above mentioned code, after sign out shows a
popup. i click on continue on the popup then very soon it automatically
quit and back to the app. again clicking on the sign in still
shows previous logged customer detail.
could you plz live check my code on google meet or like that? That's
more helpful me and save your valuable

[2021-05-05 12:59] br-johndavis commented on #1139
Are the "willDismiss" or "shouldDismiss" methods of the sheet View Controller's presentation delegate not invoked in this scenario? Are there ways to re-present the interactive login window in the event the sheet is dismissed?

At the moment, if I try to re-present the login sheet I get an error: "Only one interactive session is allowed at a time."

[2021-05-05 13:13] cdescours-amaris commented on #1139
We have found an "acceptable" workaround on that bug :

prior to any new authentication in the view controller, we have added those calls to enable the user to recreate a new interactive session:

[code]
It remains a little 'visual glitch' but at least users are able to reconnect in such cases.

Hope that will help.

[2021-05-05 13:38] br-johndavis commented on #1139
That will absolutely help me, thank you.

Apple introduced the ability to dismiss sheets interactively in iOS13, and they added the `UIAdaptivePresentationControllerDelegate` as a means to customize the behavior in the event you have a sheet that you want to respond to the dismissal of.

I went to the viewController that I pass to the MSAL's interactive login method, and I overrode the present met

[2021-05-05 21:30] oldalton commented on #683
@Jins17994 - this is B2C, right?

[2021-05-05 23:27] NerevarineRule commented on #1284
Hi @joeypatino.
After further investigation, if you are using Intune MAM SDK, it allows SSO & single login on WKWebview as well.
This is likely due to not configuring Intune MAM SDK correctly in your code.
Could you please reach out to the Intune MAM SDK team in this repo? They might be able to help you with this better:

https://github.com/msintuneappsdk/ms-intune-app-sdk-ios

Thanks.

[2021-05-06 01:40] Jins17994 commented on #683
Azure AD B2C

On Thu, May 6, 2021 at 3:00 AM Olga Dalton ***@***.***> wrote:

[2021-05-06 02:31] Jins17994 commented on #683
The attached file is my sample project. could you please fix the bugs

On Thu, May 6, 2021 at 7:10 AM Jins George ***@***.***>
wrote:

[2021-05-06 02:35] oldalton commented on #683
@Jins17994, I don't think I can see the attachment.
However, implementing signout for B2C is a bit trickier than for AAD because you might have custom policy configuration and not all providers will support signout.

[2021-05-06 02:44] Jins17994 commented on #683
Thanks for the fast reply,
then how can I sign out from all identity providers in MSAL ADB2C?
In my case click on Facebook then without showing credentials entering the
page and shows previously logged user details.
Is there any way to clear the cache of embedded MSAL webview?

On Thu, May 6, 2021 at 8:05 AM Olga Dalton ***@***.***> wrote:

[2021-05-06 03:00] oldalton commented on #683
@Jins17994, I believe this question looks similar to yours: https://github.com/MicrosoftDocs/azure-docs/issues/34577

[2021-05-06 03:12] Jins17994 commented on #683
The above mentioned link is similar to my issue. but there is no Solution
found
Then there is no Solution for sign out from all social accounts in
MSAL😭😭😭?

On Thu, May 6, 2021 at 8:30 AM Olga Dalton ***@***.***> wrote:

[2021-05-06 04:18] oldalton commented on #683
@Jins17994 - looks like that to me.
If you're using WKWebView, you can try clearing out the cookies yourself.

[2021-05-06 04:23] Jins17994 commented on #683
Yes, I think about using wkwebview. but how is it possible when after
authentication automatically call back to our app.

On Thu, May 6, 2021 at 9:48 AM Olga Dalton ***@***.***> wrote:

[2021-05-06 15:48] kaisong1990 commented on #1292
@ryandegruyter Closing for now and feel free to reopen it there are more questions

[2021-05-06 15:48] #1292 closed

[2021-05-06 22:45] br-earl-gaspard opened #1299 "Using id<MSALAccount> in completion blocks and MSALResult"
In my project I created a protocol called `Authenticator` and have `MSALPublicClientApplication` conform to it.

[code]

This allows me to create a mock version for unit testing called `MockAuthenticator` that conforms to `Authenticator`. However, since `MSALCurrentAccountCompletionBlock` in `getCurrentAccount()` uses a concrete class for `MSALAccount` and `MSALAccount` has `NS_UNAVAILABLE` for it