[2017-02-10 19:00] RPangrle opened #9 "Basic Interactive Flow (Get Authorization Code)"

[2017-02-10 19:00] RPangrle opened #10 "Token Cache"

[2017-02-10 19:01] RPangrle opened #11 "PKCE Support"
Dependent on #9 being done first.

[2017-02-10 19:01] RPangrle opened #12 "Acquire Token by authorization code"
Dependent on #9

[2017-02-10 19:07] RPangrle opened #13 "Refresh token flow (acquireTokenSilent)"

[2017-02-22 05:43] unpluggedk opened #25 "Add request headers and body to MSALTestURLResponse"
MSALTestURLResponse class methods are missing request headers and parameter body.

[2017-02-23 01:17] #25 closed, assigned to unpluggedk

[2017-03-11 09:47] kpanwar opened #38 "Rename and refactor User.Signout"
rename the call to Remove(User) and move it to application object. Developer will pass User object to it for removal

[2017-03-11 09:52] kpanwar opened #39 "Refactor UiOptions enum"
- [x] Rename UiOptions to UiBehavior
- [x] Add UiBehavior.Consent  value that will send prompt=consent to authorize endpoint

[2017-03-21 01:35] RPangrle opened #43 "Add dev utility UI to add scopes in app"

[2017-03-30 06:22] kpanwar opened #47 "Port number must be honored in the authority provided"
Ensure that the port number is honored in the authority provided by the developer.

[2017-04-03 06:11] kpanwar opened #51 "Include environment in RT cache entry"
Save host of the authority in the RT cache entry as the environment. Use cases -
1) Comparing against environment, client id and user for RT for cache look up.
2) Comparing against environment and client id when returning Users() in the cache. API must use authority set by the developer or the one used by default when not provided by the developer.

[2017-04-05 04:11] unpluggedk opened #53 "[Discussion] Add cache version number to query"
Open discussion: Question was raised whether or not we should add a version number to the query for the following function

MSAL/src/cache/ios/MSALKeychainTokenCache.m
 - (NSMutableDictionary*)queryDictionaryForKey:(MSALTokenCacheKey *)key
                                    additional:(NSDictionary *)additional

[2017-04-05 06:45] unpluggedk opened #55 "Add dev utility UI to show users in app"

[2017-04-06 02:14] kpanwar opened #57 "Add claims parameter in error response"
I noticed that only error and error_description are being bubbled up back to the developer when STS returns an error. STS can also return a "claims" value in the JSON response. We need to add support to return it back to the developer.

[2017-04-07 16:12] unpluggedk opened #60 "Remove consumers from tenantless list"
consumer is just a regular tenant, should be removed from the tenantless list. Only common and organization should be there.

[2017-04-07 18:40] #57 closed, assigned to unpluggedk

[2017-04-09 19:35] RPangrle opened #63 "Add -[MSALPublicApplication userForIdentifier:]"

[2017-04-10 07:59] RPangrle opened #64 "MSALKeychainTokenCacheTests should only be testing the keychain data source"

[2017-04-10 07:59] RPangrle opened #65 "MSALTokenCacheAccessor requires dedicated tests"

[2017-04-10 09:22] RPangrle opened #66 "All MSALRefreshTokenCacheKey fields should be required"
Right now there is fuzzy logic around handling this that should not exist

[2017-04-10 09:23] RPangrle opened #67 "-getRefreshToken... in MSALTokenCacheDataSource should return one item"
There should only ever be a singular item for any MSALRefreshTokenCacheKey, there should be no need to return multiple RTs.

[2017-04-10 16:04] RPangrle opened #68 "msalBase64[Encode/Decode]Data should be renamed to base64URL"
To better match the format it returns.

[2017-04-10 16:44] RPangrle opened #69 "MSALRequestContext needs to be passed down the cache stack"

[2017-04-11 02:09] #69 closed, assigned to RPangrle

[2017-04-11 02:09] #67 closed, assigned to RPangrle

[2017-04-11 02:10] #64 closed, assigned to RPangrle

[2017-04-11 02:16] #9 closed, assigned to RPangrle

[2017-04-11 02:17] #12 closed, assigned to RPangrle

[2017-04-11 04:13] weijjia opened #72 "Return raw id token and unique id from MsalResult"
Raw id token and unique id are all the metadata that developer may need, we should consider return it from the MsalResult.

[2017-04-12 01:16] RPangrle opened #74 "Remove default keychain sharing group"
Keychain Sharing should not be on by default.

[2017-04-12 02:29] RPangrle opened #76 "Remove MSALRequestParameters from MSALTokenCacheAccessor methods"
MSALTokenCacheAccessor is not a request object, so it's not really who MSALRequestParameters was intended for. MSALTokenCacheAccessor should take in the specific parameters it cares about (authority, user, client_id, scopes)

[2017-04-12 02:30] RPangrle opened #77 "Split saveAccessAndRefreshToken into two methods"
saveAccessToken and saveRefreshToken are really two separate things that should be in two separate methods. Parsing token responses shouldn't really be in MSALTokenCacheAccessor

[2017-04-17 21:55] unpluggedk opened #86 "Update authority if tenant is passed in as common"
If authority has common as the tenant, we should replace common with tenant id that is returned back from the response.

https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/51

[2017-04-18 00:15] unpluggedk opened #88 "Support session continuation"
Send uid and utid to the STS on authorize endpoint for acquireToken APIs which take in the user object. Details of how the parameters are encoded and sent is in the spec.

The STS (v2 and B2C) do not have UI support in place to block user on the sign in page and for the time being MSAL needs to fail the acquireToken call if returned uid+utid from the STS does not match the one passed to the server

[2017-04-18 00:20] unpluggedk opened #90 "Fail if login.windows.net is provided as authority"
login.windows.net is a deprecate authority url, which cause 2x gateway redirects. MSAL is going to fail it, and developer should use login.microsoftonline.com instead.

Same for other platforms.

[2017-04-18 00:42] #86 closed, assigned to RPangrle

[2017-04-18 17:03] RPangrle opened #93 "Rationalize 'nil' behavior of authority parameter"
In the silent code path we store 'nil' in parameters, interactive and application we don't. We should probably make that behavior consistent internally across code paths.

[2017-04-18 21:18] #10 closed, assigned to RPangrle

[2017-04-18 21:18] #11 closed, assigned to unpluggedk

[2017-04-18 21:19] #13 closed, assigned to unpluggedk

[2017-04-18 21:19] #38 closed, assigned to unpluggedk

[2017-04-18 21:19] #39 closed, assigned to nobody

[2017-04-18 21:19] #43 closed, assigned to nobody

[2017-04-18 21:20] #47 closed, assigned to nobody

[2017-04-18 21:21] #51 closed, assigned to jasoncoolmax

[2017-04-18 21:22] #55 closed, assigned to unpluggedk

[2017-04-18 21:23] #60 closed, assigned to unpluggedk

[2017-04-18 21:23] #90 closed, assigned to unpluggedk

[2017-04-18 21:24] #63 closed, assigned to RPangrle

[2017-04-18 21:24] #65 closed, assigned to nobody

[2017-04-18 21:25] #74 closed, assigned to nobody

[2017-04-18 22:38] RPangrle opened #95 "Interactive Request responses should always come on the main thread"

[2017-04-18 22:40] #88 closed, assigned to unpluggedk

[2017-04-18 22:43] unpluggedk opened #96 "Consistent usage of unique (tenant) identifier name"
uniqueIdentifier/uniqueTenantIdentifier vs uid/utid

[2017-04-19 18:47] #96 closed, assigned to nobody

[2017-04-21 00:47] unpluggedk opened #103 "Memory leak on MSALURLSessionDelegate"
MSALUSERSessionDelegate and MSALRequestParameters create a cycle, creating a memory leak

[2017-04-21 19:08] unpluggedk opened #105 "Memory leak on keychain - getRefreshTokenItemForKey"

[2017-04-21 22:39] #105 closed

[2017-04-21 22:39] #103 closed

[2017-04-21 23:01] danieldobalian opened #107 "Change default Redirect URI"
New format discussed: `msal<clientID>://auth`.

[2017-04-22 01:18] unpluggedk opened #109 "Complete functionality for MSALTestAppCacheViewController"

[2017-04-24 21:45] unpluggedk commented on #53
The key needs to include cache version as a primary key because one app can be running on cache version.x while another might be on cache version.(x+1).
We'd still want to support both apps, thus there needs to be a cache version as a part of the primary key to the query

[2017-04-24 21:45] #53 closed

[2017-04-25 21:15] RPangrle opened #115 "Add error check for trying to use a User from a mismatched environment"
Users are tied to a specific authentication environment (e.g. "login.microsoftonline.com" vs "login.microsoftonline.de") and currently are not supported to be used across environment. We should fail predictably in those cases.

[2017-04-25 22:37] oldalton opened #116 "Authority from the application object not used in AT call"
If authority is not provided in the AT call, we should use authority from the PBC

[2017-04-25 23:08] unpluggedk commented on #116
Seems like a bug to me, and ties to #93

[2017-04-26 17:26] #77 closed

[2017-04-26 17:26] #76 closed

[2017-04-26 18:51] unpluggedk opened #119 "Authority validation caching for ATS"
With user parameter available for ATS, validated authorities cache needs to be revisited.

[2017-04-26 18:54] #116 closed

[2017-04-26 19:44] RPangrle opened #120 "Rename "additionalScopes" to "extraScopesToConsent""

[2017-04-26 23:14] #95 closed

[2017-04-27 00:05] RPangrle opened #122 "Collapse handleMSALResponse and isMSALResponse into a single method"

[2017-04-27 01:11] unpluggedk opened #125 "Authority validation bug"
For authority validation, even if the validateAuthority is false(or NO), we are putting it into the validated authorities list.

Scenario in which this seems technically wrong,
If AT was called with validateAuthority = false, then for whatever reason, AT/ATS is called with validateAuthority = true. We will get back an authority that has not been validated.
(although what we get back will have a pr

[2017-04-27 05:32] RPangrle opened #127 "Remove MSALErrorKeychainFailure error"
We should not be wrapping error codes coming from any system API. It's really common for devs to not inspect the error object at all beyond the error code, let alone look at an underlyingError. It's best to pass the error code directly.

[2017-04-27 17:45] RPangrle opened #128 "AcquireTokenSilent should never return nil for both result and error"
@oldalton found this issue, although earlier it appeared to be restricted to non-product scenarios.

[2017-04-27 17:46] RPangrle opened #129 "AcquireTokenSilent fails when an authority is passed in but no ATs matching scope are found"
It fails because it doesn't "find a authority" even though one was provided. This is the same issue @oldalton found earlier, but in a different scenario.

[2017-04-27 19:56] RPangrle opened #131 "Remove _requestParam1 and _requestParam2 from MSALTokenCacheTests"
These are making it more difficult to see what the tests are actually testing, making the PRs on the tests next to useless and allowing bugs to get through.

[2017-04-27 20:27] RPangrle opened #132 "MSALErrorMultipleMatchesNoAuthoritySpecified should be renamed"
The current error not only is too wordy, it emphasizes too much on internal detail and not what the developer actually needs to do. `MSALErrorAmbiguousAuthority` or `MSALErrorMustSpecifyAuthority` would focus on what the developer needs to do to resolve the error

[2017-04-29 01:56] #120 closed

[2017-04-30 18:39] RPangrle opened #139 "Log error/result information at the end of every acquireToken request"
Having a definitive result statement at the of an acquireToken call makes it a lot easier to determine which errors are intermediate and which ones were final.

[2017-04-30 19:34] RPangrle opened #141 "Use short hex strings in logging"
The longer hex blobs are a bit harder to read in logs, and occasionally make people think we're logging actual ATs in logs (we're not, they're hashes) a 8 or 16 character hex string is less likely to be confused for the genuine article, while making logs a bit more readable.

[2017-05-01 18:14] kpanwar opened #144 "README is missing code snippet for AppDelegate:application: call"
README is missing code snippet for AppDelegate:application: call

[2017-05-01 18:15] kpanwar opened #145 "MSAL fails to consume app-scheme if info.plist is formatted with linebreaks"
MSAL fails to consume app-scheme if info.plist XML is formatted with linebreaks.

[2017-05-01 21:00] #139 closed

[2017-05-01 21:03] #141 closed

[2017-05-01 23:23] oldalton opened #150 "ValidateAuthority parameter is not being passed"

[2017-05-02 00:55] oldalton opened #152 "Using telemetry oauth_error_code in wrong cases"

[2017-05-02 18:24] #132 closed

[2017-05-02 18:25] #107 closed

[2017-05-02 20:06] #152 closed

[2017-05-02 20:13] oldalton opened #153 "ValidateAuthority should be a method parameter"
Currently validateAuthority is a property and it's not obvious for developers that it should be changed. Moreover, the default value is NO. We should look into making it a method parameter or at least making it YES by default.

[2017-05-02 23:12] RPangrle opened #154 "B2C authority strings aren't being properly parsed and reassembled"
The first path component is a slash ending up in URLs that look like "l.mso.c///tfp/<tenant>"

[2017-05-03 00:57] RPangrle opened #157 "Query Parameters from OIDC Authorization Endpoint need to be passed along"
We're currently squashing QPs that come along after OIDC discovery, which is causing B2C tenants to not work.

[2017-05-03 01:56] RPangrle opened #158 "Remove "console logging" from MSALLogger"
The app developer can easily add this for themselves if they so choose, although it is advised against as the console log can leak information

[2017-05-03 05:27] #154 closed

[2017-05-03 05:30] #150 closed

[2017-05-03 16:47] oldalton opened #159 "MSALResult contents not covered by unit tests"
Not all contents are covered by unit tests

[2017-05-03 17:17] oldalton opened #160 "Not all oauth errors are mapped correctly"
MSALErrorCodeForOAuthError maps only invalid_request and invalid_client to MSALErrors, but there 6 total errors to map according to documentation: https://tools.ietf.org/html/rfc6749#section-5.2. I think 6 errors is not that many to map them all. Currently when we get invalid_scope from server, we still return interactionRequired error.

[2017-05-03 17:38] RPangrle commented on #160
We're not looking for a 1:1 mapping of OAuth errors as several them end up devolving to internal errors in the library itself that are not actionable by an app developer.

[2017-05-03 17:41] oldalton commented on #160
Yes, but currently for example invalid_scope ends up with InteractionRequired, which will trigger UI. Should we instead return a better default error maybe?

[2017-05-03 17:59] RPangrle opened #162 "MSAL should return an error when no access_token is provided by the service"
By the OAuth 2.0 spec we should never not be receiving an access token, but it still occasionally happens anyways, and we should be providing a coherent error response when that happens.

[2017-05-03 18:19] RPangrle commented on #153
The default value definitely should be YES.

[2017-05-03 19:41] RPangrle opened #163 "Add sliceParameters property to MSALPublicClientApplication"
sliceParameters is a `NSDictionary<NSString *, NSString *> *` of query parameters that we add to both the authorize and token endpoint requests (as opposed to extraQueryParameters that applies only to authorize). This is used specifically to target MSAL to a specific test flight and slice on the service, and needs to apply to all requests on a client application object, not just on a per-request b

[2017-05-03 19:43] RPangrle commented on #153
Also, validateAuthority really is not a per-request thing. Either all of authority strings within a single environment should be validated when used with a application or none of them, so it is something more appropriately set when created the public client application object.

[2017-05-03 19:58] oldalton commented on #153
This discussion is coming from #149, when @unpluggedk  pointed out that it might be a good idea to include it as a method parameter. We agreed that it might be worth to have additional discussion. In any case, we should fix validateAuthority not being YES by default (#164)

[2017-05-04 17:26] #153 closed

[2017-05-04 17:59] oldalton opened #171 "MSAL returns InteractionRequired, when developer provides invalid scope"
Server sends us an "invalid_scope" error and we can return a more reasonable error in that case (since login will always fail in that case). Opening a more specific issue for #160 as per discussion.

[2017-05-04 17:59] #160 closed

[2017-05-04 21:10] #163 closed

[2017-05-05 17:51] partnerinflight commented on #157
done

[2017-05-05 17:51] #157 closed

[2017-05-05 17:54] partnerinflight commented on #145
Do we want to trim the value, just to reduce possibility of confusion for the developer?

[2017-05-05 17:56] #129 closed

[2017-05-05 17:57] #128 closed

[2017-05-05 17:58] #125 closed

[2017-05-05 17:58] #122 closed

[2017-05-05 17:59] #119 closed

[2017-05-05 18:00] partnerinflight commented on #115
Sync with other platforms; we may want this for Build.

[2017-05-05 18:01] #109 closed

[2017-05-05 18:02] partnerinflight commented on #72
sync w/ .NET; we should do this for Build if they're doing it.

[2017-05-05 18:04] partnerinflight commented on #68
let's try and get this done today. Should be msalBase64URL

[2017-05-05 21:29] #162 closed

[2017-05-05 23:17] #68 closed

[2017-05-05 23:18] #127 closed

[2017-05-05 23:18] #145 closed

[2017-05-06 00:05] #171 closed

[2017-05-06 00:59] #72 closed

[2017-05-06 04:18] #159 closed

[2017-05-08 21:16] RPangrle opened #190 "Add "PiiLoggingEnabled" property to MSALLogger"
In MSAL.NET PII logging isn't sent to the logging callback/delegate unless explicitly enabled, we should match that in MSAL ObjC

[2017-05-08 21:24] brandwe opened #191 "Implement Error Protocols for MSALError for better Swift compatibility"
We have a few things we could do to make the our Swift developers have an easier time, which is all around changing some things so that the Objective C -> Swift bridge makes better decisions on how to expose our methods.

The most urgent thing that stands out to me though is the fact that our MSALError is wrapped. This is passable in Objective-C:

[code]
But becomes brutal in Swift with the need t

[2017-05-08 21:27] RPangrle commented on #191
There is no MSALError class in MSAL. We use system standard NSErrors. Apple should be doing something to make sure they're own NSError class is more easily consumer in Swift.

[2017-05-08 21:48] brandwe commented on #191
Care to comment @oldalton since we discussed the need for this in Slack? I see it as beneficial to have our own Error protocol.

[2017-05-08 21:53] oldalton commented on #191
@brandwe I definitely agree that current implementation results in an awkward code, however the proposed solution won't fix it. Please see how there's lack from Apple documentation on handling asynchronous errors (great link sent from Ryan) :( https://developer.apple.com/library/content/documentation/Swift/Conceptual/BuildingCocoaApps/AdoptingCocoaDesignPatterns.html

I would suggest to keep this

[2017-05-08 21:55] RPangrle commented on #191
Also, the error is not wrapped. Error is simply a protocol for "anything that can be thrown as an error," and because Error has no requirements as a protocol, it means it can be practically anything. Considering we're handling NSErrors just like how it is used in system APIs we aren't asking anything more then what Apple is already asking Swift developers to do for Apple's own APIs. Straying from

[2017-05-08 22:00] brandwe commented on #191
Great conversation. If you want to leave it open for others to find the conversation that's perfect to me :-)

[2017-05-08 23:32] #158 closed

[2017-05-08 23:35] brandwe commented on #144
Fixed in #189

[2017-05-08 23:39] #190 closed

[2017-05-09 00:08] #144 closed

[2017-05-09 04:55] RPangrle opened #195 "Remove hardcoding of test slice in slice parameters"

[2017-05-10 17:22] #195 closed

[2017-05-11 19:40] unpluggedk opened #202 "AD FS authority validation"

[2017-05-11 19:41] unpluggedk opened #203 "Refactor requests from instance folder"
Move requests that reside within the instance folder to separate request classes

[2017-05-16 08:59] unpluggedk opened #205 "[Sample] Sign out and re-login results in blank result for calendar events"

[2017-05-16 09:08] unpluggedk opened #207 "Conflicting nullability specifier on MSALTelemetry"
[code]

[2017-05-17 07:16] brandwe opened #209 "AcquireTokenSilent should return interactionRequired if User object is empty during Preview"
Right now MSAL .Net returns interactionRequired if the User object is empty. This is to support the pattern where `AcquireTokenSilent()` should be the first method a developer calls in order to check if there is a user in the cache.

There is a debate what we should do across all the MSAL libraries with `AcquireTokenSilent()` and the necessity to always pass a `User` object. However at this time w

[2017-05-17 18:36] clairernovotny opened #210 "Sign out does not clear SSO token"
Looking at the code, I don't see Sign Out being properly implemented. There is a way to remove the user tokens from the local cache, but it does not appear to invoke the system web view to hit the `end_session_endpoint` endpoint value. That may leave the cookie between the system and the device valid such that a subsequent authenticate call may not prompt for credentials.

Seems like the `end_sess

[2017-05-18 00:30] unpluggedk commented on #203
Since it is only being used there, and no plans to re-use, I am fine with current structure

[2017-05-18 00:30] #203 closed

[2017-05-18 00:35] unpluggedk opened #211 "Swift sample"

[2017-05-19 21:07] brandwe commented on #210
Hello @onovotny! You are correct that we only provide a way to clear the application state inside of your own app or family of apps with sharing a keychain. There is manual code you can write to do this, however. I share that below.

But first, I'd like to challenge you to think *why you want to sign your user out of the system web view.* There are some legitimate reasons why you would (LOB apps w

[2017-05-19 21:11] onovotny commented on #210
The scenario I'm thinking about is with B2C -- If I have a native app that uses the flows, there's no real way to sign out without this.... In the app, I click "sign out", and it'll clear the local tokens, but then Clicking "sign in" gives the appearance of auto-signing in. That's completely unexpected... unless the solution is to add `login_prompt=always` parameter? Even there, that could leave t

[2017-05-19 22:48] brandwe commented on #210
@onovotny What you say is true. We've thought about this for our own IdP using MSAL (Microsoft), and after Preview, we plan to use language similar to Google does when they moved their apps to the System web view: "sign in to your account and the browser". You could take that approach, although we both know users don't always read content.

Depending on the ambition for a developer's B2C service -

[2017-05-22 22:24] onovotny commented on #210
@brandwe can I ask why this is closed? Seems like it should stay open until MSAL implements this directly?

[2017-05-22 22:31] brandwe commented on #210
Sure we can keep it open for tracking purposes if you'd like. We do have this work item in our internal work item list.

[2017-05-23 17:27] unpluggedk opened #214 "Resiliency feature missing"

[2017-05-23 18:43] #207 closed

[2017-05-23 18:43] #205 closed

[2017-05-23 18:43] #211 closed

[2017-06-08 17:17] partnerinflight commented on #191
I believe closed issues can be found as well; I'd rather not keep issues open that we don't intend to address.

[2017-06-08 17:17] #191 closed

[2017-06-09 01:50] unpluggedk commented on #115
Other platforms don't do this. Will investigate further on whether or not this is needed.

[2017-06-09 08:20] unpluggedk commented on #209
As @brandwe suggests, MSAL .Net version throws MsalUiRequiredException.UserNullError.

We currently return MSALErrorInvalidParameter, but to be in sync, we can create MSALErrorNullUser error as a part of interaction required errors, i.e./ code number -421XX.

[2017-06-09 09:36] unpluggedk commented on #115
@RPangrle  I think it is true for acquire token silent, but is this the case with interactive as well?

[2017-06-09 17:43] unpluggedk commented on #93
Now with ATS logic in place as is, this is by design.
AT will use default if authority is passed in nil, and ATS will keep nil as there is a separate logic for this.

There is a potential of a flaw here in some undiscovered corner case, in which all platforms will need to fix if it happens.

[2017-06-09 17:43] #93 closed

[2017-06-09 20:02] unpluggedk commented on #115
This is an ongoing discussion and will depend on that decision, same for all other platforms.

[2017-06-13 09:40] unpluggedk opened #216 "Add nullability markers to all public API headers"

[2017-06-19 19:32] ebainto opened #218 "Single Sign On - MAM"
Im trying to test iOS MSAL sample application for single sign on without inputing your Enterprise Account (Active directory) my iOS device is registered to MAM.

Single Sign-0n works fine after your initially login. Since my iOS device is registered to MAM is there a way to achieve SSO during initial load without providing your credentials?

[2017-06-20 21:03] ebainto commented on #218
Correction, my iOS device is registered to MDM.

[2017-07-10 19:07] ebainto commented on #218
@RPangrle do you have any idea on this scenario? thank you

[2017-08-01 22:03] RPangrle commented on #218
This can not work because SSO provided in MSAL is done through cookie sharing in SFSafariViewController (which is also going away in iOS 11...), MAM enrollment is done through in-app webview, and even if it was switched to SafariViewController the SSO support is going away in iOS 11.

[2017-08-03 08:02] MrAsterisco opened #220 "ClientId should not be removed from scopes in Active Directory B2C"
I have spent the last few weeks attempting to make this library work with Active Directory B2C. No matter what I tried, there was no way to make it authenticate successfully: I kept getting an error that told me that the _accessToken_ was missing from the response.

After some debugging, I have identified the core issue to this function, in MSALBaseRequest:

[code]

This function removes the Clien

[2017-08-10 22:01] ebainto commented on #218
Thanks @RPangrle. Also, Do you have plans in the future to support Brokered Authentication? using Azure Authenticator app that can support MDM and MAM?

[2017-08-17 14:56] ebainto commented on #218
@RPangrle do you know when is the potential GA for MSAL? thank you

[2017-08-25 05:52] mojtabacazi opened #221 "MSALErrorDescriptionKey AADSTS70000"
I'm getting the following error trying to authenticate using AD B2C.

[code]

Sample Code

    NSString *clientID = @"########";  // App Client ID from Azure AD B2C Portal
    NSString *authority = @"https://login.microsoftonline.com/########";
    NSDictionary *params = @{@"p": @"########"}; // Policy from Azure Portal
    NSArray *scopes = @[clientID];
    NSError *error = nil;

	MSALPublicClien

[2017-09-06 07:13] kirthika opened #223 "How can I handle browser clicks? Suppose, if I will have to handle a certain link how can I take control of webview in iOS?"
Suppose, if I will have to handle a certain link how can I take control of webview in iOS?

[2017-10-09 21:29] RPangrle commented on #223
This is out of scope for a GitHub issue. MSAL uses a System Web View which by design you do not have control over from the context of the application. The application taking control over it is a security violation. If you're looking to automate it you should investigate a UIAutomation based solution like Appium.

[2017-10-09 21:29] #223 closed

[2017-10-09 21:34] RPangrle commented on #221
It is possible that you're asking for too many scopes in your tokens, which is causing the authorization code to be too large

[2017-10-11 05:31] kirthika opened #225 "Customised domain with MSAL"
How can I add customised domain rather than https://login.microsoftonline.com ?

[2017-10-11 13:48] kirthika opened #226 "Error while calling acquireTokenSilentForScopes"
I get the following error when I call acquireTokenSilentForScopes :
Error Domain=MSALErrorDomain Code=-42100 "(null)" UserInfo={MSALErrorDescriptionKey=AADB2C90129: The provided grant has been revoked. Please reauthenticate and try again.
Correlation ID: 1cee1076-0805-4786-a3fc-88df64462f5a
Timestamp: 2017-10-11 13:42:52Z
, MSALOAuthErrorKey=invalid_grant}

[2017-10-19 14:54] 7sharp9 commented on #220
I think the client scope was removed from the v2 api calls, which is annoying if you created B2C while it was version1.

[2017-10-20 09:04] MrAsterisco commented on #220
@7sharp9 I'm sorry, I did not understand your answer. Can you please elaborate a bit more?

For further reference, the link to the documentation I cited in the previous issue is here: https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-reference-oidc#get-a-token

[2017-10-20 23:33] oldalton commented on #226
It normally means that your refresh token is no longer valid and we couldn't get an access token for it. At this point you would need to call acquireTokenForScopes to get a fresh refresh token.

[2017-10-20 23:33] oldalton commented on #226
I'll close this issue, feel free to reopen it if you feel like your issue wasn't resolved.

[2017-10-20 23:33] #226 closed

[2017-10-20 23:36] oldalton commented on #225
When you're initializing the MSALPublicClientApplication you can provide your custom authority, e.g:

`let application = try MSALPublicClientApplication.init(clientId: kClientID, authority: **kAuthority**)`

[2017-10-20 23:36] oldalton commented on #225
I'll close this issue, feel free to reopen it if you feel like your issue wasn't resolved.

[2017-10-20 23:36] #225 closed

[2017-10-24 09:47] kirthika opened #227 "-42402 error when opening a deep link using customised domain with MSAL"
When I try to open a deep link using customised domain with MSAL, on first click on deep link it works fine but on the following clicks it gives me the following error :
**Error Domain=MSALErrorDomain Code=-42402 "(null)" UserInfo={MSALErrorDescriptionKey=Only one interactive session is allowed at a time.}**

[2017-10-24 13:21] kirthika commented on #227
Used cancelCurrentWebAuthSession method and it helped. Thanks !

[2017-10-24 13:21] #227 closed

[2017-10-24 15:04] kirthika opened #228 "Can the safari toolbar be hidden?"
Can the safari toolbar be hidden on SFSafariViewController that is being used to open azure pages?

[2017-11-09 17:30] UmerAfzal1 opened #231 "How i Get Refresh Token"
Need Refresh Token For using request outlook api calling

[2017-11-14 15:56] RK905 commented on #227
wow did you get msal customized domain to work?
When i do custom the safari view does not open

[2017-11-14 15:57] RK905 commented on #225
when i add custom domain the safariview does not open

[2017-11-14 17:45] oldalton commented on #225
Please make sure you're providing a valid authority URL and see what error message you get back from the MSAL.

[2017-11-15 09:32] marthinfreij opened #234 "Add support for CocoaPods"
Would be great with support for CocoaPods as well.

https://guides.cocoapods.org/making/index.html

[2017-11-20 21:17] mmysliwiec opened #237 "CURRENT_PROJECT_VERSION is not set for iOS resulting in TestFlight/AppStore invalidation."
CURRENT_PROJECT_VERSION variable is not set anywhere in iOS configuration. This results in empty CFBundleVersion in Info.plist which is invalid value for the TestFlight/AppStore build.

CURRENT_PROJECT_VERSION should be added to "msal__ios__common__framework.xcconfig" file to correspond with "msal__mac__common__framework.xcconfig" which have CURRENT_PROJECT_VERSION variable set properly.

[2017-11-24 05:20] kirthika commented on #227
@RK905 Yeah ! just set **validateAuthority** to **false**, it works.

[2017-12-06 09:10] yaroslavbabenko opened #245 "How to use Intune iOS SDK with MSAL, instead of ADAL?"
How to use Intune SDK with MSAL, instead of ADAL? In the official documentation only examples of ADAL https://docs.microsoft.com/en-us/intune/app-sdk-ios, but I need to use Intune with new auth library MSAL. Is it possible, any sample or tutorial?

[2017-12-07 13:03] mmysliwiec opened #247 "Carthage build failing for dev branch"
Since few commits, Carthage is no longer building dev branch. The issue was introduced in commit #265bc5695eac510f0bbf40211bc32078c516ef1f. I was not able to build the project with Carthage since then despite it's building fine with Xcode. Now I've tested it on commit #8bccc7f988bbe280c4a6cc2fdb60111754a6ab26.

Here is the log file from Carthage:
[carthage-xcodebuild.gvyUrH.log](https://github.com

[2017-12-11 08:14] mkowalski87 opened #248 "Silent aquireToken and password changed for user"
Hi
When I retrieve idToken for user, and changed password in AD for given user then I'm still able to silently acquire token. Is it possible to detect if password was changed?

[2017-12-11 22:45] oldalton commented on #245
Unfortunately, it's not yet supported, because Intune SDK itself would need to do updates.

[2017-12-11 22:45] #245 closed

[2017-12-12 07:22] yaroslavbabenko commented on #245
Ok. Thanks for response.

[2017-12-12 08:30] johandk89 opened #249 "When will macOS be supported?"

[2017-12-12 13:29] 7sharp9 opened #250 "When requesting "Keep me signed in" does keychain access have to be acquired?"
I ask this as in my app checking "Keep me signed in" only works on the simulator not on a real device.

[2018-01-10 23:58] oddgoo commented on #228
Would this violate this security recommendation?

   without the usual address bar and other identity features that
   browsers have makes it impossible for the user to know if they are
   signing in to the legitimate site, and even when they are, it trains
   them that it's OK to enter credentials without validating the site
   first.

from section 5.1 here:

https://tools.ietf.org/html/draft-wde

[2018-01-22 19:21] joeboyscout04 commented on #234
Yeah, we don't add dependencies to our application without Cocoapods. We need support for this.

[2018-01-25 23:24] #237 closed

[2018-01-29 22:59] oldalton opened #254 "UI API called from a background thread in the test app"
=================================================================
Main Thread Checker: UI API called on a background thread: -[UITableView reloadData]
PID: 1720, TID: 530083, Thread name: (none), Queue name: NSOperationQueue 0x1c402f9a0 (QOS: UNSPECIFIED), QoS: 0
Backtrace:
4   MSAL Test App                       0x000000010224e300 -[MSALTestAppTelemetryViewController refresh] + 252
5   MSAL Test

[2018-01-30 18:55] RPangrle commented on #228
SFSafariViewController is entirely controlled by the OS, and thus can not be customized for security reasons.

[2018-01-30 18:55] #228 closed

[2018-02-01 18:06] oldalton commented on #248
Hi, MSAL will return you an access token until it expires. Once it's expired, MSAL won't be able to return an access token anymore, because refresh token won't be valid anymore.

[2018-02-01 18:06] #248 closed

[2018-02-01 18:07] oldalton commented on #247
Please make sure you point Carthage to the master branch. If you want to test the dev branch, please make sure you configure Carthage to also fetch the submodules.

[2018-02-01 18:08] #231 closed

[2018-02-04 08:44] sarmisen opened #259 "How can I configure the sample to work with Azure AD enterprise accounts"
Hello,

I've been strugling with the Swidt iOS sample provided with the Library. I can get it working with "common" scenarios, but not with enterprise Azure AD. I posted a question at stackoverflow explaining in detail my steps

https://stackoverflow.com/questions/48597765/msal-objective-c-library-ios-sample-dont-know-how-to-configure-it

I think, I'm not entering the right data here

let kClientI

[2018-02-04 11:12] sarmisen commented on #259
Solved. In the sample I had to pass the authority constant, that was not used

return try MSALPublicClientApplication(clientId: kClientId, **authority: kAuthority**)

[2018-02-06 11:40] schroepf opened #260 "Not possible to specify common keychain sharing group"
In my setup I'd like to use the MSAL library from an App Extension and it's companion app. After the user has logged into the companion app he shall be able to use the same account (i.e. tokens) from the extension as well to authenticate some backend requests.

Both component use different bundle identifiers, and therefore I must be able to change MSAL's default keychain share group to something t

[2018-02-06 11:41] schroepf commented on #260
a PR to address this issue: #258

[2018-02-13 12:41] christophercarlsson opened #261 "Change audience for token"
Hi,
Im trying to authenticate to be able to go against the Office 365 EWS SOAP API. I've setup the AAD app and Office 365 online permissions and they seem to be working correctly. Im using `https://login.microsoftonline.com/{tenant}` as authenticator uri. Most seems fine, however -
 when I get the token back, the aud (audience) property of the token says `https://graph.microsoft.com`. This in turn

[2018-03-02 11:18] zkrige commented on #234
+1 for Cocoapods please

[2018-03-03 15:34] zkrige commented on #234
I've built the 2 podspec files required for IdentityCore and MSAL

IdentityCore podspec
[code]

MSAL podspec
[code]

[2018-03-04 06:56] zkrige commented on #234
fixed by #264

[2018-03-11 10:51] vaibhav915 opened #265 "AcquireToken always return result as nil and error object in case of B2C tenant"
Hi,

I wanted to authenticate Azure B2C users in our iOS native app, so we are using MSAL library and calling acquireToken function with scope as either empty or "https://graph.microsoft.com/user.read" but in both the cases it is returning result as nil and error with some error object
(instance_type = 0x000060400024da70 -> 0x0000000103209ac8 (void *)0x0000000103209b18: NSError).

I think this is

[2018-03-22 03:43] eglibecerra commented on #259
@sarmisen, you are a legend! always trust a man with an eye patch :)

[2018-04-01 22:59] oldalton commented on #265
Hi, can you please provide a code sample of using MSAL and exact details about error you're receiving. Thanks.

[2018-04-02 10:59] LaurentiuUngur opened #268 "iOS 11.3 SDK Crash in Swift"
**Environment:** Swift 4.1, Xcode 9.3, iOS 11.3 SDK. Latest library from master branch.

**Problem:** It seems the app crashes when handling the redirect from the SFSafariViewController. This is the backtrace:

`* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_ACCESS (code=1, address=0x0)
    frame #0: 0x00000001138c12cf libswiftCore.dylib`swift_getObjectType + 47
    frame #1:

[2018-04-05 05:59] vaibhav915 commented on #265
Hello,
It's the same code that is available on Microsoft site for MSAL (https://azure.microsoft.com/en-us/resources/samples/active-directory-b2c-ios-swift-native-msal/)

So, when we are calling acquireToken function for B2C user it returns nil in result whereas throws below error message

Error Description:
(instance_type = 0x000060400024da70 -> 0x0000000103209ac8 (void *)0x0000000103209b18: NSErr

[2018-04-13 08:05] marcinwalus commented on #268
I can confirm this issue: it happens also in my app.
@LaurentiuUngur Thank you for workaround.

[2018-04-14 20:42] brandwe opened #269 "Building in xcodebuild results in timeout in Carthage. Maybe build error?"
When trying to build in Carthage, get the following error:

[code]
There is nothing in the log file, it is 0b.

It's possible from reports around the Internet that the build flags you are using in your `build.py` file are required for building, and that is not something Carthage can use to build. A typical culprit is trying to sign the build with keys which the flags in `build.py` prevent but agai

[2018-04-18 18:25] parakhj opened #270 "Nonce parameter is not being passed"
When making a request to Azure AD B2C (and likely also Azure AD), the nonce parameter is not being passed by the library. We are targetting the dev branch in this sample:

 https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal

Is there a workaround I can give to the customer?

[2018-05-10 17:44] danieldobalian commented on #261
The audience represents the resource the token is issued for, and cannot be modified once the token has been minted & signed.

In v2 (and when using MSAL), scopes map to a resource.  You'll need to modify the scopes requested in the `acquireToken` call to map to an OAuth2.0 scope the O365 API exposes.  If the API does expose these scopes, the structure would be something like `https://outlook.offi

[2018-05-18 04:03] jthake-msft opened #274 "Changing kAuthority to consumers doesn't work"
I'm using the MSAL Preview for iOS and this[ swift sample](https://github.com/Azure-Samples/active-directory-ios-swift-native-v2).

Based on the [documentation here](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols#endpoints), I should be using consumers not common to force it to Personal accounts only.

In the [ViewDidLoad function](https://github.com/

[2018-05-19 01:14] jthake-msft opened #275 "Using this library alongside Google sign on causes MSAL to fail loading sign in screen"
My Xcode Swift project is working fine. I wanted to add support for Google Sign in using their [quick start](https://developers.google.com/drive/api/v3/quickstart/ios?ver=swift) that works fine.

I can sign in with MSAL, then sign out. Then sign in with Google, then sign out. But if I try and sign in again with MSAL, it shows a blank Safari page with no error messages.

If I quit my simulator and

[2018-05-29 00:20] jthake-msft opened #277 "Login page does not render for iPhone X"
Originally I found this bug when debugging whilst plugged into my iPhone X. But then once I released it for testing via TestFlight, I found out that other iPhone X users also have this problem.

Essentially, when the MSAL library wants to show the sign in screen, the Safari window pops up with grey top navigation and bottom bar. But nothing ever loads in the middle of screen.

If you force quit th

[2018-06-01 01:07] unpluggedk commented on #277
I've been trying to reproduce this issue on 11.3 and now 11.4 on iPhone X; both with Wifi on and off.
I cannot get this reproduced. Were you using the sample as it was or change something?

From the description however, the fact that the safari view controller loaded fine, if the middle only is blank, there isn't much that can be done from the library.

Can you see if this is still reproducible?

[2018-06-13 11:47] charlymr opened #281 "Keychain Group Error (errSecMissingEntitlement -34018)"
## When using the library we are forced to use "com.microsoft.adalcache" for Keychain Sharing

![screen shot 2018-06-13 at 12 57 44](https://user-images.githubusercontent.com/356901/41347269-68d38db0-6f09-11e8-9746-21103c7cbb42.png)

## In the code, we are reading "MSALPublicClientApplication.m" - self.keychainGroup BEFORE it can be set.

In this initialisation method there is no way that the self

[2018-06-13 12:11] charlymr commented on #281
I have a pull request #282 which address this

[2018-06-14 00:27] oldalton commented on #265
Please file an issue in here: https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal

[2018-06-16 12:09] sheinix commented on #268
Any progress on this? Thanks.

[2018-06-21 14:27] HannesVDB opened #284 "Possibility to open the Safari Window in a modal VC"
Is there the possibility to open the `Safari Window` in a Modal View Controller on an iPad?

[2018-06-22 03:33] oldalton commented on #284
It's currently not supported, but should be technically possible.

[2018-06-22 03:35] oldalton commented on #250
Keep me signed in only controls cookies in the webview and shouldn't need a keychain access.

[2018-06-22 03:35] #250 closed

[2018-06-22 03:38] #259 closed

[2018-06-22 03:40] oldalton commented on #274
I just did a quick test and this seems to be resolved. @jthake Can you verify?

[2018-06-22 07:36] sunny131984 commented on #227
I am facing same issue in mobile app. when i try to click first time on forgot password link it works fine but on second time whole page links got disable. Please suggest what to do to clear all things.

[2018-06-24 19:34] jthake commented on #274
I'm using the latest version of this project cloned fresh and ran pod install https://github.com/Azure-Samples/active-directory-ios-swift-native-v2

If I change the kAuthority to
let kAuthority = "https://login.microsoftonline.com/consumers/"

I get this still
![image](https://user-images.githubusercontent.com/6786616/41822841-cc38f742-77aa-11e8-953d-3408176060df.png)

Actually now I get an error

[2018-06-26 22:38] unpluggedk opened #285 "Error refactoring"
Errors are hard to find, and hard to insert in values.
We should refactor it before end of preview.

[2018-06-30 21:06] unpluggedk opened #288 "Redirect scheme check revision"
We currently only allow msal[clientId] as a redirect scheme.
Check MSALPublicClientApplication.m

[2018-07-16 12:55] eriklamanna opened #291 "Incorrect token URL for Azure B2C"
I've been trying to get this library to work with Azure B2C tenants and was unable to get the code working out of the box. Upon further examination I've discovered that the token endpoint that's generated after the authorization step is not generated correctly. It seems that the policy query parameter is dropped in the flow process.

So for example, if you pass the policy `p` query value in `extra

[2018-07-18 14:47] MiteshiOS opened #292 "Not allowed to install pod for platform :ios, '9.0'"
It shows me this error.

Specs satisfying the `MSAL (from `https://github.com/AzureAD/microsoft-authentication-library-for-objc`, tag `0.1.3`)` dependency were found, but they required a higher minimum deployment target.

I want my minimum deployment target 9.0. Please let me know what i should do for that ?

https://apps.dev.microsoft.com/portal/quickstart/ios

I tried with this but it shows me *

[2018-07-19 17:22] oldalton commented on #291
Hi. There're multiple ways to specify policies with Azure B2C (through query parameters or path components). However, MSAL only supports the second one. So, to use B2C policies, your authority needs to be in the following format "https://<host>/tfp/<tenant>/<policy>/". e.g. https://login.microsoftonline.com/tfp/contoso.onmicrosoft.com/B2C_1_signup_signin/

Please let me know if it works.

[2018-07-19 20:08] eriklamanna commented on #291
Thank you for the response. I've tried every combination of the TFP URL and I only get 404s.

https://login.microsoftonline.com/tfp/my_tenant.onmicrosoft.com/b2c_1a_signup_signin/v2.0/oauth/authorize

I've tried almost every permutation of the last part of this path and all I get is 404s for an authorize endpoint on B2C.

[2018-07-20 06:34] MiteshiOS commented on #292
@oldalton Thank you for the information. Actually what i did is i changed deployment target to iOS 10 after that i install pod and it successfully installed. Now from my xcode project i changed target to iOS 9 and log in with microsoft working.
So there will be any issue further with this approach ?

[2018-07-20 23:54] jthake-msft commented on #277
I finally worked out that I needed to take this out of the viewDidAppear to  viewDidLoad and this seems to have resolved this issue. The samples may need updating to stop others making this mistake.

[2018-07-20 23:54] #277 closed

[2018-07-20 23:55] jthake-msft commented on #275
I finally worked out that I needed to take the below code out of the viewDidLoad to  viewDidAppear and this seems to have resolved this issue. The samples may need updating to stop others making this mistake.

[code]

[2018-07-20 23:55] #275 closed

[2018-07-20 23:57] #274 closed

[2018-07-21 22:39] oldalton commented on #292
As I mentioned above, we'll be dropping support of iOS 9 for MSAL in a couple of months. That means we won't be able to guarantee MSAL compatibility with that iOS version anymore (just for clarity, we still support iOS 9.3.x as of the current moment). While you might still find it working on iOS 9 going forward, we won't be able to support you if you experience iOS 9 specific issues or API incompa

[2018-07-21 22:41] oldalton commented on #291
Thanks for the additional information. Let me take a look at it.

[2018-07-22 06:35] MiteshiOS commented on #292
@oldalton Thank you for the information and support.

[2018-07-24 13:56] bussalleu2 commented on #234
I need CocoaPods support. I can not use Carthage, I am developing a CocoaPod library and It is not possible add  Carthage in a development pod.
Thank you

[2018-07-26 05:17] #281 closed

[2018-08-04 00:28] unpluggedk opened #299 "MSALRequestParameters property revisit"
Currently, config gets created per getter call.
Plus, I am not sure if all these should be read,write.

I suggest we make all this readonly with an initializer,
and create special setter methods for exception cases.

[2018-08-07 01:30] unpluggedk opened #301 "Handle open browser request"
response from webview with "browser" scheme should open browser.

[2018-08-07 01:31] unpluggedk commented on #301
In progress right now

[2018-08-10 23:30] oldalton opened #305 "Don't report 400-500 http responses as JSON parsing errors"
if .well-known request fails with e.g. http 404 not found, MSAL still tries to parse the response and reports the failure as JSON parsing issue. It's difficult to understand and debug the issue. Those errors should be reported as 404 errors.

[2018-08-17 01:57] oldalton commented on #305
@rohitnarula7176 Assigned this one to you :)

[2018-08-23 00:45] oldalton commented on #291
Hi, please make sure that both your policy name and tenant name are valid. We've now verified B2C setup with MSAL end to end and it is working.

[2018-08-24 12:10] eriklamanna commented on #291
Thank you for following up. I must have something incorrect in my config somewhere. I'll retry setting it up again.

[2018-08-24 12:10] #291 closed

[2018-08-27 09:56] JimmyLS opened #317 "May I know when the MSAL can support MacOS?"
I saw the similar question posted here last year. May I know if there're any updates now? Or could you please provide an ETA when the MacOS can be supported to use this library.

Thanks a lot in advance.

Jimmy Sun

[2018-08-28 04:06] oldalton commented on #317
We'll start adding support for macOS after we finish adding all ADAL features to MSAL for iOS. We're currently working on a more detailed plan/timeline for macOS support.

[2018-08-29 03:17] JimmyLS commented on #317
Thanks for this info. Hope you can provide the plan/timeline soon.

[2018-09-01 02:29] #305 closed

[2018-09-11 13:28] mohacs commented on #317
@oldalton thank you, can you provide ETA? almost a year passed and we did not hear anything about it?

[2018-09-12 02:58] SoftDev0420 opened #332 "Unable to find a specification for `MSAL`."
When I run `pod update`, I get `Unable to find a specification for MSAL` message.
How can I solve this? It did work before.

[2018-09-12 19:52] oldalton commented on #332
Hi. The previous MSAL CocoaPods definition wasn't official MSAL one and it was maintained by a third party dev pointing to a different repository. In the effort to make sure MSAL CocoaPods is pointing to an official Microsoft maintained repository, we'll be switching it to the official Microsoft CocoaPods and taking over maintenance of it. We're right in the process of doing so. You can expect a n

[2018-09-12 19:55] SoftDev0420 commented on #332
Thank you for your kind reply!

On September 12, 2018 at 9:52:13 PM, Olga Dalton (notifications@github.com)
wrote:

Hi. The previous MSAL CocoaPods definition wasn't official MSAL one and it
was maintained by a third party dev pointing to a different repository. In
the effort to make sure MSAL CocoaPods is pointing to an official Microsoft
maintained repository, we'll be switching it to the offici

[2018-09-13 03:06] oldalton commented on #332
MSAL CocoaPods 0.1.4 is now available: https://cocoapods.org/pods/MSAL
Please let me know if you have any questions.

[2018-09-13 03:10] SoftDev0420 commented on #332
I just saw it. It would be better if you add the installation guide using CocoaPod at document.

Thank you.

[2018-09-13 03:26] SoftDev0420 commented on #332
Yes, it works! (Actually, I did `pod update`.)

Thank you again.

[2018-09-13 18:18] #332 closed

[2018-09-15 12:06] rodrigorodriguez commented on #291
@eriklamanna , now I got this 404 error. Did the Azure B2C tenants worked?

[2018-09-17 08:07] hooliooo opened #344 "Use of undeclared type 'MSALUser'"
Hello,

I've been using MSAL for an existing project. It was versioned 0.2.4 before but when I ran pod update MSAL. The version went to 0.1.4. And I get compile errors saying that MSALUser is an undeclared type.
It was working last week but now it is not.

What can I do to resolve this?

<img width="551" alt="screen shot 2018-09-17 at 10 05 39 am" src="https://user-images.githubusercontent.com/769

[2018-09-17 18:03] oldalton commented on #344
Hi. MSALUser has been replaced with MSALAccount.
Also, 0.2.4 CocoaPods wasn't maintained by Microsoft. It was maintained by another dev and wasn't pointing to correct repository. 0.1.4 is now maintained by Microsoft, that's why the version numbers have changed.

[2018-09-18 06:37] hooliooo commented on #344
Thank you for the info :)

[2018-09-18 06:37] #344 closed

[2018-09-19 18:56] antrix1989 opened #352 "Support "pod try" command"
It should allow to test-drive a library before adding it to the project.

[2018-09-20 20:09] barnstar opened #353 "v0.2 Missing from Cocoapod podspec repo"
I had been using the 0.2.2 preview which seems to have disappeared from the CocoaPods podspec repo (0.2.2 because of errors in 0.2.3).   The newest available version in the podspec now is 0.1.4 which lacks the features I require.

Can we get this latest version (0.2?) back into CocoaPods?

$pod update
$pod spec cat MSAL
{
  "name": "MSAL",
  "version": "0.1.4",
  "summary": "Microsoft Authenticati

[2018-09-20 22:53] deregtd commented on #353
FWIW, 0.1.4 doesn't compile for me in XCode without modification. It references "IdentityCore_Internal.h", which doesn't exist anywhere.

[2018-09-21 01:32] oldalton commented on #353
Thanks for reporting those issues.
1. The 0.2.2 version wasn't maintained by Microsoft. It was created by another dev it was basically a wrapper around official MSAL (and we weren't aware of that until we tried to push our own official Pod). The versioning of that Pod was different from MSAL versioning and we can't control that. We now took over the official MSAL cocoa pods and pointing it to corr

[2018-09-21 01:33] oldalton commented on #353
Duplicate of https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/332

[2018-09-21 04:45] deregtd commented on #353
Aha interesting!  The submodules thing fixed, it thanks!  The install instructions I copied didn't have any mention of that, which worked fine until 0.1.4.  May want to put that on your front page for cocoapod installers. :)

[2018-09-24 16:10] oldalton commented on #317
We're planning to be feature complete for iOS in 2-3 months from now. We'll pick up macOS after that. For macOS, we're currently missing caching mechanism and a test app. Otherwise, it should be fully functional. Caching is the most complicated piece with macOS supporting access groups only for iCloud Keychain. We're estimating this to be another 2-3 months of work.

We appreciate external contrib

[2018-10-01 07:08] lololopez opened #365 "'AuthenticationServices/AuthenticationServices.h' file not found’"
I have tried to install the next branch "pod 'MSAL', :git => 'https://github.com/AzureAD/microsoft-authentication-library-for-objc', :branch => 'master', :submodules => true” and I have received this error 'AuthenticationServices/AuthenticationServices.h' file not found’ when I tried to import '#import <AuthenticationServices/AuthenticationServices.h>’

I also have tried to install "pod 'MSAL', '~

[2018-10-04 01:55] oldalton commented on #365
@lololopez Can you make sure you're using Xcode 10. AuthenticationServices framework was added by Apple in iOS 12+.

[2018-10-05 02:42] oldalton commented on #365
@lololopez Did you try the suggested fix? Thanks

[2018-10-06 06:16] lololopez commented on #365
Yes, i could test It and It was right.

El vie., 5 oct. 2018 4:42, Olga Dalton <notifications@github.com> escribió:

[2018-10-08 17:06] oldalton commented on #365
Thanks @lololopez.

[2018-10-08 17:06] #365 closed

[2018-10-08 17:06] oldalton commented on #353
Looks like the issues were resolved. Please reopen this issue if you experience any more problems. Closing for now.

[2018-10-08 17:06] #353 closed

[2018-10-08 17:07] oldalton commented on #301
@unpluggedk Is this completed? If yes, please close.

[2018-10-08 17:07] oldalton commented on #292
@MiteshiOS, looks like the issue was resolved. I'll close this issue. Please reopen if you're still experiencing problems.

[2018-10-08 17:07] #292 closed

[2018-10-08 17:17] oldalton commented on #268
Can you please retry with MSAL 0.2.0?

[2018-10-08 17:17] oldalton commented on #260
Resolved in latest MSAL release.

[2018-10-08 17:17] #260 closed

[2018-10-09 02:06] oldalton opened #371 "Revisit nullability specifiers in MSALPublicClientApplication convenience inits as part of the configuration work"

[2018-10-09 09:03] youlianqi opened #372 "Carthage update Fail."
In file included from <built-in>:1:
In file included from /Users/***/ios-objectivec-connect-rest-sample-master 6/Carthage/Checkouts/microsoft-authentication-library-for-objc/MSAL/src/MSAL.pch:46:
In file included from /Users/***/ios-objectivec-connect-rest-sample-master 6/Carthage/Checkouts/microsoft-authentication-library-for-objc/MSAL/src/MSAL_Internal.h:81:
In file included from /Users/***/ios-

[2018-10-10 16:13] oldalton commented on #372
Can you please post your cartfile?

[2018-10-11 18:04] tachtevrenidis opened #373 "the library should handle calls for multiple interactive logins internally"
Currently, it seems like if there is a request for interactive logins while another interactive login is on the screen the library throws:

MSALErrorCode.interactiveSessionAlreadyRunning

I think that if the call for interactive login was for the same exact resource and scopes, the library should hold up the second call, wait until the first is done, and return the same token to the second one.

C

[2018-10-16 12:36] alexdmotoc commented on #372
Same issue:

[code]

Cartfile looks like this:
[code]

[2018-10-18 01:11] joeldhenry opened #377 "Multiple login scope domains"
On MSAL JS, there is a login function which allows multiple domain scopes to be passed in, however in the iOS SDK, you are only able to pass in a single domain of scopes into the `application acquireTokenForScopes:scopes` function which is used in the sample for login. There doesn't seem to be any true login function part of the MSAL Objc SDK

[2018-10-19 02:16] youlianqi opened #378 "Can't clear cookie when logout"
I am trying to logout and clear all data, but when I login in again, old account is in cookie.

The function for logout is :

NSHTTPCookieStorage* cookieStorage = [NSHTTPCookieStorage sharedHTTPCookieStorage];
    for(NSHTTPCookie* cookie in [cookieStorage cookies])
    {
        if(cookie)
            [cookieStorage deleteCookie:cookie];
    }
[self.msalClient removeUser:self.user error:&error_];

[2018-10-19 08:52] youlianqi commented on #378
How to true logout for MSAL?

[2018-10-19 17:30] oldalton commented on #372
We're investigating the issue right now and the fix should be available in our upcoming 0.2.1 release. Sorry for the inconvenience.

[2018-10-22 15:39] oldalton commented on #378
You cannot clear cookies using NSHTTPCookieStorage from SFSafariViewController or SFAuthenticationSession. Apple doesn't give developers any control over cookies in those components.

We have the "true logout" on our roadmap, where logout will open the web component and logout of the account globally.

[2018-10-22 15:40] oldalton commented on #377
You can pass additional list of scopes to consent in the "extraScopesToConsent" parameter. Please take a look at this API:

[code]

Please let me know if that works for you.

[2018-10-22 15:42] oldalton commented on #372
FYI, I opened issue in Carthage repository: https://github.com/Carthage/Carthage/issues/2621

[2018-10-23 01:31] joeldhenry commented on #377
Thanks @oldalton! Very Helpful!

[2018-10-23 01:31] #377 closed

[2018-10-23 23:42] oldalton commented on #214
This is resolved in MSAL 0.2.0.

[2018-10-23 23:42] #214 closed

[2018-10-23 23:43] #247 closed

[2018-10-24 02:13] youlianqi commented on #378
Present SFSafariViewController with logoutURL  https://login.microsoftonline.com/common/oauth2/v2.0/logout, success in iOS 10. But fail in iOS 11 and iOS 12.

@oldalton  Do you have any suggestions? Thanks a lot.

[2018-10-25 02:09] oldalton commented on #378
Which MSAL version are you using? Latest MSAL doesn't use SFSafariViewController by default anymore on iOS 11+.

[2018-10-29 16:59] aanthonyDOL commented on #378
My pod was updated now , when I'm doing authentication instead of seeing users in the code im seeing accounts. Now my Microsoft redirect throws a error: acquireToken returning with error: (NSOSStatusErrorDomain, -34018)

if  try API.applicationContext.**accounts()**.isEmpty

[2018-10-29 17:10] oldalton commented on #378
@aanthonyDOL, -34018 means errSecMissingEntitlement, please follow our guidance on resolving it here: [-34018 Failed to set item into keychain errors](https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Keychain-on-iOS#-34018-failed-to-set-item-into-keychain-errors)

[2018-10-29 17:13] aanthonyDOL commented on #378
I was previously using 0.1.4 and everything was working find. Way the Keychain feature added in a later version?

[2018-10-29 17:19] oldalton commented on #378
0.1.4 should have the same keychain functionality. We fixed a couple of bugs in the latest 0.2.0 version. Can you please let me know which keychain sharing groups are declared in your entitlements and which ones you're providing to MSAL?

[2018-10-29 17:29] oldalton commented on #378
@aanthonyDOL is this your entitlement configuration? What are you passing to MSAL?
MSAL uses "com.microsoft.adalcache" as a default group. If you're not changing the access group in MSAL, you have to register that one in your entitlements.

[2018-10-29 17:38] aanthonyDOL commented on #378
My entitlement configuration is the default settings , and so is what im passing to MSAL. I havent changed any keychain configurations. In addition using MS login worked before with the default keychain configurations.

[2018-10-29 17:49] aanthonyDOL commented on #378
When I cloned the project I didn't change any Keychain configurations, so both of the com.microsoft.MSALTestApp and com.microsoft.msalcache are included in the entitlement file and in the Keychain group in the Keychain Sharing under Capabilities

[2018-10-29 17:56] oldalton commented on #378
Thanks. When you say you "cloned the project". Which project are you referring to? Is it some kind of a sample?

[2018-10-29 18:17] aanthonyDOL commented on #378
I'm missing $(AppIdentifierPrefix)com.microsoft.workplacejoin from entitlements. Yes it was a sample.

[2018-10-29 18:30] aanthonyDOL commented on #378
That was it I was missing $(AppIdentifierPrefix)com.microsoft.adalcache

[2018-10-30 11:35] marianoabdala commented on #270
We are having the same issue, is there a work-around for this?

[2018-10-30 17:19] youlianqi commented on #378
Do you mean that user must use ASWebAuthenticationSession/SFAuthenticationSession to open logout url https://login.microsoftonline.com/common/oauth2/v2.0/logout, and then manual pick an account to sign out?  After that dismiss web view from call back url?
As this article said. https://stackoverflow.com/questions/47207914/sfauthenticationsession-aswebauthenticationsession-and-logging-out

[2018-10-30 18:39] oldalton commented on #378
Yes, you'd also need to pass some extra additional parameters. Please see information [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#send-a-sign-out-request). Implementing this functionality as part of MSAL is on our roadmap as well.

[2018-10-31 16:43] mahasp opened #392 "xcode10 : Failed to verify bitcode in MSAL.framework/MSAL: error: Cannot extract bundle from /var/folders/dx/3d4k2yp11d7_twlknf2r0vk80000gn/T/XcodeDistPipeline.HZB/Root/Payload/app/Frameworks/MSAL.framework/MSAL (i386)"
Hello,

XCode version : 10.0
Carthage version: 0.31.2
microsoft-authentication-library-for-objc at "0.1.3"

When I archive my app i am getting the following error:

Failed to verify bitcode in MSAL.framework/MSAL:
error: Cannot extract bundle from /var/folders/dx/3d4k2yp11d7_twlknf2r0vk80000gn/T/XcodeDistPipeline.HZB/Root/Payload/app/Frameworks/MSAL.framework/MSAL (i386)

Here is what i have tried

[2018-11-01 00:14] oldalton commented on #392
@mahasp, Can you verify if you see the same issue with the latest version? 0.1.3 is quite an old version...

[2018-11-01 23:13] mahasp commented on #392
I did the following and the oissue was resolved:

On your application targets’ “Build Phases” settings tab, click the “+” icon and choose “New Run Script Phase”. Create a Run Script in which you specify your shell (ex: /bin/sh), add the following contents to the script area below the shell:
/usr/local/bin/carthage copy-frameworks
and add the paths to the frameworks you want to use under “Input Fil

[2018-11-01 23:13] #392 closed

[2018-11-01 23:23] rbrayb opened #393 "“Server returned less scopes than requested”."
This is with Azure AD B2C.

This error occurs on version 0.2.0.

We then downgraded to 0.1.4 and the error no longer occurs.

The scopes that were requested were the clientID and offline_access.

With 0.2.0 we could successfully authenticate on B2C and the access token and refresh tokens were returned.

![image](https://user-images.githubusercontent.com/5341999/47885375-8f47a580-de99-11e8-8570-83d

[2018-11-04 21:54] SaeedAkhter-MSFT opened #395 "Scopes are case sentitive, MSAL objc is lowercasing scopes and should not be"
See https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/b7dc31c26ffc6ff4172dfcc85cdbae4dc3058b5c/MSAL/src/requests/MSALRequestParameters.m#L73

Reported by an internal customer:
https://stackoverflow.microsoft.com/questions/108249/msal-ios-scope-parameter-sent-to-login-microsoftonline-com-as-all-lowercase

MSAL for objc is sending the scope to login.microsoftonline.com as all

[2018-11-05 09:05] hlineholm-flir opened #396 "Enable Accessibility for WebView"

[2018-11-05 15:55] hisaac commented on #372
I'm unfortunately still seeing this issue when I try to update to version 0.2.1. I get errors regardless of if I run `rm -rf Carthage/*` or not. If I lock the version to 0.2.0, I'm able to run `carthage update` with no problem.

Here's the specific error I get when running `carthage update` (I've added `<...>` to hide private information):

[code]

The error message in the log file is:

[code]

I'

[2018-11-05 19:46] oldalton commented on #372
@hisaac Can you please try with 0.2.2? There was a warning in 0.2.1 logging that might have caused this. [Release 0.2.2](https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/0.2.2)

[2018-11-05 19:59] oldalton commented on #396
@hlineholm-flir, Can you please provide more information on this request? Thanks.

[2018-11-05 20:01] oldalton commented on #393
It means that server didn't recognize some of the scopes you provided and therefore didn't return those in response. Please see more info here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/master/MSAL/src/public/MSALError.h#L92
However, it's a bit weird that MSAL complained about "offline_access". Let me check if it's a bug.

[2018-11-05 20:02] hisaac commented on #372
@oldalton Yep, this looks to have fixed the issue. Thank you!

[2018-11-05 20:03] oldalton commented on #372
Great, thanks!

[2018-11-13 16:06] colinhumber commented on #284
+1 for this

[2018-11-22 10:24] kishorekankata opened #409 "Supported version for xcode 9.4.1"
Please let me know which version of this library supports xcode 9.4.1, as I am getting a Carthage build fail while running?

[2018-11-24 01:46] oldalton commented on #372
Latest MSAL needs Xcode 10 to work, @kishorekankata. Latest MSAL uses ASWebAuthenticationSession, which requires Xcode 10.

[2018-11-24 05:12] antrix1989 commented on #409
Version [0.1.3](https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/0.1.3) supports xcode 9, but we recommend you switch to xcode 10 and use latest MSAL version, which is [0.2.2](https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/0.2.2).

[2018-11-29 17:28] DimaGershman opened #413 "loginHint parameter doesn't work with SignUp policy"
Hi
I am trying to use the overload for `acquireToken` method with the loginHint parameter, but it doesn't seem to work - the sign-up page opens fine, but the username field is still empty.

`application.acquireToken(forScopes: kScopes, loginHint: loginHint) { (result, error) in ...`

MSALAuthority is contracted using: `"https://login.microsoftonline.com/tfp/%@/%@/v2.0/"`

THANKS!

[2018-12-03 00:55] oldalton commented on #413
@parakhj Any comment if that's something that B2C supports?

[2018-12-03 01:31] parakhj commented on #413
It is supported in custom policies, but not built-in policies. Although let me see if we can get it added into the v2 policies.

[2018-12-03 01:32] oldalton commented on #413
@DimaGershman, seems it's not supported by B2C at the moment. Closing the issue as it's not an MSAL issue. Please feel free to reopen if you have additional questions.

[2018-12-03 01:32] #413 closed

[2018-12-03 01:46] oldalton commented on #393
Thanks, we'll work on improving our documentation.
I checked your scopes in the sample, and "offline_access" is a reserved scope. MSAL appends it to each request anyway, so please don't pass it to MSAL yourself.
Regarding "clientId" scope, MSAL had logic to remove clientId from passed scopes, because AAD doesn't support it. Therefore, MSAL silently removed the scope from the request and you would

[2018-12-03 01:47] oldalton commented on #396
@hlineholm-flir, Some additional information about this request would be highly appreciated. Thanks.

[2018-12-09 23:52] oldalton commented on #395
Did the fix, but we should also keep in mind that AAD itself treats scopes as case insensitive. So, if you send a scope in a different case, AAD will return it back in a "corrected" case. So, it might be that customer will still experience issues even after the fix.

e.g. customer sends USER.read
MSAL now sends USER.read to AAD (previously sent user.read)
AAD returns User.Read in response and in a

[2018-12-10 04:03] mendesbarreto commented on #210
Hello guys,

Do you have a simple code in Swift for resolve this situation?

Thank you

[2018-12-10 18:20] aanthonyDOL commented on #378
I'm using MSAL framework to login to this app that I developed. On the login screen I cannot get the Token. Nothing Changed in My code. I'm getting the following message in Console:
%@ TID = 10238 MSAL 0.1.4-dev iOS 12.1.1 [2018-12-10 18:13:41 - B6626163-BFED-471E-8717-0A94A6FEDA7B] Get keychain items, key info (account: (not-nil) service: (nil))
%@ TID = 10238 MSAL 0.1.4-dev iOS 12.1.1 [2018-12-1

[2018-12-10 19:01] aanthonyDOL commented on #378
I'm using MSAL framework to login to this app that I developed. On the login screen I cannot get the Token. Nothing Changed in My code. I'm getting the following message in Console:
%@ TID = 10238 MSAL 0.1.4-dev iOS 12.1.1 [2018-12-10 18:13:41 - B6626163-BFED-471E-8717-0A94A6FEDA7B] Get keychain items, key info (account: (not-nil) service: (nil))
%@ TID = 10238 MSAL 0.1.4-dev iOS 12.1.1 [2018-12-1

[2018-12-10 19:24] aanthonyDOL opened #422 "Unable to Aquire Token Silently"
I'm using MSAL framework to login to this app that I developed. On the login screen I cannot get the Token. Nothing Changed in My code. I'm getting the following message in Console:
%@ TID = 10238 MSAL 0.1.4-dev iOS 12.1.1 [2018-12-10 18:13:41 - B6626163-BFED-471E-8717-0A94A6FEDA7B] Get keychain items, key info (account: (not-nil) service: (nil))
%@ TID = 10238 MSAL 0.1.4-dev iOS 12.1.1 [2018-12-1

[2018-12-10 19:49] antrix1989 commented on #422
This line indicates that MSAL was able to find refresh token in the cache and trying to get new access token:

So cache seems to be good. Can you show what happens after? If you have sensitive information, please mask it before uploading logs. Thanks!

[2018-12-10 20:07] #409 closed

[2018-12-10 20:13] aanthonyDOL commented on #422
This is what I have next
%@ TID = 13434 MSAL 0.1.4-dev iOS 12.1.1 [2018-12-10 18:31:40 - F2EDC7E9-A2AE-4ACC-ADAD-F6D7D0169668] Refreshing access token
%@ TID = 13434 MSAL 0.1.4-dev iOS 12.1.1 [2018-12-10 18:31:40 - F2EDC7E9-A2AE-4ACC-ADAD-F6D7D0169668] HTTP request login.microsoftonline.com://login.microsoftonline.com
%@ TID = 13397 MSAL 0.1.4-dev iOS 12.1.1 [2018-12-10 18:31:40 - F2EDC7E9-A2AE-4A

[2018-12-10 20:45] antrix1989 commented on #422
So you getting MSALErrorInvalidGrant (42004). It means that refresh token was rejected by the server. It is either invalid or has expired. Does MSAL shows web view and asking you to enter login/password?

It would be nice if you can send a full log and [network trace](https://github.com/AzureAD/azure-activedirectory-library-for-objc#network-traces) to this emails address: sedemche@microsoft.com. P

[2018-12-10 21:32] antrix1989 commented on #422
Yeah, your refresh token becomes invalid after you change a password.

Because it is a silent request, MSAL doesn't show the web view. Instead, it should return you MSALErrorInteractionRequired (42100). When you get this error you should call interactive request with same parameters as you provided to silent request, so MSAL will popup the webview and ask a user to log in again. After user logs in

[2018-12-10 21:42] aanthonyDOL commented on #422
okay thanks

[2018-12-11 19:11] aanthonyDOL commented on #422
Which function or bit of code handles the redirect to Microsoft Login page?

[2018-12-12 03:31] antrix1989 commented on #422
See example [here](https://github.com/AzureAD/microsoft-authentication-library-for-objc#silently-acquiring-an-updated-token-objective-c).

[2018-12-14 02:02] oldalton commented on #378
@Shayila, which web component are you using?
If you want to force user to enter his password next time, you can use WKWebView for authentication, or pass MSALForceLogin as ui behavior for next login.
MSAL currently doesn't support signing out from device, but it's on our roadmap.

[2018-12-14 12:51] Shayila commented on #378
Thanks, I used MSALForceLogin and it works.

[2018-12-17 20:53] antrix1989 opened #425 "Consider removing MSALErrorRefreshTokenRejected"
Seems we are not using this error in MSAL. Double check and remove if that is a case.

[2018-12-18 00:27] antrix1989 opened #426 "Remove reserved scopes from dictionary under MSALGrantedScopesKey"
We suppose developer should pass back all scopes received under MSALGrantedScopesKey to the MSAL. Currently, it also contains reserved scopes. As a result, MSAL rejects the request with the following error:

[code]

[2018-12-18 06:23] Shayila opened #427 "Difference between MSAL and Active Directory B2C"
Hi,
Is there is any difference in access token generated by MSAL or Active Directory B2C ?
In both cases whether the refresh token can be generated even after the password of an user gets expired ?

[2018-12-19 19:53] oldalton commented on #427
MSAL supports B2C. MSAL is a client side library and doesn't generate a token itself. It talks to B2C to acquire an access token. If user changes the password, or it's expired, access token will generally be revoked, so user would need to enter his credentials again during the interactive MSAL acquire token flow.

[2018-12-21 13:20] Shayila commented on #427
**Received access Token and currentAccountIdentifer by calling**

[code]

**After access Token expires  with Account we are calling -**

[code]

We are able to receive the access token even after the password changed in server side without interactive MSAL acquire token flow.

[2018-12-22 17:56] RameshVelusamy opened #430 "Application Access with Managed Browsers"
Hello,

We have published Cisco WebEx as a Managed App through Intune and Edge, MB is our managed browsers. Outlook Calendar and WebEx integration has been done. In Android, When we enable O365 signin with in WebEx, the application is opening with device native browser instead of managed browser. Due to this , it is prompting us to enroll even though the device is already enrolled. Is there an sol

[2018-12-22 23:09] oldalton commented on #430
Thanks for posting this question. If I understand correctly, you're seeing an issue on Android with your app, which has Intune MAM SDK integration?
I'd suggest you to post the Intune MAM SDK related questions to its own repository [here](https://github.com/msintuneappsdk/ms-intune-app-sdk-android).

Does your app integrate with MSAL Objective-C on iOS? Please let me know if you have any MSAL Objec

[2018-12-22 23:09] oldalton commented on #425
👍

[2018-12-23 00:57] oldalton commented on #427
It might be that your access token is still valid. Password change generally triggers refresh token revocation, but if you have a valid access token, it will be still valid until its expiry. You can try to let the access token to expiry (generally 1 hour), and see if password change triggers prompt after that.

See more information here: [AAD](https://docs.microsoft.com/en-us/azure/active-director

[2018-12-25 00:37] parakhj commented on #427
B2C does not automatically invalidate refresh token when passwords reset. You could add that step in your user journey if you use custom policies, or just call the revoke refresh token graph API after successfully running the password reset policy.

[2019-01-09 19:22] danieldobalian commented on #430
@RameshVelusamy Were you able to make progress on this issue? If not, can you help us better understand exactly what SDKs you're using and user experience you want to achieve?

[2019-01-14 22:57] parakhj commented on #427
Sorry for the delay. Could you clarify the last bit?

If I understood correctly, you would like to block the user from using the API if the password changed, and you would like the user to sign in again?

[2019-01-17 17:29] chrisriner opened #439 "URGENT: building for iOS Simulator simulator, but linking against dylib (Carthage/Build/Mac/MSAL.framework/MSAL) built for macOS. Note: This will be an error in the future."
I followed the doc and imported the MSAL framework using Carthage and I get this error when building without any code as I simply running builder after importing the framework.

[2019-01-17 17:40] danieldobalian commented on #430
@RameshVelusamy we spoke with someone from your Android team about this issue. Are you also encountering the same problem on the iOS side? If so, can you shoot me a mail so we can loop you in with future calls w/ Cisco. My email is dadobali@[my_employer].com

[2019-01-17 18:05] oldalton commented on #439
Thanks for reporting this. Can you please confirm if you're trying to use MSAL for iOS or macOS?

[2019-01-25 19:59] oldalton commented on #439
Thanks for confirming. We'll take a closer look at this issue.

[2019-01-29 10:37] christophercarlsson opened #449 "Requires user interaction every time token expiration"
Hi,
I have an issue where the application requires me to user interact every time the token expires, im unable to refresh the token.

Im doing the following when acquiring the token for the first time
`
self.msalApplication.acquireToken(forScopes: scopes) { (result, error) in ...
`
where I save the access token, expiry time and the account.homeAccountId.identifier.

When the token has expired, I d

[2019-01-29 17:06] danieldobalian commented on #449
This error is generated when the user needs to do multi-factor authentication which can be triggered for a few reasons.

In particular,
1. There is a Conditional Access policy set by the tenant admin requiring the user to MFA each time they request a token for the scopes you're requesting.
2. The token you're using to refresh the AT with doesn't request or have the MFA claim.

More than likely, it

[2019-01-30 21:13] antrix1989 commented on #422
See an example of error handling [here](https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Error-Handling).

[2019-01-30 21:13] #422 closed

[2019-02-04 18:41] chrisriner commented on #439
Hello, I was wondering if there is any update.  Also I need to modify and older objective-c app and I was trying to make sure of the sdks to authenticate user and use the graph etc and I was wondering since I am having so many issues with these three sdks would I be better off just using the rest urls and not using the sdk

[2019-02-06 02:05] oldalton commented on #439
@chrisriner, I did a fresh setup myself with all the steps from our main page, pointing Carthage to master branch. It all worked without warnings on Xcode 10.1 and I was able to run it on iOS simulator.

From your particular issue, it seems that you're linking an iOS project with macOS MSAL. Note that when you build MSAL with Carthage, there will be 2 frameworks built for iOS and for macOS. It see

[2019-02-06 17:10] CA-hub opened #455 "MSAL iOS B2C login cache is not saved. we use custom policy for sign-in and change password. after successful signing change password policy again asking for user credentials"

[2019-02-06 21:17] oldalton commented on #455
Thanks for reporting this issue. If I understand correctly, everything works until user changes their password? If that's the case, does password change policy also revoke the refresh token?

[2019-02-06 21:18] oldalton commented on #439
@chrisriner, have you had a chance to try out the resolution steps? Thanks.

[2019-02-07 04:54] CA-hub commented on #455
It's not about refresh token getting expired. we have two custom policies  1. Sign-in policy 2.chage password policy.

[2019-02-07 16:11] oldalton commented on #455
Thanks for additional information. What kind of a webview type are you using? If you're using default webview type, it should have cookies from the sign in policy credential prompt, so I agree that you shouldn't need to enter credentials again. Adding @parakhj to confirm on B2C service side.

[2019-02-11 06:19] Shayila commented on #227
I'm also getting into the same scenario trap.
Even after setting the **validateAuthority** to **False** and also including `MSALPublicClientApplication.cancelCurrentWebAuthSession;`
I'm facing the below warning or error situations.

Using ` [MSALPublicClientApplication handleMSALResponse:url];`
 i encountered the following error:
**Error Domain=MSALErrorDomain Code=-42402 "(null)" UserInfo={MSALEr

[2019-02-12 19:40] chrisriner commented on #439
I should be able to work on this tomorrow

[2019-02-12 20:18] chrisriner commented on #439
Users/cdriner/Directory/Carthage/Build/iOS/MSGraphMSALAuthProvider.framework - that is path showing for my framework - also my search path shows - $(PROJECT_DIR)/Carthage/Build/iOS - I don't see the Mac version anywhere in my project and only see me referencing the iOS version

[2019-02-12 20:21] oldalton commented on #439
Thanks, Users/cdriner/Directory/Carthage/Build/iOS/MSGraphMSALAuthProvider.framework is not MSAL framework. Can you provide a link to the repository your Carthage is pointing to?

[2019-02-13 14:10] chrisriner commented on #439
Sorry pasted wrong one.  Users/cdriner/Directory/Carthage/Build/iOS/MSAL.framework

my cartfile looks like:
github "microsoftgraph/msgraph-sdk-objc-auth" "master"
github "microsoftgraph/msgraph-sdk-objc" "master"
github "AzureAD/microsoft-authentication-library-for-objc" "master"

[2019-02-13 15:12] chrisriner commented on #439
Also here is what happens when I run Carthage update:

Chriss-iMac:Directory cdriner$ ls
Archive of Frameworks.zip		CoolSecurity.framework
CTidy.m					Directory
CXHTMLDocument.m			Directory.plist
CXMLDocument.m				Directory.xcodeproj
CXMLDocument_CreationExtensions.m	Directory.xcworkspace
CXMLDocument_PrivateExtensions.m	Kal.framework
CXMLElement.m				Keychain
CXMLElement_CreationExtensions.m	Logi

[2019-02-13 15:41] chrisriner commented on #439
I reset everything back and tried Carthage update again and imported the frameworks again and this time it compiled.  I do get this error now - /Carthage/Build/Mac/MSAL.framework/Headers/MSAL.h:51:9: 'MSAL/MSALWebviewType.h' file not found

[2019-02-13 15:41] chrisriner commented on #439
I reset everything back and tried Carthage update again and imported the frameworks again and this time it compiled.  I do get this error now - /Carthage/Build/Mac/MSAL.framework/Headers/MSAL.h:51:9: 'MSAL/MSALWebviewType.h' file not found

[2019-02-13 16:12] chrisriner commented on #439
It seems maybe my example is old and I am trying now to just use the doc and so I removed the stuff from the example O365-iOS-Microsoft-Graph-Connect and now I am just trying to get it working very basic.  I am still getting this error and I don't understand why as I see the file is there and also again it is pointing to Mac for some reason even though I did not include the Mac version of the fram

[2019-02-13 18:00] Shayila opened #464 "I'm facing issue in forgot password link during more than one time trial."
For the first time or after killing the application I'm able to access the forgot password link and it works good.but in second time (clicking the forgot password link) it throws error. below i've mentioned the code used for handling the open url.

 After setting the validateAuthority to False and also including `MSALPublicClientApplication.cancelCurrentWebAuthSession`;
I'm facing the below error.

[2019-02-15 13:33] jthorel commented on #430
I have a question related or maybe similar to this.

Instead of using a webViewType to use for login, is it possible to open an "external" browser to use for login? In this case, I want to use the Intune Managed Browser (or Edge In the future), to make the login basically one click instead of entering mail, password and a 2FA code for managed phones.

[2019-02-21 23:21] danieldobalian commented on #455
@CA-hub can you capture some logs or use a network tracer to capture a correlation ID? This will help us look into the issue and see what's going on. As Olga mentioned, this is not expected - the cookies from your SiSu policy should allow your user to not need to sign in again for subsequent policy requests.

[2019-02-21 23:22] danieldobalian commented on #430
@jthorel are all your users generally signed into the managed browser / edge?

[2019-02-22 12:40] jthorel commented on #430
@danieldobalian Yes, they are all signed in through the Intune managed policies on managed/protected apps (like Outlook, Managed Browser, Teams etc. I'm not entirely sure of how it works) so they only have to use fingerprint or a passcode. So by using Managed Browser, they can login by just using their fingerprint and accepting the apps permissions.

This could be done with Intune SDK I guess, but

[2019-03-01 13:00] agcmdl opened #477 "No token received with acquireToken method (MSALErrorDomain, -42500)"
Using this sample: https://github.com/AzureAD/microsoft-authentication-library-for-objc/tree/dev/Samples/ios/SampleAppiOS-Swift and some other similar ones.

1) I have added MSAL library v0.2.3 using cocoapods. Integration worked very well.
2) I have configured the kClientID in Info.plist file and in ViewController.swift file
3) Also I have set the kTenantName to the name provided by our API _<our

[2019-03-04 22:04] joeldhenry opened #478 "Device Identifier Not Available"
When i login to an enterprise azure domain, i get the following error:

``` Your sign-in was successful but your admin requires your device to be managed by [Company Name] to access this resource```

My device is registered with the company, but in the request I see that Device Identifier is "Not Available" and Device State is "Unregistered"

I am initialising with my clientID & Authority and then

[2019-03-05 18:12] krassik opened #481 "Return .name on the MSALAccount object"
This attribute used to exist on the MSALUser but 0.2.3 not anymore accessible to applications

[2019-03-07 10:14] kamleshgk commented on #317
@oldalton
Do you have an update for macOS support?
Thank you.

[2019-03-08 22:23] oldalton commented on #478
Hi @joeldhenry. Which type of the webview are you using in your app? And when you're saying your device is registered, do you mean it's MDM enrolled?

[2019-03-08 22:26] oldalton commented on #477
Hi @agcmdl. It probably means that scopes are not recognized by B2C. If it's not recognized, the unrecognized scope will be ignored and no access token would be returned.

Can you make sure that kScopes `"https://fabrikamb2c.onmicrosoft.com/demoapi/demo.read"` is registered in your tenant?

Thanks.

[2019-03-08 22:31] oldalton commented on #464
It normally means you called another acquireToken call that didn't complete. Are you getting a completionHandler callback for the first request?

[2019-03-10 11:16] agcmdl commented on #477
Hello @oldalton

Thanks for your reply!

Just to make it clear, Could you please explain, where exactly should I check if scope is registered in tenant?

[2019-03-11 08:31] agcmdl commented on #477
Ok
We got it sorted out. The scope was wrong indeed. With new scope it started to work and tokens are received as expected.
Thanks for the pointing to correct direction!

[2019-03-11 16:31] oldalton commented on #477
Thanks for an update. Glad it worked.

[2019-03-13 14:58] OxyFlax commented on #245
Is it still true or is there any changes on this point?

[2019-03-13 23:23] danieldobalian commented on #245
This is still the case, but it's something we're closely tracking and evaluating soon.

My email is on my Github profile if you want to reach out and chat in more detail.

[2019-03-14 14:15] chrisriner commented on #439
I have it working now.  It seems the old version of the app had an entry for the frameworks search path and for some reason the new frameworks search path I was adding to the existing one was not working and I had to go back and remove and then readd the old one and it now works.  I just had to guess at this issue.

[2019-03-14 14:15] #439 closed

[2019-03-15 14:23] OxyFlax commented on #245
Ok thanks, hope it will be updated this year!

[2019-03-15 21:23] paulnelsontx opened #486 "Xcode Analyzer issues"
There are four analyzer issues that should be fixed:

Showing All Issues
Analyze /Users/nelson/Developer/iOS/active-directory-ios-swift-native-v2-master/Pods/MSAL/MSAL/src/instance/MSALAuthority.m normal x86_64 (in target: MSAL)
    cd /Users/nelson/Developer/iOS/active-directory-ios-swift-native-v2-master/Pods
    export LANG=en_US.US-ASCII
    /Applications/Xcode.app/Contents/Developer/Toolchain

[2019-03-15 21:31] paulnelsontx opened #487 "Feature request - API to allow apps to use their own NSURLSessionConfiguration"
MSAL uses the default NSURLSessionConfiguration in MSIDURLSessionManager.m
In our application, we need to use a custom protocol handler for https because we support two-factor authentication with a smart card. If there were an API so the app could choose a different NSURLSessionConfiguration, we could use MSAL directly without modifying it making integration much easier.  This could be done with j

[2019-03-17 00:05] oldalton commented on #486
Addressed in #490

[2019-03-17 00:13] oldalton commented on #487
@antrix1989 Is extensibility of network requests covered by configuration work?

[2019-03-17 00:13] oldalton commented on #487
@danieldobalian

[2019-03-18 18:04] colinhumber commented on #284
I'm working on contributing an enhancement to provide this functionality.

https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/pull/399

Once this has been approved I'll work on integrating this into the main MSAL library.

[2019-03-18 19:59] antrix1989 commented on #487
Current implementation of MSIDURLSessionManager is flexible enough to support this request, but we don't have any public API for that. We are considering adding this option to the public API.

[2019-03-23 10:19] mohacs commented on #317
@oldalton
Do you have an update for macOS support?
Thank you.

[2019-03-25 03:12] oldalton commented on #317
@kamleshgk, @mohacs, This is something we're working on right now.
macOS MSAL is currently only missing caching, and the test app. For caching, you can see some work in progress here: https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/pull/374.

[2019-03-26 12:13] kamleshgk commented on #317
Thanks @oldalton

[2019-03-26 12:51] mohacs commented on #317
@oldalton Thank you so much for information. Cheers.

[2019-03-26 21:09] antrix1989 opened #496 "Support User Info endpoint"

[2019-04-08 11:29] yazoonic opened #511 "get "newUser" from B2C"
B2C application can claim if the user is new wit this flag "newUser", can you add it to MSAL library for iOS/Android  so we can fetch this data? or is there any other way to fetch it?

[2019-04-10 01:02] oldalton commented on #511
@yazoonic, can you provide more information on the "newUser" flag? Is this part of the id token?
@danieldobalian FYI

[2019-04-10 01:07] yazoonic commented on #511
Yes @oldalton, I tested that and I parsed the token using jwt.ms, it has "newUser" flag when the user sign up for the first time.
in Azure B2c --> application claims -->User is new:  True, if the user has just signed-up for your application.

in token, it will come as newUser = true ( if user is new )

[2019-04-10 01:09] oldalton commented on #511
Thanks for the info. We're currently working on improving our accounts API and exposing additional id token claims there. You can see an in progress PR here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/pull/510. @jasoncoolmax can provide more info.

[2019-04-11 17:25] jasoncoolmax commented on #511
Hi @yazoonic, the class`MSALResult` has the field called `NSString *idToken`, which is the raw id token containing the field you mentioned (assuming "newUser" flag is in the id token). If you decode the id token, you will get what you want.

However, we are making some improvements to provide an easy way to fetch the claims in the id token. such that you don't have to decode the id token. Hopefull

[2019-04-16 06:35] dsanghan opened #518 "Accessing EWS via MSAL"
When I try to request `https://outlook.office365.com/EWS.AccessAsUser.All` scope for accessing EWS using OAuth2, I'm getting the following:

[code]

I've added the correct API permissions to my V2 Azure AD App Registration:

<img width="1053" alt="Screen Shot 2019-04-16 at 12 00 28 PM" src="https://user-images.githubusercontent.com/6698354/56187182-7d208480-603f-11e9-8fcf-2c66ef72b319.png">

What'

[2019-04-18 07:34] wham opened #521 "Attempt to present <UIViewController> on <SFAuthenticationViewController> whose view is not in the window hierarchy!"
I have a view controller `SignInViewController` and want to perform segue `showHome` when `acquireToken()`succeeds. This segue shows another view controller `HomeViewController`.

In `SignInViewController`:

[code]

The segue is not performed. There is an error `Attempt to present <UIViewController: 0x7fb5faf3e4f0> on <SFAuthenticationViewController: 0x7fb5fc018e00> whose view is not in the window

[2019-04-19 14:57] antrix1989 commented on #518
Please capture the [network trace ](https://github.com/AzureAD/azure-activedirectory-library-for-objc#network-traces) and send it to sedemche@microsoft.com. Make sure to remove passwords from the network trace prior to sending.

[2019-04-21 09:14] oyvind-hauge opened #525 ""SSO" from Intune Company Portal app"
Is it possible to share access token from the Intune Company Portal app to a third party MSAL enabled iOS app? I'd expect to be able to `aquireTokenSilent` in my app after being authenticated in the Company Portal app. My app is using the default **com.microsoft.adalcache** keychain access group to store/look for tokens.

[2019-04-23 17:02] antrix1989 commented on #525
It is not possible since keychain sharing in iOS is enabled only for the applications with the same team ID:

See more info [here](https://developer.apple.com/documentation/security/keychain_services/keychain_items/sharing_access_to_keychain_items_among_a_collection_of_apps?language=objc).

[2019-04-23 17:12] oyvind-hauge commented on #525
Hi @antrix1989! That's too bad, but I do understand why this is not possible now. Thanks for your quick reply.

[2019-04-23 17:12] #525 closed

[2019-04-26 01:27] unpluggedk commented on #284
#534

[2019-04-29 21:16] jasoncoolmax opened #542 "Update MSALAuthorityFactory to use the new MSIDAuthorityFactory API"
Need to create a new API in `MSALAuthorityFactory` to make use of the new API of `MSIDAuthorityFactory` which works better for B2C authority.

[2019-05-03 08:52] Brynjulf opened #549 "Grouped authentication for multiple different resources"
Hello,

We are currently using ADAL in production and are typically using at least 3 different resources with our apps (eg. a common API, a client specific API and AAD) in which we authenticate against in one login at the start of the application. With MSAL you would authenticate separately against all these resources.

Is there currently a way to authenticate to all the different resources in one

[2019-05-03 13:58] Brynjulf opened #550 "Missing spinner when waiting for async events"
Hi,

I noticed when i was authenticating my user with multifactor (using Microsoft Authenticator) the login screen did not show a spinner while waiting for a reply. I also noticed this when attempting to find a certificate (x509) to authenticate against.

wrapper I was using: https://github.com/bjartebore/react-native-msal-client

Actual device I was using to test certificate: iPhone 7 with ios 12

[2019-05-06 17:09] antrix1989 commented on #521
Hi @wham, thanks for reporting this problem.

I believe this happens because of the completion block of ASWebAuthenticationSession is being called before the webview of ASWebAuthenticationSession is completely dismissed.

I've opened a radar on this.

[2019-05-06 21:04] oldalton commented on #549
Hi @Brynjulf. Thanks for the question. Can you please clarify how are you authenticating in one login using ADAL or provide some sample code? MSAL provides very similar API surface and functionality, so I'm wondering why there's a difference.

Depending on which resource/clientId you're using, you can do one of the following:

1. Acquire token interactively for the first resource. After first toke

[2019-05-06 21:07] oldalton commented on #550
Thanks for reporting this issue. Can you please specify which WebView Type you were using for this test? You can read more about different WebViews that MSAL supports here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Customizing-Browsers-and-WebViews

[2019-05-07 06:59] Brynjulf commented on #550
@oldalton that would be the default for iOS 12, ASWebAuthenticationSession

[2019-05-07 13:08] Brynjulf commented on #549
@oldalton, my mistake, I was thinking of consent for all resources on first login. The last suggestion works like a charm.

[2019-05-07 13:08] #549 closed

[2019-05-07 16:22] oldalton commented on #549
Great!

[2019-05-08 15:47] marksands opened #559 "Validating JWT signature"
Do you have any recommendations on validating the JWT signature from B2C? It appears this library does not validate the signature. At a glance, the [Okta library has support for JWT validation](https://github.com/okta/okta-ios-jwt/issues/25), but I'm not sure if that's supposed to work with B2C.

[2019-05-08 18:08] antrix1989 commented on #521
Apple has confirmed it is their issue. As a workaround you could defer your segue until `viewDidAppear(_:)` is called:

1. Add a state tracking Boolean to your view controller.

[code]

2. In your completion handler, set that Boolean:

[code]

3. In your `viewDidAppear(_:)` method, run the segue if requested:

[code]

[2019-05-09 01:55] kvenkata1974 opened #560 "Login with a new user skips password entry page and passes the credentials of the previous user"
Login with a new user skips password entry page and passes the credentials of the previous user.

I have a written an ios App using MSAL (used version 0.2.3 and also tried 0.4.2), but the same problem remains.

When users logs out from the app, it goes back to the login page. On this page if the user chooses to login with a new user (add another account, not one saved on safari web view), it allow

[2019-05-09 02:33] oldalton commented on #560
Hi @kvenkata1974. Thanks for reporting this. When you are saying "user logs out of the app", do you mean you're calling removeAccount API in MSAL and then calling acquireToken again? Are you passing any login hint in the second acquireToken call? Thanks.

[2019-05-09 03:57] kvenkata1974 commented on #560
Hi Olga,
When the user logs out, the MSAL remove account API is called. Subsequently
when the app redirects to the login page as attached (user names have been
scratched out).

If an existing account in the list is chosen, it works as expected but if
the user chooses "Use another account", it allows for the user to enter the
new user id but the password page is skipped and it goes straight into th

[2019-05-09 19:05] oldalton commented on #560
Thanks a lot for the additional details. Unfortunately, I wasn't able to reproduce it with my own test accounts. Could you please provide some MSAL logs? It will greatly help us to investigate this issue.

See instructions here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Logging

[2019-05-10 00:11] kvenkata1974 commented on #560
It is easier to reproduce when you when you “Save password” (when shown by
the Safari controller). Sorry, should have mentioned earlier.

On Fri, 10 May 2019 at 5:05 am, Olga Dalton <notifications@github.com>
wrote:

[2019-05-13 23:54] kvenkata1974 commented on #560
Hi Olga,
I have attached the MSAL logs as requested. The third login skipped the
password page and went directly into the app.

Cheers
Karthik

On Fri, May 10, 2019 at 10:11 AM Karthik Venkataraman <
kvenkata1974@gmail.com> wrote:

%@ TID=34971 MSAL 0.4.2 iOS 12.2 [2019-05-13 23:51:23] Trying to find keychain items...
%@ TID=34971 MSAL 0.4.2 iOS 12.2 [2019-05-13 23:51:23] Keychain find status: -25

[2019-05-20 10:50] christophercarlsson commented on #449
@danieldobalian any news on this?

[2019-05-21 21:35] #521 closed

[2019-06-07 06:38] unpluggedk opened #582 "MSALErrorInternal error mapping"
https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/pull/458/files/7a387a0e5258c4700cdb671d5de535e524d58f79#diff-7087f43f9332800e57f71222840ab9c5

context:
we should either add a new key to MSALInternalError, which we will map to MSIDErrorInternal or avoid using MSIDErrorInternal and specify a concrete error instead (btw, we already using MSIDErrorInternal in few other plac

[2019-06-13 15:17] marksands commented on #210
Bumping this issue. This is really an unacceptable miss in the implementation of this library. If I manually sign out of an authentication session, I would 100% expect all of my tokens to be invalidated on the server. I would consider this a violation of a user's privacy to pretend they're signed out. This is also a major violation of the "principle of least surprise". Please fix.

[2019-06-14 06:41] suresh777 opened #584 "TouchID and FaceID authentication"
I implemented MSAL in my project. Is there an library that allow TouchID and FaceID authentication

[2019-06-14 19:35] oldalton commented on #584
Adding @brandwe to provide more info.

[2019-06-16 15:37] SteveDCronin commented on #317
Please consider providing an update - the cache thread above is now 3 months old...  What versions of macOS will be supported?

[2019-06-17 21:43] ismael9291 commented on #210
For anyone still having issues with this. I ended up using

- (void)acquireTokenForScopes:(nonnull NSArray<NSString *> *)scopes
                    loginHint:(nullable NSString *)loginHint
                   promptType:(MSALPromptType)promptType
         extraQueryParameters:(nullable NSDictionary <NSString *, NSString *> *)extraQueryParameters
              completionBlock:(nonnull MSALCompletion

[2019-06-18 06:05] oldalton commented on #559
@parakhj

[2019-06-18 06:08] oldalton commented on #317
Hi, we have made a lot of progress, and we're finalizing the caching part right now. We're expecting the first release with macOS support to be available in 2-3 weeks (with caching, but no SSO support between multiple apps yet - this will come in the next release). You can already try out MSAL macOS test app in the dev branch of MSAL, and report any issues you're seeing. Looking forward to the fee

[2019-06-18 14:43] marksands commented on #210
@ismael9291 That is not a secure solution. That does not clear the server side token, it only removes the cached access token from the keychain. If someone has a copy of that token, they can still use it to remain authenticated until the refresh token expiration date, which could be valid for a year.

[2019-06-18 16:09] ismael9291 commented on #210
@marksands I am also separately using the URL previously mentioned to logout from the server "https://login.microsoftonline.com/common/oauth2/v2.0/logout"

This isn't 100% because what if you don't have internet at that time, but since I don't expect this library to be updated any time soon and I really rely on it, I thought this was my only workaround.

[2019-06-18 20:27] SteveDCronin commented on #317
On Jun 17, 2019, at 11:08 PM, Olga Dalton <notifications@github.com> wrote:Hi, we have made a lot of progress, and we're finalizing the caching part right now. We're expecting the first release with macOS support to be available in 2-3 weeks (with caching, but no SSO support between multiple apps yet - this will come in the next release). Thank-You!   a bunch of good news there!  If I just have a

[2019-06-18 22:46] oldalton commented on #317
Yes, it's the default "dev" branch: https://github.com/AzureAD/microsoft-authentication-library-for-objc. MSAL uses submodules, so make sure you run "git submodule update --init" after checking it out. For testing, I'd recommend to run the MSAL macOS test app target in the MSAL project, and some test code we use in Obj-C is here: https://github.com/AzureAD/microsoft-authentication-library-for-objc

[2019-06-20 22:18] oldalton commented on #559
@marksands, first, sorry for my late reply. Second, could you please provide some additional information about why do you need to validate the signature?

According to spec we can rely on TLS instead (https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation):

`If the ID Token is received via direct communication between the Client and the Token Endpoint (which it is in this flow),

[2019-06-21 08:28] psredzinski opened #588 "Cannot start ASWebAuthenticationSession without providing presentation context"
I am encountering this issue after updating iPhone to iOS 13 and macOS to Catalina. I know that these are beta versions, but I'd love to have MSAL working properly

[2019-06-21 19:37] oldalton commented on #588
@psredzinski, we're currently analysing all changes introduced in iOS 13, including this one. @antrix1989, assigning you to this one.

[2019-06-27 04:20] youlianqi opened #589 "Customer issue: login into O365 is trying to open in Safari"
Our client integration O365 about half a year. Recently, a customer complaint that "When you login into the office 365 integration from the mobile app is trying to open in Safari."  Do you know what's problem of her. Maybe some permissions is not granted?? Our app is enterprise application.

[2019-06-28 00:34] oldalton commented on #589
Hi. When you say it opens in Safari, do you mean it shows a Safari like view inside your app? Which MSAL version is your app using? Thanks.

[2019-06-28 01:13] youlianqi commented on #589
I using MSAL 2.0. It seems would open in Safari app at last in this customer.

[2019-07-01 22:06] cjwillis809 commented on #378
@oldalton Are there any updates to when the true logout will be implemented, or how prioritized it is on the roadmap? We are using this library for our application to authenticate users through a client's Azure Active Directory and would be _very_ interested in having this functionality in ASAP.

Thanks

[2019-07-04 20:10] psredzinski commented on #588
Do you have any idea when could I expect this to be fixed and released? If it is a week or months?

[2019-07-05 18:47] antrix1989 commented on #588
hi @psredzinski, this should be available in 1 week.

[2019-07-07 14:09] guidedways commented on #518
Any update on the issue?

I’m trying to use MSAL (instead of ADAL) to authenticate my app in order to connect to EWS calendaring endpoints (managing the users calendars), which the app has been managing successfully using Basic authentication and auto discovery in the past.

Am I at the right place?

[2019-07-07 14:28] guidedways opened #602 "EWS Soap API access with MSAL example"
This is more of a question. I’ve stumbled across MSAL just recently after looking into ADAL. We have a client app that logs in a user using basic authentication (autodiscovery) in order to access the SOAP end points for managing their calendars. This is working fine, but of course given companies have started moving towards SSO and MFA, this doesn’t work.

I’m hoping integration with MSAL will all

[2019-07-07 17:30] guidedways commented on #317
@oldalton That's great news - can we also have the 'ReadMe' updated to reflect that it now supports macOs and official support is imminent?

[2019-07-07 17:43] guidedways commented on #317
@oldalton Also, I see a bunch of errors when trying to compile the sample macOS test app, such as these:

`error: /Users/myuser/Downloads/microsoft-authentication-library-for-objc-dev/MSAL/xcconfig/msal__common.xcconfig:1: could not find included file '../IdentityCore/IdentityCore/xcconfig/identitycore__common.xcconfig' in search paths (in target 'MSAL (Mac Framework)')`

There are a bunch of thes

[2019-07-08 02:58] oldalton commented on #317
@guidedways, we'll update Readme once the MSAL version with macOS support is officially released. Regarding the error you're seeing, it's likely happening due to Git Submodule. After checking out the code, make sure you run "git submodule update --init" to resolve MSAL dependencies.

[2019-07-08 12:01] jrcmramos opened #603 "Xcode 11 beta 3"
### Description
In Xcode 11 beta 3 `MSALPublicClientApplication.acquireToken` is not able to open the Web View to authenticate the user against the MS services.
While calling this API, we get an error with the following description:
[code]

On Xcode 10.2 the API call opens the web view without issues

[2019-07-09 00:00] oldalton commented on #603
Thanks for reporting this. @antrix1989 is currently working on the fix. Would appreciate feedback for the changes: https://github.com/AzureAD/microsoft-authentication-library-for-objc/pull/599

[2019-07-11 20:56] ismael9291 commented on #210
Workaround failed because if another person signs in, the token received by MSAL is actually from the previous user.

[2019-07-16 18:21] mikepugh commented on #588
@antrix1989 any updates on this? Thanks!

[2019-07-17 10:44] dsanghan commented on #518
@antrix1989 @guidedways

There is a confirmed issue with personal accounts (outlook.com, etc):
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1274

Office365 / Exchange online accounts are working fine.

[2019-07-17 20:48] guidedways commented on #602
@oldalton could you help with this?

[2019-07-23 21:19] psahgal commented on #560
@oldalton @kvenkata1974 I think my team and I are seeming the same issue you reported. Below is the set of reproduction steps we've come up with. We're using version 0.4.3 of the library, although I was able to reproduce the issue with 0.4.0 as well. All of the accounts on our team are managed accounts registered to an enterprise organization. The device used is enrolled with the [InTune company p

[2019-07-23 21:37] psahgal commented on #210
By the way, that issue @ismael9291 mentioned is another Github issue: #560.

[2019-07-24 01:58] oldalton commented on #560
@psahgal, I've followed up with @kvenkata1974 offline before. His issue was caused by ADFS. Here's the copy of investigation details:

[code]

@psahgal, does it sounds similar to your issue?

[2019-07-25 20:00] psahgal commented on #560
@oldalton That would definitely be a reasonable explanation for the issue. In our case, I don't think we'll be able to modify anything around ADFS. Would you be able to explain the client-side workaround with the webview sign-out? We can evaluate whether that option will work for us.

[2019-07-26 18:25] oldalton commented on #560
@psahgal, If you use MSAL embedded web view (see instructions [here](https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Customizing-Browsers-and-WebViews#local-browsers)), you have full control over cookies in that embedded web view. However, embedded webview comes with various disadvantages including inconsistent user experience and security drawbacks.

Alternatively, when

[2019-07-26 20:00] psahgal commented on #560
@oldalton Thanks for the links. We considered that approach already but it was a rather inconsistent user experience. Would you be able to elaborate on what the issue was with ADFS, such as which versions have this issue?

[2019-07-26 22:20] oldalton commented on #560
@psahgal, ADFS in general is not multi-user friendly. If there's already a cookie from previous user and authentication, and you're not specifying prompt=login for your request, it will normally pick up existing user and ignore any additional user identifiers you send it. I'm not sure if it's any particular version, or it's configurable, but let me follow up on this one.

If you are not worried ab

[2019-07-29 02:03] crspybits opened #618 "Refresh token or authorization code: For passing to server"
I've seen that getting a refresh token directly isn't supported yet (https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/231). I'm wondering how I can support the use case where a long-lived token (a refresh token  or an authorization code) needs to be sent to a server-- so the server can do operations on behalf of the user. In my case, these are to provide the user ongoing

[2019-08-02 22:06] oldalton commented on #249
First version supporting macOS has shipped: https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/0.5.0

[2019-08-02 22:07] oldalton commented on #317
First version supporting macOS has shipped: https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/0.5.0

[2019-08-03 11:55] guidedways commented on #317
@oldalton The release notes refer to some "Advanced features of SSO" - can you please specify what these features are so we know if we should hold back?

[2019-08-06 23:52] oldalton commented on #317
Apps will have an ability to pass other trusted applications when writing items to cache. That way if you're shipping multiple apps on macOS, all your apps will be able to share SSO with each other.

[2019-08-07 01:11] guidedways opened #626 "Failure to upload to App Store"
Our bundle ID for the app is `com.company.ourappv3` and for some reason this won't work when added to URL types as required by MSAL. We get this when uploading the app to the app store:

`ERROR ITMS-90158: "The following URL schemes found in your app are not in the correct format: [msauth.com.company.ourappv3://auth]. URL schemes need to begin with an alphabetic character, and be comprised of alph

[2019-08-07 01:13] #626 closed

[2019-08-09 18:44] guidedways commented on #602
Thanks for the recent support for macOS.

I've got MSAL up and running, and am successfully able to obtain a token. However, this may sound naive, but how do obtain the end-point to make the API calls on for EWS? So for instance, if someone uses MSAL to successfully authenticate for our app, should I assume that the end point would *always* be `https://outlook.office365.com`? I'm using the `https:

[2019-08-09 19:15] oldalton commented on #602
@guidedways, https://outlook.office365.com should work for all worldwide cloud accounts. Just to confirm, is the question how to enable the same with sovereign clouds in mind (e.g. if a user is from German cloud)?

[2019-08-09 21:43] guidedways commented on #602
Thank you! That answers my question. I'm not exactly sure what a sovereign account is - but by the sound of it, I may not need to separately support it (unless it's a flag I set somewhere to support everything under the sun + sovereign accounts)?

I'm super thrilled that MSAL on macOS is finally working for us.

[2019-08-09 22:33] oldalton commented on #602
Yes, you'd need to support it separately (both in your app registration and passing different scope). Here's some more information about AAD sovereign clouds: https://docs.microsoft.com/en-us/azure/active-directory/develop/authentication-national-cloud. Let me know if you have questions.

[2019-08-10 00:27] guidedways opened #627 "OKTA / Duo phone authentication with MSAL?"
We've been using AutoDiscovery in the past and have just recently added MSAL to our project. I was under the impression that all flavors of Office 365 authentication would magically work.

However one of our beta testers has just written back saying "Sorry, it did not link to our OKTA portal and then it would have had to link to our DUO phone authenication."

I'm not sure what that means. What do

[2019-08-10 00:35] guidedways commented on #602
@oldalton Thank you! I'll go through the document and let you know if I have questions. I'm not sure if this is related, but this issue has just come up: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/627

Could you help? I've read on Okta's support website that they support ADAL. They don't mention MSAL anywhere, so does that mean we should be using ADAL instead?

[2019-08-10 00:49] oldalton commented on #602
I'm not aware of any limitations for not using MSAL, but let me take a closer look on your issue.

[2019-08-10 00:59] oldalton commented on #627
Hi @guidedways. I'm not aware of any limitations related to MSAL with Okta. As far as MSAL is concerned, it's just a federated auth scenario and it should work.

However, I'd like to look a bit closer into it. Do you have any additional information from the tester? e.g. correlationId of the failed request or MSAL log? Thanks.

[2019-08-10 01:03] oldalton commented on #618
Hi. I don't think you should be passing refresh token or authorization code to your service.

As stated in OAuth2 spec (https://tools.ietf.org/html/rfc6749#section-10.4):

[code]

Please take a look at a slightly different way to implement it with the On-behalf-of flow: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow

[2019-08-10 01:18] SteveDCronin opened #628 "Fatal Build Errors for macOS release (0.5.0)"
I am using macOS 10.14.5 and Xcode 10.3
I have downloaded the zip file on the announcement for macOS support (0.5.0).

I cannot build MSAL (Mac framework) nor the MSAL Test App (Mac).
I get a number of:
/Users/steve/Documents/.../Microsoft/microsoft-authentication-library-for-objc-0.5.0/MSAL/IdentityCore/IdentityCore/src/logger/MSIDLogger.m:83:9: Block implicitly retains 'self'; explicitly mention

[2019-08-10 01:22] guidedways commented on #602
@oldalton Thank you so much, and please disregards. This was due to user error. They've just written back saying it's working perfectly!

[2019-08-10 01:23] guidedways commented on #627
Yes it was apparent he was doing something wrong after we obtained the logs from them. They've now confirmed there are no issues and it's working as it should. I'm super thrilled, given we had no way of testing this out otherwise.

[2019-08-10 01:23] #627 closed

[2019-08-10 01:42] guidedways commented on #628
@SteveDCronin instead of downloading the zip, clone the git library to disk and then run `git submodule update --init` inside of it, that should work. I've had no issues when following these steps.

[2019-08-10 01:52] SteveDCronin commented on #628
guidedways - Thanks!  Confirm that after following above I can build both MSAL (Mac framework) and the MSAL Test App (Mac) without errors.

[2019-08-10 01:52] #628 closed

[2019-08-10 23:48] SteveDCronin opened #629 "Please provide macOS support to msgraph-sdk-objc-auth"
Now that 0.5.0 is supporting macOS - please enhance msgraph-sdk-objc-auth so that it too supports macOS.  Please?

[2019-08-12 07:47] mosess commented on #588
@antrix1989 is there a plan to resolve this issue soon?

[2019-08-12 19:10] antrix1989 commented on #588
Please use this [branch](https://github.com/AzureAD/microsoft-authentication-library-for-objc/tree/sedemche/dev_xcode11) to test the updated SDK with iOS 13 changes.

[2019-08-12 19:20] oldalton commented on #629
Hi @SteveDCronin. Thanks for your request. I took a look at the wrapper and there seems to be not much platform specific code. So it should be just adding a macOS target at the first look. I'll reach out to Microsoft Graph folks and see if they're interested in doing that. Thanks for opening the issue in their Github repository already.

Also, looking at the code, I'd like to caution you that the

[2019-08-12 20:20] darrelmiller commented on #629
@SteveDCronin Thanks for the feedback.  We will definitely add it to our backlog.

[2019-08-12 22:36] guidedways commented on #602
@oldalton I’m writing back in regards to the sovereign cloud setup you mentioned above. I’ve gone through the documentation and I can see how there exist separate end points for certain regions, and so we need to setup our app in each of those regions separately. However what I don’t understand is how the app would know or device which particular cloud to use (the global one or the German one for

[2019-08-13 20:28] mikepugh commented on #588
@antrix1989 I tried updating my project's pod to:

`pod 'MSAL', :git => 'https://github.com/AzureAD/microsoft-authentication-library-for-objc.git', :branch => 'dev_xcode11'`

However now I'm getting a build error:

`'IdentityCore_Internal.h' file not found in MSAL_Internal.h`

I also noticed when I installed the pod from that branch, it listed MSAL as version `0.4.3`

[2019-08-13 21:24] oldalton commented on #588
@mikepugh, you need to add  :submodules => true to your pod file, like:

`pod 'MSAL', :git => 'https://github.com/AzureAD/microsoft-authentication-library-for-objc.git', :branch => 'dev_xcode11', :submodules => true`

[2019-08-14 13:22] mikepugh commented on #588
@oldalton thanks for that! I'm getting another error now after re-installing the pod with submodules:

`Implicit declaration of function 'MSID_LOG_INFO' is invalid in C99` on line 109 of `MSIDSFAuthenticationSession.m`

I'm going to try starting with a new blank project, just in case I've messed something up along the way.

[2019-08-14 14:16] mikepugh commented on #588
I tried two new empty Single View App iOS projects - one with SwiftUI and one without. Both result in the same compile error after I install the `dev_xcode11` version of this pod.

I'm running Xcode 11 beta 5 on Catalina 19A526h

[2019-08-15 02:00] SteveDCronin commented on #629
Olga;

Thank-you for the thoughtful comment!
Darrel added the request to the backlog - that's great.
But I have no idea how much time will pass before there is any visible progress...
So your comment about proceeding without this is intriguing  - BUT
Can you elaborate on what I would need to do instead of this short snippet which is re-stated directly from the readme on this project:
	NSError *msa

[2019-08-15 02:03] oldalton commented on #588
`Implicit declaration of function 'MSID_LOG_INFO' is invalid in C99 on line 109 of MSIDSFAuthenticationSession.m`

@antrix1989, looks like it might be caused by our logging changes. I think we should merge latest dev into dev_xcode11 branch. Can you take a look?

[2019-08-15 22:01] antrix1989 commented on #588
MSIDSFAuthenticationSession isn't used in the project, seems it was added accidentally. Removed it from the repo.

@mikepugh please try again, it should work now.

[2019-08-16 11:18] guidedways opened #638 "macOS: silent auth requests frequently fail after mac wakes up"
We're got MSAL running in a beta version of our app. So far so good. However we're receiving frequent complaints of the same thing over and over: when a user's mac wakes up after a sleep, our app frequently fails to connect to their Office 365 account.

Upon closer inspection of their logs, it does seem as though silent authentication requests are failing with the following error:

`Error Domain=N

[2019-08-16 11:39] guidedways commented on #638
I *think* I know what's going on. The completion block on `acquireTokenSilentWithParameters` should be called on the main thread (I think I read that in the documentation), but it seems in case there's a network failure down the line, such as when the internet connection drops when the lid is closed on a laptop, the completion block _may_ actually be called on a different thread. This may be why I

[2019-08-16 11:56] guidedways commented on #638
Okay that's it, the completion block seems to be called on some background thread. The documentation should make this clear and / or call the completion on the main thread (like many 3rd party libraries do).

[2019-08-16 14:21] mikepugh commented on #588
@antrix1989 thanks, but I'm getting another build error now.

File: `MSALPublicClientApplication.m` line 34 `#import "MSIDMacKeychainTokenCache.h"`

Error: `'MSIDMacKeychainTokenCache.h' file not found`

[2019-08-16 18:25] antrix1989 commented on #588
@mikepugh did you add submodules flag? Like here:

`pod 'MSAL', :git => 'https://github.com/AzureAD/microsoft-authentication-library-for-objc.git', :branch => 'dev_xcode11', :submodules => true`

[2019-08-16 18:37] antrix1989 commented on #588
@mikepugh updated, please try again.

[2019-08-16 20:33] mikepugh commented on #588
@antrix1989 it's compiling now, thanks. I'll see if I can get this working in my SwiftUI app later this weekend or next week.

[2019-08-21 03:23] oldalton commented on #629
@SteveDCronin, can you please describe what you're trying to accomplish so that we could help you better with a sample code? Thanks.

[2019-08-21 18:27] SteveDCronin commented on #629
Olga;

Thanks for the invitation to add clarity.  Your participation on GitHub is really appreciated!

I have a registered app in Azure Active Directory portal. BTW:  I intend to use the functionality described here for both macOS and iOS - I hope to ultimately have a desktop, tablet, and phone version....

I want to use Microsoft Graph API to create a new contact records - that's the real gist of

[2019-08-21 19:13] smmcdonald commented on #317
I had the issue that @guidedways encountered and trying the git submodule update did not work for me. This happened because I cloned the project via zip file, which does not inherit any of the Git files. I instead cloned the project with the Github Desktop app and the build compiled right out of the box on the first try.

[2019-08-21 20:55] oldalton commented on #317
@smmcdonald, if you want to use zip, please download microsoft-authentication-library-for-objc-xxx.zip file instead. It should include dependencies.

[2019-08-25 05:15] oldalton commented on #638
Thanks for the feedback. I've added some documentation here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/pull/647

[2019-08-26 02:45] Parameswaran-Irulandi commented on #588
@antrix1989 When do you merge with develop?.Since we are planing to migrate iOS13 version

[2019-08-26 14:21] #638 closed

[2019-08-26 14:22] guidedways opened #648 "Allow insecure SSL connections?"
I'm seeing the following errors from a user, how should we handle this? The user wishes to still connect to the server insecurely. Is there a configuration somewhere for this?

`Error Domain=NSURLErrorDomain Code=-1200 "An SSL error has occurred and a secure connection to the server cannot be made." UserInfo={NSErrorFailingURLKey=https://ok1-devicetrust.okta.com/auth/cert/challenge, _NSURLErrorFai

[2019-08-27 23:20] guidedways commented on #648
We asked the user to check with their IT staff to see why they're unable to connect, since we're using MSAL and theoretically it should just work. Here's what they said. @oldalton could you help?

"If we were using straight Microsoft, none of this would be a problem but BusyCal isn't accounting for Federated authentication to another IdP for accessing Office 365 that has conditional access control

[2019-08-28 16:30] fahlout opened #649 "Catalyst support"
Are there any plans to bring catalyst support to this library. I'd love to bring my iPad app to the Mac, but as of the current betas selecting the Mac target on a iOS app results in the project not building.

<img width="553" alt="Screen Shot 2019-08-28 at 9 46 37 AM" src="https://user-images.githubusercontent.com/6654714/63866369-bca99680-c978-11e9-96fb-00bc61dbe350.png">

[2019-08-28 22:51] antrix1989 commented on #649
Hi @fahlout, currently we don't support Catalyst in MSAL.

[2019-08-28 22:54] fahlout commented on #649
Are there plans to support it in the future?

[2019-08-28 23:00] antrix1989 commented on #649
It is under discussion right now.  I will let you know when I have an update.

[2019-08-28 23:01] fahlout commented on #649
Sounds great! Thanks for your quick responses

[2019-08-30 20:11] antrix1989 commented on #588
Hi @Parameswaran-Irulandi, I can not repro this. Are you testing on Mac or iOS? Could you please send your MSAL logs to my email? sedemche@microsoft.com

[2019-09-01 03:43] crspybits commented on #618
Thanks for the info on the on-behalf-of flow-- that looks like what I need.

[2019-09-01 03:43] #618 closed

[2019-09-01 03:48] crspybits opened #653 "Using example from web, currentAccount() method returns nil after sign in"
I am using the example in https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-ios and all looks good in my example app-- except that after a sign in the method currentAccount() returns nil. I'm using iOS 12 and this is happening both on the simulator and on an actual iPhone. I'm using v0.5.0 of MSAL.

 Suggestions?

Thanks,
Chris.

[2019-09-01 03:57] oldalton commented on #653
Did you configure keychain access groups for your project? Can you confirm that you completed this step: add a new keychain group to your project Capabilities com.microsoft.adalcache.

[2019-09-01 19:45] crspybits commented on #653
That has fixed it. Thanks! Somehow I missed that step in the instructions.

[2019-09-01 19:45] #653 closed

[2019-09-02 02:13] kvenkata1974 opened #655 "ios 13.1 beta and MSAL 0.5"
Hi
In ios 13.1 beta and MSAL 0.5, unable to reset or login again with another user id.

So if I logout, it goes to the AZURE login page and gets redirected to the app straight away without allowing for the user to login again.

It works with MSAL 0.4.3.

Cheers
Karthik

[2019-09-02 17:07] Parameswaran-Irulandi commented on #588
Thanks @antrix1989 .I already send MSAL logs to your email.

[2019-09-03 02:45] Parameswaran-Irulandi commented on #588
@antrix1989

Earlier, I didn’t add keychain sharing Signing &Capabilities. After I add the keychain Groups with ‘com.microsoft.adalcache’

It doesn’t crash. Is it expected?

[2019-09-03 07:11] suresh777 opened #658 "Getting silent token even after password change in AD"
Actually i am checking changing password feature. I changed my password in azure directory, After that i tried silent token it is providing token. But it should throw some error like authentication failed. Is it expected behaviour?

[2019-09-03 18:39] tspenc-legrand commented on #588
Do you have a release for this already or an eta for release?  We are anxiously looking forward to this as we are having problems logging into our app using iOS 13, and consequently cannot test other iOS 13 changes.

[2019-09-03 19:00] Parameswaran-Irulandi commented on #588
@tspenc-legrand I am also waiting for @antrix1989  for merging this branch to develop.

I try to use this branch with our code base.It works .....

pod 'MSAL', :git => 'https://github.com/AzureAD/microsoft-authentication-library-for-objc.git', :branch => 'dev_xcode11', :submodules => true

[2019-09-04 00:06] oldalton commented on #658
Hi, password change doesn't invalidate access tokens. It only invalidates refresh tokens. Therefore, wait for some time after password change (depending on access token expiry timeframe, by default it's 1 hour) and check if you are getting the InteractionRequired error then.

[2019-09-04 00:07] oldalton commented on #655
@kvenkata1974, do you mean logout from web UI? Or logout through MSAL "removeAccount" API? Thanks.

[2019-09-04 00:28] kvenkata1974 commented on #655
Hi,
I logout through MSAL using removeAccount API and then go back the login
page. It logs in back straight away with the current user.

This works fine with MSAL 0.4 where in the login page is shown and a new
user can login.

Cheers
Karthik

On Wed, Sep 4, 2019 at 10:07 AM Olga Dalton <notifications@github.com>
wrote:

[2019-09-04 10:08] suresh777 commented on #658
I am getting same response in both cases(user interaction login and silent login). Once i get silent login accesstoken i am replacing  existing accesstoken with new token. After that i am using this token for further api calls.

[2019-09-05 01:53] youlianqi opened #660 "MSAL 0.6.0 login in fail in iOS 13.1"
I update MSAL to 0.6.0 and integrate it into our project. But it sign in fail.
The error message is "error:Error Domain=com.apple.AuthenticationServices.WebAuthenticationSession Code=2 "Cannot start ASWebAuthenticationSession without providing presentation context. Set presentationContextProvider before calling -start." UserInfo={NSDebugDescription=Cannot start ASWebAuthenticationSession without p

[2019-09-05 06:06] youlianqi commented on #660
After I modify MSAL source code as below,  MSAL work fine in iOS 13.1.

#ifdef __IPHONE_13_0
@interface MSIDAuthenticationSession()
<ASWebAuthenticationPresentationContextProviding>
@end
#endif

@implementation MSIDAuthenticationSession{
UIViewController *_parentViewController;
}

- (void)startWithCompletionHandler:(MSIDWebUICompletionHandler)completionHandler
{
    if (!completionHandler)
    {

[2019-09-05 06:36] youlianqi commented on #660
`    if ([NSThread isMainThread])
    {
        [s_currentSession.webviewController startWithCompletionHandler:startCompletionBlock];
    }
    else
    {
        dispatch_async(dispatch_get_main_queue(), ^{
            [s_currentSession.webviewController startWithCompletionHandler:startCompletionBlock];
        });
    }`

[2019-09-05 20:28] oldalton commented on #660
@youlianqi, thanks for reporting this. We'll have it fixed in our 0.7.0 release.

[2019-09-08 19:12] scordonnier opened #664 "Unable to use scopes with user_impersonation"
Hello,

I'm trying to acquire a token and use it with Azure DevOps REST API.

As starting point, I followed your documentation to register a new app with appropriate permissions, then I modified your iOS app sample to get a token with these scopes :

`let parameters = MSALInteractiveTokenParameters(scopes: ["User.Read", "https://app.vssps.visualstudio.com/user_impersonation"])`

When I give my con

[2019-09-09 08:59] dbxdb opened #668 "Unable to set `keychainSharingGroup` to `nil` in MSALCacheConfig"
Prior version `0.6.0` I have been using the following code to avoid sharing user accounts while keeping them in app's local Keychain:

```let app = MSALPublicClientApplication(clientId: clientId, keychainGroup: nil, authority: authority)```

In the `0.6.0` release this initializer was marked as deprecated. Thus, I had to use a new one which accepts `MSALPublicClientApplicationConfig`. To achieve a

[2019-09-09 13:16] hendrik-dev commented on #660
We are experiencing the same error with the beta versions of iOS 13. When will MSAL version 0.7.0 be released?

The Apple Special Event is tomorrow and the public release of iOS 13 is getting closer. We would like to upgrade our app to the fixed version of MSAL, so that we don't have a broken version of our app in the App Store when iOS 13 goes public.

[2019-09-09 16:27] oldalton commented on #668
Please set it to your bundleIdentifier to prevent token sharing. See more here: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALCacheConfig.html#/Configure%20keychain%20sharing

[2019-09-09 22:54] oldalton commented on #668
You can see more information here: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALCacheConfig.html#/c:objc(cs)MSALCacheConfig(py)keychainSharingGroup

[2019-09-10 00:53] oldalton commented on #660
@hendrik-dev, @youlianqi, we've released MSAL 0.7.0 here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/0.7.0

See additional info here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/iOS-13-and-macOS-10.15-support-in-MSAL

Please let me know if you have additional questions or seeing any issues.

[2019-09-10 00:54] oldalton commented on #655
@kvenkata1974, latest MSAL have changed the default promptType. Previously, MSAL was always sending prompt=select_account by default. Latest versions are not doing that. If you would like to revert to the previous behavior, you can change prompt type yourself. See here: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALInteractiveTokenParameters.html#/c:objc(cs)MSALIn

[2019-09-10 00:55] oldalton commented on #603
@jrcmramos, we've released MSAL 0.7.0 here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/0.7.0

See additional info here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/iOS-13-and-macOS-10.15-support-in-MSAL

Please let me know if you have additional questions or seeing any issues.

[2019-09-10 08:24] jrcmramos commented on #603
@oldalton thank you for the feedback!
I will test it and let you know if I face any problems and close the issue.

Thanks!

[2019-09-10 11:02] guidedways opened #674 "MSAL 0.50 failing with invalid scope error for some users"
I've just received the following error from our user saying they keep seeing this when they try and login. The app simply presents this error when it fails to connect. Why would it say `invalid_scope`? Anything we're doing wrong? Others haven't had any issues:

[2019-09-10 11:46] guidedways commented on #674
We're using `https://outlook.office365.com/EWS.AccessAsUser.All` as the scope by the way. Could this mean their installation does not allow this scope?

[2019-09-10 13:09] guidedways opened #675 "FATAL: App crashing due to MSAL 0.7 on macOS 10.12 and below"
Any idea what's going on?

[code]

[2019-09-10 13:10] guidedways commented on #675
This is on macOS 10.12

[2019-09-10 13:12] guidedways commented on #675
This started happening after we updated to v0.7

[2019-09-10 13:12] guidedways commented on #675
@oldalton sorry this seems urgent

[2019-09-10 13:14] guidedways commented on #675
I see you're using a macOS 13.0+ feature: https://developer.apple.com/documentation/security/ksecaclauthorizationchangeacl

This need to be undone or at least 10.11 should be supported as it was in 0.5

[2019-09-10 13:21] guidedways opened #676 "Description needs to specify supported iOS / macOS versions"
After the recent crash on macOS I just realized the library's main description page does not document the supported versions of iOS / macOS. Moreover, release notes aren't immediately clear if certain changes are required for macOS too (such as the `msauthv3` plist addition). Given the library supports both platforms now, the release notes and documentation needs to be explicit in what's supported

[2019-09-10 13:52] guidedways commented on #675
We've reverted to v0.50 for now and that seems to work fine on macOS 10.11 and above.

[2019-09-10 14:48] hendrik-dev commented on #660
@oldalton Thank you, that was fast. The 0.7.0 update indeed fixed the problem for us.

[2019-09-10 15:31] manojkatragadda16 commented on #589
Any update on it? Safari is blocked in our 0365 as well. We are not able to get auth token using MSAL

[2019-09-10 16:45] oldalton commented on #589
Hi, you can change MSAL to use WKWebView instead of Safari (ASWebAuthenticationSession). See here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Customizing-Browsers-and-WebViews

[2019-09-10 16:57] guidedways commented on #675
Thanks @oldalton We're using Xcode 10, not 11 given it's not GM yet and we wouldn't risk releasing with it.

[2019-09-10 20:24] guidedways commented on #675
So to reproduce:

1) Use Xcode 10
2) Install MSAL 0.7 using Cocoapods
3) Run on macOS 10.12 or below, the app crashes at launch.

[2019-09-11 03:42] youlianqi commented on #660
@oldalton 0.7.0 works well in iOS 13.1, Thanks.

[2019-09-11 03:42] #660 closed

[2019-09-11 22:30] AdamCrabtreeMSFT opened #680 "MSAL requires administrator permission on AAD account"
I'm on boarding a new application with MSAL being used as the authentication library. I followed the instructions of registering the application  and editing info.plist information. However when I sign in it says that I don't actually have permissions from my administrator to do what is needed (the scopes are UserActivity.ReadWrite.CreatedByApp)

and I was wondering how I could get that. I through

[2019-09-13 02:17] crspybits opened #683 "accessToken vs. idToken"
`MSALResult` has both accessToken and idToken properties. It seems like the idToken is a JWT Oauth2 access token. My use case for these tokens is server side. On my server, I have been able to use the accessToken in an https://graph.microsoft.com/v1.0/me call, but the idToken doesn't work in that case. Conversely, with the https://login.microsoftonline.com/common/oauth2/v2.0/token endpoint, the id

[2019-09-15 04:06] oldalton commented on #683
From [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/id-tokens#using-the-id_token): ID Tokens should be used to validate that a user is who they claim to be and get additional useful information about them - it shouldn't be used for authorization in place of an access token. The claims it provides can be used for UX inside your application, as keys in a database, and providi

[2019-09-15 04:08] oldalton commented on #680
Tenant administrator would need to grant consent from Azure Portal. See an example here: https://docs.microsoft.com/en-us/azure/active-directory/develop/consent-framework

[2019-09-15 16:46] crspybits commented on #683
Hi Olga,
Thanks for your response. Server-side, I'm using an idToken with https://login.microsoftonline.com/common/oauth2/v2.0/token in the use case of creating a refresh token for offline access--
https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-on-behalf-of-flow#first-case-access-token-request-with-a-shared-secret
In those docs it wasn't clear to me which kind of token I

[2019-09-16 09:56] heyrodrigo opened #689 "Aquire B2C token fails on iOS 13.1 beta 3 with MSAL 0.7.1 - Xcode 11 GM"
Hi
I have a project that is working perfectly fine on iOS 12.x, but when running the same code on iOS 13.1 beta 3 it fails. I'm using Cocoapods to integrate the MSAL framework and have the latest version of the framework (0.7.1). I'm compling the code with Xcode 11 GM.

**When trying to aquire a B2C token I get the following message:**

`Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={

[2019-09-16 12:38] heyrodrigo commented on #689
So for any one seeing the same issue. I figured out the problem.

I was using the deprecated `MSALInteractiveTokenParameters` initializer, instead of the new fancy one.

By using the new one and adding in the MSALWebviewParameters it works as expected.
[code]

Case closed.

[2019-09-16 12:38] #689 closed

[2019-09-16 20:44] mikepugh commented on #588
Just in case this helps anyone else - I was able to get everything wired up and working in iOS 13 using the latest version (0.7.1) of MSAL and SwiftUI once I found out how to pass in the view controller:

[code]

[2019-09-19 04:24] zdrummond opened #692 "Seg fault on Ubuntu 18.04"
Ubuntu 18.04
Python 3.6.8

Running `pip3 install msal`

[code]

[2019-09-19 04:29] #692 closed

[2019-09-19 04:29] zdrummond commented on #692
Sorry, this was for Python not Objc

[2019-09-20 08:46] dbxdb commented on #668
It works 👍 Closing the issue.

[2019-09-20 08:46] #668 closed

[2019-09-23 00:26] #66 closed

[2019-09-23 00:26] #486 closed

[2019-09-23 00:26] #268 closed

[2019-09-23 00:27] #115 closed

[2019-09-23 00:27] #131 closed

[2019-09-23 00:27] oldalton commented on #216
Fixed.

[2019-09-23 00:27] #216 closed

[2019-09-23 00:28] oldalton commented on #220
Should be fixed in the latest MSAL.

[2019-09-23 00:28] #220 closed

[2019-09-23 00:28] #221 closed

[2019-09-23 00:28] oldalton commented on #234
Fixed. Closing the issue.

[2019-09-23 00:28] #234 closed

[2019-09-23 00:28] oldalton commented on #249
Fixed. Closing the issue.

[2019-09-23 00:28] #249 closed

[2019-09-23 00:29] oldalton commented on #265
Closing the issue due to inactivity. Please reopen if needed.

[2019-09-23 00:29] #265 closed

[2019-09-23 00:32] oldalton commented on #269
Closing the issue due to inactivity. Please reopen if the issue still occurs.

[2019-09-23 00:32] #269 closed

[2019-09-23 00:32] oldalton commented on #284
Should be fixed in the latest MSAL. Please reopen if needed.

[2019-09-23 00:32] #284 closed

[2019-09-23 00:32] oldalton commented on #285
Fixed.

[2019-09-23 00:32] #285 closed

[2019-09-23 00:33] oldalton commented on #288
Fixed.

[2019-09-23 00:33] #288 closed

[2019-09-23 00:33] oldalton commented on #299
MSALRequrstParameters doesn't exist anymore. Closing the issue.

[2019-09-23 00:33] #299 closed

[2019-09-23 00:33] oldalton commented on #301
Closing the issue due to inactivity. Please reopen if needed.

[2019-09-23 00:33] #301 closed

[2019-09-23 00:34] oldalton commented on #317
Fixed. Closing the issue.

[2019-09-23 00:34] #317 closed

[2019-09-23 00:34] #371 closed

[2019-09-23 00:34] oldalton commented on #372
Closing the issue due to inactivity. Please reopen if needed.

[2019-09-23 00:34] #372 closed

[2019-09-23 00:35] oldalton commented on #395
Fixed. Closing the issue.

[2019-09-23 00:35] #395 closed

[2019-09-23 00:35] oldalton commented on #396
Closing the issue due to inactivity. Please reopen if needed with additional information.

[2019-09-23 00:35] #396 closed

[2019-09-23 00:35] oldalton commented on #425
Fixed. Closing the issue.

[2019-09-23 00:35] #425 closed

[2019-09-23 00:36] oldalton commented on #426
@antrix1989, has this been fixed? If yes, please close the issue.

[2019-09-23 00:37] oldalton commented on #455
Closing the issue due to inactivity. Please reopen if needed with additional information requested.

[2019-09-23 00:37] #455 closed

[2019-09-23 00:37] oldalton commented on #464
Closing the issue due to inactivity. Please reopen if needed with the additional information.

[2019-09-23 00:37] #464 closed

[2019-09-23 00:37] #477 closed

[2019-09-23 00:37] oldalton commented on #478
Closing the issue due to inactivity. Please reopen if needed.

[2019-09-23 00:37] #478 closed

[2019-09-23 00:38] oldalton commented on #481
Should be fixed in the latest MSAL version.

[2019-09-23 00:38] #481 closed

[2019-09-23 00:38] oldalton commented on #511
Improved in the latest MSAL version. Please try it out and reopen the issue if needed.

[2019-09-23 00:38] #511 closed

[2019-09-23 00:39] oldalton commented on #542
Authority factories have been refactored since then. Closing the issue. Please reopen if it's still needed.

[2019-09-23 00:39] #542 closed

[2019-09-23 00:40] oldalton commented on #560
Closing the issue due to inactivity. Please reopen if needed.

[2019-09-23 00:40] #560 closed

[2019-09-23 00:40] oldalton commented on #582
Should be fixed.

[2019-09-23 00:40] #582 closed

[2019-09-23 00:40] oldalton commented on #588
Should be fixed in the latest MSAL release (0.7.0+). Closing the issue.

[2019-09-23 00:40] #588 closed

[2019-09-23 00:41] #648 closed

[2019-09-23 00:42] oldalton commented on #655
Please update to the latest MSAL version that supports iOS 13 (0.7.0+).

[2019-09-23 00:42] #655 closed

[2019-09-23 00:42] oldalton commented on #658
Closing the issue. Please reopen if you have additional questions.

[2019-09-23 00:42] #658 closed

[2019-09-23 00:43] guidedways commented on #674
I've heard back from one particular user and they said they're using a 'Personal Office 365' account. Is that not supported by this scope?

[2019-09-23 00:43] guidedways commented on #674
@oldalton any help would be appreciated

[2019-09-23 00:44] oldalton commented on #674
This seems like a similar issue: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/518

[2019-09-23 00:45] #675 closed

[2019-09-23 00:46] oldalton commented on #676
Thanks for your feedback. We'll definitely keep it in mind!

[2019-09-23 00:46] #680 closed

[2019-09-23 00:47] guidedways commented on #518
@dsanghan thanks! Looks like a dead-end, so is this something that we can't support without moving away from EWS?

[2019-09-23 22:39] #202 closed

[2019-09-23 22:40] oldalton commented on #209
Fixed: https://github.com/AzureAD/microsoft-authentication-library-for-objc/pull/697

[2019-09-23 22:40] #209 closed

[2019-09-23 23:34] #426 closed

[2019-09-24 20:59] sameertotey opened #698 "iOS 13 failure"
Running the iOS sample app on iOS 12.4 works fine.  However while running it on iOS 13.0 phones gives the following error:

Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=application did not receive response from broker., MSALInternalErrorCodeKey=-42700}

This error is returned in the completion block of the call to:
[code]

I have the same issue using the samp

[2019-09-24 21:07] sameertotey commented on #698
I am also getting the following error on iOS 13.0 from another app:
Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALInternalErrorCodeKey=-42008}

[2019-09-24 22:23] sameertotey commented on #698
After updating the iOS phone to 13.1, I get the following error message:
TID=6901 MSAL 0.8.0 iOS 13.1 [2019-09-24 22:22:00 - 351C7BFB-026A-4429-BC19-C61B523EDFB9] [MSAL] acquireToken returning with error: (MSALErrorDomain, -50000) Masked(not-null)

[2019-09-25 04:01] sameertotey commented on #698
If I delete the Microsoft Authenticator App it does seem to work.

[2019-09-25 15:53] barrettlee opened #701 "MSAL with B2C directory: error accessing accoutClaims"
I have a swift 5  (xcode 11) application configured to use the current release MSAL lib for objective-c v0.8.0 to obtain tokens issued by my Azure B2C directory and it is working - I do get tokens and they are valid to use with my API.

The issue I have is that i am having problems accessing the user's identity from the MSALAccount object in swift.
When I view `userId` field, the value is  "Missin

[2019-09-25 20:36] oldalton commented on #701
I'm suspecting the type is incorrect. Let me change `NSDictionary<NSString *, NSString *> *accountClaims;` to a more genetic `NSDictionary *accountClaims`, as `<NSString *, NSString *>` is actually incorrect here.

[2019-09-26 01:32] oldalton commented on #698
Thanks for reporting this. I think there was an unnecessary check in the sample. Please download the latest sample and retry. Here's the change I've made: https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc/pull/57

[2019-09-26 03:32] sameertotey commented on #698
Thank you for the quick response.

[2019-09-26 03:32] #698 closed

[2019-09-28 00:48] oldalton commented on #701
@barrettlee, please try MSAL 1.0 and let me know if the issue is resolved. Thanks!

[2019-09-28 14:22] barrettlee commented on #701
@oldalton It works perfectly.

also I was able to stop using BOOL validateAuthority=false and start using knownAuthorities with my tennant.b2clogin.com/tfp/... URL - seems to have started working right at some point too. (maybe it was my error before )

congrats on  V1.0  ;)

Thanks,
Barrett

[2019-10-01 23:07] #701 closed

[2019-10-02 18:44] guidedways commented on #674
It does indeed - but is there no way for this to work? We don't really know what to tell our users since other apps using the ADAL library to authenticate don't seem to have this issue it seems?

[2019-10-02 18:47] guidedways opened #706 "Clarification required regarding minimum requirements for macOS"
I just saw this: `macOS - MSAL supports macOS (OSX) 10.12 and above.`

But that's not true, at least for v0.5. We're using this on 10.11 without issues. Can you please clarify why upgrading to v1.0 of the library won't work on 10.11 anymore? Does that mean we're stuck on v0.50 of the library?

[2019-10-03 09:36] scordonnier commented on #664
I tried again with the version 1.0.0 and now it works fine with scope="499b84ac-1321-427f-aa17-267ca6975798/user_impersonation"

[2019-10-03 09:36] #664 closed

[2019-10-04 07:32] arbintaj opened #708 "In iOS 13, MSAL Acquire token giving an error."
Hi,

Am getting this below error while trying to call acquire token function. but same  code is working fine with below versions of iOS 13.

Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALInternalErrorCodeKey=-42008}.

Please help out.

[2019-10-04 18:11] chrisriner opened #709 "Xcode 11 iOS 13 - can't build an ipa"
I am trying to build an ipa for my project and nothing has changed but a few lines and a new internal built framework.  Also the project will not build even based on last build with no changes.  We try to archive and get "IPA processing failed".  We look at the logs and see this:
Assertion failed: Expected 4 archs in otool output:
/var/folders/1c/3mq4ch_j6gxgpvcmyxktwynw5hfkwj/T/IDEDistributionOpt

[2019-10-06 05:48] ricsantos commented on #708
Duplicate of #698

[2019-10-09 21:54] scordonnier opened #713 "You can't sign in here with a personal account"
Hello,

I have created an app registration with signInAudience = AzureADandPersonalMicrosoftAccount and I'm using MSAL 1.0.0.

When I try to sign in with a personal account, I receive the following message "You can't sign in here with a personal account".

If I try to sign in with a work account, everything works as expected.

Any ideas why this problem and how to solve it ?

Thank you

[2019-10-10 12:11] Paragdhanani opened #714 "'AuthenticationServices/AuthenticationServices.h' file not found. in ios using swift"

[2019-10-10 12:13] Paragdhanani commented on #714
When i run the project it gives me Build Faild... and Error is AuthenticationServices/AuthenticationServices.h' file not found.
Please give me the solution

[2019-10-11 00:33] oldalton commented on #714
@Paragdhanani, how are you consuming MSAL? CocoaPods/Carthage/direct download? Can you please provide a bit more info on your setup?

[2019-10-11 00:33] oldalton commented on #713
Can you provide information about scopes you're passing to MSAL?

[2019-10-11 00:34] oldalton commented on #709
@chrisriner, what are the architectures supported by your app? Is it standard architectures?

[2019-10-11 00:35] oldalton commented on #708
@arbintaj, what MSAL version are you using? Can you make sure you're not using any deprecated MSAL APIs? MSAL requires passing view controller on iOS 13 due to Apple new API requirements. Make sure you're providing it as well. Thanks!

[2019-10-11 09:01] arbintaj commented on #708
@oldalton  am using latest MSAL version 1.0.0  with latest MSAL APIs and  am am passing view controller as well but still facing the same error

Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALInternalErrorCodeKey=-42008}

Not getting proper description in error log as well :)
Thanks

[2019-10-11 17:05] oldalton commented on #708
@arbintaj, can you enable [MSAL logging](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging#logging-in-msal-for-ios-and-macos) with following configuration:
1. Enable PII: `MSALGlobalConfig.loggerConfig.piiEnabled = true`
2. Set level to verbose: `MSALGlobalConfig.loggerConfig.logLevel = .verbose`

Check the log output. It should have all the possible details about the fa

[2019-10-11 18:34] scordonnier commented on #713
499b84ac-1321-427f-aa17-267ca6975798/user_impersonation (Azure DevOps REST API)

[2019-10-12 01:17] DanielOuwendijk commented on #708
I Have the exact same problem. Also for IOS 13. I tried to enable MSAL Logging with those 2 lines you answered with (set in de viewDidLoad() function), but the error message stayed the same. still:

Could not acquire token: Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALInternalErrorCodeKey=-42008}

[2019-10-12 04:19] oldalton commented on #708
Can you please provide a sample of how you're invoking MSAL?

[2019-10-12 04:41] oldalton commented on #708
Another thing to make sure is that UIViewController that you're passing as parentViewController is retained. MSAL doesn't retain the parentViewController and that's what might be causing the error you're seeing.

[2019-10-12 10:15] DanielOuwendijk commented on #708
I'll just provide the whole code:

`
func viewDidLoad() {
do {
            try self.initMSAL()
        } catch let error {
            print("Unable to create Application Context \(error)")
        }

 guard let currentAccount = self.currentAccount() else {
            // We check to see if we have a current logged in account.
            // If we don't, then we need to sign someone in.

[2019-10-12 10:43] DanielOuwendijk commented on #708
Could you maybe provide an example of how to retain the UIViewController? I'm not sure how to do this

[2019-10-12 23:08] oldalton commented on #708
Basically, you need to make sure that your instance of parentViewController is alive, e.g. if some other object is having a strong reference with it. MSAL will only keep a weak reference to your parentViewController to avoid a retain cycle. Additionally, you need to make sure that your view controller has a valid window, so I'd recommend taking a look at your view controller's lifecycle. Your sour

[2019-10-13 03:11] DanielOuwendijk commented on #708
Thanks for the help. I figured it out (by just trying things)!

so these lines of code were in de viewDidLoad function:

[code]
I moved this code to the ViewDidAppear function and now it works! Yeey!

Maybe you have a better idea why this works, because I'm not sure. Atleast it's solved!

[2019-10-13 03:50] oldalton commented on #708
It might be that your view controller doesn't have a window yet, which is normally the case when the viewDidLoad method is called. MSAL requires a valid window to present ASWebAuthenticationSession (see [Apple's API](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationpresentationcontextproviding/3237230-presentationanchorforwebauthenti?language=objc)).

[2019-10-14 04:19] arbintaj commented on #708
Yeah , Thanks for solution,  function was getting called before view loads so it was causing that error :) .
I called the function on main thread when window is available and it worked.

[2019-10-14 04:19] #708 closed

[2019-10-14 16:48] cjwillis809 opened #720 ""Safari cannot open the page because the network connect was lost" error"
Hello,

My team is using this MSAL library for authentication and one of our users is running into an issue where he cannot log in even when he performs his MFA successfully. When he changes apps to perform his MFA in Microsoft Authenticator and his MFA is approved, he navigates back to our app that uses MSAL and it brings up the screen below:
![Screen Shot 2019-10-14 at 11 42 23 AM](https://user-

[2019-10-16 19:21] cjwillis809 opened #723 "[iOS 13] Webveiw dismisses when backgrounding host app"
In iOS 13, I'm having an issue where if I background my app while the authentication webview is live, when I come back to the app, the webview window would dismiss. I would then need to re-initiate the login call. After testing, it seems like no matter what if I background the app while the webview is open, it will dismiss when I come back.

I noticed that in the sample app this behavior does not

[2019-10-16 19:41] oldalton commented on #723
Do you get any error from MSAL when you come back to the app? Is your own controller still there or also dismissed? I'd also recommend you to collect MSAL verbose logs for the next steps. Thanks!

[2019-10-16 20:52] cjwillis809 commented on #723
Thanks for the response! I receive the following error: `The operation couldn’t be completed. (MSALErrorDomain error -50005.)`. Yes, my view controller still appears after it dismisses. I enabled the verbose logs like so
[code]
but I don't receive any new information. I only receive the error above.

[2019-10-16 21:06] Oliver-Binns commented on #649
Incase extra support will help it be prioritised- I'd also be _very_ interested in Catalyst support :)

[2019-10-17 22:18] tobihagemann opened #724 "Unable to complete authentication when using SFSafariViewController webview type"
I noticed that my authentication routine doesn't work when running it on iOS 10. When trying to acquire a token, the interactive controller shows up, I enter my credentials, and submit them. But then it gets stuck and stays open. All I can do is tap "Done" at the top left to dismiss the screen (but that leads to a "cancel").

I can reproduce the issue on iOS 13 when using `MSALWebviewTypeSafariVie

[2019-10-18 02:48] oldalton commented on #723
@cjwillis809, you should receive additional information in MSAL logger callback after setting those two lines. Have you checked the output there?

[2019-10-18 03:05] oldalton commented on #724
@tobihagemann, please make sure you have applied these 2 steps:
1. Call MSAL from your AppDelegate: https://github.com/AzureAD/microsoft-authentication-library-for-objc#swift-1
2. Added your redirect scheme to Info.plist: https://github.com/AzureAD/microsoft-authentication-library-for-objc#ios-only-steps

I've just tested SafariViewController on iOS 13 and it seems working. SafariViewController re

[2019-10-18 03:05] oldalton commented on #714
@Paragdhanani, can you provide the info requested above? Thanks!

[2019-10-18 03:12] oldalton commented on #713
@scordonnier, What is probably happening here is that 499b84ac-1321-427f-aa17-267ca6975798 is a v1 resource that only supports AAD accounts. While MSAL supports getting a token for any account type (including AAD, MSA and B2C), the resource you're trying to get a token for needs to support this account type as well. I'd recommend to followup on MSA account support by opening an issue in Azure REST

[2019-10-18 03:14] oldalton commented on #683
Sorry for a late response. I'd recommend to use MSAL for testing and get both id_token and access_token from MSALResult.

[2019-10-18 03:15] #676 closed

[2019-10-18 03:22] oldalton commented on #706
Sorry for a late response. We decide supported versions by a combination of following criteria:
1. Percentage of users on that macOS version
2. Cost of testing and maintaining the library for one more macOS version

At the current moment, we're seeing a relatively low number of users on 10.11 and below. Additionally, we generally drop previous macOS version when we add support for a new one. In th

[2019-10-18 03:29] oldalton commented on #674
@guidedways, this is something that needs to be fixed from EWS side, it's not an MSAL issue. In the meantime, you can set authority to "https://login.microsoftonline.com/organizations" when requesting a token for EWS resource to restrict personal account users from seeing this error.

[2019-10-18 03:31] #589 closed

[2019-10-18 07:43] tobihagemann commented on #724
Thank you for pointing me in the right direction. I found my issue, I was checking for the "wrong" scheme inside my app delegate.

I followed the instructions and used this pattern for my redirect URI scheme: `msauth.[BUNDLE_ID]`. However, my bundle id contains uppercase letters and they got lowercased inside the app delegate even though they're defined with uppercase in Azure portal. I guess, URI

[2019-10-18 07:43] #724 closed

[2019-10-18 09:40] tobihagemann opened #726 "How to use custom keychain group in brokered authentication"
This is somehow related to #281 and #282.

I noticed that you cannot set a custom keychain group when using brokered authentication. If you look at [`MSIDBrokerInteractiveController.m#L74`](https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/blob/3a5b7250ca293e4aa44abdf12284ad9faa93e2f0/IdentityCore/src/controllers/ios/MSIDBrokerInteractiveController.m#L74), it seems like t

[2019-10-18 12:30] BastiaanAndriessen opened #727 "Webview suddenly disappears in login flow (iOS 12.2)"
## Description
We are experiencing an issue where the SFSafariView suddenly disappears (without animation) at seamingly random moments in the login flow. We've encountered this bug with versions 1.0 and 0.7 of the MSAL library, but it's also possible that it has been introduced in older versions.
We're experiencing this on device managed iPads running iOS 12.2. We are not able to reproduce it (yet

[2019-10-18 16:17] cjwillis809 commented on #723
@oldalton Thanks for that guidance, I forgot to set the callback. Here's what I receive:

[code]

It looks like it's saying the app itself is doing something to dismiss the window. We are doing some things in `viewDidApear()` in the view controller we're using as a parent. Could that be the issue?

[2019-10-21 15:03] oldalton commented on #726
Thanks, fixed in https://github.com/AzureAD/microsoft-authentication-library-for-objc/pull/728.

[2019-10-21 15:07] oldalton commented on #723
Thanks for providing the log. Can you please make sure you're not calling this method in your code? https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplication.html#/c:objc(cs)MSALPublicClientApplication(cm)cancelCurrentWebAuthSession

[2019-10-21 15:08] tobihagemann commented on #726
Awesome, thank you!

[2019-10-21 15:21] oldalton commented on #727
Thanks for a detailed writeup!
MSAL passes the parentViewController that you provide to Apple API that Apple is using to present signin window. https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/blob/master/IdentityCore/src/webview/systemWebview/ios/MSIDAuthenticationSession.m#L70

Note that MSAL doesn't retain the controller to avoid possible reference cycle. One thing th

[2019-10-21 17:05] cjwillis809 commented on #723
@oldalton Yes we are calling that method whenever we come into the foreground from being backgrounded. I removed that function call and it resolved the issue!

The reason for setting this, however, is there is behavior where if a user were to lock the phone while the **Sign In** modal is showing (the one with "Cancel" and "Continue"), and then unlocked their phone, they could no longer try to log

[2019-10-21 17:48] oldalton commented on #723
@cjwillis809, the behavior you found when device gets locked looks like iOS bug. I was able to reproduce it, and iOS doesn't return as a callback when that happens. Let me report it to Apple. Thanks!

[2019-10-22 08:45] BastiaanAndriessen commented on #727
Hi,

Thanks for your quick response and interpretation of the symptoms. The parent controller we pass to MSAL is the view controller with the plus icon and is never dismissed/deallocated in the login flow. The case were the observable would be prematurely disposed is one we can still investigate more.

Good news is that we've updated the iPads of our clients to iOS13 and haven't encountered the is

[2019-10-24 22:52] DanielOuwendijk opened #730 "Getting same token with acquireSilent, even when it is expired"
I have a problem when I'm calling acquireTokenSilently. When the app refreshes the token, it is always the same. The token never changes. When it is expired, the function still thinks the token works (no error given). This means when I'm getting data from my database, it doesn't work... Any idea what the problem can be?

my function:

[code]

[2019-10-25 04:09] oldalton commented on #730
@DanielOuwendijk, how do you know it is the same token? Do you mean it is the same string? Is it AAD or MSA account? Thanks.

[2019-10-25 08:50] DanielOuwendijk commented on #730
I'm printing the token to the console and it is constantly the same. Yes, I'm talking about the string and I'm using a AAD account, or well... I'm using B2C authority. But I've done some research, and now I understand the problem better:

On B2C (in the portal), the lifetime of the token is specified at 180 minutes and I think MSAL thinks this a well as it should. The weird thing is that the token

[2019-10-25 21:34] oldalton commented on #730
That's an interesting finding. Let me followup on this and get back to you. Thanks!

[2019-10-26 00:12] oldalton commented on #726
Should be fixed in 1.0.1 that is now released. Please reopen the issue if it still persists in 1.0.1.

[2019-10-26 00:12] #726 closed

[2019-10-26 00:12] oldalton commented on #709
Should be fixed in 1.0.1 that is now released. Please reopen the issue if it still persists in 1.0.1.

[2019-10-26 00:12] #709 closed

[2019-10-28 12:35] Krusheuski commented on #727
@oldalton
Hi,
I have a similar problem after upgrading to version 1.0.

On version 0.4.3 everything works.

[2019-10-28 15:54] jowe13 opened #736 "Can't connect to App behind Application Proxy from iOS"
Hi,

I'm trying to accomplish what is shown in the image below.

<img width="654" alt="Bildschirmfoto 2019-10-28 um 16 30 40" src="https://user-images.githubusercontent.com/38559352/67692432-6a005100-f9a0-11e9-8a07-bc830a0f78d0.png">

I'm authenticating to Azure AD using the iOS Example App. ( [https://docs.microsoft.com/en-us/azure////active-directory/develop/tutorial-v2-ios](url)). This step is

[2019-10-28 17:11] oldalton commented on #727
It looks like you're trying to request a scope that doesn't exist. Can you double check that API c39d1c84-b0cb-4949-b7f5-d00000000000 has "user.read" scope registered?

[2019-10-28 18:34] oldalton commented on #736
Is the access token that you're sending issued for your API?

[2019-10-28 18:47] jowe13 commented on #736
Thanks for your quick reply. I will have a look at it

[2019-10-28 19:37] ChrisPearce opened #737 "Add Swift Package Manager support"
It would be very helpful if Swift Package Manager was supported by including a Package.swift file.

[2019-10-29 06:10] Krusheuski commented on #727
@oldalton
Exists, since it works with version 0.4.3.

[2019-10-29 18:24] oldalton commented on #727
Thanks. Older MSAL versions were automatically removing a scope which contained your clientId in it. Therefore, it might be that it wasn't actually working, but it wasn't explicitly failing either.

Would it be possible to provide a correlationId and/or MSAL log for the working case with MSAL 0.4.3? I want to confirm my theory and verify which scopes were actually returned. Thanks.

[2019-10-29 22:12] oldalton commented on #730
@DanielOuwendijk, I followed up with our B2C team and they weren't aware of this behavior. They also did a quick test in a production tenant themselves, and they weren't getting shorter lived tokens.

Therefore, can you provide a bit more information here? Which API are you sending the access token for? Perhaps the API itself doesn't enforce the token lifetime correctly and that is why token is re

[2019-10-30 00:02] jameszaghini opened #741 "Can't logout"
* MSAL v1.0.1
* iOS 13.1 & iOS 12.4

User's are successfully logging in using the tenant id of an app registration in Azure Active Directory.

After calling `signout` with the same code in the example swift project, the user is redirected to my app's login screen.

When I then call `signInAccount` again, the user is not required to enter a username and password.  They are able to click the continu

[2019-10-30 00:03] jameszaghini opened #742 "Can't logout"
* MSAL v1.0.1
* iOS 13.1 & iOS 12.4

User's are successfully logging in using the tenant id of an app registration in Azure Active Directory.

After calling `signout` with the same code in the example swift project, the user is redirected to my app's login screen.

When I then call `signInAccount` again, the user is not required to enter a username and password.  They are able to click the continu

[2019-10-30 00:04] jameszaghini commented on #741
Sorry double post. Whoops!

[2019-10-30 00:04] #741 closed

[2019-10-30 00:20] oldalton commented on #742
@jameszaghini, You can pass MSALPromptLogin as promptType for the next sign-in: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALInteractiveTokenParameters.html#/c:objc(cs)MSALInteractiveTokenParameters(py)promptType

[2019-10-30 00:31] jameszaghini commented on #742
Thanks for your help @oldalton, it works!  I could swear I already tried that...

I wonder if the examples should be updated add a line to use `.login` as the default for `promptType`?  I know there's lots of different flows and use cases but I think that would be the behaviour most developers would expect.

[2019-10-30 00:31] #742 closed

[2019-10-30 07:58] Krusheuski commented on #727
Works:

TID=463993 MSAL 0.4.3 iOS 10.2.1 [2019-10-30 07:36:48] Using "(not-null)" Team ID.
TID=463993 MSAL 0.4.3 iOS 10.2.1 [2019-10-30 07:36:48] Init MSIDKeychainTokenCache with keychainGroup: adal keychain group
TID=463993 MSAL 0.4.3 iOS 10.2.1 [2019-10-30 07:36:48 - 36B9180F-A678-4D32-AFF5-252AE734AC06] [MSAL] -[MSALPublicClientApplication acquireTokenForScopes:(not-null)

[2019-10-30 09:17] DanielOuwendijk commented on #730
Thank you. I understand.

I made an .NET Core API myself for getting data from and sending data to Cosmos DB. This is the code I use to verify it:

[code]

From Swift, I call this authority url: https://login.microsoftonline.com/tfp/<myTeneantName>.onmicrosoft.com/<myPolicy>

You should know that I didn't have this problem before. It popped up pretty sudden. As I said, I set the token lifetime to

[2019-10-31 09:39] Krusheuski commented on #727
@oldalton , so what about my case?

[2019-10-31 09:48] pabloabadsanz opened #744 "Not able to retrieve authenticated user's roles on Swift app"
Hi team,

@plamber and me created an app on our Azure tenant, having some endpoints we try to hit from an iOS app once the user gets authenticated by means of MSAL v1.0.
Everything is working like a charm, but we are facing an issue when trying to retrieve the Roles of an authenticated user. We cannot see a way for extracting that information from the user account's object.
However, when we take t

[2019-10-31 16:38] oldalton commented on #744
MSAL will return a tenantProfile as part of MSALResult: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALResult.html#/c:objc(cs)MSALResult(py)tenantProfile
MSALTenantProfile has a property called "claims" which contains all claims from a decoded id_token: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALTenantProfile.html#/c:objc(cs)MSA

[2019-10-31 18:14] a-elnajjar opened #745 "Login Without using UIWebView?"
Could we use the authentication-library without using Popover UIWebView?

[2019-10-31 18:51] oldalton commented on #727
@Krusheuski, the only real difference I am seeing between those two requests is the promptType. MSAL 0.4.3 was using prompt=select_account by default, whereas 1.0.1 doesn't.

It would be very strange if that is the reason for the failure, but just to double check, can you try setting promptType when creating MSALInteractiveTokenparameters in 1.0.1 and see if you're still getting an error?

e.g.

[

[2019-10-31 22:10] oldalton commented on #745
This is not supported by MSAL. Do you have a specific scenario you're trying to accomplish?

[2019-10-31 22:12] oldalton commented on #736
You can either do it this way, or just pass a list of scopes in MSAL request.

For example, if your API is "https://myapi.com" and the scope it needs is "user.read", you can pass MSAL a list of scopes with @["https://myapi.com/user.read"]

You can pass your scopes in MSALTokenParameters: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALTokenParameters.html#/c:objc(cs

[2019-10-31 22:13] oldalton commented on #714
@Paragdhanani, I'll be closing this issue because we haven't been able to reproduce it. Please reopen the issue with any additional information you can provide if you're still seeing it. Thanks!

[2019-10-31 22:13] #714 closed

[2019-10-31 22:14] oldalton commented on #683
Closing this issue, please feel free to reopen if you have additional questions. Thanks!

[2019-10-31 22:14] #683 closed

[2019-10-31 23:29] a-elnajjar commented on #745
We want to use our custom loginViewControlller and connect to Azure B2C using MSAL without the  Popover UIWebView.

[2019-11-01 00:20] oldalton commented on #745
You can use resource owner password flow with Azure B2C to achieve that: https://docs.microsoft.com/en-us/azure/active-directory-b2c/configure-ropc#test-the-user-flow.

However, while it is supported on the service side, we don't recommend this flow for any native apps (outside of unit tests) and we don't support it in MSAL. The reason for it is security, SSO and conditional access.

SSO: User mig

[2019-11-01 01:44] a-elnajjar commented on #745
ok thanks

[2019-11-01 01:44] #745 closed

[2019-11-01 02:20] #393 closed

[2019-11-01 02:21] #261 closed

[2019-11-01 02:21] oldalton commented on #427
Closing this issue due to inactivity. Please reopen if needed.

[2019-11-01 02:21] #427 closed

[2019-11-01 04:06] oldalton commented on #218
This should be resolved :)

[2019-11-01 04:06] #218 closed

[2019-11-01 04:07] #254 closed

[2019-11-01 04:08] oldalton commented on #430
Closing this issue due to inactivity. Please reopen if you still have questions.

[2019-11-01 04:08] #430 closed

[2019-11-01 04:08] oldalton commented on #449
Sorry for a late followup. Are you still seeing the issue?

[2019-11-01 04:09] oldalton commented on #559
Closing this issue due to inactivity. Please reopen if you still have questions.

[2019-11-01 04:09] #559 closed

[2019-11-01 04:11] oldalton commented on #713
@scordonnier, Did you resolve the issue?

[2019-11-01 04:15] oldalton commented on #602
Sorry for a late reply on this one. I wanted to have a bit better support for this scenario before providing a sample.

We just added a new flag in MSAL to support this scenario: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplicationConfig.html#/c:objc(cs)MSALPublicClientApplicationConfig(py)multipleCloudsSupported

If you set this flag to YES, you

[2019-11-01 04:18] oldalton commented on #649
We found some potential blockers with this feature. To provide a bit more details, conditional access on macOS currently relies on ADAL or MSAL being able to read the macOS login keychain. However, Catalyst apps can only access the iOS-style keychain, so wouldn't be able to complete conditional access policies. We're hoping to be able to work it around in the future, but we cannot provide a defini

[2019-11-01 09:42] guidedways commented on #602
@oldalton Thanks! A couple of questions:

1. Why is this not switched ON by default? Should we worry about any other issues?

2. We're stuck on v0.50 on the mac because for some odd reason you've removed support for macOS 10.11 and our apps depend on that. I realize you use some property / declaration or something that requires 10.12 but that needs to be kindly be back ported. I've raised this as

[2019-11-01 09:45] guidedways opened #747 "Bring back support for macOS 10.11"
macOS 10.11 was supported in v0.50. v0.7 then broke this for us and our apps started crashing. We were told it's fixed in v0.71 however I now see support for macOS 10.11 has been removed completed.

We're now stuck on v0.5 and would like to upgrade to the latest release of MSAL. Please back port whatever change you had to make to support 10.12 or disable it for 10.11 users and make this library av

[2019-11-01 09:51] guidedways commented on #747
I can also see there are some important fixes in the latest version of MSAL that we'd like to use, especially on Catalina. However we cannot abandon our 10.11 users simply because MSAL won't work.

A library such as MSAL should aim at remaining generic enough such that it supports the least three years worth of macOS releases at least. It's not uncommon for app developers to try and support macOS

[2019-11-01 10:10] guidedways commented on #747
I suspect the macOS 10.12 requirement listed on the main page is misleading and incorrect. The library itself seems to have no usage of unavailable APIs on macOS 10.11, however the only macOS 10.12 reliant code is in the test app:

`@property (weak) IBOutlet WKWebView *webView;`

Can this be 'fixed' so that on the test app continues to work without relying on `WKWebView` and the requirements updat

[2019-11-02 03:57] oldalton commented on #747
Hi. WKWebView is available on 10.10 and above (see in Apple docs: https://developer.apple.com/documentation/webkit/wkwebview?language=objc). Would you mind clarifying what needs to be fixed with this line?

`@property (weak) IBOutlet WKWebView *webView;`

Regarding what is declared as supported version, I've provided some more context on another thread: https://github.com/AzureAD/microsoft-authent

[2019-11-04 09:42] pabloabadsanz commented on #744
Thank you @oldalton,

That (inside claims property) is exactly the place I was checking while debugging. Unfortunately not roles claim is in there. That's why after decoding not the id token, but the access token, I was able to see the roles claim in the Payload.
Maybe @plamber and me are missing anything in the Azure app's configuration which is preventing the "roles" claim to be included in the

[2019-11-04 11:59] plamber commented on #744
Thank you @oldalton,

I would like to share some more details about the architecture of the solution.

We have a central Web.API secured with AzureAD, roles, and custom scopes. The role definition is directly assigned to the AzureAD application associated with the Web.API.

We have multiple client applications (one of these applications is a mobile application) that is able to obtain a token from

[2019-11-04 17:52] 19hours opened #750 "iOS 13 Sample"
Hi,

Every time I run the samples on my iOS 13 device, it throws me different errors during compilation. This error is the most common.

[code]

Any working samples for iOS 13? Thanks!

[2019-11-05 10:05] Krusheuski commented on #727
@oldalton , thank! Now everything works.

[2019-11-05 20:21] #727 closed

[2019-11-05 23:25] Valpertui opened #752 "How to force Microsoft Authentication Webview to not preload an account found in the keychain"
Hello,

I'm looking at how to force the library to not load a microsoft account it already found (from the keychain ?).
The user is logged with one account but would like to sign in with another but the authentication webview is always preloaded with the previous account with no option to logout/sign in with another account (see video).

my usecase is the following:
1. As a user I log in with Micr

[2019-11-06 22:32] oldalton commented on #752
Can you try passing different promptType? e.g.

[code]

[2019-11-06 22:46] oldalton commented on #750
Can you try running `git submodule update --init` command after checking out MSAL?

[2019-11-07 02:31] guidedways opened #753 "-5005 errors when logging in"
I'm not sure what to make of this - one of our users is able to connect to their work account just fine, but seeing this when they connect to a personal Office 365 account. Is that not going to work?

`Error Domain=MSALErrorDomain Code=-50005 "The operation couldn’t be completed. (MSALErrorDomain error -50005.)" UserInfo={NSLocalizedDescription=The operation couldn’t be completed. (MSALErrorDomain

[2019-11-07 06:49] ajaykeshri commented on #477
I am getting same error,
What is kScopes basically  . Is this reply Url or something else, please can anyone share the step to create kScopes

[2019-11-07 09:58] Valpertui commented on #752
This is exactly what I was looking for.
Thanks a lot 😄

[2019-11-07 09:58] #752 closed

[2019-11-07 19:30] oldalton commented on #477
@ajaykeshri, is your question B2C or AAD specific (as this thread was about B2C specifically). If it is B2C you can follow this guidance: https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-web-application?tabs=applications

Generic information about scopes can be found here: https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent

[2019-11-07 23:04] oldalton commented on #753
This means user cancelled interactive authentication. Could you please provide a correlationId or a specific error that your user is seeing? Thanks.

[2019-11-07 23:09] oldalton commented on #744
Have you followed this guide and assigned roles for the user group? https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps.

[2019-11-08 05:15] plamber commented on #744
Yes, we followed these instructions. The groups have been configured on our back-end web API with its dedicated Azure AD application. The roles have been assigned to users.

We have a mobile application (dedicated Azure AD application) that does not have the roles assigned.
We thought to keep the permission handling on our web API only, roles included.

With this setup, we are wondering what is th

[2019-11-08 17:58] psignoret commented on #744
@plamber,

It looks like you figured this out by now, but just as a reminder:
- The ID token is for the _client_ (the iOS app, in this case)
- The access token is for the _resource_ app (the API)
- A token will only include roles applicable to the app for which the token is intended (i.e. the audience)

If the client and resource apps are registered as different apps in Azure AD, and you've assign

[2019-11-08 18:07] oldalton commented on #736
@jowe13, do you still have open questions? If everything is resolved, please close the issue when possible. Thanks!

[2019-11-08 18:08] plamber commented on #744
Thank you @psignoret for your summary. We will go with option 2.

[2019-11-08 21:04] jowe13 commented on #736
Hey, i got it to work out. Thanks for your help!

[2019-11-08 21:04] #736 closed

[2019-11-11 06:44] pabloabadsanz commented on #744
Thanks a lot @psignoret !! Appreciate it :)

[2019-11-11 11:53] 19hours commented on #750
@oldalton Hi, it is now compiling but I am having this constant error message:
[code]

For iOS 13, nothing happens when I launch the app but for iOS 12 and below, I am successfully redirected to login to my Microsoft account. I followed the readme closely. Anything I am missing to include for iOS 13? I am upgrading from a iOS 12 project.

[2019-11-11 15:50] 19hours commented on #750
Issue resolved. Was on an old version of this library. Updating it via pod update worked flawlessly. Thanks.

[2019-11-11 15:50] #750 closed

[2019-11-11 20:37] oldalton commented on #750
Great! Yes, iOS 13 wasn't fully supported before MSAL 0.7.0. Thanks.

[2019-11-12 09:37] veselaIl opened #760 "Only one interactive session is allowed at a time MSALInternalErrorCodeKey=-42402"
I have an issues looping with an error only when hiding the application in the background after first time logged in. When I reach the app again in few seconds constantly showing popup for sign in. Only happens in iOS 13
- ERROR signing in: Optional(Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=Only one interactive session is allowed at a time., MSALInternalEr

[2019-11-12 17:57] oldalton commented on #760
This error means that you called acquireToken API while another acquireToken was in progress. MSAL only allows a single acquireToken API at the time. Please make sure you don't start another MSAL acquireToken call when the app comes to the foreground.

[2019-11-12 22:05] mtanml opened #761 "iOS build errors in Azure DevOps"
Error when building for iOS in Azure DevOps: MTOUCH : error MT2002: Failed to resolve "System.Collections.Generic.Stack`1" reference from "mscorlib, Version=2.0.5.0, Culture=neutral,

The issue started to appear when we updated to version 4.5.1, and also occurs in 4.7. We rolled back to 4.4 and the build was successful.

[2019-11-12 22:07] #761 closed

[2019-11-12 22:25] jasoncoolmax opened #762 "RemoveAccount Not Removing ADAL Legacy Accounts"
Create this issue to keep track of the issue.

This may related to account metadata to keep track of sign out state.

[2019-11-13 19:27] oldalton commented on #602
1. You need to ensure that your application is registered in multiple clouds (you can verify that by going to portals of national clouds and confirming your app is properly configured there).

2. There's another issue about this. Let's continue the discussion in that issue.

[2019-11-13 21:55] aaronjedwards opened #764 "Failed to delete broker key with error: -34018"
This issue seems to be related to brokered authentication. With the Authenticator app installed, I am experiencing the following error when calling `acquireToken`:
[code]

For context I am using iOS 13.2. This _does not_ happen when the Microsoft Authenticator app is uninstalled.

Any help would be much appreciated.

[2019-11-13 22:39] aaronjedwards commented on #764
Doh. I found the culprit. A typo:

![Screen Shot 2019-11-13 at 3 37 56 PM](https://user-images.githubusercontent.com/15369925/68810559-adf38700-062b-11ea-98fd-7a464adedf46.png)

Posting as this may help someone else in the future.

[2019-11-13 22:39] #764 closed

[2019-11-14 18:19] a-elnajjar opened #767 "loading the B2C loginWebview in viewDidLoad get error MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALInternalErrorCodeKey=-42008}"
I am trying to load the B2C loginWebview in  viewDidLoad when I call `self.authorization()` I get this error message

[code]

[2019-11-14 22:42] oldalton commented on #767
Can you please provide MSAL logs? https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging#logging-in-msal-for-ios-and-macos

[2019-11-15 14:22] a-elnajjar commented on #767
MSAL Log

[2019-11-15 16:28] a-elnajjar opened #768 "Implementing iOS 13 SDK new feature prefersEphemeralWebBrowserSession"
watch this video from Apple's WWDC [What's New in Authentication](https://developer.apple.com/videos/play/wwdc2019/516/) go forward to 14:17 minutes. in [ASWebAuthenticationSession](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession) class they have to option to configure a session in webView called [prefersEphemeralWebBrowserSession](https://developer.appl

[2019-11-15 17:34] oldalton commented on #767
I think the error is telling you what is missing:

`The required app scheme "msauth.com.microsoft.identity.client.sample.MSALiOSB2C" is not registered in the app's info.plist file. Please add "msauth.com.microsoft.identity.client.sample.MSALiOSB2C" into Info.plist under CFBundleURLSchemes without any whitespaces and make sure that redirectURi "msauth.com.microsoft.identity.client.sample.MSALiOSB2C

[2019-11-15 17:44] oldalton commented on #768
This is already supported by latest versions of MSAL. See details here: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALWebviewParameters.html#/c:objc(cs)MSALWebviewParameters(py)prefersEphemeralWebBrowserSession

However, note that you'd be losing SSO with Safari and other apps if you enable it. Depending on your project requirements this might or might not be pref

[2019-11-15 18:00] #768 closed

[2019-11-15 18:01] a-elnajjar commented on #768
thanks

[2019-11-16 04:11] SteveDCronin opened #772 "interactiveTokenError: Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=Interaction is not supported in an app extension., MSALInternalErrorCodeKey=-42405"
On iOS I am attempting to add value to an app by providing an app extension that performs similar functionality without the tedious process of 'Copy' - 'Switch App'- 'Navigate' - 'Paste' - 'perform Action'. However I do not see how to accomplish this using iOS 13 and MSAL 1.0.

If I attempt to use 'getInteractiveToken' I get this error.  If I attempt to re-use the token obtained by the host app I

[2019-11-16 21:15] oldalton commented on #772
At the moment, you should be able to acquire a token silently if there's a token in cache.

So this should be supported:

`If I attempt to use 'getInteractiveToken' I get this error. If I attempt to re-use the token obtained by the host app I get a '401'.`

There must be some other reason why you're getting 401. Can you provide a little bit more details on what scopes are you trying to use?

`If I

[2019-11-18 14:26] 19hours opened #774 "Provided value for the input parameter scope is not valid because it contains more than one resource"
I need my users to have access to two scopes, Graph api and my own api. I know this is expected behavior so my question is, should I acquire the token for one then silently acquire the token for the other when I need to access it?

[code]

[2019-11-18 18:05] oldalton commented on #774
Yes, you can call `acquireTokenSilent` with your second resource's scopes and get a token silently.

[2019-11-19 02:33] 19hours commented on #774
Ok. Is it good practice to store these tokens? Or is it better to acquire them before every request?

[2019-11-19 04:42] oldalton commented on #774
MSAL will store tokens for you and refresh whenever token is expired. Just call `acquireTokenSilent` to get an access token silently, and if you get an error, call `acquireToken` (see details on error handling here: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-handling-exceptions#msal-for-ios-and-macos-errors)

[2019-11-19 05:01] 19hours commented on #774
Okay thanks!

[2019-11-19 05:01] #774 closed

[2019-11-19 15:19] #730 closed

[2019-11-19 18:25] #449 closed

[2019-11-19 18:56] #706 closed

[2019-11-19 18:56] oldalton commented on #713
Closing the issue due to inactivity. Please reopen if it is still an issue. Thanks!

[2019-11-19 18:56] #713 closed

[2019-11-19 18:57] #744 closed

[2019-11-20 07:27] natuamol commented on #525
adding dummy comment to verify if the close event gets registered.

[2019-11-20 15:35] DanielOuwendijk opened #777 "Error Invalid Grant keeps coming back IOS 12"
Hi,

I recently got an error message when trying to call acquireTokenSilent. Every time it needs interaction from the user with the following error message:

So when I login as required, I get a new token and it works fine. The moment I call acquireTokenSilent again, I get the same error message again and requires me to login again.

I was wondering what the problem could be. Is it a problem with

[2019-11-20 15:53] DanielOuwendijk commented on #777
After some more research it looks like this problem is not for IOS 13 devices. everything works fine here. But when I test for example on an Iphone 6 , I get this error.

[2019-11-20 20:25] oldalton commented on #777
Can you please collect an MSAL log to investigate this issue?

[2019-11-21 08:33] tritter opened #780 "WKWebView shared sessions"
Whenever Im Authenticated with my Application I get a GraphToken and everything works. But whenever I try to open a Word document from OneDrive or the a SharePoint page it asks again for a login. I use the default WKWebView for that, it seems that the SSO session is not shared there.

How can I get this to work?

[2019-11-21 08:56] DanielOuwendijk commented on #777
Okay. This is my log when I open the app:

[2019-11-22 02:52] oldalton commented on #780
WKWebView doesn't support sharing cookies between multiple processes.
However, we support some other ways to achieve SSO. See guidance here: https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-macos-ios

[2019-11-25 09:40] DanielOuwendijk commented on #777
So, any idea what the problem is? I am still not able to figure it out

[2019-11-25 09:58] DanielOuwendijk commented on #777
Okay, now it works again. After logging out and deleting my app and then reinstalling, it works like normal.  If the problem stays gone, i'll close the issue in a few days.

[2019-11-25 14:32] #767 closed

[2019-11-26 16:26] cassianodialpad commented on #560
@oldalton I'm facing the same issue in a multi-user scenario:

1. The user logs in to my app with one O365 account.
2. The user logs out with the intent to login with another account.
3. The user tries to log in, but in the O365 login page the previous account is signed in, and there is no option to sign-out or switch accounts. The workaround is to go to the iOS settings and delete cookies.

In Sa

[2019-11-26 18:16] oldalton commented on #560
@cassianodialpad, can you try setting promptType as [selectAccount](https://azuread.github.io/microsoft-authentication-library-for-objc/Enums/MSALPromptType.html#/c:@E@MSALPromptType@MSALPromptTypeSelectAccount)?

https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALInteractiveTokenParameters.html#/c:objc(cs)MSALInteractiveTokenParameters(py)promptType

[2019-11-26 22:12] cassianodialpad commented on #560
@oldalton That works, thanks a lot!

[2019-11-27 19:55] oldalton commented on #626
Since this issue was closed, I assume it got resolved.

[2019-11-27 20:05] oldalton commented on #780
Closing this question, please reopen if needed.

[2019-11-27 20:05] #780 closed

[2019-11-27 20:08] oldalton commented on #760
@veselaIl, did you resolve this issue?

[2019-11-27 20:09] oldalton commented on #772
@SteveDCronin, did the recommendation above help? Are you still facing the issue?

[2019-11-27 23:05] oldalton commented on #777
@DanielOuwendijk, I took a closer look at your logs, and one thing that might be happening is that account you're using doesn't match the policy in your authority URL.

For B2C scenarios, you cannot use account retrieved for one policy for other policies (e.g. you get an account as a result of performing a sign-in policy, you cannot silently get a token for password reset policy with the same acco

[2019-11-27 23:59] SteveDCronin commented on #772
Olga;

Thanks for responding.  11 days ago you posted a comment that posed a few questions and made it clear that I had failed to convey my problem.
You asked at one point what scopes I am requesting: @[graphContactScope,graphCategoryScope];

Here's another attempt to convey my issue.  I have a iPhone app which contains a Share Action (.appex).  For the app itself I have the entire process working