[2019-11-28 00:56] oldalton commented on #772
`Keychain does not provide access to the accessToken retrieved by the app. The app and the .appex are two different processes (not the same). I have tried to re-use the access token by providing it to the appex using the sharedDefaults but the authentication process throws a 401 when the appex tries to use the accessToken obtained by the app.`

Keychain does provide a capability to share between a

[2019-11-28 01:21] SteveDCronin commented on #772
What is ‘App Identifier prefix’?

Do you mean Product Bundle Identifier?

app:  com.CoName.ProductName.iphone

appex:  com.CoName.ProductName.iphone.ActionName

They already do have Keychain Sharing set with a shared value of: com.CoName.ProductName.iphone.keychain

I guess I will re-run testing…  Does this require a specific version of MSAL?

Thanks for your time!
Steve

[2019-11-28 03:04] oldalton commented on #772
ok, seems you're using a custom keychain access group.
Can you please make sure you're telling MSAL about that group by passing it to cacheConfig. See instructions here: https://docs.microsoft.com/en-us/azure/active-directory/develop/single-sign-on-macos-ios#silent-sso-between-apps

For example:

[code]

And here's some more information about app id prefixes: https://developer.apple.com/library/ar

[2019-11-29 12:04] DanielOuwendijk commented on #777
Yes, I can confirm. It is the same for all functions.

 I do know though, that the problem started when I logged out. When I tried logging back in, the problem popped up.

I just tested logging out and logging back in and everything works fine. I guess it was a one off...?

[2019-11-29 23:49] oldalton commented on #777
Perhaps, just want to make sure there's no bug here. When you're saying "logout" - do you mean logout in the browser? or calling MSAL's removeAccount() API? Thanks.

[2019-11-30 00:59] DanielOuwendijk commented on #777
When I'm logging out, I'm calling MSAL's removeAccount() API

[2019-12-03 00:37] SteveDCronin commented on #772
Olga;

You’ve been patient and helpful - thank-you!

I’ve made some progress but am stuck on something I’m just not understanding:

I have 2 different app registrations @ https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RegisteredApps <https://portal.azure.com/#blade/Microsoft_AAD_IAM/ActiveDirectoryMenuBlade/RegisteredApps>

One registration is for the app itself and the

[2019-12-06 03:36] oldalton commented on #772
@SteveDCronin, sorry for a bit of delay. I wanted to try out a sample myself before responding back.

You don't need a separate app registration for your extension. In fact, to achieve SSO, you must use same app registration for both your app and the extension (so clientId should be the same).

Regarding the error, you're facing, you're missing a scheme registration in the Info.plist file of your

[2019-12-06 07:50] DanielOuwendijk commented on #777
Alright, I'm closing the issue now. Thank you for your help!

[2019-12-06 07:51] #777 closed

[2019-12-06 15:03] odarynakorolevych opened #796 "Issue with parent view controller in MSALWebviewParameters"
Hello, I am using MSAL for SSO login with prefersEphemeralWebBrowserSession set to TRUE for iOS 13 (which uses under the hood ASWebAuthenticationSession as far as I know).

I found an issue with my view controller, that I set as parentViewController in MSALWebviewParameters, and found that after authentication it doesn't seem to deallocate from memory. I investigated this issue and found that all

[2019-12-10 09:27] odarynakorolevych commented on #796
Any news about this issue?

[2019-12-10 17:55] oldalton commented on #796
@antrix1989

[2019-12-11 22:19] oldalton commented on #772
@SteveDCronin, did you ever resolve this issue?

[2019-12-12 05:29] #674 closed

[2019-12-12 05:29] #518 closed

[2019-12-12 05:29] #753 closed

[2019-12-12 05:29] #602 closed

[2019-12-12 05:29] #747 closed

[2019-12-12 11:45] alfetch opened #800 "Default authorization with MSAL swift"
Hi all

I know this is not an issue, but i don't know where to ask for it. So please just close the issue when it's answered.

I need answer for this question: Is MSAL for IOS (also Android) using authorization code as default response_type and not implicit flow (accesstoken) - further is PKCE default used, or should the client do something to enable it?

thanks in advance.

[2019-12-12 20:21] oldalton commented on #800
Yes, MSAL for iOS and Android uses authorization code flow, and doesn't support implicit flow. PKCE is enabled by default.

[2019-12-12 20:29] alfetch commented on #800
Thanks a lot :+1:

[2019-12-12 20:29] #800 closed

[2019-12-15 04:24] SteveDCronin commented on #772
On Dec 11, 2019, at 2:19 PM, Olga Dalton <notifications@github.com> wrote:

Olga;

Yes I did!! I followed your last set of instructions and the .appex now functions exactly as expected!!  YEAH  Thank-You.

You are the only person from Microsoft who has ever responded to any inquiry I have made and you have been patient, thorough, and very helpful!
Thank-You for your time!

So I’m going to ask you

[2019-12-16 06:02] fangios opened #805 "Unable to switch accounts after login"
After logging into your account with the latest version, you cannot switch accounts the next time you open the authorization login page. The old version can. Can you help me see how to solve this problem?

[2019-12-16 17:05] a-elnajjar opened #806 "how to update code to use Keychain instead of UserDefaults"
I want to ask how can I update the example code to store the currentAccountIdentifier I want to use keychain instead of UserDefaults

    var currentAccountIdentifier: String? {
        get {
            return UserDefaults.standard.string(forKey: kCurrentAccountIdentifier)
        }
        set (accountIdentifier) {
            // The identifier in the MSALAccount is the key to retrieve this user

[2019-12-16 20:14] #806 closed

[2019-12-17 05:13] oldalton commented on #806
I assume this issue got resolved?

[2019-12-17 18:54] oldalton commented on #805
Old MSAL versions were sending prompt=select_account by default. This behavior changed in the latest MSAL versions, so account selection screen is not going to be shown by default.

You can override this behavior by explicitly specifying prompt=select_account in MSAL. See documentation here: https://azuread.github.io/microsoft-authentication-library-for-objc/Enums/MSALPromptType.html#/c:@E@MSALPro

[2019-12-18 02:50] fangios commented on #805
Thanks

[2019-12-18 18:49] jasoncoolmax commented on #805
Please reopen the issue if you still experience the same issue.

[2019-12-18 18:49] #805 closed

[2019-12-18 18:59] jasoncoolmax commented on #772
Hi @SteveDCronin, your app registration should not be in danger as Office 365 subscription is not required to be able to register an app in Azure portal.
For Microsoft Graph, you can contact Microsoft Graph support here: https://developer.microsoft.com/en-us/graph/support.
Hope it could help!

[2019-12-18 18:59] #772 closed

[2019-12-19 00:23] rohitnarula7176 commented on #796
@odarynakorolevych Thank you for reporting this issue. We recently pushed a test branch with a fix for this issue. Can you please try that out and confirm if your issue is resolved. Here is the link for the branch:
https://github.com/AzureAD/microsoft-authentication-library-for-objc/pull/807

[2019-12-19 14:12] odarynakorolevych commented on #796
@rohitnarula7176 I checked on your branch, and found no memory leaks! Parent view controller successfully deallocated and no leaks in the library.

[2019-12-20 18:59] rohitnarula7176 commented on #796
@odarynakorolevych Thank you for confirming that the issue is resolved for you. The branch with the fix is now merged in dev and will be part of our next release. Closing this issue for now.

[2019-12-20 18:59] #796 closed

[2019-12-23 18:43] jasoncoolmax commented on #762
Fixed by remember signed out account in account metadata. Close it as PR has been merged.

[2019-12-23 18:43] #762 closed

[2019-12-25 20:29] #760 closed

[2020-01-02 21:13] spencer-microsoft opened #817 "Signing in with a second MSA account options are unclear"
When signing in with a second MSA account, the two button options are "Remain signed in with this account" and "Sign out and sign in with a different account". But for an application where we may want to allow multiple MSAs, the second option isn't clear in what it allows, which is being signed into both accounts.

[2020-01-03 21:33] a-elnajjar opened #818 "using url endpoint "https://{tenant}.b2clogin.com/" instead of "https://login.microsoftonline.com/"
We are trying to use "https://{tenant}.b2clogin.com/"  instead of "https://login.microsoftonline.com/"  in swift code. because we have "Invalid Azure B2C Token Issuer invalid ". our resource endpoints will accept a token issued form URL auth "https://{tenant}.b2clogin.com/" endpoint, on the other hand, it will reject any token form issued from URL auth "https://login.microsoftonline.com/".

[2020-01-06 10:09] odarynakorolevych opened #819 "Memory leaks"
In this issue https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/796 was stated that the fix will be part of your next release. But in the release 1.0.6 I don't see these changes and these changes are very important for us.

How much time do we need to wait for this fix to be released?

[2020-01-08 03:50] 19hours opened #821 "Keychain Group Error (errSecMissingEntitlement -34018)"
Hello,

I am using v1.0.5 of this library. I'm getting this error even though my keychain looks like it is configured correctly. I am reading this https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-v2-keychain-objc?tabs=objc#handle--34018-error-failed-to-set-item-into-keychain but I'm not sure what configuration it is referring to ```Error -34018 normally means that the keychain

[2020-01-08 19:40] jasoncoolmax commented on #818
Hi @a-elnajjar, may I know more details about the issue you are facing? What issue do you face when you change your authroity to `your-tenant-name.b2clogin.com`?

[2020-01-08 19:43] jasoncoolmax commented on #819
Hi @odarynakorolevych, the release 1.0.6 was finalized before the issue was addressed. In #796, the `next release` actually mean the next release after 1.0.6. Sorry for the confusion. For the time line of next release, let me collect more info tomorrow before I could provide you more info.

[2020-01-08 21:22] jasoncoolmax commented on #817
Thank you for bringing this up.
There are some improvement work going on regarding this issue. We will let you know once that improvement work is done.

[2020-01-09 04:05] 19hours commented on #821
I had the wrong entitlements file specified in my build settings for debug builds. My bad.

[2020-01-09 04:05] #821 closed

[2020-01-09 14:57] Nasicus opened #822 "Clicking on "forgotten password policy link" returns -50000 error code"
I use MSAL for B2C and when I click on the "Forgot my password" link on my "SignUp" policy I don't receive a good error code, but only `-50000`  which isn't helpful since this is the default error code (`https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/4084ea19902c9081fd37e5654d9df1dbc4a1f075/MSAL/src/public/MSALError.h`).

When I enable verbose logging and stuff I can see

[2020-01-14 00:41] a-elnajjar commented on #818
yes, can we override authority URL form "https://login.microsoftonline.com/"  to your-tenant-name.b2clogin.com?

[2020-01-15 09:46] AntonPieter commented on #698
Hi. I have the same problem. The AppDelegate changes are not enough, I think. Could it be that the library relies on UIApplication.SharedApplication.OpenUrl? Apple made API changes that are breaking. It only happens when the Authenticator App is installed.

[2020-01-16 02:07] oldalton commented on #698
@AntonPieter, can you please show your AppDelegate or UISceneDelegate code? See a sample here: https://github.com/AzureAD/microsoft-authentication-library-for-objc#swift-1

[2020-01-16 07:43] AntonPieter commented on #698
@oldalton Thanks for your reply. This is inside my AppDelegate:
`extension AppDelegate {
    func application(_ app: UIApplication, open url: URL, options: [UIApplication.OpenURLOptionsKey : Any] = [:]) -> Bool {
        return MSALPublicClientApplication.handleMSALResponse(url, sourceApplication: options[UIApplication.OpenURLOptionsKey.sourceApplication] as? String)
    }
}`

[2020-01-16 07:56] AntonPieter commented on #698
@oldalton I think the library tries to open the Authenticator app, if it is installed, but nothing happens. When I remove the Authenticator app, it will show the safariViewController (or wkWebView, whatever the webviewType is set to). Note, that I didn't add an account to the Authenticator app.

[2020-01-16 09:10] pascalfriedrich commented on #737
Is there a rough timetable when the support will be added?

[2020-01-16 13:57] xZachi opened #823 ""Different account was returned from the server" error is returned on request for password change"
My steps:

1. Log in to the app using B2C signIn/signUp policy

1.

Error:
`Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=Different account was returned from the server, MSALCorrelationIDKey=03FF3E15-FB38-4540-8F04-7FFBF0E45E5C, MSALInternalErrorCodeKey=-42101, MSALInvalidResultKey=<MSALResult: 0x600001361b00>}`

[2020-01-16 13:57] #823 closed

[2020-01-16 14:13] xZachi opened #824 ""Different account was returned from the server" error is returned on request for password change"
1. Log in to the app using B2C signIn/signUp policy
2. Launch change password flow using dedicated policy (using MSALPublicClientApplication)

ER: Password is changed, MSALResult is returned, error is empty
AR: Password is changed, MSALResult is empty, error as below
Error:
`Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=Different account was returned from the

[2020-01-16 21:19] oldalton commented on #698
Thanks for additional information. When you're saying that "nothing happens", is the Authenticator app shown? Is your app opened after that?

[2020-01-17 10:37] AntonPieter commented on #698
The Authenticator app does not show. It will stay in our app.

[2020-01-17 19:33] oldalton commented on #698
Thanks, can you please collect a verbose MSAL log as described here: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=dotnet#logging-in-msal-for-ios-and-macos

[2020-01-20 12:25] AntonPieter commented on #698
Sure:
`MSAL log: TID=5075605 MSAL 1.0.6 iOS 13.3 [2020-01-20 12:24:18] (Default cache) Get app metadata entries with clientId 444e76f9-2a66-4002-8b7a-92891c2f11e9, environment (null)
MSAL log: TID=5075605 MSAL 1.0.6 iOS 13.3 [2020-01-20 12:24:18] Trying to find keychain items...
MSAL log: TID=5075605 MSAL 1.0.6 iOS 13.3 [2020-01-20 12:24:18] Keychain find status: -34018
MSAL log: TID=5075605 MSAL

[2020-01-20 19:46] oldalton commented on #698
@AntonPieter, please make sure you configured keychain sharing correctly, as described in step nr 3 here: https://github.com/AzureAD/microsoft-authentication-library-for-objc#adding-msal-to-your-project

[2020-01-21 09:17] AntonPieter commented on #698
@oldalton I completely missed this in the docs. Thanks! It is working now.

[2020-01-21 17:54] jboisjo commented on #737
We need this badly as well :(

[2020-01-21 18:54] jasoncoolmax commented on #818
Yes, you can use the `your-tenant-name.b2clogin.com` format authority in MSAL. More details could be found [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/config-authority#b2c). Let me know if you need any further help.

[2020-01-22 18:16] rohitnarula7176 commented on #822
@Nasicus Thank you for reporting this. We were able to reproduce this issue. Currently in MSAL we do not handle the error "access_denied".

A workaround you can use is to handle this error description below "AADB2C90118:+The+user+has+forgotten+their+password" and once you receive it, redirect the user to password reset page.

Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDes

[2020-01-22 19:07] #818 closed

[2020-01-22 19:08] a-elnajjar commented on #818
thanks

[2020-01-23 16:35] eltonjhony opened #832 "Server returned less scopes than requested"
Hi,

I'm trying to use the Authorization code flow to connect on my B2C instance and I'm receiving an error validation that the MSAL library is performing after the requests.

I saw in the logs that I could make the ```/authorize``` and the ```/token``` requests, and I have received the response that I needed from Azure AD (Ex.: accessToken, refreshToken, idToken, etc..). However, the lib is perfo

[2020-01-23 19:05] oldalton commented on #832
Can you please make sure that the client_id that you're passing as a scope is indeed valid? B2C will ignore any scopes in your request that it doesn't recognize. When MSAL is processing result, it verifies that you receive a token for all scopes you requested and notify you when it is not the case. Based on your error description it looks like that is what is happening, so next step should be unde

[2020-01-23 19:16] eltonjhony commented on #832
Hi @oldalton

We did some adjustments in our Azure settings and the issue has been fixed.
Thanks! I'll close this issue.

[2020-01-23 19:16] #832 closed

[2020-01-23 19:22] oldalton commented on #832
Thanks for an update, @eltonjhony. Do you know which setting was updated exactly? This could help other developers running into the same issue :)

[2020-01-23 22:27] rohitnarula7176 commented on #824
@xZachi We were able to reproduce this issue. The problem is here is that the object id of the account returned from the policy endpoint in B2C is of the form <object id>-<policy>
For instance , when you go to signIn/signUp policy, the object id of the account returned from server is <object id>-b2c_1_signin,

Now when you pass this account in the parameters of the subsequent acquireTokenWithParam

[2020-01-24 14:44] kesanf commented on #824
I am not sure if this is production ready. This library looks bad. You have a lot of bugs on both iOS and Android

[2020-01-24 14:57] kesanf opened #833 "Wrong token on password reset"
When password reset flow if finished object returned is MSALResult which contains accessToken, expiresOn, etc. This access token is not valid, so I have to login again instead just continue using this token. Is there a way to get valid access token without additional requests?

[2020-01-24 18:19] rohitnarula7176 commented on #833
@kesanf Thank you for reporting this. In B2C the access tokens returned are policy specific so if you get an access token from the password reset endpoint, you cannot use that access token to access any other resource. Can you provide more step-by-step details on your flow so that we can investigate further.

[2020-01-24 18:21] rohitnarula7176 commented on #824
@kesanf Can you please provide more details on why the above workaround did not work for you. Can you please share a code snippet that you are using for your flow so we can further investigate the issue you are facing.

[2020-01-27 16:20] glatour commented on #737
I can't wait to have the library moved to the swift package manager!!!

[2020-01-27 18:19] eltonjhony opened #837 "Override decidePolicyForNavigationAction for customWebView"
Hi,

Is there a way to override ```decidePolicyForNavigationAction``` when using a customWebView?

I tested here with my ```customWebView``` and the events are not intercepted. Does it require any additional step other than implementing ```WKNavigationDelegate```?

[2020-01-27 18:39] antrix1989 commented on #837
hi @eltonjhony, could you provide more details why do you need to override decidePolicyForNavigationAction?

[2020-01-27 18:54] eltonjhony commented on #837
Hi @antrix1989

We have a B2C journey here where we're opening in a ```customWebView```. In this journey there is a cancel button which calls a redirect URL for this cancel purpose.

I want to override ```decidePolicyForNavigationAction``` to intercept the cancel redirect URL and call the appropriated action if the user taps this button.

I don't know if there is another way to do it using ```acqu

[2020-01-28 13:22] eltonjhony commented on #837
Do you have any thoughts antrix1989 to help me? Let me know if you need more information.

[2020-01-29 17:54] kesanf commented on #833
Is there a way after password reset to be logged in?

[2020-01-29 17:57] kesanf commented on #824
@rohitnarula7176 This is not even workaround. getAccountByPolicy is method that you need, not workaround.

[2020-01-29 19:01] oldalton commented on #837
@eltonjhony, thanks for the clarification. Neither MSAL nor OAuth2 spec allow to provide multiple redirect_uri-s in the request. Do you have any reason why your cancellation flow cannot use the same redirect_uri as provided to MSAL? Please make sure that your cancel redirect follows OAuth2 format for error responses.

In order to detect cancellation, you can check error information returned by MSA

[2020-01-29 19:05] oldalton commented on #824
@kesanf, yes, getAccountByPolicy is additional code that you need to include in your application in order to retrieve correct account object for the policy you're trying to execute. Unfortunately, in the B2C world, each policy has a separate account associated with it due to protocol limitations.

Can you please provide a code snippet that you're using (in case that after applying additional code

[2020-01-29 22:13] eltonjhony commented on #837
Thanks for the response @oldalton

We're gonna use the error check to decide what to do in this case.

[2020-01-29 22:13] #837 closed

[2020-01-30 04:28] bullsseye opened #842 "ADAL Error to MSAL Error mappings for migration"
There are two different error codes returned via ADAL **ERROR_SERVER_USER_INPUT_NEEDED** and **ERROR_SERVER_REFRESH_TOKEN_REJECTED** for which I could not find corresponding error codes in MSAL.

If these errors are distinguished inside **InteractionRequired** via description in userInfo, please let me know these descriptions as I could not find it in the documentation

[2020-01-31 16:54] oldalton commented on #842
Thanks for the question. I recommend to take a look at [MSAL error handling guide](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-handling-exceptions?tabs=iosmacos#msal-for-ios-and-macos-errors). MSAL improved error handling over ADAL significantly and there're only a handful of errors you need to handle.

To answer your specific question, both ERROR_SERVER_USER_INPUT_NEEDED

[2020-02-01 19:54] eltonjhony opened #843 "How to intercept requests inside the WebView"
Hi,

I have a situation using MSAL lib where I need to intercept some clicks inside the ```WebView``` to take some actions.

For example, in the following screen, if the user taps the forgot password link, I want to intercept this click to take an action on the native app.
<img width="395" alt="Screenshot at Feb 01 16-36-06" src="https://user-images.githubusercontent.com/25302517/73598007-70f3ae00

[2020-02-01 22:00] oldalton commented on #843
If you're using custom links, one thing you can do is to mimic OAuth responses in your redirects. For example, for the "forgot password link" in your example, you can return a standard response starting with your Redirect Uri:

If your Redirect Uri is `msauth.com.microsoft.msaltestapp://auth`

You can return:

`msauth.com.microsoft.msaltestapp://auth?error=access_denied&error_description=<your err

[2020-02-03 08:55] xcodeApps opened #844 "is there a way to hide pop ups"
How can we remove/disable pop ups which comes from library we want to hide these alerts for choosing cert. Our client doesn't want these alerts for users how can we hide those are there any options in the library.

[2020-02-03 11:45] eltonjhony commented on #843
Hi @oldalton

Thanks for the response :)

That would be enough for us.

[2020-02-03 11:45] #843 closed

[2020-02-03 18:59] oldalton commented on #844
Can you please provide an example of the popup that you're talking about (either title of the popup or a screenshot) such as we can provide you with a more specific advice?

[2020-02-03 18:59] oldalton commented on #842
Closing the issue. Feel free to reopen if you still have questions. Thanks.

[2020-02-03 18:59] #842 closed

[2020-02-03 19:00] oldalton commented on #824
Following up on this issue. Can you please provide us a code snippet that you're using in order to help investigate. Thanks.

[2020-02-04 09:13] xcodeApps commented on #844
<img width="637" alt="Screenshot 2020-02-03 at 1 54 06 PM" src="https://user-images.githubusercontent.com/32763714/73730291-8dcff180-475c-11ea-81b8-d450eab3382e.png">
<img width="1085" alt="Screenshot 2020-02-03 at 2 24 26 PM" src="https://user-images.githubusercontent.com/32763714/73730327-988a8680-475c-11ea-8433-486ef20e9e20.png">

[2020-02-04 09:16] xcodeApps commented on #844
we are using broker authentication for some clients as per their need they don’t need these pop ups which asks their internal users for cert and using microsoft.com confirmation

[2020-02-04 16:53] oldalton commented on #844
Thanks. The first dialog is coming from ASWebAuthenticationSession and is shown by iOS. The only way to hide it is to set prefersEmpheralSession to YES: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALWebviewParameters.html#/c:objc(cs)MSALWebviewParameters(py)prefersEphemeralWebBrowserSession. **However, once you set it to YES, you'll loose SSO with Safari and other

[2020-02-04 17:09] xcodeApps commented on #844
Thanks which means we can not hide/remove those at present.

[2020-02-05 19:11] jasoncoolmax commented on #844
Closing the issue as it is by design at the current moment.

[2020-02-05 19:11] #844 closed

[2020-02-05 23:11] rohitnarula7176 commented on #833
@kesanf Please let me know if the scenario you are describing is as follows:

1. Call acquireTokenInteractive by passing authority "sign_in" which results in an Access Token, Refresh Token and Account (whose object Id suffix matches the policy ("sign_in").

2. Call acquireTokenInteractive passing authority "password_reset" which results in an Access Token, Refresh Token and Account (whose object I

[2020-02-06 13:47] bullsseye opened #845 "Broker Authentication iOS"
After reading many documentation I could not find much clarity on how to enable broker authentication with MSAL. While going through ADAL to MSAL migration doc: _https://docs.microsoft.com/en-us/azure/active-directory/develop/migrate-objc-adal-msal_ , I found that I just need to do the following if my applications' redirectURI is already broker enabled:

`- (BOOL)application:(UIApplication *)app o

[2020-02-06 15:40] richardtop opened #846 "Unable to run examples"
Build fails when trying to run examples provided with this repository.
Also, no instructions are available on how to build the sample apps.

[2020-02-06 18:43] jasoncoolmax commented on #846
Hi @richardtop , are you using cocoapods to get the library or download it directly from Github? If you download it from Github, make sure you are downloading via the first two links (rather than the last two). Because the first two links contain all required submodules to run the project out of box. Check the following link as an example: https://github.com/AzureAD/microsoft-authentication-librar

[2020-02-06 18:54] jasoncoolmax commented on #845
For your Q1, by default, MSAL Objective C will automatically call broker if broker is available and your app settings are right. If you want to turn off broker, you can set the following flag:
https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/dev/MSAL/src/public/configuration/MSALGlobalConfig.h#L74

For your Q2:
Please kindly refer to the following two links for iOS 13 requ

[2020-02-07 02:37] JoNilsson commented on #353
Thank you @oldalton!
Just found this helpful while trying out the ADAL 4.0.6 branch.
Adding `:submodules => true` resolved the missing import in the precompile header that ref'd `IdentityCore_Internal.h`

[2020-02-07 13:56] michelledoyle commented on #584
Following. Same question.

[2020-02-07 18:56] #845 closed

[2020-02-09 20:15] kesanf commented on #824
Nope. I use exactly the same code.

[2020-02-09 20:20] kesanf commented on #833
This scenario:

1. Call acquireTokenInteractive by passing authority "sign_in" which results in an Access Token, Refresh Token and Account (whose object Id suffix matches the policy ("sign_in").

2. Call acquireTokenInteractive passing authority "password_reset" which results in an Access Token, Refresh Token and Account (whose object Id suffix matches the policy ("password_reset")

3. Now when I

[2020-02-10 18:40] oldalton commented on #846
@richardtop, can you please provide additional information? Thanks.

[2020-02-11 13:51] richardtop commented on #846
Hi @jasoncoolmax  & @oldalton  thanks for your quick reply!
I'll do more testing this week and send you specific steps to reproduce.
So far, I've just cloned this repo and tried to run examples with no success.

[2020-02-11 18:44] oldalton commented on #846
Thanks. Please make sure you execute this command after cloning the repository:

`git submodule update --init`

MSAL uses submodules, so you need to pull all dependencies.

[2020-02-11 19:20] oldalton commented on #833
@kesanf. Yes, step nr 3 requires you to use the policy from step nr 1. Regarding token invalidation, @nickgmicrosoft can provide more clarity on this.

[2020-02-11 21:46] PBoudreau opened #848 "Logging in via WebView doesn't block on ios "Save Password" prompt"
When making the call to `acquireToken`, a web view is presented, into which the user enters their username and password.

Then, upon submitting those credentials, assuming they are valid, the web view will be automatically dismissed.

The problem is that this doesn't seem to allow for the user to interact with the `Save Password` iOS prompt, shown here:

![image](https://user-images.githubusercont

[2020-02-12 10:33] ledzep9012 opened #849 "Build Failure using pods"
Getting multiple semantic issues while building the app with MSAL pod.

`pod 'MSAL', '~> 1.0'`

Build Error:
![image](https://user-images.githubusercontent.com/19204594/74326858-27c51900-4db1-11ea-8012-b4bce10aff03.png)

[2020-02-13 10:11] GithubAshishHere opened #850 ""Use another account""
Not working: Login successfully with one user and then without killing the application and again try to login "Use another account". It will ask for the new email to enter. After entering a new email and click on next. it's automatically getting old signed in account and login with that old account successfully.

Working: if I login successfully with one account and kill application then again ope

[2020-02-13 12:55] kesanf commented on #833
Thank you very much. You can close the issue.

[2020-02-14 16:08] oldalton commented on #849
Looks like submodule is incorrectly downloaded. What CocoaPods version are you using?
Can you try rerunning "pod update"?

[2020-02-14 16:09] oldalton commented on #848
I think this needs to be handled on the website level. Website needs to wait a couple of seconds before redirecting back to the app with the authorization code.

Just to confirm, which iOS version are you using?

[2020-02-14 16:13] oldalton commented on #850
Looks similar to this issue: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/560. Can you try suggestion in the end of the issue discussion?

Are your users from the same domain? e.g. user1@contoso.com and user2@contoso.com. If yes, than you might be hitting ADFS behavior where multiple users are not supported, and you need to pass promptType as Login to override it.

[2020-02-14 16:21] PBoudreau commented on #848
Hi @oldalton  and thank you for your reply!

We are using iOS 12.4 and later, including 13.x

About your suggestion of this being related to the website, I'm confused - isn't the MSAL library the one presenting the view controller with the web form, and therefore dismissing it once the login is completed?

Apologies if I'm missing something.

[2020-02-14 16:24] oldalton commented on #848
Thanks. MSAL will not dismiss web view until it gets an authorization code from the website. What happens after credentials are collected, is that client is redirected to a special URL which starts with your redirectUri and contains authorization code in it. The moment when this redirect happens, is up to the identity provider to decide. Furthermore, if you're using default ASWebAuthenticationSess

[2020-02-14 21:23] jeffgilbert opened #851 "Authority fails validation during login"
In my app, when I complete the login form I get a -51100 error "Authentication response received without expected" from `[MSIDB2COauth2Factory verifyResponse:context:error:]` (called from `[MSIDTokenResponseValidator  validateTokenResponse:…]`).

Inside `[MSIDB2CAuthority isAuthorityFormatValid:context:error:]` it is parsing a url that looks like https://foobar.b2clogin.com/<tenant>/v2.0/

It is c

[2020-02-15 04:41] oldalton opened #852 "Support scenarios where no access token is returned"

[2020-02-15 04:41] oldalton commented on #852
See more info here: https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/issues/28

[2020-02-15 05:01] oldalton commented on #851
No, you can use your custom B2C authority, but you need a few extra steps.
See guidance here: https://docs.microsoft.com/en-us/azure/active-directory/develop/config-authority#b2c

Let me know if that helps. Thanks!

[2020-02-15 09:08] GithubAshishHere commented on #850
Yes, I'm passing like this way still having the issue.
   MSALInteractiveTokenParameters *interactiveParams = [[MSALInteractiveTokenParameters alloc] initWithScopes:scopes webviewParameters:webParameters];
 [interactiveParams setPromptType:MSALPromptTypeSelectAccount];

Can you please follow the process. Your application is fresh. WebView Open to login with the new user account ex: abc@xyx.com aft

[2020-02-15 09:10] GithubAshishHere commented on #850
But if before I login to another account. I kill the application then I will able to login with new user account.
Can you please suggest to me?

[2020-02-15 09:10] GithubAshishHere commented on #850
The same thing occurs in SDK demo also.

[2020-02-15 09:20] GithubAshishHere commented on #850
Waiting for your response. Thank you

[2020-02-15 10:36] GithubAshishHere commented on #378
can please let me know how you code? for logout?

[2020-02-15 10:59] GithubAshishHere commented on #210
what will be the redirect URL in this?
can I log out with an open browser or web view?

[2020-02-15 15:25] jeffgilbert commented on #851
Thanks for the additional info. I was setting the knownAuthorities when receiving that error. Here is what my login function looks like. Does everything else look reasonable?

[code]

Do we need to have any scopes defined? The backend team has not defined any scopes.

[2020-02-16 15:01] ledzep9012 commented on #849
Its still the same, I'm using cocoapods version 1.8.4

[2020-02-16 20:23] oldalton commented on #851
Yes, maybe you're getting an error because access token is not returned. I've added a feature request to track this: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/852

In the meantime, you can try passing your "clientId" as a scope. Or you can follow steps here: https://github.com/Azure-Samples/active-directory-b2c-ios-swift-native-msal/issues/28#issuecomment-58655365

[2020-02-17 04:03] tysonkerridge commented on #845
@jasoncoolmax It seems that on iOS 13 there's no way to use the broker (assuming by broker it means the Microsoft Authenticator App) due to the `sourceApplication` options property always being `nil` as mentioned in https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/iOS-13-and-macOS-10.15-support-in-MSAL. Perhaps the configuration documentation in the readme should indicate

[2020-02-17 11:01] GithubAshishHere commented on #560
@kvenkata1974  you resolve this issue?
@psahgal

[2020-02-17 15:05] PBoudreau commented on #848
Thanks @oldalton - with the additional explanation you provided above, I'll go back and re-check our implementation and try to see if I can understand how to prevent an early dismissal.

If you don't mind, we could keep this issue open and I'll post back my findings / additional questions / solution for anyone else to benefit from in the future.

[2020-02-17 17:15] jeffgilbert commented on #851
I got it working! I really appreciate all your time and help with this!

I ended up passing a scope that the backend had previously defined. My backend lead thought I didn't need to use a scope because we aren't using Azure JWTs in a stateless manner (or words to that effect, which I don't understand :-)

[2020-02-17 22:51] alokc83 opened #853 "Xcode 11.3.1 Cathage is failed to build framework from master"
I am using this
github "AzureAD/microsoft-authentication-library-for-objc" "master"
in cart file.

carthage update --platform ios

it fails and give this error:
** ARCHIVE FAILED **

The following build commands failed:
	CompileC /Users/XXXXXXXX/Library/Caches/org.carthage.CarthageKit/DerivedData/11.3.1_11C504/microsoft-authentication-library-for-objc/49949c48e510762b9a8d4e8036724f9d050ee187/Build

[2020-02-18 15:24] alokc83 commented on #853
As well as on release 1.0.7. Is anyone else is having the same issue?

[2020-02-19 06:35] #849 closed

[2020-02-19 06:44] ledzep9012 commented on #849
my podfile was missing `use_frameworks!`, closing this issue.

[2020-02-19 07:45] ledzep9012 commented on #849
I also had `ADAL` dependency in podfile, removed that and it worked. Closing this.

[2020-02-19 21:45] ledzep9012 opened #855 "How to intercept Conditional Policy Error using MSAL?"
I'm getting following error while trying to do a `acquireTokenWithParameters:`
![image](https://user-images.githubusercontent.com/19204594/74878829-fc809200-538d-11ea-9a7a-16e714160643.png)

How do I intercept this error and call Intune Methods to apply CA policy?
I'm handling `MSALErrorServerProtectionPoliciesRequired` in my completionBlock and calling Intune's `remediateComplianceForIdentity` fo

[2020-02-20 11:56] richardtop commented on #846
So far MSAL Test app is not compiling due to the following error:
<img width="847" alt="image" src="https://user-images.githubusercontent.com/8013017/74931673-ca504e00-53e8-11ea-8379-2424fd264aec.png">
**Content and frame layout guides before iOS 11.0 [6]**

If you don't mind, I'll just bump the deployment target to 11.0 and submit a pull request.

[2020-02-20 11:58] richardtop commented on #846
@oldalton thanks for your suggestion. Cloning git submodules helped me to resolve the issue.

[2020-02-20 19:01] jasoncoolmax commented on #851
Close as issue is resolved.

[2020-02-20 19:01] #851 closed

[2020-02-20 19:06] jasoncoolmax commented on #850
@GithubAshishHere Seems you are indeed hitting the "ADFS server not supporting multiple users" issue. If ADFS server sees an account in cookies, it will return tokens for that account ignoring your login hint.
Killing the app helps because it will kill some non persistent cookies in webview.

Could you provide the correlation id (could be found in MSAL logs)? such that I can further confirm it is

[2020-02-20 19:55] PBoudreau commented on #848
Alright, I spent some time reviewing our implementation and will try to explain what I'm seeing.

First, although our current integration of MSAL is fully functional, the `AppDelegate`'s callback function `func application(_ app: UIApplication, open url: URL, options: [UIApplication.OpenURLOptionsKey : Any] = [:]) -> Bool` is never called. So the app doesn't get a chance to pause to let the user c

[2020-02-20 21:18] oldalton commented on #848
I wouldn't recommend adding a delay on the client side. This scenario needs to be handled by the webpage itself and that is where webpage needs to handle this use case correctly.

[2020-02-21 04:44] GithubAshishHere commented on #850
@jasoncoolmax Can you please provide me. How can I do login with new login hint without kill application?

[2020-02-21 04:49] GithubAshishHere commented on #850
Because same thing working well in android devices.

[2020-02-21 04:53] GithubAshishHere commented on #850
Please check below is the correlation id
Correlation Id: 5e4a6db1-7c5c-433e-bf43-aa3cf33de204

[2020-02-21 04:56] GithubAshishHere commented on #850
We can't able to clear such a token from the application?

[2020-02-21 06:40] GiulioVinci opened #856 "Apple "ITMS-90338: Non-public API usage" issue"
Apple provided the following issue after I submitted my app:

"ITMS-90338: Non-public API usage - The app references non-public selectors in Frameworks/xxxxx.framework/xxxxx: initWithParentViewController:. If method names in your source code match the private Apple APIs listed above, altering your method names will help prevent this app from being flagged in future submissions. In addition, note t

[2020-02-21 13:17] PBoudreau commented on #848
Ok, that makes sense. I will reach out to the people knowledgeable and in control of the web page to see if they can do this.

Perhaps they could report back their findings here in case it's helpful to others in the future?

[2020-02-21 14:23] PBoudreau commented on #848
For reference, I just found a couple more posts by others faced with a similar problem:

https://forums.developer.apple.com/thread/127979
https://github.com/openid/AppAuth-iOS/issues/78

[2020-02-21 20:14] oldalton commented on #856
Thanks for reporting this. MSAL doesn't use any private APIs, but some of its own selectors match Apple's own APIs. We've heard about a similar App Store issue before, let me see how it got resolved. If it cannot get resolved without a library update, we can take the fix.

[2020-02-21 20:20] oldalton commented on #855
Thanks for reporting this issue. We will take a look at your logs and follow up. Just so that we fully understand the scenario, are you trying to build a new app integrated with Intune MAM SDK?

[2020-02-22 05:57] ledzep9012 commented on #855
Yes that's correct. I'm integrating Intune SDK with MSAL in a LOB app.

[2020-02-23 04:21] oldalton commented on #856
@GiulioVinci, just to double check, are you using Intune MAM SDK in your app as well by any chance?

[2020-02-24 11:26] GiulioVinci commented on #856
@oldalton Thanks for your quick reply. No I'm using MAM SDK. The Apple reject message is probably generated by one of their scripts.

[2020-02-24 20:24] PBoudreau commented on #848
Since my last update, I got around to testing login on a physical device running iOS 12.4.5, with the same login web page, same version of the app, same version of MSAL, and it turns out that the web page will block when the OS prompts the user to save or not the credentials that were entered.

I was also able to reproduce this behaviour on a simulator running iOS 12.4.

**However**: I downloaded

[2020-02-26 18:08] jasoncoolmax commented on #850
@GithubAshishHere In your case, if you know you are logging in a new user, you can use [MSALPromptType](https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/dev/MSAL/src/public/MSALInteractiveTokenParameters.h#L45) to be `MSALPromptTypeLogin` when you call `[MSALPublicClientApplication acquireTokenWithParameters:completionBlock]. In such a way a parameter will be passed down t

[2020-02-27 12:11] DrAma999 commented on #856
Hello @oldalton have you any update on that issue?
I am a colleague of @GiulioVinci  and basically we have a 3 whole projects blocked for this reason, and business is pressuring us for a resolution. They are also asking, since we are paying for Active Directory if there is a sort of "premium" assistance.
Could you get back to us?
Thank you so much,
Andrea

[2020-02-27 15:53] oldalton commented on #856
Sure, I followed up with our internal apps who have also run into this issue in the past.
They worked it around by adding a "dummy" initWithParentViewController: selector declaration into their app. Since we're not using any private APIs, this is just working around Apple's script bug.

On our side, we'll need to deprecate initWithParentViewController: initializer and replace it with something els

[2020-02-28 03:43] mitchdenny commented on #737
Any update on plans for supporting Swift Package Manager. We are taking a dependency on this library and would like to support folks using Swift PM.

[2020-02-28 03:53] Poornima-singh opened #858 "Is there a way to perform incremental and dynamic consent using MSAL for iOS?"

[2020-02-28 03:57] Poornima-singh commented on #858
I am trying to get authorization over two resources microsoft graph api and SharePoint REST API. But the code only shows how to get access token for single resource. How can I get access token which is valid for microsoft graph api as well as SharePoint REST calls?

[2020-02-28 12:22] GithubAshishHere commented on #850
Yes, It's good. But every time the user has to enter the password. But I'm talking about behavior `MSALPromptTypeSelectAccount`. It's not working well as I mentioned above. Thank you.

[2020-02-28 22:35] rohitnarula7176 commented on #853
@alokc83 Thank you for reporting this. I tried to install the msal framework using Carthage and it worked for me for both master branch and release 1.0.7.
Can you please try cleaning your Carthage cache (rm -rf ~/Library/Caches/org.carthage.CarthageKit) and retrying it.
Is that does not help, Can you attach the full verbose logs of the xcodebuild output you are seeing.

[2020-03-01 03:22] oldalton commented on #858
Thanks for the question. Each access token can only be issued for a single resource. So you cannot request an access token for multiple resources.

However, if you want to collect consent for multiple resources at the time, you can pass your additional scopes as "extraScopesToConsent" by specifying them in this API: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALIn

[2020-03-02 05:57] Poornima-singh commented on #858
Hello Olga,

query 1: what is the difference between step 2 and step 3? step 2 makes call to acquireTokenSilent, and what does step 3 makes call to?

query 2: I tried the combination of step 1 and 2 but I find the errors stating that the call is not able to find refresh token . Apparently it tries to fetch refresh token from acquireToken call response, but this call only responds with accesstoken

[2020-03-02 10:30] Poornima-singh commented on #858
Another finding, now my app is able to find the refresh token but when it tries to get access token using refresh token it gets error:
No registration information found.
Received PKeyAuth request but no WPJ info..
then it throws AAD error, invalid_client

[2020-03-02 18:57] oldalton commented on #856
Did you try the workaround? Please let us know if that worked. Thanks.

[2020-03-02 19:09] DrAma999 commented on #856
Hello Olga, I will try tomorrow. I was thinking to create a DummyViewController that implements this method, tomorrow I let you know.
`class DummyViewController: UIViewController {
    @objc(initWithParentViewController:)
    init(with parent: UIViewController) {
        super.init(nibName: nil, bundle: nil)
    }
    required init?(coder: NSCoder) {
        fatalError("init(coder:) has not been i

[2020-03-02 22:41] alokc83 commented on #853
You were absolutely right. It was the cache that was causing the build to fail.  Thank you so much @rohitnarula7176

[2020-03-02 22:41] #853 closed

[2020-03-03 04:02] Poornima-singh commented on #858
One more update, it works fine on our development tenant of O365 where MFA is not used, but gives the above error on production tenant where MFA is being used. Hope it helps to identify the roadblock.

[2020-03-03 04:06] oldalton commented on #858
Thanks for the information. It likely means that you have additional device based conditional access requirements for the second resource. Just to confirm - are you getting MSALInteractionRequired error for the silent call, or MSALErrorInternal? If it is the latter, looks like we need to apply a fix.

To clarify, step nr 3 should be acquireToken call.

[2020-03-03 04:32] Poornima-singh commented on #858
Yes, it ends with MSALErrorInternal -50000

[2020-03-03 04:39] Poornima-singh commented on #858
<img width="175" alt="MSALerror" src="https://user-images.githubusercontent.com/54657738/75743408-ec29c900-5d36-11ea-9929-97c0fec52c68.PNG">

Really sorry for the bad image, this is the exact queue of error

[2020-03-03 17:35] alokc83 opened #860 "Question: incremental upgrade from 0.1.3 to 0.1.4"
Dear Team,
My org had this library statically added code version 0.1.3 for very long.
my first task is to get it updated. We are deciding to do an incremental update.
The only change that I see code-wise is _users -> accounts_

To know more about the impact I got the 0.1.4 release and read the changelog. There is nothing much which points about "users" changing to "accounts".
my question is if thi

[2020-03-03 22:42] oldalton commented on #860
Hi. Yes, I believe it was just users being renamed to accounts. However, 0.1.4 doesn't support latest iOS version and it's a preview version of the library. Since MSAL has already been announced as generally available starting at 1.0.0, I'd highly encourage you to update to the latest version of 1.0.7 which also supports iOS 13+ devices. Thanks.

[2020-03-04 15:34] DrAma999 commented on #856
Hello @oldalton , iTunes connect seems to have accepted our build. The workaround fixed the issue with the automatic Apple script.
In the meantime I really recommend to update the library and avoid this issue in the future.
Best,
Andrea

[2020-03-04 15:35] oldalton commented on #856
Thanks for the confirmation. We'll certainly update the library. Since it's a public API, it will require a breaking change for all developers, which is a bit unfortunate. It will take some time to prepare and communicate a breaking change.

[2020-03-04 16:14] alokc83 commented on #860
@oldalton Thanks a lot for the information. Due to lack of resource my plan is to make incremental updates each sprint. So functionality is not broken. I really do appreciate you answering my query.
Much thanks.

[2020-03-04 16:14] #860 closed

[2020-03-04 18:57] oldalton commented on #860
Thanks. The problem is that we won't be able to provide any fixes or support you if you find issues with < 1.x MSAL versions. There're also some known bugs in earlier versions and we therefore highly recommend you to switch to 1.x immediately.

[2020-03-04 19:01] oldalton commented on #846
Closing the issue. Please reopen if needed.

[2020-03-04 19:01] #846 closed

[2020-03-04 20:33] richardtop commented on #846
@oldalton it is still relevant, please take a look at the screenshot :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-05 04:56] Poornima-singh commented on #858
Hi Olga,

any update on this?

[2020-03-05 15:20] josmithua opened #861 "[Bug] B2C Sign-In with AppleID not redirecting back to application on iOS when using system browser and passcode"
This bug already has an [open issue in the .NET MSAL repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1491), but I think it should be opened here, since it's an issue with this objc library.

Please see the linked issue for details.

It would be really great if this bug was addressed before the Apple Sign-In implementation deadline of April 2020.

Cheers

[2020-03-05 18:45] jasoncoolmax commented on #850
Unfortunately "multiple accounts signed in" is not supported in ADFS today. That's only workaround that I can come up with. However, you can always try to call acquireTokenSilent before calling acquireToken. The silent call should succeed as long as the refresh token in cache is still valid.

[2020-03-05 18:48] oldalton commented on #861
Thank you for opening the issue to bring this to our attention.

We'll try to get a test setup for Apple ID + B2C from our internal lab team and see if that repros internally.

[2020-03-06 07:24] spyrosskordos opened #862 "Retrieve token from cache"
How can I retrieve token from keychain.I get the account but there is no a property for token

[2020-03-07 23:33] oldalton commented on #862
You'd need to call acquireToken or acquireTokenSilent API. There'll be an accessToken and idToken in the result. See guidance in MSAL readme: https://github.com/AzureAD/microsoft-authentication-library-for-objc#objective-c

[2020-03-08 20:49] #824 closed

[2020-03-09 14:46] Halfpint-Code opened #865 "Server returned less scopes than requested"
Hello,
Implemented MSAL in our app. I am getting the error:

[b2cApplication acquireTokenWithParameters:interactiveParams: completionBlock:]

(lldb) po error
2020-03-04 09:18:27.431739-0600 RemoteInventory[4479:4223872] XPC connection interrupted
Error Domain=MSALErrorDomain Code=-50003 "(null)" UserInfo={MSALDeclinedScopesKey=(
    "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
), MSALGrantedScopesKey=(

[2020-03-09 16:38] eltonjhony opened #866 "Provide acquireTokenSilent synchronously"
Hi all,

Can you guys provide in MSAL lib for IOS a way to `acquireTokenSilent` synchronously just like we have for Android lib: https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/IMultipleAccountPublicClientApplication.java line 129

We have a scenario here in our business that requires a synchronous call for this meth

[2020-03-09 18:19] oldalton commented on #866
Thanks for the suggestion. What Android library is doing is wrapping asynchronous request with a synchronous API by using a lock/semaphore and blocking the current thread until the response is received. So essentially the API is still asynchronous. You could easily replicate this in your code by calling MSAL acquireTokenSilent and making it synchronous with locks. Would that help to address your s

[2020-03-09 18:23] oldalton commented on #865
Yes, this issue seems related to the issue you linked. When requesting a token from MSAL for B2C, you need to make sure you're passing a valid scope that is registered in your tenant. Can you please let us know what kind of scopes are you providing to MSAL in your request?

[2020-03-09 18:28] sudolibre commented on #865
FWIW i'm running into the same issue trying to get this to work in a scenario where we're only using it for identity and only passing the clientId for scopes. We get a good response from the server with access token and id token but the scope returned from b2c is "/".

[2020-03-09 18:37] Halfpint-Code commented on #865
@oldalton Thanks for the reply, we are providing only the clientID as the current scope. This worked when we were using ADALiOS and currently works on the Android ADAL I mentioned earlier. So I assume this is a valid scope.

[2020-03-09 19:27] sudolibre commented on #865
A workaround seems to be going to Applications (not App Registrations (Preview)) and adding a dummy scope to published scopes then adding the scope you just created in the API Access menu option right above published scopes. In the app remove the client id from scopes and add the Full Scope Value from the published scope you just created.

[2020-03-09 23:34] eltonjhony commented on #866
Yes! Absolutely @oldalton!

[2020-03-10 17:46] oldalton commented on #866
Thanks for the confirmation, @eltonjhony. Please close this issue if that addresses your scenario. Feel free to reopen if you're having any new issues with this approach.

[2020-03-10 17:48] oldalton commented on #865
We are tracking a similar feature gap here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/852. And yes, adding a scope should resolve it since MSAL tries to validate whether it received all scopes that app requested in the response or not.

[2020-03-10 18:42] Halfpint-Code commented on #865
Thanks for the info. We are going to look into the workaround and see if we can get that working.

[2020-03-10 19:12] eltonjhony commented on #866
@oldalton Can you let me know when we have another release with this suggested feature?

[2020-03-11 18:10] rohitnarula7176 commented on #866
@eltonjhony We assume this code as part of what the developer can integrate in his codebase if they need to call this api in a synchronous manner. We do not have any plans of adding this to our codebase yet. Please let us know if you need guidance on how to implement this.

[2020-03-11 18:24] #822 closed

[2020-03-12 01:10] eltonjhony commented on #866
Ok @rohitnarula7176 ! Thanks for the response.

[2020-03-12 01:10] #866 closed

[2020-03-12 13:52] #833 closed

[2020-03-13 12:28] DanielOuwendijk opened #870 "Build error with version 1.0.7"
Hello,

I have just updated my MSAL package from 1.0.3. to 1.0.7. When I run my project with 1.07, it gives me the following error:

/Users/me/Desktop/project Name/Pods/MSAL/MSAL/IdentityCore/IdentityCore/src/requests/sdk/msal/MSIDDefaultSilentTokenRequest 2.m:121:50: No visible @interface for 'MSIDDefaultTokenCacheAccessor' declares the selector 'getAccountForIdentifier:authority:context:error:'

[2020-03-13 13:03] GithubAshishHere commented on #850
Okay. Thank you for your important review @jasoncoolmax. I hope in the future. We have the facility to log in. Again thank you.

[2020-03-13 17:58] rohitnarula7176 commented on #870
@DanielOuwendijk Hey Daniel, when you clone the repo from git, you need to run git submodule update. If you download the package from releases, then you need to look up the project
microsoft-authentication-library-for-objc-1.0.7.zip.

[2020-03-13 18:00] rohitnarula7176 commented on #862
Closing this issue for now. Please reopen if you still have any issues.

[2020-03-13 18:00] #862 closed

[2020-03-13 18:30] DanielOuwendijk commented on #870
I use MSAL from cocoapods. Do you know what command I need to run to solve this? (I haven't researched this, so I'm going to check now)

[2020-03-16 04:18] oldalton commented on #858
@Poornima-singh, Sorry for a late reply. It looks like your application is misconfigured and is marked as a confidential client in the directory.

Can you please double check your application registration and make sure that:
1. You have registered Redirect URIs with the type of "Public client"
2. This setting is turned on "Default client type - public client - YES" (it is under authentication tab

[2020-03-16 14:51] PBoudreau commented on #848
Hello @oldalton - I was curious to know if you had a chance to confirm whether you could reproduce the issue using the sample app. Don't hesitate to reach out to me if I can help in any way. Thanks!

[2020-03-16 17:46] antrix1989 commented on #870
Could you try to run `pod update` and see if it helps? You could have cached pods on your machine. Please let me know if it works.

[2020-03-16 17:47] antrix1989 commented on #865
Hi @Halfpint-Code, did you have a chance to take a look at this issue?

[2020-03-16 17:52] Halfpint-Code commented on #865
Yes, we did last Friday. We were able to get a token that works back by using the workaround provided by sudolibre. I have been working today to try to rebuild our methods for logging in based on the new framework. Thanks.

Was curious though, this was added to that feature gap. Does that mean the workaround will break if this gets fixed in a future update?

[2020-03-16 17:56] antrix1989 commented on #865
Thanks for confirming. This workaround will continue working in future version of the library.

[2020-03-17 05:20] saadkhalidkhan commented on #736
Hi,
i am getting same issue. Able to get access token successfully, but when try to call web api i get no response. Do we need to add scopes for web api? I think i have added all scopes which we need for our app.

[2020-03-17 11:09] DanielOuwendijk commented on #870
Okay, this is weird.

Pod update solved it! but I tried this previously...? My story goes:

1. In de pod file i removed MSAL 1.0.3. and changed it to 1.0.7. with `pod update`
2. I build the project and it gave the error.
3. In de pod file I changed MSAL 1.0.7. back to 1.0.3. so it would at least work again
4. I asked this question on github
5. You say try `pod update`
6. I think: "sure lets try it

[2020-03-17 17:57] jasoncoolmax commented on #870
Close it as issue resolved.

[2020-03-17 17:57] #870 closed

[2020-03-18 20:48] kincade-dev commented on #737
Please add this!

[2020-03-19 09:13] ovolab opened #878 "Please provide a way to programmatically retrieve the SDK version number"
Please provide a way for the client app to retrieve the version number (or string) of the MSAL iOS SDK. I see this symbol is declared in the MSAL.h header file:

[code]

But it doesn't seem to be defined anywhere, and in fact I'm getting a link-time error if I try to use it.

[2020-03-19 17:49] oldalton commented on #878
Thanks for the suggestion. Can you please provide a little more information about the scenario where you would need to know MSAL version? This would help us to understand how you're using MSAL a little bit better. Thanks.

[2020-03-21 07:21] #855 closed

[2020-03-23 10:39] richardtop opened #882 "Pressing "cancel" triggers MSALErrorInternal"
Hi, I found an issue when pressing "cancel" in the authorisation dialog:

![77307414-dc801d80-6d01-11ea-9c83-306a5bb329cf](https://user-images.githubusercontent.com/8013017/79423317-140f7c00-7fc7-11ea-8ca1-25d071899421.png)

The MSAL library returns internal error:
<img width="556" alt="Skärmavbild 2020-03-23 kl  12 24 18" src="https://user-images.githubusercontent.com/8013017/77307114-5a8ff480-6d

[2020-03-23 15:02] ovolab commented on #878
A standard feature of the apps we develop is an “about box” where we list all 3rd-party SDKs we use, along with their version numbers.  While we release app updates on a regular basis, some users aren’t quick to update to the latest release, especially in corporate, B2B scenarios.

When our help desk receives a support request for an issue that may involve a 3rd-party component, we ask the reporte

[2020-03-23 19:04] valangot opened #883 "Request to get Interface from ADAL iOS SDK to get AAD deviceID if the device is already registered"
**Repro Steps:**
1. Make sure Authenticator app is not installed
2. Call acquireToken(withResource) ADAL API with claims: "access token deviceID essential=true"
3. Enter valid credentials on ADAL signing WebView page
4. Get Authenticate app screen will appear from ADAL
5. Once we click on "Get App" button then App Store will get launch

As per Apple AppStore policy, They don't allow applications t

[2020-03-24 18:05] jasoncoolmax commented on #883
Tag the issue with proper tag.

[2020-03-24 18:07] jasoncoolmax commented on #878
Thank you for the feature request. We are considering adding the API in future release.

[2020-03-25 17:54] oldalton commented on #882
Thanks for raising this issue. We need to look a little bit closer in all possible scenarios that can trigger an "access_denied" error from STS. Those errors might not necessarily always translate to end user visible cancellation, so we want to make sure that returning MSALErrorUserCanceled would be the right thing before we make the change. For now, you can get the error code from the internal er

[2020-03-26 07:45] oldalton commented on #861
@josmithua Sorry for a delay, took some time to get the test environment setup and running.

I did some testing for this scenario... and it works well with both WKWebView and ASWebAuthenticationSession options that MSAL library provides for our setup.

One thing that might be happening is that you're not passing correct redirectUri that MSAL can handle in combination with system browser. WKWebview

[2020-03-26 11:43] skamoda commented on #848
Hi, in our project we expected the same issue. Is there some solution or workaround to this problem?

[2020-03-26 14:47] richardtop commented on #882
Hi Olga, thanks for a quick reply. This bug makes `MSALErrorUserCanceled` lose its meaning since now every error has to be inspected deeply which results in complication of the client code. I'd be very happy if this gets fixed.

[2020-03-26 17:56] antrix1989 commented on #848
We will file feedback to Apple regarding this.

[2020-03-26 18:09] PBoudreau commented on #848
Thanks for the update @antrix1989 !

Would appreciate if you could report back any updates regarding this issue as we were counting on the native password saving experience provided by the OS to alleviate the burden from our users of always having to enter credentials.

[2020-03-26 18:44] josmithua commented on #861
Hi @oldalton,

I'm using the redirectUri form as specified in the documentation: `msauth.[BUNDLE_ID]://auth`, and using the default webview (`MSALWebviewTypeDefault`), so I guess `ASWebAuthenticationSession`.

Just tested on an iPhone with iOS 13.3.1, and still seeing the issue.

Whether I even provide a redirectUri or not changes nothing.

[2020-03-26 18:56] josmithua commented on #861
I just tested with `MSALWebviewTypeWKWebView` and it works, but not with `MSALWebviewTypeAuthenticationSession`

[2020-03-27 01:10] oldalton commented on #861
@josmithua Would you be able to share your configuration details with me by mailing oldalton@microsoft.com? (I need authority, clientId, BundleId and redirectUri, I can use my own Apple ID for testing).
There seems to be something different between our configurations.

[2020-03-27 09:49] Sudlon opened #884 "Switching back from Auth app no longer provides bundleID of the Auth app"
Hi, I ran into the following situation:

I use the MSAL SDK to get an access token using the Authenticator app as the broker (no problem there), but at the point where my app takes over the flow I no longer receive any "options" in the "life cycle" method in the AppDelegate class. I'm talking about the following method:
`func application(_ app: UIApplication, open url: URL, options: [UIApplication

[2020-03-27 18:01] rohitnarula7176 commented on #884
@Sudlon Can you tell us whether you were previously testing this on iOS 12 and now you are on iOS 13?

[2020-03-27 19:22] idelfonsog2 opened #886 "Missing `xcconfig` files"
Hi there,

I was trying to run the project found at `Samples/ios/SampleAppiOS-Swift` but got the following  errors:

`
/Users/igutierrez/Developer/microsoft-authentication-library-for-objc/MSAL/xcconfig/msal__common__ios.xcconfig:1: could not find included file '../IdentityCore/IdentityCore/xcconfig/identitycore__common__ios.xcconfig' in search paths

[2020-03-27 19:55] oldalton commented on #886
Hi, please run `git submodule update --init` command after you clone the repository. Thanks.

[2020-03-28 00:08] oldalton commented on #861
This issue seems to be fixed in iOS 13.4 (and confirmed by the issue reported). Closing the issue.
The original issue was an Apple bug and was caused by a race condition between Apple ID extension returning result and ASWebAuthenticationSession response handling (webkit was getting cancelled error -999).

[2020-03-28 00:08] #861 closed

[2020-03-30 13:27] idelfonsog2 commented on #886
Thank you @oldalton !

[2020-03-30 13:27] #886 closed

[2020-03-30 19:49] antrix1989 commented on #848
Reported this to the Apple, feedback ID: FB7645626

[2020-03-30 19:52] PBoudreau commented on #848
Thank you @antrix1989 !

[2020-03-30 22:19] idelfonsog2 opened #889 "Provisioning Profile and Certificates issues in `unit-test-host target`"
hi @oldalton I'm trying to run tests fo the MSAL.xcworkspace I'm having issues running the following:

- MSAL Test App (iOS)
- unit-test-host
- MSAL Test Automation (iOS)
- MSIDTestHostApp
- IdentityCoreTests
- IdentityCore

All this is related to provisioning profiles and certificates. I tried changing the bundleID and the Team to my account but was wondering if this was the appropriate way of do

[2020-03-31 01:49] oldalton commented on #889
Thanks for the question. Yes, it is fine to update the TeamID in signing settings, but you shouldn't need to update the BundleIdentifier as long as you have wildcard development provisioning profile (with keychain sharing enabled).

[2020-03-31 08:54] Sudlon commented on #884
@rohitnarula7176 to be honest I'm not 100% sure what I tested this on before, but right now it is indeed on iOS 13. Since you mentioned this I just checked on a iOS 12 device and then I do get the bundle ID (among other info). So I guess I probably tested this on an iOS 12 device. Thanks for the insight.

Follow up question: is there another way of checking whether the "source application" is the

[2020-03-31 12:15] ashu2451990 opened #890 "Error in carthage"
I am using xcode 10.0

Got following error while using carthage to install MSAL framework :
Build Failed
	Task failed with exit code 65:
	/usr/bin/xcrun xcodebuild -workspace /Users/XXX/XXX/XXXX-develop/Carthage/Checkouts/microsoft-authentication-library-for-objc/MSAL.xcworkspace -scheme MSAL\ (iOS\ Framework) -configuration Release -derivedDataPath /Users/XXXX/org.carthage.CarthageKit/DerivedData

[2020-03-31 12:43] Poornima-singh commented on #858
Hello Olga,

Thank you for replying. I did check the two configurations you mentioned.

1.  We have added three types of redirect urls
- Web
- iOS / macOS
- Mobile and desktop applications

but we are running the code or trying to login via iOS app.

2. Setting for Default client type - public client - is already YES.

:(

[2020-03-31 16:53] oldalton commented on #890
Thanks for the question. Can you please try with Xcode 11? I don't think we support Xcode 10 anymore with latest released versions.

[2020-03-31 17:12] ashu2451990 commented on #890
@oldalton  thanks for your quick response but our project made with xcode 10 and we asked from our team not to upgrade our project for now. Any other help will be helpful to fix it. Please suggest.

[2020-03-31 19:28] idelfonsog2 opened #891 "ADFS support through Federation"
I'm trying to find a workaround to integrate MSAL and AD FS. From the docs it mentions that AD FS is supported through Federation, will I be able to use MSAL-for-objc in conjunction after that configuration happens?

[2020-03-31 19:51] #889 closed

[2020-04-01 00:17] oldalton commented on #891
Thanks for the question. Yes, that is fully supported today. In that flow, MSAL calls AAD that calls ADFS to complete authentication, and AAD issues the token to the MSAL library. Let me know if you see any concerns with that flow.

[2020-04-01 01:22] #891 closed

[2020-04-01 17:50] jasoncoolmax commented on #884
@Sudlon Since iOS 13, Apple won't provide source application to an app unless the caller app and receiver app are signed by the same cert. That being said, your app won't get source application because your app and Authenticator app are signed by different certs.

To mitigate this issue, we send nonce to broker and get back nonce from broker. If those nonce are not consistent, we will throw an err

[2020-04-02 17:57] antrix1989 commented on #890
Because Apple announced deprecation in [April](https://developer.apple.com/news/?id=03262020b), we moved to Xcode 11 and only support Xcode 11 going forward.

[2020-04-05 18:32] oldalton commented on #737
We could use some community help with this one :) I did some experimentation and it seems difficult to get it working considering we're heavily using prefix files and nested folders. Would appreciate any references of a successful example of SPM for Objective-C library without refactoring project structure, direct contributions or examples of getting header search working with nested folders.

[2020-04-05 18:43] oldalton commented on #819
Fixed in 1.1.0. Closing the issue.

[2020-04-05 18:43] #819 closed

[2020-04-06 17:03] Halfpint-Code opened #896 "SSO policy displaying differently between iOS 13 and iOS 10"
We have an SSO policy we have named AlmostDone. It displays a form collecting user info for new users. We are seeing a difference in the screen displayed between iOS13 and older versions. Using the exact same code we are getting our old, default login screen instead of the expected user info form in lower versions. All other screens appear correctly in all iOS versions.

[2020-04-06 18:01] jasoncoolmax commented on #896
Hi @Halfpint-Code , could you please share a screenshot such that we could understand the issue better? thanks!

[2020-04-06 18:06] jasoncoolmax commented on #884
Close it because it is by design. Feel free to reopen it if you still see issues. Thanks!

[2020-04-06 18:06] #884 closed

[2020-04-06 19:26] Halfpint-Code commented on #896
![Lead-in_TryItFreeScreen](https://user-images.githubusercontent.com/59026045/78596741-ea5d9480-7811-11ea-8696-b2333a86f8eb.png)
![iOS10_AlmostDone](https://user-images.githubusercontent.com/59026045/78596763-f21d3900-7811-11ea-82e8-e23127fb6697.png)
![iOS13_AlmostDone](https://user-images.githubusercontent.com/59026045/78596773-f5182980-7811-11ea-9f8f-35527490d019.png)

The first screen shot is s

[2020-04-06 20:03] jagrutiJ commented on #698
Hello
@oldalton I am facing Sign out issue with MSAL pod 1.0.3.
When I try to add following funtion
  let signoutParameters = MSALSignoutParameters(webviewParameters: self.webViewParamaters!)

giving me error as Use of unresolved identifier 'MSALSignoutParameters'

I want to sign out from browser as well.

[2020-04-06 20:30] jagrutiJ opened #897 "issue with Signout from browser"
Hello
@oldalton I am facing Sign out issue with MSAL pod 1.0.3.
When I try to add following funtion
let signoutParameters = MSALSignoutParameters(webviewParameters: self.webViewParamaters!)

giving me error as Use of unresolved identifier 'MSALSignoutParameters'

I want to sign out from browser as well.

[2020-04-07 17:29] #897 closed, assigned to nobody

[2020-04-07 17:33] jagrutiJ opened #898 "Passwordless login"
@vladzaharia
I have funtionality of passwordless login in my app
it is working fine first time.
second time username is not persisting in browser. I have to enter user name every-time
i am using promptType = .login
please suggest the way by which my only username will persist not password

[2020-04-08 01:44] oldalton commented on #898
You can pass login_hint parameter on second login: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALInteractiveTokenParameters.html#/c:objc(cs)MSALInteractiveTokenParameters(py)loginHint

[2020-04-08 13:14] Halfpint-Code commented on #896
@jasoncoolmax Hey, just following up. Do you need more information?

[2020-04-08 18:13] antrix1989 commented on #896
@Halfpint-Code, thanks for the screenshots. Are you using `MSALWebviewTypeDefault`? We are using different default browsers on iOS 10 and 13 and the difference in UI might be related to different User-Agent strings. Could you try using `MSALWebviewTypeSafariViewController` on both iOS 10 and 13 and see if there is a difference in the UI?

[2020-04-08 18:56] Halfpint-Code commented on #896
@antrix1989  I just tried that now. I noticed a small UI difference in display. It's not a popup anymore. But it is still displaying the unintended login like the third screenshot. Also, it is now calling the policy twice with that change which is causing an error popup and then the screen loads. That could just be the way we have the call setup but this still didn't resolve the original issue.

[2020-04-08 19:14] Halfpint-Code commented on #896
@antrix1989 Update, I just tried MSALWebviewTypeWKWebView and that is actually displaying the correct screen on iOS13 now. I'm going to continue the dev on this and hopefully that is the fix I need!

[2020-04-08 19:56] Halfpint-Code commented on #896
I am going to close this as I am no longer blocked by this. I am having other issues but I believe them to be unrelated. Thanks for the help.

[2020-04-08 19:56] #896 closed

[2020-04-10 16:04] #850 closed

[2020-04-11 04:07] allan304 opened #901 "iOS 13 present UIModalPresentationStyle"
i set like that

MSALWebviewParameters *webParameters = [[MSALWebviewParameters alloc] initWithParentViewController:controller];
webParameters.presentationStyle = UIModalPresentationFullScreen;
MSALInteractiveTokenParameters *parameters = [[MSALInteractiveTokenParameters alloc] initWithScopes:@[@"User.Read", @"Files.ReadWrite"] webviewParameters:webParameters];

but when i click continue button, t

[2020-04-11 21:23] oldalton commented on #901
I think presentationStyle would only apply to WKWebView. If you're using default MSAL webview (ASWebAuthenticationSession), then presentationStyle is decided by iOS and we have no way to change it.

[2020-04-13 01:54] allan304 commented on #901
oo, Thanks a lot!

[2020-04-13 01:54] #901 closed

[2020-04-13 16:52] VladIacobIonut commented on #737
@oldalton Hi, I think Realm could be a good example of a library which is available via SPM and is written in Obj-C also. I hope it helps.

[2020-04-13 17:48] rohitnarula7176 commented on #898
@jagrutiJ Closing this issue for now. Please reopen if you still face any issues.

[2020-04-13 17:48] #898 closed

[2020-04-13 17:48] rohitnarula7176 commented on #890
@ashu2451990 Closing this issue for now.

[2020-04-13 17:48] #890 closed

[2020-04-13 17:51] rohitnarula7176 commented on #858
@Poornima-singh We are still looking into this issue and will get back once we have an update.

[2020-04-14 10:26] cuddle-sujeet opened #903 "Unable to login user interactively. if the iOS device has Authenticator App installed."
I have configured my app to allow the user to login with Microsoft. It works well but there is one issue.
If the device has the Microsoft Authenticator app, then that user is not able to login with Microsoft from my app.

iOS 13 and above.
Used Swift language.

Debug result gave this error:
Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=Could not write broker k

[2020-04-14 13:52] jagrutiJ commented on #898
I am using password less authentication functionality.
at first place it is working properly.
in second time either I have to enter username every-time in Prompttype.Login or in Prompttype.selectedAccount it doest throw any notification on my MFA application.
can you please suggest best approach to achieve this

[2020-04-14 14:12] PBoudreau commented on #848
As I'm still very much interested in what Apple will have to say regarding this issue, I'd just like to make sure it doesn't auto-closed for a lack of activity while we wait to hear back from them.

[2020-04-14 17:54] oldalton commented on #903
Can you make sure that you completed step nr 3 (setting up keychain access groups) for your project? See additional instructions here: https://github.com/AzureAD/microsoft-authentication-library-for-objc#adding-msal-to-your-project

Let us know if that doesn't solve the issue.

[2020-04-15 07:15] cuddle-sujeet commented on #903
Thanks for your quick response. I was putting the wrong keychain access group. The issue is resolved now.

[2020-04-15 07:15] #903 closed

[2020-04-16 00:08] antrix1989 commented on #848
Hi @PBoudreau,

Apple needs a sample app to repro the issue. Would you be able to send it to my email? I assume we will need a test user credentials as well.

My email is sedemche@microsoft.com.

Thanks!

[2020-04-16 02:26] oldalton commented on #856
This is fixed in MSAL 1.1.2: https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/1.1.2

Please give it a try. You'll need to update to new MSAL API:

	`let webviewParameters = MSALWebviewParameters(authPresentationViewController: viewController)`

[2020-04-16 02:26] oldalton commented on #882
This should be fixed in MSAL 1.1.2: https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/1.1.2. Please give it a try and let us know if you're still seeing this issue. Thanks!

[2020-04-16 07:08] richardtop commented on #882
Hi Olga, thanks for a quick fix. The solution works for me and I was able to remove any client-side error conversion from my application.

However, I'd like to ask is there a possibility of interfering with a real "access denied" error, e.g. if the user doesn't have access to the resource?

In my solution, I was checking for the string "because+user+declined" in the `userinfo`:

[code]

[2020-04-16 18:07] dbanik opened #905 "Web auth fails while brokered auth works fine"
We recently updated our app from ADAL to MSAL. With ADAL, we had the web auth and brokered auth working as expected. After updating to MSAL and removing the ADAL linking, the web auth fails with the following error:
`AADSTS50011: The reply url specified in the request does not match the reply urls configured for the application`

We have tried by setting `redirect Uri` in `IntuneMAMSettings` but i

[2020-04-16 18:27] pradweep opened #906 "After clicking on cancel Button I am not able to navigate back to the Microsoft login page"
When user was not interested to complete the sign in process, for instance user cancelled the session while user is in password entering screen suppose user clicked on cancel button to end the session. But is there a way to handle the cancel session event so that I can navigate him to the microsoft login page again to the start process from initial screen onwards. Please help me.

[2020-04-16 20:30] Halfpint-Code opened #907 "WebView cache doesn't appear to retain account"
I recently had to resolve an issue by defaulting webViewType to MSALWebviewTypeWKWebView. I've found some comments about WKWebView not caching the token.

When we would force close the app and restart it, previously the ADALiOS framework we had would skip the login screen and jump into our app. The MSAL framework we upgraded to, appears to require new login every time. We are using MSALPromptTypeP

[2020-04-17 00:27] guidedways commented on #753
@oldalton Can you tell me how to get the correlationID? I'm see this for instance:

2020-04-16 08:27:50 -2- MSAL: could not aquire token: Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALOAuthErrorKey=access_denied, MSALInternalErrorCodeKey=-42104} => {
    MSALInternalErrorCodeKey = "-42104";
    MSALOAuthErrorKey = "access_denied";
}
Error Domain=MSALErrorDomain Code=-50000 "Error

[2020-04-17 02:55] oldalton commented on #882
Thanks a lot for the feedback. We discussed scenarios where access_denied would be returned, and in case of AAD those would be equivalent to "cancellation" - e.g. user declined consent, or user didn't proceed with the flow. Therefore, we decided to simplify it for developers. However, we should still be returning "access_denied" in the user info as oauth error code if developer needs further infor

[2020-04-17 02:59] oldalton opened #908 "Include correlationID in MSAL error"
We need to include correlation ID in MSAL error user info for easier debugging. e.g. https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/753

[2020-04-17 02:59] oldalton commented on #753
Correlation ID would be seen in MSAL logs: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=objc. Each log line is prefixed with the correlation ID.

However, I think we should also include correlation ID in error like you're showing. Filed an issue to track and fix: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/908

[2020-04-17 03:02] oldalton commented on #905
Thanks for the question.
Are you using a custom Redirect URI for your application? (are you passing Redirect URI in MSALPublicClientApplicationConfig: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplicationConfig.html#/c:objc(cs)MSALPublicClientApplicationConfig(py)redirectUri)

Could you provide a sample code on how you invoke MSAL as well as Redire

[2020-04-17 03:04] oldalton commented on #906
MSAL would return MSALErrorUserCanceled error when cancellation happens.
We have an error handling guide here: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-handling-exceptions?tabs=iosmacos

Does it address your scenario?

[2020-04-17 03:05] guidedways commented on #753
That would be very helpful, since we frequently get complaints that MSAL isn't working for them, but connecting via a normal login / password and auto discovery does, so I'm not really sure what to say to such users. Those errors would help.

[2020-04-17 03:11] oldalton commented on #907
I think what you're seeing is the difference between UIWebView (used by ADAL 2.x) and WKWebView (used by ADAL 4.x as well as MSAL). When you call acquireToken API, the cookies that get set inside the webview are session only cookies. WKWebView will generally only store those cookies in memory, and after you restart the app or create a new instance of WKWebView, cookie jar will be reset. This shoul

[2020-04-17 04:33] richardtop commented on #882
Hi Olga, thanks for following up on my concern. Simplifying the experience for developers should definitely be a focus (and was the whole point of raising this issue by me). After checking on the AAD errors, I have no objections to this solution, I think it works best for me.
I believe, we can close this issue now, since the code I've posted above has been removed from my app's codebase.

[2020-04-17 06:34] pradweep commented on #906
Hi @oldalton thank you for your quick reply. I can able to partially solve the issue which I am facing, but I am unable to determine whether the user is a valid tenant or not through SDK because not able capture the error in anyway. Can you please guide me how can I determine whether user is a valid tenant or not so that I can provide them through proper alerts to leverage our application. Please

[2020-04-17 07:26] oldalton commented on #906
I don't think this error is expected. Looks like you're trying to get a token for a tenant where user is not invited. Can you give a little more context about end user scenario? Are you trying to get a token for a specific tenant, or just trying to sign in the user for your app?

[2020-04-17 08:09] pradweep commented on #906
Question 1: @oldalton according to my context when the user tries to login whose account was not a valid tenant while signing in our app, Is there any call back error from SDK so that I can able to capture the error to navigate him back to custom login page from our app.

Question 2: Is there any way to differentiate between valid tenant user and invalid tenant user errors while user trying to log

[2020-04-17 12:52] Halfpint-Code commented on #907
Thank you very much for the details. I have not been using acquireTokenSilent first. I will take a look at this. I will close this as I believe this answers the question I had.

[2020-04-17 12:52] #907 closed

[2020-04-17 13:53] DarkAnGth opened #909 "Odd behaviour in conjunction with Microsoft Authenticator"
When authentication is going through Microsoft Authenticator, MSALPublicClientApplication class doesn't always get account after successful acquireToken operation (allAccounts() gives empty list).
Specifically in my application I do following steps:
1. authenticate to Microsoft account - calling acquireToken, app is redirected to Microsoft Authenticator, then back to app - everything is fine, I ge

[2020-04-17 21:28] tfsjohan opened #910 "macCatalyst build error"
Any fix for the build errors for macCatalyst, like

`No visible @interface for 'UIViewController' declares the selector 'initWithURL:parentController:presentationType:context:'`

and

`Unknown receiver 'MSIDSafariViewController'; did you mean 'MSIDViewController'?`

in MSIDSystemWebViewControllerFactory.m?

[2020-04-17 23:10] dbanik commented on #905
We are not using any custom redirect URI. Our app calls the following code on launch in order to receive app protection policy from the Intune MAM service:
`IntuneMAMEnrollmentManager.instance().loginAndEnrollAccount(nil)`

This works fine when we are using another app as a broker. If we delete the broker app and try to run the app, it shows Microsoft Sign In page but then it fails with the error

[2020-04-18 00:07] oldalton commented on #906
@pradweep, where do you get the tenant from?
I'd recommend to just go to https://login.microsoftonline.com/common and let AAD discover a valid tenantId for the account.

[2020-04-18 00:18] oldalton commented on #905
Hi. It appears that your app doesn't have MSAL reply URL registered. Please follow steps in the readme and register a reply url in the format of `msauth.[BUNDLE_ID]://auth` as described here: https://github.com/AzureAD/microsoft-authentication-library-for-objc#adding-msal-to-your-project

[2020-04-18 00:19] oldalton commented on #910
We don't support Mac catalyst right now, but we have full macOS support. Are you looking to have MSAL with Mac catalyst support, or you're just trying to avoid build failures? Thanks.

[2020-04-18 00:22] oldalton commented on #909
Thanks for filing the issue. Do you mind sharing Microsoft Authenticator logs with the repro such as we could investigate?

In Microsoft Authenticator app,

1) Click the hamburger menu

![](https://www.dropbox.com/s/k2h08em940uua87/IMG_0009.PNG?raw=1)

2) Click Help

![](https://www.dropbox.com/s/672l872qx41v240/IMG_1593.jpg?raw=1)

3) Click Send Logs

![](https://www.dropbox.com/s/3wutzq0ia8uwga3

[2020-04-18 00:23] oldalton commented on #882
Thanks for the confirmation! Closing the issue. Feel free to reopen if you have additional suggestions.

[2020-04-18 00:23] #882 closed

[2020-04-18 00:23] oldalton commented on #856
Closing the issue as it has been resolved. Please reopen if still seeing this issue.

[2020-04-18 00:23] #856 closed

[2020-04-18 00:56] ShruthiAchutha commented on #905
Once you have the MSAL reply URL registered as per above, please follow the steps in https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#configure-adalmsal-settings-for-the-intune-app-sdk to specify ADALClientId and ADALRedirectUri in IntuneMAMSettings.

[2020-04-18 13:56] DarkAnGth commented on #909
Got it: UP2CGSNW
![IMG_1781](https://user-images.githubusercontent.com/3061333/79639591-76b67280-8195-11ea-9d6a-bfcc10e84d41.PNG)

[2020-04-18 16:51] jagrutiJ opened #911 "Passwordless Authentication notification"
@rohitnarula7176 I am using password less authentication functionality.
at first place it is working properly as expected.
However,
1. If I make  Prompttype.Login in MSAL it is asking me to enter username every-time
2.If I make Prompttype.selectedAccount in this case it does not give any notification on Authenticator application for approval

I want user name to be pre populated and when I process

[2020-04-18 17:39] tfsjohan commented on #910
Looking for macCatalyst support. Noticed a lot of conditional #if’s that mentions macCatalyst, so I got som hope it was supposed to work.

Would be a great addition!

[2020-04-20 17:47] jasoncoolmax commented on #910
Thank you for bringing this up. Currently there is [another issue](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/649) tracking the macOS Catalyst support. So I close this one as a duplicate.

[2020-04-20 17:47] #910 closed

[2020-04-20 18:03] jasoncoolmax commented on #911
@jagrutiJ Thank you for reporting this.

It will help us to investigate if you could provide us the MSAL logs as well as a screenshot of what you saw. For collecting logs, see here for [details](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=objc#logging-in-msal-for-ios-and-macos).

Besides,
- Did you pass the login hint when you call MSAL?
- Did you finally land

[2020-04-20 18:21] jasoncoolmax commented on #906
Hi @pradweep, did you have a chance to try out what Olga mentioned?

I think if you want to detect whether the account is valid to access the tenant, you could also try
1) call acquireToken by going to https://login.microsoftonline.com/common, it will succeed for any user;
2) call acquireTokenSilent by going to https://login.microsoftonline.com/<tenant_id> (what you pass as authority before), if i

[2020-04-21 09:34] pradweep commented on #906
@jasoncoolmax @oldalton  thank you for your quick reply.

1. We are able to acquire token for all the microsoft users with this url “https://login.microsoftonline.com/common”. It’s working good.

2. We are able to get the token with the tenant_id also i.e., “https://login.microsoftonline.com/<tenant_id>”. This url is working good. If we login with user from Azure Active directory.
We created a Sin

[2020-04-21 09:38] kbabulrao opened #912 "Getting same popup before displaying the Microsoft Login page"
The PopUp appears when the user clicks on "Sign In" button. Here, we are calling the callGraphAPI()  in the button action.

How do we restrict the below Popup to show once per user?
![Simulator Screen Shot - iPhone 8 Plus - 2020-04-08 at 14 51 33](https://user-images.githubusercontent.com/5792888/79850483-a5c12400-83e1-11ea-8574-69c32c758fbd.png)

How do we present the Login page if we don't see t

[2020-04-21 18:08] rohitnarula7176 commented on #912
@kbabulrao This pop up is presented by the OS and is out of the library control. In iOS 13, Apple introduced a flag that allows you the option of using a private mode or share cookies among various sessions. The default value for this flag in our library is false which enables sso and cookie sharing. You can set it to true to make the dialog go away but it is not recommended. Please see the docume

[2020-04-21 18:15] rohitnarula7176 commented on #906
@pradweep We have 2 ways to acquiring token for a resource in our library namely acquireToken and acquireTokenSilent. The first one(acquireToken) is used for interactive auth where you are redirected to a server page. This api will fail to sign in users that are not invited to a particular tenant and the error you are seeing is expected. If you want to handle this error in a silent manner, you can

[2020-04-21 22:22] dbanik commented on #905
Yup adding `ADALClientId` and `ADALRedirectUri` fixed it for me. It's a bit odd that I had to add these keys after moving to MSAL while I never needed these keys when I was using ADAL :-)

[2020-04-22 08:52] Cy-4AH opened #915 "Please use NS_ERROR_ENUM macro for describing errors"
https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/856eea56579fafae62b1e33e9169f3193933ac12/MSAL/src/public/MSALError.h#L131

Wrong macro complicates error handling in swift:
for example can't use statement:
`catch MSALError.interactionRequired`
it's leads to error message: `Cast from 'Error' to unrelated type 'MSALError' always fails`

[2020-04-22 09:16] pradweep commented on #906
@rohitnarula7176 thank you for your reply.

**This api will fail to sign in users that are not invited to a particular tenant and the error you are seeing is expected.**

According to the above bold text. If it is as expected, how do we dismiss the “Microsoft Log In” page automatically?

**If you want to handle this error in a silent manner, you can follow the pattern described by Jason in the mes

[2020-04-22 13:35] odarynakorolevych opened #916 "Web view on iOS 13 is not closed automatically after getting token"
Hello, I'm using for SSO ASWebAuthenticationSession on iOS 13. If the user clicks RELOAD (button in right top corner of web view), after successful login the web view is not closed automatically, and the user sees the logged in page of his SSO provider.

Is that expected behavior? Can we disable the RELOAD button if it's expected?

[2020-04-23 03:49] eljoJoseph opened #917 "getting error while signing in"
Printing description of error:
Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=AADSTS650051:+Using+application+'SnapSupport'+is+currently+not+supported+for+your+organization+ceino.com+because+it+is+in+an+unmanaged+state.+An+administrator+needs+to+claim+ownership+of+the+company+by+DNS+validation+of+ceino.com+before+the+application+SnapSupport+can+be+provisioned.

[2020-04-23 13:50] dragantr commented on #245
Any updates on this?
Thanks.

[2020-04-23 15:36] oldalton commented on #245
@dragantr, this should be already supported with latest MSAL and Intune SDK.

[2020-04-23 18:14] mipetriu commented on #916
@odarynakorolevych The UI behavior of ASWebAuthenticationSession is out of the library's control. You may want to contact Apple regarding this issue.

[2020-04-23 18:16] mipetriu commented on #917
@eljoJoseph This error seems to be due to a misconfiguration of the tenant. The following documentation may be helpful to you.

[https://docs.microsoft.com/en-us/azure/active-directory/fundamentals/add-custom-domain](url)

[https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/domains-admin-takeover](url)

[2020-04-23 18:24] mipetriu commented on #906
@pradweep Both of the steps previously described need to be taken in this situation. Once acquireToken is called to the common endpoint, you should receive a MSALAccount regardless of the AAD invitation status of the user. From there, you can call acquireTokenSilent with the desired tenant to find out if the user is invited to that tenant. Doing this will also keep any errors silent.

[2020-04-23 18:26] mipetriu commented on #915
@Cy-4AH Thanks for your suggestion, we have to determine if making this change will cause any problems. We will update this with more details later.

[2020-04-23 18:28] #905 closed

[2020-04-24 08:41] dragantr commented on #245
@oldalton thanks. Is there a sample app or documentation on how we can use MSAL and Intune SDK?

[2020-04-24 17:44] oldalton commented on #917
Closing the issue. Feel free to reopen if you have additional questions.

[2020-04-24 17:44] #917 closed

[2020-04-24 17:45] oldalton commented on #916
Closing this issue. Feel free to reopen if you have additional questions.

[2020-04-24 17:45] #916 closed

[2020-04-24 17:46] oldalton commented on #912
Closing this issue. Feel free to reopen if you have additional questions.

[2020-04-24 17:46] #912 closed

[2020-04-24 17:50] oldalton commented on #911
@jagrutiJ, are you still experiencing this issue? Were you able to take a look at questions from @jasoncoolmax?

[2020-04-24 23:13] kimdv commented on #713
@scordonnier did you solve this problem?
I use the scope `"https://app.vssps.visualstudio.com/user_impersonation"`

I have enabled Live SDK support

[2020-04-25 02:41] oldalton commented on #245
@dragantr, here you go: https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#configure-adalmsal

[2020-04-27 12:47] jagrutiJ commented on #911
@oldalton  Yes still facing same issue.
@jasoncoolmax Did you pass the login hint when you call MSAL? - Yes, However if I pass login hint it always ask me my username to enter.

 Did you finally land in the passwordless authentication page for both number 1 and number 2 cases? Or you just land in the page to prompt you for password? - Passowrdleass is working properly as expected (on very first lo

[2020-04-27 13:53] pradweep commented on #906
@mipetriu thank you for your quick reply.
When we call the acquireTokenInteractively method, then the “Microsoft SignIn” will display. If the user fails in the MSALWebView page, how do we know that?
If the user valid then we are getting MSALAccount object.

We are not getting the MSALAccount object if the user is not in the AAD (If the user fails to Login). We used the following code.

func acquir

[2020-04-27 18:01] jasoncoolmax commented on #906
@pradweep If you just want to know if the user who tries to log in is able to access the tenant, you can do it by following the pattern I mentioned earlier. Pseudo code as below:

[code]

If you want to detect all errors that might be happening in the webview, I think that is not possible in OAuth flow.

[2020-04-27 18:08] jasoncoolmax commented on #911
Hi @jagrutiJ, may I know why do you have such requirement? When you pass prompt=select_account, I think user is automatically signed in because of SSO, which is by design.

[2020-04-28 22:42] antrix1989 commented on #909
@DarkAnGth , thanks for the logs. I don't see any errors on the Authenticator side. Could you please collect MSAL logs and send them to my email? My email: sedemche@microsoft.com
See [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=swift#logging-in-msal-for-ios-and-macos) how to configure MSAL logs.

[2020-04-29 09:28] jagrutiJ commented on #911
@jasoncoolmax correct,
This application is designed for bank agents.
Every agent have one iPad and one personal mobile.
so authenticator app is on agents mobile from which he can authenticate.
if any unauthorise user tries to login to my iPad I should get approval notification on my authenticator app which is there in phone so I will get to know the someone trying to login from my iPad.

[2020-04-29 18:36] oldalton commented on #911
Thanks for the update. I've just learned that there's a known issue where passwordless is bypassed when you provide login_hint. It sounds like that was what you were seeing. This is getting fixed by server side, so give it a try in a couple of weeks.

To summarize, recommendation is:
1. Pass login_hint to MSAL when calling acquireToken (after server side issue is fixed, it should also trigger pass

[2020-04-30 05:40] DarkAnGth commented on #909
@antrix1989, sent logs yesterday, forgot to reply here

[2020-05-02 18:12] antrix1989 commented on #909
Thanks @DarkAnGth. I was able to reproduce it.

[2020-05-03 23:17] oldalton opened #920 "New untriaged issue"
Creating a test issue for automation :)

[2020-05-03 23:21] #920 closed

[2020-05-04 07:38] dusanjovanov opened #921 "Configuration problems"
I'm trying to configure the AppDelegate callback as per your docs.
I'm not sure where to put this code:
[code]
This is my AppDelegate.m file:
![image](https://user-images.githubusercontent.com/20474783/80944754-929f5280-8dea-11ea-950c-b2c4e3e430d6.png)

If I replace the `return YES` line with the code you provided I get variable not found errors.

[2020-05-04 16:46] dbanik opened #922 "Microsoft login page freezes for existing users after upgrading from ADAL to MSAL"
Recently we upgraded our app from ADAL to MSAL. While the new app launches and works fine for new users, the Microsoft login page freezes for existing users (who were already enrolled into MAM policy using ADAL app). My understanding was that since the Keychain sharing cache is common (adalcache), this transition would be smoother. Is that understanding wrong for some reason?

One thing to note is

[2020-05-05 00:02] oldalton commented on #921
Hi. You would need to add a new AppDelegate method in addition to 2 methods that you already implement as shown in the sample you referenced.

[2020-05-05 00:04] oldalton commented on #922
@ShruthiAchutha, can you take a look?

[2020-05-05 02:38] ShruthiAchutha commented on #922
@dbanik have you completed the steps at https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-get-started#give-your-app-access-to-the-intune-app-protection-service-optional?

There is some additional guidance related to MSAL & MAM here https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#special-considerations-when-using-msal.

If neither of those help, have you integrated the

[2020-05-05 17:00] AnthonyUccello opened #923 "Unable To Clear Accounts: "Multiple accounts found in cache.""
Hello

I have an app where 2 users logged in (on subsequent app launches). Now when I invoke `application.getCurrentAccount` I get the error:

**Couldn't query current account with error: Err domain:MSALErrorDomain code:-50000 userInfo:{ MSALErrorDescriptionKey = "Multiple accounts found in cache."; MSALInternalErrorCodeKey = "-42102"; }**

I figured the issue then was to clear the cache however [

[2020-05-05 17:11] kbartyzel commented on #737
Any update on this? This is critical

[2020-05-05 22:38] rohitnarula7176 commented on #923
@AnthonyUccello Can you please specify whether you are trying to build a single account application or a multiple account application. Because the api getCurrentAccount is only intended for single account application. The crash you mentioned shouldn't happen if the accounts array is non-empty. Can you please paste the crash log as well.

[2020-05-06 11:43] AnthonyUccello commented on #923
I might not have the terminology right but I think the goal was a single but users could change. If single means one and only 1 every login then I would say ours was multiple in this case.

My solution to logout was to do an interactiveLogin() and do a logout call as soon as the login completed with the account. Using the accounts() would always crash. There is no log for this just the EXE Breakpo

[2020-05-07 16:43] dbanik commented on #922
@ShruthiAchutha we had that setup already, screenshot below. Please note that the MAM worked perfectly fine with ADAL and it works fine for any new user who had never logged into the app before.

My theory is - users who had already enrolled with ADAL's default clientID is unable to login using MSAL login as now we have added the `ADALClientId ` specifically in the `IntuneMAMSettings `.

<img widt

[2020-05-07 17:12] rohitnarula7176 commented on #921
@dusanjovanov Were you able to resolve the issue you were facing with configuration?

[2020-05-07 17:26] dusanjovanov commented on #921
Yes, sorry for not responding, closing it now.

[2020-05-07 17:26] #921 closed

[2020-05-07 20:23] ShruthiAchutha commented on #922
@dbanik Can you share MAM log files to investigate this further? That will have the MSAL logs that should provide more insight.

[2020-05-07 21:03] msintuneappsdk commented on #922
Please email msintuneappsdk@microsoft.com with your app's Client ID.  We'll get you approved for that resource.

[2020-05-08 15:17] nidegen commented on #737
@oldalton nested folders should not be a problem, but what do you mean with prefix files?

[2020-05-08 21:44] oldalton commented on #909
Linking a fix: https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/pull/736#pullrequestreview-408545376

[2020-05-08 21:51] oldalton commented on #906
Closing this issue, please reopen if still experiencing any unexpected behavior or if you have additional questions.

[2020-05-08 21:51] #906 closed

[2020-05-08 22:04] oldalton commented on #858
Updating status to avoid issue being closed, since it hasn't been yet resolved.

[2020-05-09 13:20] vinod-singh1 opened #924 "Trying to Aquire access tokens interactively for multiple scopes"
Hi,
I am using MSAL Objective C lib in my project and trying to acquire access tokens interactively for multiple scopes: Policy token and RMS token. I am making two calls of "[application acquireTokenWithParameters:interactiveParameters
completionBlock:CompletionBlock];" from my function but it is failing with error as below:

MSALTestApp1[20226:1859401] Failed with error Error Domain=MSALErrorDom

[2020-05-11 17:27] dbanik commented on #922
@ShruthiAchutha I am trying to access console logs by using Microsoft Edge but I don't see our Intune app listed in the option. I have sent a email to msintuneappsdk@microsoft.com with our app's Client ID.

[2020-05-11 21:42] bblia commented on #922
@ShruthiAchutha @msintuneappsdk Hi, I work with @dbanik. our client ID was already registered back in March.

[2020-05-12 22:16] jasoncoolmax commented on #924
Hi @vinod-singh1, I think you can call acquireTokenWithParameters:interactiveParameters for the first resource, like for Policy token.
After the call finishes, you can call acquireTokenSilentWithParameters for the second resource, like RMS token mentioned in your post.
If the silent call fails with interaction required, you can do acquireTokenWithParameters:interactiveParameters for the second res

[2020-05-12 22:26] jasoncoolmax commented on #858
@Poornima-singh Could you try to create a new application and see if the issue still persists? We used to have some server side regression. If issuer persists, could you please share with me the correlation id again? Thank you!

[2020-05-12 22:28] jasoncoolmax commented on #848
We have already reported the issue to Apple. We will update once we hear back from Apple.

[2020-05-13 23:28] dbanik commented on #922
@ShruthiAchutha We were able to get MAM diagnostics and the processor dump from the device with the app in hanged state. I am attaching both the files below. PFA.

From the diagnostics, it's clear that the `loginAndEnrollAccount` api finds an enrolled account but then goes into a hanged state. Looking at the processor dump, it's clear that there is some kind of deadlock or endless recursive calls

[2020-05-14 11:16] PBoudreau commented on #848
Hello, would it be possible to keep this issue open in order to track Apple's response in the matter?

[2020-05-14 11:37] vikashsonar opened #927 "Proxy support in MSAL for ObjectiveC on Mac"
MSAL for .NET has proxy support using HttpClientFactory. In HttpClientFactory implementation I can create HttpClient and provide proxy details, then that HttpClientFactory can be used while creating PublicClientApplication.

However I couldn't find classes in MSAL for ObjectiveC to support proxy. Please guide me with an example. I want to do interactive and silent authentication using MSALPublicCl

[2020-05-14 20:32] oldalton commented on #927
Can you describe a little bit more what do you mean by a "proxy" and what is the scenario?

[2020-05-15 00:26] jayeshcode opened #928 "User cannot login if browser cookies are blocked."
User is getting error "Your browser is currently set to block cookies you need to allow cookies to use this service"  when the cookies are blocked for his browser.

Even if he disable blocking cookies  he still gets error and is never able to log in.

![Image from iOS](https://user-images.githubusercontent.com/17971004/81998558-d0894b80-9620-11ea-9aa0-7321643ba963.png)

[2020-05-15 00:57] oldalton commented on #848
Marking as internal to get it excluded from stale checks while we're waiting for a reply from Apple. Thanks!

[2020-05-15 00:58] oldalton commented on #928
Can you share MSAL correlationID? It is available in MSAL logs.
Additionally, do you have any custom configuration on your tenant?
Thanks!

[2020-05-15 02:31] jayeshcode commented on #928
I Nslog "correlationID" in MSIDLogger  method->logWithLevel it is always coming's null. I don't think we have custom configuration in our App registration. How can I verify it.

[2020-05-15 03:36] oldalton commented on #928
@jayeshcode, see instructions to configure MSAL logging here: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=objc

[2020-05-15 04:53] vikashsonar commented on #927
Apologies for less information about the question.

Suppose on one machine I have configured a proxy server (e.g. using CCProxy or any other proxy server software) and on other machines I have updated network configuration to use this proxy server so that all the web requests from my other machines should go through the proxy server.

Now if I launch the authentication app created using MSAL & Obj

[2020-05-15 06:22] nidegen commented on #737
@brandwe @rohitnarula7176 I would put that on top of your list, makes life much easier for many;)

[2020-05-15 19:35] jayeshcode commented on #928
Thanks [2020-05-15 19:30:47 - C69E3B10-7EEC-42DE-AF98-C67E7BE0C463]  here is the correlationID = C69E3B10-7EEC-42DE-AF98-C67E7BE0C463

The corelaltion ID was to captured when we see the above error.

[2020-05-15 22:30] oldalton opened #929 "getAccountsFromDevice should not return nil accounts without an error object"

[2020-05-15 22:32] jasoncoolmax commented on #923
@AnthonyUccello Could you please reproduce the issue and send us the logs? such that we could take a closer look.
Guidance of collecting the logs is here: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=objc#msal-for-ios-and-macos-logging-objc

Regarding  whether we should return nil accounts when there is none in the cache, we created a bug here for tracking: htt

[2020-05-16 03:24] Kyle-Reis commented on #922
Hey @dbanik, I just tested moving from ADAL to MSAL and calling loginAndEnrollAccount without unenrolling the account enrolled with ADAL, and I was unable to reproduce this. Here are some questions I have:

-  Which versions of ADAL, MSAL and Intune are you testing with?
- How are you calling loginAndEnrollAccount? Immediately on app launch? Are you specifying a UPN or just providing nil?

[2020-05-17 13:10] AnthonyUccello commented on #923
@jasoncoolmax Sorry I am no longer working on the project that was using this sdk. However the steps I outlined should reproduce the issue.

[2020-05-18 03:40] vikashsonar commented on #927
Can anyone please help me here. Thanks!

[2020-05-18 03:54] oldalton commented on #927
@vikashsonar. I think iOS provides a built in way to configure proxy for the entire device in iOS settings. Would that work for your scenario?

Regarding supporting it with MSAL, we don't currently support custom NSURLSession configuration for MSAL requests. We always create default session configuration internally and it seems that this would be something that needs to be configured there: https:

[2020-05-18 03:59] oldalton commented on #737
@nidegen, thanks for providing your input. Can you give more details about getting Swift package manager to work with nested folders? The only way I got it to work is to declare all paths separately which is very difficult to maintain as well as symlinking public headers (see some experimentation here: https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/compare/dev...oldalt

[2020-05-18 07:12] nidegen commented on #737
Yes I started a fork but declaring all nested paths. I think that is the only way currently.
- Is that a no-go? Do the paths change that often?
-Reorganize the nested folders is not an option?

[2020-05-18 15:53] BenLeggiero commented on #737
Thanks, @nidegen! In my experience, that's acceptable - just add another item to the release checklist to make sure these are in-sync

[2020-05-18 16:04] vikashsonar commented on #927
@oldalton Thanks for the clarification. I will try some scenarios and will update here.

[2020-05-18 18:00] dbanik commented on #922
@Kyle-Reis Thanks for the update.

- ADAL v4.0.3, MSAL v1.1.1, IntuneMAMSwift v12.2.0
- Yes we are calling from app launch. We are not specifying any UPN, we are using `nil`. Here is the code we call - `IntuneMAMEnrollmentManager.instance().loginAndEnrollAccount(nil)`.

[2020-05-18 18:24] Kyle-Reis commented on #922
@dbanik, could you let us know if you still see this issue when transitioning from current ADAL/Intune versions in your public release to Intune 12.4.0 + MSAL 1.1.2? Thanks.

[2020-05-18 19:53] oldalton commented on #737
@nidegen, I think even after adding all paths I still couldn't make it to work (as you can see in my branch). If you can get it to work for MSAL, we'd welcome a PR in our main repository such as other people could also benefit from it :)

[2020-05-19 01:36] oguzhangedik commented on #353
Thank you @oldalton

pod 'ADAL', :git => 'https://github.com/AzureAD/azure-activedirectory-library-for-objc.git', :tag => '4.0.7', :submodules => true

That works without error anymore.

[2020-05-19 07:09] nidegen commented on #737
@oldalton yea I saw your branch. Quite some changes. Lets see!

[2020-05-19 14:20] bblia commented on #922
@Kyle-Reis issue is still present. The only difference is we see these two dialogs, in the following order:
![7B93BCF3-E582-4B22-93AD-AA1BB24CACD1](https://user-images.githubusercontent.com/4870878/82337875-1a678e00-99a1-11ea-9819-ba8999a39fe3.png)
![4D3A5E64-5D36-4D43-AE4C-16897DE3F259](https://user-images.githubusercontent.com/4870878/82337881-1d627e80-99a1-11ea-99ab-ad40c6820b0c.png)

Clicking

[2020-05-19 16:09] jayeshcode commented on #928
@oldalton

 here are logs : -
correlationID :- 21C3D64E-2F99-45E0-915D-2A24B6B6EDF5

MSAL log: TID=423889 MSAL 1.1.1 iOS 13.4.1 [2020-05-19 16:05:29] Requiring default broker type due to app being built with iOS 13 SDK
MSAL log: TID=423889 MSAL 1.1.1 iOS 13.4.1 [2020-05-19 16:05:29 - 21C3D64E-2F99-45E0-915D-2A24B6B6EDF5] [MSAL] -[MSALPublicClientApplication acquireTokenWithParameters:(
    "https:

[2020-05-20 05:59] neildas21 opened #935 "Implicit declaration of function 'MSID_LOG_WITH_CTX' is invalid in C99"
Hi, When I build my project on XCode. I get the following error from the MSAL import.

"Implicit declaration of function 'MSID_LOG_WITH_CTX' is invalid in C99"
<img width="1047" alt="Screenshot 2020-05-20 at 9 59 16 AM" src="https://user-images.githubusercontent.com/42718622/82410276-98e72d00-9a80-11ea-90fa-f55eddc0c8e6.png">

[2020-05-20 18:00] Kyle-Reis commented on #922
Hey @bblia, I'm going top try and reproduce this again. Just to confirm, you are upgrading from:

Intune 12.2.0 + ADAL 4.0.3 with all default AAD setting configured in IntuneMAMSettings

To:
Intune 12.4.0 + MSAL 1.1.2 with custom ADALClientId and ADALRedirectUri configured in IntuneMAMSettings

Some additional questions:
Where exactly in the launch process are you calling loginAndEnrollAccount? di

[2020-05-20 23:56] oldalton commented on #935
Make sure you run `git submodule update` command after checking out MSAL repository.

[2020-05-21 04:01] bblia commented on #922
Yes, those are the proper versions.

loginAndEnrollAccount is being called in didFinishLaunchingWithOptions, yes.

Does your application support multiple windows on iOS 13? yes.

[2020-05-21 04:40] bblia commented on #922
I've been wrestling with this all day. Some additional things to note:

commenting out loginAndEnrollAccount yields slightly different results but still presents a serious underlying problem. It drops us straight into our app but the page is still freezing/terrible in the same way we were seeing for the microsoft authentication screens in the screenshots. The CPU/memory usage just climbs and climb

[2020-05-21 04:59] bblia commented on #922
More info:

Tried another hack. I used the default client ID (found via old sign in attempts with the ADAL version in our azure portal logs, for  application name `Intune Applications`) in IntuneMAMSettings for ADALClientId and everything works just fine. Switching back to our custom client id, everything hangs up again.

[2020-05-21 14:13] jayeshcode commented on #928
@oldalton any updates ?

[2020-05-21 17:52] ShruthiAchutha commented on #922
Any chance we could get access to your ipa without the MAM SDK in it? We could try wrapping it and see if we can repro. That will allow us to debug the issue.

[2020-05-21 18:14] bblia commented on #922
We would need to go through an NDA to be able to do that.

Please note, this issue isn't occurring for all users. We have two people who are able to reproduce it consistently (myself, and a user who is helping us test). The other engineers on our team do not see the problem. That's why we think it has to do with a bad cache registration, or something of that sort.

[2020-05-21 22:11] antrix1989 commented on #923
Closing since we cannot reproduce this.

[2020-05-21 23:21] ShruthiAchutha commented on #922
In that case can we get complete MAM diagnostic file as that would have the details about MAM cache? MAMDiagnostics.pdf that you shared doesn't have much usable data, it doesn't even look like its generated by MAM. The best option is to implement the diagnostic API to get the log file generated by MAM SDK. Is that an option?

[2020-05-22 00:39] bblia commented on #922
@ShruthiAchutha please let me know if this helps and if i can provide any additional logs. I captured these after a fresh install of the MSAL build we originally found the issue on. This build is using theolder version of MSAL and Intune -- MSAL v1.1.1, IntuneMAMSwift v12.2.0.

[IntuneMAMDiagnosticFiles 3.txt](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/4665444/Intun

[2020-05-22 01:00] ShruthiAchutha commented on #922
These are just logs from the Edge app, not yours. How are you capturing logs? Edge won't be able to capture MAM logs from non-Microsoft apps.

[2020-05-22 01:02] bblia commented on #922
@ShruthiAchutha Can you point me to some documentation so I can get you what you're looking for? I tried searching for implementing diagnostic apis but all I found were the instructions around using the edge app to capture mam logs.

[2020-05-22 01:11] bblia commented on #922
I think I figured it out -- I added IntuneMAMDiagnostConsole.display() to our app. Neat!

Here is what I got it to spit out (it's super large):
[IntuneMAMDiagnosticFiles 6.txt](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/4665517/IntuneMAMDiagnosticFiles.6.txt)

[2020-05-22 08:22] svendr opened #938 "setting MSALWebviewParameters.presentationStyle = .fullscreen has no effect"
I've recently updated my local MSAL-dependency to 1.1.2 and adapted the suggested changes. I've also noticed, that the presented SFSafariViewCoontroller now doesn't fully cover the screen (default behaviour when compiling with iOS 13 SDK):

![NoFullscreenPresentation_Small](https://user-images.githubusercontent.com/29842223/82647343-5b1c0d00-9c16-11ea-8f0f-a60c28315810.png)

I've tried to fix this

[2020-05-22 20:31] Kyle-Reis commented on #922
Hey @bblia, thanks for the logs! I see this error come up a few times: "IntuneMAM: ActionExtensionHooks: OpenInActionExtension set on non-Action Extension". It looks like you may have "OpenInActionExtension" specified under the IntuneMAMSettings of your main app's Info.plist. Could you remove that? Could you also tell me if AutoEnrollOnLaunch is enabled there? Thanks!

[2020-05-22 21:33] bblia commented on #922
hey @Kyle-Reis we actually don't have anything regarding OpenInActionExtension in IntuneMAMSettings. We have:

![image](https://user-images.githubusercontent.com/4870878/82710978-0a69db80-9c39-11ea-821c-cde741c76f57.png)

as well as ADALClientId and ADALRedirectUri.

[2020-05-26 21:15] Kyle-Reis commented on #922
Hey @bblia, would it be possible to get an instruments profile of the issue with MSAL 1.1.2 and Intune 12.4.0? Thanks

[2020-05-26 22:17] oldalton commented on #938
Thanks for the question. Can you clarify what kind of webview type you're using? `presentationStyle` property might not work reliably for all webview types.

See more details about different webview types that MSAL supports here: https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews

[2020-05-26 22:22] oldalton commented on #909
@DarkAnGth, this should be fixed in MSAL 1.1.3. Can you give it another try?
Closing the issue for now but please reopen if it still remains.

[2020-05-26 22:22] #909 closed

[2020-05-26 22:30] oldalton commented on #928
@jayeshcode, we are not seeing specific issues in our telemetry. Would it be possible to collect a network trace for additional investigation and send it to sedemche@microsoft.com? Thanks.

[2020-05-26 22:32] oldalton commented on #924
Closing the issue. Please reopen if you have additional question.

[2020-05-26 22:32] #924 closed

[2020-05-26 23:51] bblia commented on #922
[Intune12.4.0MSAL1.1.2.trace.zip](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/4685608/Intune12.4.0MSAL1.1.2.trace.zip)

@Kyle-Reis Here you go.

[2020-05-27 06:46] svendr commented on #938
Hi @oldalton, thanks for your feedback. I haven't explicitly configured a webViewType, so the default value of `MSALWebviewTypeDefault` should be applied, which itself should use `ASWebAuthenticationSession` as per my understanding.

If the presentationStyle property has no effect for this webViewStyle, it should either be fixed or at least clearly documented. The current doc just states: "Modal p

[2020-05-27 10:08] vikashsonar commented on #927
Hi @oldalton I tested my application having proxy settings in place. Looks like the expected scenarios are working successfully without a need to set proxy in application explicitly.
Thanks for your guidance!

[2020-05-27 10:12] vikashsonar commented on #927
Ahh.. I didn't realize you have moved it to feature. Yes, I think it will be great to have the flexibility to provide proxy configuration. Reopening...

[2020-05-27 18:35] AhmadiRamin commented on #858
Hi @oldalton I'm trying to replace your suggested steps in my office addins project (nodejs)
I can get the access token in step 1, but I don't know how to call it again (step 2):
here is my code:

`

import * as Msal from "msal";
import configuration from "../utilities/configuration";
import { ImplicitMSALAuthenticationProvider } from "@microsoft/microsoft-graph-client/lib/src/ImplicitMSALAuthenti

[2020-05-27 19:42] #911 closed

[2020-05-28 10:20] DarkAnGth commented on #909
@oldalton  We cannot reproduce this issue with 1.1.3 update. Thank you!

[2020-05-30 00:34] oldalton commented on #938
Yes, I think ASWebAuthenticationSession would ignore any presentationStyle that we set. Agree that documentation needs to be updated. Thanks!

[2020-05-30 00:35] oldalton commented on #935
Closing this issue. Please reopen if still active. Thanks!

[2020-05-30 00:37] oldalton commented on #858
@AhmadiRamin, this looks like MSAL JS issue. Would you mind opening it in the correct repository? Thanks.

[2020-06-02 21:39] jasoncoolmax commented on #922
@Kyle-Reis could you help @bblia to take a look at the trace? :)

[2020-06-02 21:40] jasoncoolmax commented on #928
@jayeshcode Have you had a chance to collect the network trace? :)

[2020-06-02 22:45] jayeshcode commented on #928
@jasoncoolmax  with network trace you mean CFNetwork diagnostics logging from my XCODE ?

[2020-06-05 06:55] ws752958369 opened #941 "How can trigger access condition ？"

[2020-06-05 06:56] ws752958369 commented on #941
IOS： 集成MSAL SDK无法触发Access Condition

[2020-06-08 16:34] Kyle-Reis commented on #922
Hi @bblia, just to get some more clarity here, is the issue that the UI becomes very slow, but does eventually show login prompt and user is able to login? Or is the user completely blocked? Reason for my asking is that I noticed in the screenshots you shared the login UI is there. I was under the impression from @dbanik's original comment that the login UI just never displayed. The trace shows th

[2020-06-08 16:48] bblia commented on #922
@Kyle-Reis The issue is that the app completely hangs up and becomes unusable, and eventually crashes (no stack trace) if you don't force close out. Sometimes it crashes before the login UI manages to load, sometimes it does make it there. In all cases it is not usable. You can enter in credentials maybe 1 letter per 30 seconds but I've actually never successfully gotten in, because things crash b

[2020-06-08 18:17] Kyle-Reis commented on #922
Hi @bblia, try setting MSALGlobalConfig.loggerConfig.logLevel to MSALLogLevelNothing before calling loginAndEnrollAccount.

[2020-06-08 19:04] bblia commented on #922
@Kyle-Reis sadly did not seem to make a difference

[2020-06-08 19:43] Kyle-Reis commented on #922
Hey @bblia, could you share a trace with MSAL logging disabled? Also, are you building the debug or release scheme of MSAL?

[2020-06-08 20:38] bblia commented on #922
[Uploading DebugMsal1.1.2Intune12.0.4.trace.zip…](Debug Scheme)
[Uploading ReleaseMsal1.1.2Intune12.0.4.trace.zip…](Release Scheme)

Here's one of each, same behavior in both.

[2020-06-08 22:14] Kyle-Reis commented on #922
Hi @bblia, I believe I've found the root cause of this issue and I'm working on a fix now. Basically, Intune both logs an error and creates a telemetry event (although the event does not actually get sent for 3rd party apps) when MSAL does not return an MSALAccount object for the user. In the process of populating the telemetry object's fields, we try to pull the MSALAccount object again and it le

[2020-06-08 22:35] bblia commented on #922
@Kyle-Reis based on your explanation, that sounds like a reasonable cause. Fingers crossed, and I'm happy to help you validate it whenever its ready.

Regarding why its not happening to everyone, I wish I knew. @dbanik and I have the exact same phone (iphone 11 pro with 256g capacity). only difference is i'm on verizon and he's on t-mobile, but i've tried w/ data off as well. so 🤷 really no idea

[2020-06-09 18:36] Kyle-Reis commented on #922
@bblia, is it possible that @dbanik might already have had a token in the cache when they tested?

[2020-06-09 21:06] mattvlas opened #949 "macOS: Intermittent redirect failure from Safari after successful auth"
This seems to happen about 5-10% of the time with our users, but we are seeing a problem where the Catalina 10.5.x Safari web view is reporting that the redirect back to our application after a successful authentication "can't open the specified address".

<img width="1015" alt="screenshot_2020-06-09_at_17_49_31-1" src="https://user-images.githubusercontent.com/57152570/84199402-f526e680-aa59-11ea

[2020-06-09 22:23] dbanik commented on #922
@Kyle-Reis I had tried deleting/reinstalling the app. I was prompted to Microsoft Login page and was able to sign in fine without any issues or slowness.

[2020-06-09 22:24] mipetriu commented on #928
@jayeshcode You can refer to these instructions to get the network trace: [https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/README.md#network-traces](https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/dev/README.md#network-traces)

[2020-06-10 02:01] oldalton commented on #949
Thanks for reporting this. We haven't seen this before, so would appreciate some additional logs to diagnose. In order to collect MSAL logs, follow these instructions: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=objc#logging-in-msal-for-ios-and-macos

Additionally, if it's impacting your users, I'd recommend you to switch to WKWebView in the meantime as your w

[2020-06-10 03:16] mattvlas commented on #949
@oldalton Great, we'll increase the log level to verbose (there is nothing indicating there was any problem at normal logging levels) and report back.

[2020-06-10 10:51] bgavrilMS opened #950 "Broker v3 protocol requires MSAL version, but not MSAL name"
The broker protocol requires us to pass in the version of MSAL. But there are 2 MSALs that call the iOS broker - MSAL.iOS and MSAL.NET via Xamarin. So we need a way to differentiate between the 2, easiest is to log the client SKU.

Impact: small impact, but this improvement would make supportability easier, as you'd be able to see who called the broker directly from the logs.

[2020-06-10 17:14] tazevedo-ciandt opened #951 "Is there a way MSAL be able to accept a token?"
Hi,
We would like to have MSAL be able to accept a token(s) as an entry and then manage the user.
We are considering programmatically authenticating a B2C using ROPC or something like that as an initial login and then give the tokens returned from the initial authentication to MSAL and have those tokens managed by MSAL and use MSAL for any future authentication.

[2020-06-11 06:43] vinod-singh1 opened #952 "Signing of MSAL.Framework for Objective-C"
I am building Objective-C library for Authentication and fetching tokens so I have downloaded the MSAL.Framework using Cocoa Pod install command.

When packaging this Framework along with dylib into the package, I found that MSAL.Framework binaries are not signed. Verified this using "codesign -dvvv MSAL" the result says that "MSAL: code object is not signed at all".
Ideally this should be signed

[2020-06-12 01:54] jyotimathur opened #953 "Can MSALWebviewParameters be used with SwiftUI to fetch a token interactively?"
I have an app that uses SwiftUI instead of UIKit. I want to use MSAL library to acquire a token interactively. I see that MSALWebviewParameters support display using UIViewController. Is there a way to use swift ui based views here?

[2020-06-12 08:32] smudireddy opened #954 "What scope parameter to be used for "deviceid" additional claim to exclude azure conditional access policies ?"
Hi,
What scope should be used for "deviceid" additional claim in a interactive token fetch request to "register" the device to AAD where conditional policies applied to the current user.  Currently when we request that additional claim, Authenticator app  on iOS device authenticated the user but shown "Enroll Now" option due to the CA policy failure.  Why CA policies applied when Authenticator app

[2020-06-12 12:52] niklassaers opened #955 "Error -42700 when returning from the Microsoft Authenticator"
Hi,
I've implemented MSAL in my iOS 13 Swift app, and logging in via the web view works fine. However, when I have the authenticator app installed, it asks to open that, I authenticate with that and am returned to my app, at that point I get the error -42700. Any suggestions as to what could be causing it?

I have added com.microsoft.adalcache to the Keychain Groups in Keychain Sharing.

Cheers

[2020-06-13 10:53] viveknegi51288 commented on #245
@oldalton Can we use MSAL and intune android sdk  ? As per the official documentation, there is only ADAL configuration is explained . Please help

[2020-06-13 19:08] oldalton commented on #950
Verified that we always default to MSAL.iOS as the source library when request comes from MSAL. Agree that it's important to differentiate between MSAL.iOS, MSAL Xamarin and MSAL CPP.

[2020-06-13 19:10] oldalton commented on #951
Thanks for bringing this up. I don't think we have this capability in MSAL right now, but we used to have something similar in ADAL where we allowed importing a refresh token: https://github.com/AzureAD/azure-activedirectory-library-for-objc/blob/master/ADAL/src/public/ADAuthenticationContext.h#L513

I believe MSAL could benefit from this as well. We'd happily accept a contribution if you'd like t

[2020-06-13 19:14] oldalton commented on #952
When you install MSAL with CocoaPods, you're building MSAL from code. You'll need to have your own signing for all embedded frameworks at that point. I believe Xcode allows you to configure signing settings for any framework dependencies that you have in your app.

[2020-06-13 19:17] oldalton commented on #954
We don't recommend taking a dependency on deviceId claim or requesting it explicitly.
What you're seeing is likely caused by the "require compliant device" policies in your tenant which require device to be managed by Intune. You can read more about CA policies here: https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/require-managed-devices

[2020-06-13 19:19] oldalton commented on #955
Can you double check if you implemented MSAL callback in your AppDelegate: https://github.com/AzureAD/microsoft-authentication-library-for-objc#swift-1. You need to propagate broker response back to MSAL when your app is opened.

[2020-06-13 19:21] oldalton commented on #953
SwiftUI should be compatible with existing UIKit frameworks. Apple has some guidance here: https://developer.apple.com/tutorials/swiftui/interfacing-with-uikit. Let us know if that still doesn't address your issue. Thanks.

[2020-06-13 19:21] oldalton commented on #941
Closing the issue due to lack of information. Please reopen the issue with additional information if needed. Thanks.

[2020-06-13 19:21] #941 closed

[2020-06-13 19:23] oldalton commented on #245
@viveknegi51288, do you mind opening this as question in the MSAL Android repository? Thanks. https://github.com/AzureAD/microsoft-authentication-library-for-android

[2020-06-14 02:45] smudireddy opened #957 "MSAL 1.1.3 iOS 13.5.5 Error: One or more request parameter is missing from clientId, redirectUri, or target"
Request Type: WorkplaceJoin registration
Platform : iOS
App: Request to "register" the3 device using Authenticator from MSAL iOS Sample App
MSAL Version : MSAL 1.1.3
ClientID = "7e3e8b0c-eeff-4506-b61a-ab33df7815d5"

For more Details: https://ibm.box.com/s/p76ytt9rwp6j8ihtwnc24pjo3hp25kfu

***********************************************************************************************
MSAL 1.1.3 iO

[2020-06-14 02:47] smudireddy commented on #957
2020-06-14 02:14:58.019    VERB        WorkplaceJoin    0    TID=1         0 () INFO: -[WorkPlaceJoinUtil getRegistrationInformation:error:] [Line 269][2020-06-14 02:14:58 +0000]getRegistrationInformation: Failed to retrieve certificate and identify

2020-06-14 02:14:58.019    VERB        WorkplaceJoin    0    TID=1         0 () INFO: [2020-06-14 02:14:58 +0000]Error Domain=com.microsoft.workplace

[2020-06-14 03:01] smudireddy commented on #957
For more Details:  https://ibm.box.com/s/p76ytt9rwp6j8ihtwnc24pjo3hp25kfu
password: msal

[2020-06-14 03:35] vinod-singh1 commented on #952
We have used Cocoa Pod just to download the MSAL.Framework. We have not configured Pod setting within project consuming MSAL.Framework.
So I would like to know the correct way or repository to download MSAL.Framework as we don't want to build it.

[2020-06-15 06:51] niklassaers commented on #955
Thank you so much for your answer. I had missed the detail where the AppDelegate code isn't executed, but the SceneDelegate is for my iOS 13 app. Having put in place the required code into SceneDelegate, it now authenticates fine :-) Thanks a lot :-)

[2020-06-15 06:51] #955 closed

[2020-06-15 16:08] mattvlas opened #958 "Rare macOS MSAL Keychain Issue (-25308)"
Hello,

We've run into a very rare issue on macOS that is preventing MSAL from passing back a token to our app.  Specifically, it looks like there is something wrong with writing to the keychain with error -25308.

Has anyone seen this before?

Below are the relevant MSAL logs in debug mode:
[code]

[2020-06-16 11:32] arangato opened #961 "Add XCode 11.4 recommended project settings"
XCode complains in issue navigator about MSAL project an suggests updating it to recommended settings.
Those recomended settings seem to add the following build configuration:

`ENABLE_HARDENED_RUNTIME = YES;`

and compiler flags:
`
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED = YES;
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS = YES;
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF = YES;
`

[2020-06-16 16:42] BenLeggiero commented on #737
Any progress on this? I'm about to integrate MSAL into our codebase and would love to do that as a Swift package!

[2020-06-16 22:10] jasoncoolmax commented on #961
Hi @arangato, thank you bringing this up. we are going to address it. Thank you!

[2020-06-16 22:15] jasoncoolmax commented on #958
Thank you @mattvlas for reporting this. I will take a look.

[2020-06-16 22:20] jasoncoolmax commented on #952
@vinod-singh1 We don't provide binaries for Objective-C MSAL. You may need to build it yourself to get MSAL.Framework. If you are using CocoaPods, it will automatically download MSAL source files and configure your project. So at the moment, I think you need to config the signing of the framework in your project.

[2020-06-16 22:26] jasoncoolmax commented on #957
Hi @smudireddy, thank you very much for reporting this. According to the logs, I guess certificated based authentication (CBA) is involved for your sign in. Currently, due to system limitation, we don't support CBA together device-based conditional access.

We have heard from customers that, registering your device in Authenticator before hand could help solve this issue. Please do let me know if

[2020-06-17 02:42] smudireddy commented on #957
@jasoncoolmax ,

Thanks for the confirmation.

- This is a case of ADFS with CBA where User Identity cert pushed to iOS system key-chain using MDM client.

- User able to register manually from the "Menu -> Settings -> Device registration" of Microsoft Authenticator but no Device object created in Azure AD portal under "Devices" so which will not help the CA policies to consider that and not provi

[2020-06-17 04:08] mattvlas commented on #949
The issue occurred on another machine and I have attached the MSAL logs in debug mode when this occurred.  Hopefully this helps!

[service.log](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/4790302/service.log)

[2020-06-17 05:18] vinod-singh1 commented on #952
Thanks Jason!!! will do the needful.

[2020-06-17 07:04] amaheshit opened #962 "This app could not be installed at this time Xcode 11.4"
Unable to install the application on the simulator -

Domain: IXUserPresentableErrorDomain
Code: 1
Failure Reason: Could not install at this time.
Recovery Suggestion: Failed to load Info.plist from bundle at path /Users/username/Library/Developer/CoreSimulator/Devices/BD40F7-0819-4B06-817E-82C09ECA521D/data/Library/Caches/com.apple.mobile.installd.staging/temp.i7PH0O/extracted/Tracker_iOS.app/Fra

[2020-06-17 09:51] #952 closed

[2020-06-18 02:17] oldalton commented on #737
@BenLeggiero, we're still looking forward for an external help/contribution on this one! We've tried a few more options, but seems that SPM doesn't work very well with submodules either.

[2020-06-18 12:21] smudireddy commented on #957
@jasoncoolmax ,

Is Azure AD users with CBA supported  or it is only ADFS with CBA not supported ?

[2020-06-18 15:50] ws752958369 opened #964 "Not smooth"
When we integrate the MSAL SDK and Intune SDK after we found the app CPU and memory footprint is very high, cause equipment heating validation, further lead to app is not smooth, even the caton.

[2020-06-18 15:51] ws752958369 commented on #964
And this happened on the app signed by AppSote

[2020-06-18 19:12] oldalton commented on #964
Seems similar to this issue inside Intune SDK: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/922

@Kyle-Reis, @ShruthiAchutha - can you take a look?

[2020-06-18 19:23] ShruthiAchutha commented on #964
@ws752958369 we have a fix pending for a similar issue that should be ready by early next week.
Have you integrated the app with Intune diagnostic console as described at https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#how-can-i-troubleshoot-my-app? If so, can you share the MAM log file from the app?

[2020-06-18 22:29] jasoncoolmax commented on #962
@amaheshit Are you trying to build from MSAL source code? which target are you trying to build? MSAL Test App (iOS) or MSAL Test App (mac)?
Once I get the above info, i will see if i could repro. Thank you!

[2020-06-19 02:07] ws752958369 commented on #964
yes,i have removed i386,x86_64  before subimt to AppStore

[2020-06-19 02:25] ShruthiAchutha commented on #964
@ws752958369 my question was about integrating with diagnostic console that's at the top of the section (copying below for clarity),

How can I troubleshoot my app?
The Intune SDK for iOS 9.0.3+ supports the ability to add a diagnostics console within the mobile app for testing policies and logging errors. IntuneMAMDiagnosticConsole.h defines the IntuneMAMDiagnosticConsole class interface, which d

[2020-06-19 03:21] BenLeggiero commented on #737
Thanks for the update, @oldalton. I might try my hand at it sometime later. Sad to hear SPM and Git Submodules aren't friends; hopefully that changes soon.

[2020-06-19 03:23] ws752958369 commented on #964
[IntuneMAM.zip](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/4802296/IntuneMAM.zip)
Here is the sandbox log of IntuneMAN，Please help check the problem。Thank you so much.

[2020-06-19 03:26] ws752958369 commented on #964
![图片](https://user-images.githubusercontent.com/15607355/85093687-86971500-b21f-11ea-839b-6cb52d6841ee.png)
When we first install, the Welcome Page of the App will appear.When we want to swipe left and right, the app is very stagnant at this time, and the mobile phone device begins to heat up seriously

[2020-06-19 18:19] mattvlas commented on #949
After investigation, unfortunately the WKWebView option is not viable for our application due to lack of integrated SSO on macOS.

We are going to try to add a `URL Type` of `msauth.$(PRODUCT_BUNDLE_IDENTIFIER)` to our applications Info.plist instead of relying on the MSAL library to register this scheme at run time.  In my testing, there doesn't seem to be any negative impact of doing this, and I

[2020-06-20 00:48] spencer-microsoft commented on #817
@jasoncoolmax any update on this?

[2020-06-21 03:58] ws752958369 commented on #964
We found that when the Intune SDK was removed, it was smooth

[2020-06-22 16:57] jaywadhwani opened #968 "Endless loop if you have Microsoft Authenticator on user device."
We are having issue only when we have our App & Microsoft Authenticator both app on users device.

Steps to reproduce : -

Precondition - Download Microsoft authenticator from App Store.

1. Click on  sign in.
   applicationContext.acquireToken is triggered

2. Now observe deeplinks to Microsoft Authenticator.

applicationContext.acquireToken returns error : -
result	MSALResult?	nil	none
error	Err

[2020-06-23 19:51] ShruthiAchutha commented on #964
@ws752958369 This is a bug in Intune SDK. We will be releasing a new version that has the fix later this week.

[2020-06-23 19:51] jaywadhwani commented on #968
@oldalton any updates ?

[2020-06-23 22:06] antrix1989 commented on #968
This is not a valid error code: 18446744073709501616, could you provide us MSALError code which you are getting back from the Authenticator? Also would be great if you could provide us Authenticator logs as well. See [here](https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Instructions-on-Collecting-Microsoft-Authenticator-Logs) how to collect them.

[2020-06-23 22:09] antrix1989 commented on #817
We are still working on this. We will update this thread once it is implemented.

[2020-06-24 01:02] jaywadhwani commented on #968
So here is Incident Id from Authenticator "JD3MANUB"

error object from   applicationContext.acquireToken(with: parameters)

Optional<Error>
  - some : Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=application did not receive response from broker., MSALInternalErrorCodeKey=-42700}

[2020-06-24 03:42] oldalton commented on #968
@jaywadhwani, you might be missing an AppDelegate callback. Can you double check this: https://github.com/AzureAD/microsoft-authentication-library-for-objc#swift-1

[2020-06-24 14:51] jaywadhwani commented on #968
Thanks @oldalton the endless loop issue is resolved. Is there a way we can avoid our app to stop deep linking to MS authenticator ?

[2020-06-24 18:43] jasminppiri opened #969 "Failed to acquire authentication token for Teams"
Unable to get authentication token for "Team.ReadBasic.All" scope.

Always get below error.
**Error Domain=MSALErrorDomain Code=-50003 "(null)" UserInfo={MSALDeclinedScopesKey=(
    "Team.ReadBasic.All"
), MSALGrantedScopesKey=(
    "User.Read",
    "Calendars.Read"
), MSALErrorDescriptionKey=Server returned less scopes than requested, MSALCorrelationIDKey=0021DD1E-DFFB-49C2-949C-85DC2C465FE2, MSA

[2020-06-25 14:48] vinod-singh1 opened #970 "Issue on Mac 10.15 while fetching token Interactively. Getting error "ASWebAuthenticationSession without providing presentation context""
I am using MSAL.framework version 1.1.2 and built a dynamic library in Objective-C to fetch the tokens Interactively & Silently for different scopes.
This dynamic lib is loaded in a CommandLine application to perform Interactive & Silent authentication for fetching tokens. Inside the CommandLine application, I have used NSApplication* pApplication = [NSApplication sharedApplication]; mechanism to

[2020-06-25 18:59] jasminppiri commented on #969
@oldalton can you please help?

[2020-06-25 19:49] oldalton commented on #969
@jasminppiri, I believe Team.ReadBasic.All is only applicable to AAD (organizational, work or school) accounts.
You're trying to sign in with a personal account, so the scope is ignored.

[2020-06-25 19:50] oldalton commented on #969
Also the scope you're trying to acquire a token for is related to team management and not Teams API. Just double checking to avoid confusion:

Team.ReadBasic.All | Read the names and descriptions of teams | Read the names and descriptions of teams, on behalf of the signed-in user. | Yes | No
-- | -- | -- | -- | --

[2020-06-25 20:11] jasminppiri commented on #969
Okay Thanks @oldalton

[2020-06-26 09:04] vinod-singh1 commented on #970
Further I have investigated and found the below comment in MSAL lib. Since in my CommandLine app there is no parentViewController which I can pass. So it should use the application's keyWindow presentation but this is not working in my case.
Can you please help me out to resolve this issue?
/**
   Creates an instance of MSALWebviewParameters with a provided parentViewController.
   @param parentVi

[2020-06-26 13:47] vinod-singh1 commented on #970
I did more investigation and found a way to set WebviewType(as below) as "MSALWebviewTypeWKWebView" and doing this change I am able to launch the Authentication popup UI on Mac OS 10.15.
****************************************************
MSALWebviewParameters *webParameters = [[MSALWebviewParameters alloc] init];
    [webParameters setWebviewType:MSALWebviewTypeWKWebView];
**********************

[2020-06-26 22:15] #969 closed

[2020-06-26 22:20] antrix1989 commented on #968
If you support personal and org accounts you need to auth through broker. If you just have personal accounts you can disable broker if you set brokerAvailability = MSALBrokeredAvailabilityNone in global config.

[2020-06-26 22:21] antrix1989 commented on #928
Hey @jayeshcode, did you have a chance to collect the network trace?

[2020-06-27 01:38] #858 closed

[2020-06-27 14:51] jaywadhwani commented on #968
Thanks @antrix1989 & @oldalton Issue resolved closing issue.

[2020-06-27 14:51] #968 closed

[2020-06-28 02:17] ws752958369 commented on #964
@ShruthiAchutha ok,If you have completed the upgrade, please let us know.Thanks!

[2020-06-29 14:30] vinod-singh1 opened #974 "Token are not getting cached on Mac 10.15 for MSAL Objective-C lib"
I am using MSAL.framework version 1.1.2 and built a library in Objective-C to fetch the tokens for multiple scopes.
I am facing caching issue on Mac 10.15. On every request it is going for Interactive Authentication only. Ideally it should go for Interactive authentication at very first request, after each subsequent request it should go for silent authentication and fetch the tokens. But unfortun

[2020-06-29 16:39] Kyle-Reis commented on #922
Hi @dbanik and @bblia, could you try out the latest release of the [Intune SDK](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) (version 12.6.1)? I think that should address this issue.

[2020-06-29 16:42] Kyle-Reis commented on #964
Hi @ws752958369, could you try out the [latest version](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios/releases/latest) of the Intune SDK? I think that should address this issue. Thanks!

[2020-06-29 18:41] bblia commented on #922
hi @Kyle-Reis, I believe everything is now working as expected. I no longer hang and am able to get through and get an app policy.

We do have brokered auth configured, and the first run after bumping to the new versions prompted me to enter in my microsoft credentials even though I'm signed in to the Authenticator app  already. After signing in, I was unable to see this happen again and brokered

[2020-06-29 18:58] Kyle-Reis commented on #922
@bblia, I think you may have been prompted for credentials because the account you were signed in with is targeted with Intune authentication policy. When that is the case, the user must enter their credentials after the app has been inactive for the timeout interval specified by the admin.

[2020-06-29 19:00] Kyle-Reis commented on #922
Great to hear the hang is now resolved!

[2020-06-29 19:34] jasminppiri commented on #969
Hello @oldalton ,

As per your instruction, now i am using organizational account and trying to acquire access token for "Channel.ReadBasic.All", "ChannelMessage.Send", "Team.ReadBasic.All", "User.Read" scopes but i got error like you need admin approval.

![adminApproval](https://user-images.githubusercontent.com/66630825/86048105-93acd300-ba6d-11ea-97bc-907c3f6d632e.png)

On azure portal these s

[2020-06-29 21:21] oldalton commented on #958
@mattvlas, unfortunately, we couldn't reproduce the issue on our devices. Do you know if there's anything special about the keychain state of impacted machines? Do you know if iCloud is configured on those machines?

[2020-06-29 21:23] oldalton commented on #974
You might be missing 10.15 keychain configuration. Can you double check that you have configured your macOS keychain groups correctly? See instructions here: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-v2-keychain-objc?tabs=objc#macos

If that doesn't fix the issue, can you double check if this issue is similar to this one? https://github.com/AzureAD/microsoft-authenticat

[2020-06-29 21:24] oldalton commented on #922
Resolving as fixed. Please reopen if needed.

[2020-06-29 21:24] #922 closed

[2020-06-29 21:24] jasminppiri commented on #969
@oldalton  @antrix1989  can you guys help?

[2020-06-29 21:28] oldalton commented on #970
Thanks for confirming. WKWebView should work. However, you'll not benefit from SSO with Safari using WKWebView, but you should be able to get a token for the user. Another idea is if you don't have any windows for your app, you could try creating a new window for MSAL authentication prior to calling acquireToken and passing that window's controller to MSAL.

[2020-06-29 21:30] oldalton commented on #938
Updated API documentation. Please let us know if you have additional suggestions for the documentation. Thanks.

[2020-06-29 21:30] #938 closed

[2020-06-30 02:19] NerevarineRule commented on #949
Hi @mattvlas,

We've tried to reproduce the issue on a Mac with ver 10.15.5 using the log you provided a basis.

Below is the list of test cases we've tried out.
1) Looking at a successful acquire token operation within your log using its timestamp & correlation ID, it indicated that the backslash was missing between auth and ? (://auth? instad of ://auth/?), while the URL in the screenshot you pr

[2020-06-30 05:44] vinod-singh1 commented on #974
Thanks for the update.
I tried configuring keychain following the link given: https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-v2-keychain-objc?tabs=objc#macos
I have explicitly written code to configure keychainSharingGroup as "com.microsoft.identity.universalstorage".

[code]
But this didn't work for me.

I am not able to enable MSAL logs to see the error given in issue #958

[2020-06-30 18:08] oldalton commented on #974
@vinod-singh1, did you also add this group into your project entitlements? See #3 here: https://github.com/AzureAD/microsoft-authentication-library-for-objc#configuring-msal

[2020-06-30 18:10] jasminppiri opened #979 "Failed acquired authentication token"
Hello @oldalton ,

I am trying to acquire access token for "Channel.ReadBasic.All", "ChannelMessage.Send", "Team.ReadBasic.All", "User.Read" scopes but i got error like you need admin approval.

![adminApproval](https://user-images.githubusercontent.com/66630825/86161525-00d26e00-bb2b-11ea-999f-8373d8cab4ff.png)

As per azure portal, these four scopes don't required admin consent.

![azurePortal](

[2020-06-30 19:10] oldalton commented on #979
MSAL also requests "openid profile offline_access" scopes which might be triggering admin consent for you.
Can you try requesting https://graph.microsoft.com/.default as a scope instead and seeing if it changes the result?

[2020-06-30 19:24] jasminppiri commented on #979
So you want me to request this on graph explorer?

[2020-06-30 19:30] jasminppiri commented on #979
@oldalton
If you mean that try with default scope(User.Read) then i have already tried and with that i can able to get token but when i adding teams scopes(Channel.ReadBasic.All, ChannelMessage.Send, Team.ReadBasic.All) then i am getting error that admin approval required.

[2020-06-30 19:45] jasminppiri commented on #979
@oldalton
I have added "https://graph.microsoft.com/.default" this as scope and able to get token.

[2020-06-30 20:43] oldalton commented on #979
I meant using https://graph.microsoft.com/.default as the scope that you pass to MSAL.

[2020-06-30 21:02] jasminppiri commented on #979
@oldalton Yes i have added and got the token. It doesn't ask for admin approval.

[2020-07-01 00:27] oldalton commented on #979
Thanks for confirming. I believe you have a workaround in that case.
Regarding seeing admin consent in another case, it is probably because MSAL requests OIDC scopes "openid profile offline_access" that might require admin consent for your tenant.

[2020-07-01 13:50] jasminppiri commented on #979
@oldalton  Actually I don't have any workaround.

Yes MSAL request OIDC scopes and these scopes added by default in MSAL but i don't think those scopes trigger admin consent because when i have added only once scope(User.Read) then i can able to get token without admin approval so in this case i have added only one scope(User.Read) and other OIDC scopes "openid profile offline_access" added by def

[2020-07-01 14:32] jasminppiri commented on #979
@oldalton  I also removed OIDC scopes and tried with only "Channel.ReadBasic.All", "ChannelMessage.Send", "Team.ReadBasic.All", "User.Read" these scopes and still it ask for admin approval.

[2020-07-01 14:37] jasminppiri commented on #979
@oldalton  I want to get token for "Channel.ReadBasic.All", "ChannelMessage.Send", "Team.ReadBasic.All", "User.Read" these scopes without admin consent.

Please let me know if i can do this or not?

[2020-07-01 16:50] jasminppiri commented on #979
@oldalton I have also created login url like this way and open in chrome and safari browser directly on my pc but still it's ask for admin approval.

![BrowserLogin](https://user-images.githubusercontent.com/66630825/86270400-ce874600-bbe8-11ea-8f15-1eaac6877252.png)

[2020-07-01 16:57] vinod-singh1 commented on #974
Enabled MSAL logs, I am seeing errors as below: It seems MSAL api call is failing accessing keychain entity on Mac 10.15.
I am calling MSAL lib from Auth process which is a command line process. So there might be few logs which I have added explicitly, just for debugging purpose like "2020-07-01 22:12:51.029 Auth[926:38678] Entering Interactive", Please ignore them.

2020-07-01 22:12:51.028 Auth[9

[2020-07-01 17:12] vinod-singh1 commented on #970
Thanks for updating that we should use the recommended "ASWebAuthenticationSession" view type to take full advantage of MSAL lib. Since

Command Line app doesn't have the Window itself, so Can you please suggests the way to create a Window in Command Line and pass it to the MSAL lib for Authentication?

Just wanted to confirm that this view type is specific to Mac 10.15 onwards, in prior version l

[2020-07-01 17:19] vinod-singh1 commented on #974
There is one more issue I am facing on Mac 10.15 and I have opened a separate case for this: [https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/970]. So few errors might be related with that like "2020-07-01 22:13:13.282 Auth[926:38926] MSAL log: TID=38678 MSAL 1.1.2 Mac 10.15.4 [2020-07-01 16:43:13 - C30CCF13-66D8-4CBE-83A8-7729176FAEBA] [MSAL] acquireToken returning wit

[2020-07-02 18:48] bsiegel commented on #737
A quick update - Apple [announced](https://developer.apple.com/videos/play/wwdc2020/10147/) during WWDC this year that SwiftPM will now [support binary framework packages](https://developer.apple.com/documentation/swift_packages/distributing_binary_frameworks_as_swift_packages), providing a way forward for projects that use native code, ObjC, or use structures that are not conducive to shipping as

[2020-07-03 04:28] vinod-singh1 commented on #974
Can you please update on this?

[2020-07-03 04:30] vinod-singh1 commented on #970
@oldalton @antrix1989 any update on this please?

[2020-07-04 06:11] mitchdenny commented on #737
Following on what @bsiegel mentioned. I did some experiments building the various .framework files using xcodebuild and then creating the xcframework file. It all works fine with the code base as it stands at the moment. All that would be required is the addition of a Package.swift file to the repository that points to the location of that binary framework.

My suggestion would be that you add the

[2020-07-04 08:07] mitchdenny commented on #737
OK ... so using _Xcode 12 beta_ I was able to setup a build of the MSAL library as a binary framework, downloadable via Swift Package Manager. I built the .xcframework locally (just iOS and iOS simulator frameworks) and uploaded it to a GitHub release in my fork of the repo. I then created a ```Package.swift``` file which points to the release download location (and computed the checksum).

Once t

[2020-07-05 08:37] sxudan commented on #760
I am facing same error `Only one interactive session is allowed at a time.`
It occurs when the AD webview modal controller is cancelled through interactive drag down rather than pressing cancel button and afterward trying to login again

[2020-07-06 00:56] steveplatz opened #983 "Is it possible to use this library with the SwiftUI App Lifecycle?"
In Xcode 12, Apple introduced the SwiftUI App Lifecycle that uses an App protocol, instead of Scene or App delegates, when launching apps. Is it possible to use this library with the new way of creating SwiftUI-based apps?

[2020-07-06 13:13] smudireddy opened #985 "upn value not provided in MSALResult -> MSALAccount -> accountClaims even though the id/access token has the claim value"
MSAL Version : 1.1.5
iOS 13.5.1
Authenticator App used.

MSALIndividualClaimRequest *individualClaimRequestUPN = [[MSALIndividualClaimRequest alloc] initWithName:@"upn"]; individualClaimRequestUPN.additionalInfo = [MSALIndividualClaimRequestAdditionalInfo new];individualClaimRequestUPN.additionalInfo.essential = @(1);

[claimRequest requestClaim:individualClaimRequestUPN forTarget:MSALClaimsReques

[2020-07-07 04:40] mattvlas commented on #949
Hi Peter,

Thanks for trying to reproduce this.  We have found it very inconsistent, and is one of those issues that seems to be fixed with a device reboot with all other things being equal (so unlikely an issue with the request)

All devices experiencing this problem are macOS devices running Catalina.  On like models and OS versions, this won't be a problem, whereas on about 10% of devices it wi

[2020-07-07 18:41] vinod-singh1 commented on #974
How can we add keychain group as "com.microsoft.identity.universalstorage" in the project entitlements for CommandLine application in Mac?
Since in the Cocoa app there is an option "Keychain Groups" under Target's Signing & Capabilities -> Capability and we can add it from there.
But in CommandLine app there is no such option under Target's Signing & Capabilities -> Capability. Here it has only tw

[2020-07-07 22:34] rohitnarula7176 commented on #985
@smudireddy In order for this api to work, it requires 2 parts, first the name of the claim and next the target token for the claim.
 `
    __auto_type claimRequest = [[MSALIndividualClaimRequest alloc] initWithName:@"upn"];
    [claimsRequest requestClaim:claimRequest forTarget:MSALClaimsRequestTargetIdToken error:nil];`
Can you try with this updated code snippet to see if it resolves your issue.

[2020-07-07 22:38] rohitnarula7176 commented on #983
@steveplatz The library should work regardless as along on receiving the callback from native app, you invoke MSAL's api as follows:
`- (BOOL)application:(UIApplication *)app openURL:(NSURL *)url options:(NSDictionary<NSString *,id> *)options
{
    (void)app;
    (void)url;
    (void)options;
    NSLog(@"OpenURL Method! - MSALWebviewTypeSafariViewController");

    return [MSALPublicClientApplicat

[2020-07-08 00:23] NerevarineRule commented on #949
Hi Matt,

Thank you for your reply.

We are not actually registering any url schemes. We are simply calling those ASWebAuthenticationSession APIs (https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession/2990952-init). It appears to be an OS-related issue based on the information provided so far.
We would suggest that you consider filing a RADAR with Apple.

[2020-07-08 03:06] smudireddy commented on #985
Hi Rohit,
Thanks for the info. My code doing the second part. Updated my original comment.  We tried with both AccessToken and IDToken but non of the case MSAL giving the UPN value in the account claims of the result

[2020-07-08 03:13] smudireddy opened #987 "Microsoft Authenticator App always in "Shared Mode" on the device even after Shared Device Mode configuration removed"
Device OS : iOS 13.5.1
MSAL Version: 1.1.5

**Configuration:**
iOS13 - Removed shared device mode from SSO extension
Microsoft Authenticator App distributed with "Shared Mode" OFF.
Reinstalled couple of times from AppStore

![IMG_F71CCC673892-1](https://user-images.githubusercontent.com/13241928/86870850-c6526d80-c0f6-11ea-8007-78847e7148f6.jpeg)

![AA247A43-5F2A-44EA-B078-A7EFDD987F2B_1_105_c](ht

[2020-07-08 04:12] smudireddy opened #988 "ADAL (2.7.14) to MSAL (1.1.5) -> "accountForUsername" gives MSALAccount as nil"
MSAL 1.1.3
ADAL 2.7.14
OS : iOS 13.5.1

User signed in with ADAL 2.7.14. While upgrading the App to newer version with MSAL 1.1.5,  [publicClintApp accountForUsername:UserID]  returned nil. user signed-in with ADAL using the upn value of the user's account.

* ClientID and resource/scope were same pre and post upgrade. Working few times but most of the time result is nil.

Our old agent not persis

[2020-07-08 05:31] oldalton commented on #988
Thanks for this question. Can you do a couple of tests to help us understand what went wrong?

1. Query all accounts and see if ADAL account is present.
2. Instead of using accountForUsername API, query accounts with enumeration parameters, specifying upn as username, and set returnOnlySignedInAccounts as false: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALAccoun

[2020-07-08 05:32] oldalton commented on #985
Thanks for confirming. Can you also double check if you're getting any claims in tenantProfile of MSALResult?
https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALResult.html#/c:objc(cs)MSALResult(py)tenantProfile -> https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALTenantProfile.html#/c:objc(cs)MSALTenantProfile(py)claims

[2020-07-08 05:33] oldalton commented on #987
Thanks for reporting this, looks like a bug, but let us take a closer look.

[2020-07-08 10:46] steveplatz commented on #983
@rohitnarula7176 That part makes sense. Where I was having trouble is with the web view parameters

    auth.webViewParameters = MSALWebviewParameters(authPresentationViewController: ???)

No `UIHostingController` or other view controller is being created as part of the SwiftUI App lifecycle, so I'm sure what to pass to this constructor. I've tried specifying `MSALWebviewParameters(authPresentatio

[2020-07-10 11:10] vinod-singh1 opened #991 "Is there a way of caching tokens other than keychain in Mac OSX"
I am using MSAL Objective C framework to build an application for authentication and fetching tokens. This MSAL is doing Interactive and silent authentication based on authentication info is cached or not.
It is caching the authentication info in keychain on OSX.
Instead of storing it in keychain, Is there any API or some other way we can cache this authentication info either in file system or DB?

[2020-07-10 13:42] eRDe33 opened #992 "macOS: Acquire token opens multiple session windows"
Hello,

I am using the latest version of the MSAL library 1.1.5 on macOS Catalina 10.15.5.

I came across strange behavior when I am trying to acquire token. Calling function `acquireToken(with:, completionBlock:)` sometimes will cause the interactive session window to appear multiple times.

After investigation I discovered that this issue is affected by the current state of the Safari app. If th

[2020-07-10 20:13] antrix1989 commented on #970
You will need to create app delegate and start NSApplication. See an example [here](https://stackoverflow.com/questions/15957819/objective-c-how-to-make-gui-window-from-terminal-app/15958586).

[2020-07-11 19:44] #954 closed

[2020-07-11 19:44] #953 closed

[2020-07-12 12:54] vikashsonar commented on #974
How can we add keychain group as "com.microsoft.identity.universalstorage" in the project entitlements for CommandLine application in Mac?
Having above project entitlements in Cocoa application we could cache authentication result details in Keychain on 10.15.
However we are not sure how to do the same with CommanLine/Terminal application?

Can someone please help us here ASAP? This has hit us as

[2020-07-13 09:46] pavelreva1998 opened #994 "Authorization cycling for webviewType == .wkWebView/.safariViewController"
Hello,

I have authorization with MSAL within my project. The problem is the following, that it works fine with webviewType == .default, but it uses ASWebAuthenticationSession, which asks user permission for SSO, I don't have SSO and I just want to get rid of this prompt, the way I found is to set webviewType as wkWebView or safariViewController. But it seems, that, potentially, it requires some a

[2020-07-13 18:53] mipetriu commented on #994
If you set the `prefersEphemeralWebBrowserSession` to true when using ASWebAuthenticationSession, you should be able to skip the prompt. You can read more about the flag [here](https://developer.apple.com/documentation/authenticationservices/aswebauthenticationsession/3237231-prefersephemeralwebbrowsersessio?language=objc).

[2020-07-13 18:58] mipetriu commented on #991
Hi @vinod-singh1, we do not provide any other cache implementations besides the login and iCloud keychain.

[2020-07-14 05:28] mattvlas commented on #958
Apologies for the delay... Nothing special about the machine. iCloud is configured just like other machines and really there is nothing unique about it!  @oldalton I'm happy to run any CLI commands on the machine to better understand the state of the keychain if that would help?

[2020-07-14 06:07] rajesh-naik-by opened #998 "B2C token validation by msal libraby"
I have a generic question about token validation from msal library for objc, does msal library takes care of validating below attributes from the token? or is it a responsibility of consumer to validate the token?

- Signature
- exp
- nbf
- iss
- aud

[2020-07-14 07:32] pavelreva1998 commented on #994
Thanks a lot, it works flowless, but we can use this property only from iOS 13, what about lower iOS versions?

[2020-07-14 07:34] pavelreva1998 commented on #994
And what if we really want to use wkWebView, I know that it's not recommended, but we have this opportunity, so why does it cycle the authorization process?

[2020-07-14 11:36] pavelreva1998 commented on #994
wkWebView works for iOS 12, so, it can be closed, please, correct me if I'm wrong somewhere in my thoughts

[2020-07-14 12:23] vinod-singh1 commented on #991
On Mac 10.15 the keychain entries are created under "Local Items" not under login and their access control is non editable. Since we want to add ACL's for keychain and we can't due to this.

How we can create keychain entries under login/iCloud?

Thanks!!!

[2020-07-14 16:04] kaisong1990 commented on #983
Hi @steveplatz:

Instead of using MSAL directly in View, I would suggest creating a new viewController and add the UIHostingController which hosts your SwiftUI view as a child of the viewController you created. In that way you can still use the SwiftUI to render all UI while the new viewController may handle MSAL related code

[2020-07-14 16:11] steveplatz commented on #983
That makes sense. So, there’s no way to keep everything 100% SwiftUI when using this library right now?

[2020-07-14 16:40] kaisong1990 commented on #983
@steveplatz Not at this moment, but we may support it naturally in the future. Please keep MSAL up-to-date :)

[2020-07-14 17:59] steveplatz commented on #983
Thanks for the clarification! I appreciate your help on this.

[2020-07-16 01:16] NerevarineRule commented on #961
Hi @arangato,

Thank you for sharing this with us.

The next MSAL release will have the following options enabled by default:
CLANG_ANALYZER_LOCALIZABILITY_NONLOCALIZED,
CLANG_WARN_DEPRECATED_OBJC_IMPLEMENTATIONS,
CLANG_WARN_OBJC_IMPLICIT_RETAIN_SELF.

However, enabling "ENABLE_HARDENED_RUNTIME" breaks MSAL iOS app, and, for that reason, we will keep it disabled for the time being.

Do you have sp

[2020-07-16 07:26] barakwei commented on #961
@NerevarineRule thanks! Will the IdentityCore library get the same fixes?

[2020-07-16 12:26] AbhishekVashisth commented on #664
Hi scordonnier,

Could you please elaborate what exactly to did as I am facing the same issue.
I am trying with these scopes ["calendars.read calendars.readwrite offline_access user.readbasic.all openid"]. and facing same issue.

[2020-07-16 21:15] guidedways opened #1002 "Library fails to authenticate after some time"
We've got a number of Office 365 users that have reported that they're able to login and sync just fine initially. Then after a while, the sync stops working. Inspecting their logs presented this:

[code]

Not sure what we need to do at our end? We're using the latest version of MSAL.

[2020-07-17 06:45] #962 closed

[2020-07-17 20:44] kaisong1990 commented on #992
@eRDe33

Thanks for your posting. We were trying to reproduce the issue and it did happen occasionally. We have filed a bug to Apple.

If this blocks your current task, there is a workaround and  to use WKWebView instead:

   ``` webviewParameters.webviewType = MSALWebviewTypeWKWebView;```

We will post update here once we hear from Apple

[2020-07-17 22:26] mipetriu commented on #961
Yes, we will make the same changes in IdentityCore.

[2020-07-17 22:27] #983 closed

[2020-07-17 22:32] mipetriu commented on #991
Starting in 10.15, Apple introducted iCloud keychain saving on Mac. With this change, our library does not fall back to login keychain for 10.15 and above. You can read more about this [here.](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-v2-keychain-objc?tabs=objc#macos)

[2020-07-17 22:34] mipetriu commented on #994
I'm glad it works! Let us know if you have any further questions.

[2020-07-17 22:34] #994 closed

[2020-07-17 22:37] mipetriu commented on #998
It is the responsibility of the resource to validate the token, not the client. More information about this is linked [here](https://docs.microsoft.com/en-us/azure/active-directory-b2c/tokens-overview#validation).

[2020-07-17 22:54] psignoret commented on #979
@jasminppiri Each organization can change whether users are allowed to consent, and can set a policy to limit/control which permissions and which apps users can consent to.  In your case, the user you are testing with is not allowed to consent to one or more of the permissions your app requires. probably because the user's organization has disabled user consent entirely, or has limited user consen

[2020-07-20 06:08] ashishLanghe-iOS commented on #698
I'm unable to resolve this issue. Please help me.

I'm trying to implement this, still unable to get success.

Please let me know which branch I should try to implement?

My System Configuration :

  - Mac OS    : macOS High Sierra
  - XCode Ver : Version 10.1 (10B61)

I'm getting following issues :
[code]
Apart from this, I'm trying to trust SSL pinning certificate...but still it gives me same is

[2020-07-20 08:52] vinod-singh1 commented on #992
@kaisong1990
I have also observed the similar issue with latest version 1.1.5 of MSAL Objective C library. Is it Ok to use the other view type "WKWebView" as suggested by you.
I mean does all the functionality will be supported with this view type as well?

[2020-07-20 14:19] ashishLanghe-iOS commented on #979
Hi @oldalton

I'm not able to execute MSAL SDK. I'm getting below mentioned issue while redirecting to SignIn.

My System Configuration :*

Mac OS : macOS High Sierra
XCode Ver : Version 10.1 (10B61)

**Issue :**

[code]
Please help me to resolve this issue.

[2020-07-20 14:24] ashishLanghe-iOS opened #1005 "-canOpenURL: failed for URL: "msauthv2://broker" on XCode Version - 10.1 & Mac OS : macOS High Sierra"
@oldalton @rohitnarula7176 @unpluggedk @jasoncoolmax @antrix1989 @RPangrle

 I'm not able to execute MSAL SDK. I'm getting below mentioned issue while redirecting to SignIn.

**My System Configuration :**

Mac OS : macOS High Sierra
XCode Ver : Version 10.1 (10B61)

**Issue :**
[code]
Please help me to resolve this issue.

[2020-07-20 17:10] oldalton commented on #1005
Please try following:
1. Make sure you add msauthv2 and msauthv3 to your Info.plist as described here: https://github.com/AzureAD/microsoft-authentication-library-for-objc#ios-only-steps
2. We don't support Xcode 10 anymore, please try with Xcode 11
3. It looks like there's a network issue with your app. Please make sure your app and device are configured to make external network requests.

[2020-07-21 06:19] ashishLanghe-iOS commented on #1005
Thank You @oldalton for your immediate update on my query.

[2020-07-21 07:36] ashishLanghe-iOS commented on #1005
1. As you mentioned in 1st point, I've added msauthv2 and msauthv3 to Info.plist.
2. Thank You, I'll update my XCode with version 11.
3. I'm running my app, on supervised device with MDM, for this at run-time I'm getting SSL issue too.

Thank You @oldalton for your immediate update on my query.

[2020-07-21 22:38] jasoncoolmax commented on #992
Hi @vinod-singh1, system webview and embedded webview both have pros and cons. There are many discussions going on regarding that. That's the reason why we provides both options to developers. For embedded webview, it won't share cookies with any other browser/webview in the device. So you may loose some SSO opportunities comparing to system webview. However, it has better support for some advance

[2020-07-22 06:49] vinod-singh1 opened #1010 "Can we make the call for acquireTokenSilentWithParameters without creating NSApplication instance"
I am using MSAL objective C lib to fetch the tokens. For interactive authentication I am creating the NSApplication instance and within its run loop itself I am making the call of "[application acquireTokenWithParameters:interactiveParams completionBlock:completionBlock];" and it is working. Then the subsequent calls doesn't actually requires the interactive authentication and it should get silent

[2020-07-22 10:39] pavelreva1998 opened #1012 "How to identify proper reason of MSALErrorUserCanceled"
Hi,
We are using iOS and MSAL library for authorization, I've identified that in the list of errors we have MSALErrorUserCanceled, this one can be triggered(at least) for signIn&up flow, when the user cancels the flow actively by profession the button "Cancel" or when "forgot password" button was clicked or when the user clicks cancel on sign up page.

The difference in the errors is in the code,

[2020-07-24 06:00] jasoncoolmax commented on #1002
@guidedways I have taken a look at the server logs, the error happens when MSAL sends a refersh token to server. Seems it is because device authentication is required by server while the macOS machine is not MDMed.

However, you mention the app could work fine initially but not some time later. I am wondering what scopes your app is trying to access. It will be helpful If you could provide me the

[2020-07-24 06:05] smudireddy opened #1015 "MSAL SDK interface enhancement to take the application downloaded user identity certificate to handle Sign-In request"
**Requirement**:

When device not managed by MDM solution or downloaded certificate is not exposed, if an application want to securely use the downloaded user-identity certificate from it's known server to use in handling the authentication challenges through MSAL in an embedded WebView provided by MSAL.  The sign-in request handled inside the app and certificate not exposed to any other apps. Int

[2020-07-24 06:20] smudireddy opened #1016 "Managed configuration enhancement pushed to Authenticator app to ignore/invalidate the authentication tokens exist"
Requirement: In MDM world app will be removed from devices in certain cases and expect the persisted auth context to be removed along with it. Authenticator app persist sign-in context data in key-chain that will expose the sign-in context when Authenticator app re-installed, it will allow to use the previous context with out forcing the Auth. This behavior is fine from SSO point of view but from

[2020-07-24 06:37] jasoncoolmax commented on #1010
When you create an macOS app XCode project, NSApplication is created automatically for you in `main.m`. May I know why you need to create NSApplication manually?

BTW, there is a mac sample code [here](https://github.com/Azure-Samples/ms-identity-macOS-swift-objc), which you can see if it helps.

[2020-07-24 06:46] vinod-singh1 commented on #1010
hi @jasoncoolmax, Thanks for the update!
Actually I am trying to make the silent call from mac CommandLine tool, it is not an Xcode cocoa app. In command line tool there is no NSApplication by default so I need to explicitly create it.
But I wanted to know if we can make the silent call without creating NSApplication in the CommandLine tool and fetch the tokens?

[2020-07-24 06:49] jasoncoolmax commented on #1012
Hi @pavelreva1998 , user could have different ways to cancel the flow. If you don't see `MSALErrorDescriptionKey` in error's `userInfo`, it means user clicks the cancel button on the webview navigation bar. If you see `MSALErrorDescriptionKey` in error's `userInfo`, it means user clicks something in the web page to cancel the flow. Detailed reason needs to be found from the `MSALErrorDescriptionKe

[2020-07-24 06:55] pavelreva1998 commented on #1012
Thanks for your answer, @jasoncoolmax, I know it. My question was about codes on `userInfo`. Can I identify the reason via the codes, like AADB2C90118 for forgot password or it would be wrong way?

[2020-07-24 07:19] pavelreva1998 commented on #1012
The reason why I need it, the string in `userInfo` is not localized and user-friendly, so when I catch the error, I need to do something(like start forgot password flow) or show the user what was wrong(localized, user-friendly message)

[2020-07-24 22:26] jasoncoolmax commented on #1012
Hi @pavelreva1998 , yes, you can identify the reason via the codes. Please refer the following documentation regarding B2C error codes: https://docs.microsoft.com/en-us/azure/active-directory-b2c/error-codes

[2020-07-24 22:32] jasoncoolmax commented on #1010
Hi @vinod-singh1 , is it possible to provide the MSAL logs such that I can take a deeper look?

[2020-07-24 22:34] jasoncoolmax commented on #1016
Thank you for the suggestion. We will take a look at the request.

[2020-07-24 22:38] jasoncoolmax commented on #1015
Thank you for the suggestion. We will take a look at it.

[2020-07-25 01:51] #928 closed

[2020-07-25 10:03] pavelreva1998 commented on #1012
Breathtaking, thanks a lot, that's exactly what I need

[2020-07-25 10:03] #1012 closed

[2020-07-28 21:00] jasoncoolmax opened #1020 "Include redirect uri when redeeming RT at token endpoint"
Currently we don't include redirect uri when we hit token endpoint to redeem a refresh token. It might be related to [this issue](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1002).

[2020-07-28 21:35] oldalton commented on #958
@mattvlas, to follow up on this one, could you take a look at following questions.
Since we don't have a way to reproduce it, we would like to understand if certain scenarios are applicable.

- Could it be that machine is locked at the time when this issue is reproducing?
- Could it be happening after a local machine's password change?
- Are those machines bound to AD?

[2020-07-30 10:38] odarynakorolevych opened #1023 "The user can close the webview and cannot login after that"
Hi everyone,
We noticed in the release of MSAL (1.1.2) the issue, that user is able to swipe down the webView (we are using ASWebAuthenticationSession). If he/she wants to login again 'Only one interactive session is allowed at a time' error is received. So first issue is that we don't receive any callback with error from you, when the user swiped down webView. Second issue (more major) is that lo

[2020-07-30 19:20] jasoncoolmax commented on #1002
Hi @guidedways, after second look, we find that the reason you got the error is because server thought your application was a confidential client. To get away from the issue, you might want to flip the following switch to YES (locate it by going to Azure Portal -> go to your registered application -> go to Authentication):

<img width="704" alt="Screen Shot 2020-07-30 at 12 14 17 PM" src="https://

[2020-07-30 20:06] BenLeggiero opened #1026 "Documentation typo: gauranteed"
This typo occurs 8 times in documentation:

https://github.com/AzureAD/microsoft-authentication-library-for-objc/search?q=gauranteed&unscoped_q=gauranteed

[2020-07-30 22:32] mattvlas commented on #958
We're now pretty sure something is seriously wrong with that individual device, and after pushing to another hundred or so machines, we haven't seen this issue again.  I think we can chalk it up to a faulty user account on that macOS machine...

We tried things like default keychain resets and the like to no avail.

We are testing with another user account, but waiting for the user to come back.

[2020-07-30 22:32] #958 closed

[2020-07-31 14:03] ws752958369 opened #1028 "How can i Customize the authenticate name？"
Phenomenon:
When I use MSAL to trigger single sign-on, the App will pop up an alert box asking "xxx" to visit "microsoftonline.com".
Question:
1.How is The "xxx"  defined by the MSAL SDK ?
2.How can i rename the "xxx" ?
Attached is the screenshot part，please help me . Thank you.
![ACFCF690-ACCB-4062-8387-A000784585D0](https://user-images.githubusercontent.com/15607355/89042555-ae7aac00-d379-11ea-9

[2020-07-31 17:31] rohitnarula7176 commented on #974
@vikashsonar  You cannot add keychain group entitlements in command line app on Mac. Entitlements file is placed into application' bundle, but if command-line tool is created, it will be compiled into single executable Mac OS X file, and bundle will not be created. As an alternative approach You can try to embed this entitlement.file into binary itself. We have not tried this approach but here is

[2020-07-31 21:43] oldalton commented on #1028
MSAL uses ASWebAuthenticationSession. This alert is shown by iOS and name is determined based on your application's Info.plist.

[2020-07-31 21:47] oldalton commented on #964
@ws752958369, was the issue resolved for you with the Intune SDK update? Thanks.

[2020-08-03 03:18] hieunguyenmsft commented on #1026
Hi @BenLeggiero, thank you for reporting these typos. I will fix soon.

[2020-08-03 03:46] hieunguyenmsft commented on #1023
Hi @odarynakorolevych, thanks for reporting this bug. I verify that I can reproduce the bug in both 1.1.2 and 1.1.7.
I will look into that and update you on the result.

[2020-08-03 08:12] Shayila opened #1037 "Which version is suitable for Production use?"
Want to know, In iOS what version of MSAL B2C can be for production use?

[2020-08-03 09:05] ShilpaGavade opened #1038 "MSAL Sign out error"
I am using MSAL with intune. Initially sign in and sign out flow was working correctly with MSAL but now, after enabling intune policies, PIN view controller is getting presented at the launch of application, from here I am able to sign in successfully but later when I try to sign out, getting error.

MSALCorrelationIDKey = "-------------ID comes here-------------";
MSALErrorDescriptionKey = "pare

[2020-08-03 09:06] ShilpaGavade commented on #1038
Intune sdk version: 6.0.5
MSAL Library version : 1.1.5

[2020-08-03 09:10] MirceaX2Mobile opened #1039 "MSAL Build Failed Task failed with exit code 65"
Hello! After the last commit (2 days ago) on **master**: Merge pull request #1034 from AzureAD/hotfix/1.1.7 I'm getting:
Building scheme "MSAL (Mac Framework)" in MSAL.xcworkspace
Build Failed
	Task failed with exit code 65:
**This usually indicates that project itself failed to compile**

I tried removing the the Carthage folder and run update again,  but it doesn't work. I tried removing the der

[2020-08-03 13:32] wvezey commented on #935
Getting the same issue when using MSAL as a pod. Are you saying that we have to git this, and embed it as a framework?

[2020-08-03 18:25] #991 closed

[2020-08-03 19:25] oldalton commented on #1037
We always recommend to use the latest MSAL version and update regularly. It is suitable for production use.

[2020-08-03 19:25] #1037 closed

[2020-08-03 19:27] oldalton commented on #1038
Can you please make sure that the parentViewController that you're passing to MSAL is valid, retained and has a window: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALWebviewParameters.html#/c:objc(cs)MSALWebviewParameters(py)parentViewController

[2020-08-03 21:06] hieunguyenmsft commented on #1039
Hi @MirceaX2Mobile, thanks for reporting the issue.
I just tried to create a test Mac App with Carthage, MSAL pointing to the 'master' branch and didn't get any issue. Could you share your current build setting and your Carthage file?

[2020-08-04 06:42] MirceaX2Mobile commented on #1039
I'm having trouble with an iOS app, not with a Mac App. I don't know why the error comes from MSAL/src/util/mac/. What build settings do you need?

Cartfile:
github "AzureAD/microsoft-authentication-library-for-objc" "master"
github "box/box-ios-sdk"

[2020-08-04 11:02] ShilpaGavade commented on #1038
Thanks for your comment, I am not retaining view, it is my login view controller and it is getting dismiss after successful MSAL Authentication.
Logout option is inside the application

[2020-08-04 12:29] ShilpaGavade commented on #1038
Also, this issue is coming on ios 13

[2020-08-04 22:24] antrix1989 commented on #1038
@ShilpaGavade, you need to pass parentViewController to MSAL to solve this issue. You can pass your current view controller.

[2020-08-04 22:29] antrix1989 commented on #1005
@ashishLanghe-iOS do you still have this issue in Xcode 11?

[2020-08-04 22:31] #1039 closed

[2020-08-04 22:34] #998 closed

[2020-08-04 23:02] #1028 closed

[2020-08-05 01:41] #949 closed

[2020-08-05 03:47] mattvlas commented on #992
@kaisong1990 any updates from Apple on this issue?

[2020-08-05 06:25] ShilpaGavade commented on #1038
@antrix1989 : Yes, currently did the same thing, passing current viewController as parentViewController and it resolved the issue. Thanks a lot.
Also I am having some questions related to MSAL and intune which we are facing now,  sorry for asking in same thread,
1) MSAL opens Azure login page in safari browser internally, if we want to open it in edge browser then is it possible? How it works?
2)

[2020-08-05 09:46] #988 closed

[2020-08-05 09:50] sahil-75 commented on #935
Hi @oldalton , we're facing the same issue. We tried `git submodule update`, but it doesn't seem to do anything. Could you help us understand how to resolve this?

[2020-08-05 13:44] wvezey commented on #935
We are in a similar boat. I removed the MDAL pod from the podfile, and am no longer getting this build error, but i have not attempted to publish to the Intune company portal. We shall see.

[2020-08-05 15:39] wvezey opened #1041 "MSALWebviewParameters: windowed parentViewController not required, despite thrown error?"
MSAL 1.1.7
iOS 13+
Xcode 11.6
Sim iPhone XR (13.4)

Using https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc as a reference, we are developing a POC for Azure App Proxy for our existing internal iOS app. Currently we use an OAuth2 authentication flow with our SSO server. Rather than execute the authentication flow from a view controller, we have abstracted all things authenticati

[2020-08-05 15:51] kaisong1990 commented on #992
@mattvlas Thanks for following up. Apple requested for more information, and we provided early this week. Will update in this thread once we get more from Apple side.

[2020-08-05 17:04] oldalton commented on #935
We have instructions depending on your way of installing MSAL here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/wiki/Installation

If you're still experiencing the issue after following the steps in the Wiki page, please post your Podfile here.

[2020-08-05 17:09] oldalton commented on #1041
Thanks for looking into this. ASWebAuthenticationSession does require a windowed controller because we need to provide a valid window to this required callback: https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/blob/350409ef9ae2563652cd5faad0168a60c388c78a/IdentityCore/src/webview/systemWebview/session/MSIDASWebAuthenticationSessionHandler.m#L139

Depending on your modifi

[2020-08-05 17:36] wvezey commented on #1041
Olga, thank you for your thorough reply. I will probably just draw a crayon window and fax it into the app. This approach has worked well in the past. It sure beats writing code.

Closing this issue.

[2020-08-05 17:36] #1041 closed

[2020-08-06 05:44] ws752958369 commented on #1028
@oldalton  Thank you so much.,i have solved this problem.

[2020-08-06 12:32] rahulcode opened #1044 "Authenticator App not able to register the Device for workplace Join to AAD."
Microsoft Authenticator Production App.

Setup :
ADFS user

Scenario :
Registering the device from the Microsoft Authenticator App.

Behavior Noticed :

1) ADFS user login works properly from Safari. ( Safari prompts 1 time on device to accept the risk and continue.)
The user is able to login and access the resource like outlook.

**Issue**
If we try to register the device using Microsoft authenti

[2020-08-08 01:47] #970 closed

[2020-08-10 15:10] RegisStGelais opened #1050 "MSAL on iOS 9.3 ?"
I need to keep the compatibility of my app to as low as iOS 9.3

Is it possible to to use MSAL on iOS 9.3 ?

[2020-08-10 15:45] RegisStGelais commented on #1050
I would not mind to only enable MSAL if running on iOS 10 and +
I want to use the graph APIs to add OneDrive access to my app but it would be ok to not have OneDrive access if the user device is running iOS less than iOS 10.
Is that possible ?

[2020-08-10 19:12] kaisong1990 commented on #908
@oldalton can we close this issue?

[2020-08-10 19:20] #908 closed

[2020-08-10 19:21] oldalton commented on #1050
We support iOS 11+ at this moment.

[2020-08-10 19:29] RegisStGelais commented on #1050
Is it possible to build an app that will support MSAL if on the proper version of iOS but still run on older iOS versions without the MSAL capabilities?

When I try to install an app with the MSAL library included, I get a dyld error even if my code calls nothing from the library.

[2020-08-11 20:54] sharjeelahmed opened #1053 "Issue with signout"
my app has a loginController from which user can login through MSAL . its working fine and if i perform logout on same controller i.e loginController the signout works perfectly(no webview form is presented) and on just a button click user is successfully sign out from MSAL .
but in my case i have to do sign out from other controller i.e homeController i put the same code for sign out on home cont

[2020-08-11 22:41] rohitnarula7176 commented on #1050
@RegisStGelais You would get compile time errors if MSAL uses api's that are targeted for iOS 11+ even if you don't call any of its functions. Is that what you are seeing or are you experiencing linking errors.

[2020-08-11 22:43] rohitnarula7176 commented on #1044
@rahulcode Can you try the same flow after disabling your vpn. There might be a proxy causing network issues.

[2020-08-12 14:18] rahulcode commented on #1044
Hi @rohitnarula7176

For our setup to connect to our ADFS authentication Page we need VPN on our device.

From Safari, the same login workflow works absolutely fine and loads the ADFS login page after redirection.
Authentication also succeeds.

But trying the same with Authenticator App suddenly gives the issue.

`), NSErrorFailingURLStringKey=https://adfsf21.forest21.fiberlinkqa.local/adfs/ls/?lo

[2020-08-13 07:13] ShilpaGavade commented on #1038
Can I get any help regarding point no. 3?

[2020-08-14 22:28] mipetriu commented on #1038
@ShilpaGavade We don't support Edge in MSAL, only Safari and embedded webview are supported. Unfortunately we also don't support SAML tokens in MSAL. Microsoft recommends to use OAuth2 and OpenID Connect.

[2020-08-14 22:40] mipetriu commented on #1044
@rahulcode Unfortunately invalid certificates are not supported by Authenticator, so you will not be able to accept the risk and continue.

[2020-08-17 16:38] #979 closed

[2020-08-21 02:23] guidedways commented on #1002
@jasoncoolmax Thanks for this - no luck. The custom reported that they required authentication again even after we made the change. This is what the user shared with us:

[code]

[2020-08-24 12:24] rahulcode commented on #985
Hi @oldalton

Rahul here from Suresh's team.

**Code:**
` MSALIndividualClaimRequest *individualClaimRequestUPN = [[MSALIndividualClaimRequest alloc] initWithName:@"upn"];
    individualClaimRequestUPN.additionalInfo = [MSALIndividualClaimRequestAdditionalInfo new];
    individualClaimRequestUPN.additionalInfo.essential = @(1);`

Printing description of authResult->_tenantProfile->_claims:
`
{

[2020-08-24 20:03] eltonjhony opened #1061 "Crashes on didReceiveAuthenticationChallenge callback"
Hi guys,

I hope you are doing well!

We're using MSAL to login our users on Azure B2C and just after we deploy the code to production we start seeing a lot of crashes (1.715) on Crashlytics that apparently happens inside the MSAL lib. Take a look at the stacktrace:

`Fatal Exception: NSInvalidArgumentException
0  CoreFoundation                 0x1f60f3180 __exceptionPreprocess
1  libobjc.A.dylib

[2020-08-25 19:51] wilmerlm11 commented on #1061
Hi @oldalton @jasoncoolmax !
Is that something you could help us to address please?
We have many crash reports coming from our customers (and Crashlytics) and it's harshly affecting our business.
Thanks!

[2020-08-25 22:28] kaisong1990 commented on #1061
@eltonjhony @wilmerlm11 Thanks for reporting this issue, is there a way to repro this issue or if we can get some clients' logs (MSAL logs) would be helpful.

Here is the [link](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging?tabs=dotnet#logging-in-msal-for-ios-and-macos) for collecting logs

[2020-08-26 14:27] eltonjhony commented on #1061
Hi @kaisong1990

Thanks for your response!

We are currently investigating another possible cause related to the interaction of the NewRelic agent with our WebViews.
Let's put this issue on hold until we get the confirmation that the issue is on NewRelic.

I'll get back to you as soon we finish this investigation.
Thanks!

[2020-08-27 14:09] ralexandre-ciandt opened #1066 "Problem to open telephone in a journey"
Hello!

We have a journey with a "support telephone" number in it. It's a link and we are trying to make it open the dialer in the device when clicked by the user. It does work if we open the journey on Chrome, but is there a way we could achieve it in the app that is implementing MSAL?

Currently, we are getting this error from MSAL:

`Could not acquire token: Error Domain=MSALErrorDomain Code=-5