[2021-05-10 10:37] joeypatino commented on #1284
Hi Peter,
Alright. I will follow up with the Intune SDK team.

Thanks,

[2021-05-12 14:52] Joshua-Newar opened #1301 "App rejection because of App Tracking Transparency (ATT)"
Our app got rejected because in iOS14.5 the MSAL lib throws a ATT alert but when the user selects not to be tracked, the user is not signed in. In fact, the user us brought back to the same screen where he is presented with the alert again if he wants to login. Thus Apple says we are forcing the user to allow tracking. Since this is happening in the MSAL library we don't know how to change this. W

[2021-05-12 14:54] Joshua-Newar commented on #1301
In addition we also tried to setup ATT for the whole app but even when ATT is allowed for the app, the MSAL still pops up its own alert (so using ATT for the whole app didn't bring us any further).

[2021-05-12 19:36] hkozlovskyi commented on #1275
Hi guys,
I'm receiving the same one issue with MSAL.
Scopes: ["email", "api://xxxxx/xxxx"]

Response:
` Optional<Error>
  - some : Error Domain=MSALErrorDomain Code=-50003 "(null)" UserInfo={MSALDeclinedScopesKey=(
    email
), MSALGrantedScopesKey=(
    "api://4be2591c-1ade-4486-bf6e-41c817a9ea3c/access_as_user"
), MSALErrorDescriptionKey=Server returned less scopes than requested, MSALCorrelatio

[2021-05-12 20:18] hkozlovskyi commented on #1275
Hi,
Receiving the same issue when I'm trying to combine scopes.
["API scope"] - works
["email", "API scope"] - doesn't works

Could you assist with that?
The error which I received said that "Server returned less scopes than requested" and MSALGrantedScopesKey = ["API scope"]

Thanks

[2021-05-12 20:42] hieunguyenmsft commented on #1275
Sure @hkozlovskyi I'm happy to help. Could you please clarify your current setup:
- Which version MSAL are you using.
- MSAL log file, if possible? Please follow this [link](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging-ios?tabs=objc) for more info how to collect log.
thank you.

[2021-05-12 20:46] hieunguyenmsft commented on #1301
Thank you @Joshua-Newar and we are sorry to hear that. To be honest, Application rejected by ATT is new to me. Would you mind to share the reject message from Apple?
Thank you

[2021-05-12 20:52] hkozlovskyi commented on #1275
Hi @hieunguyenmsft
Sure, here is
- MSAL version 1.1.17

`MSAL log: TID=2529955 MSAL 1.1.17 iOS 14.5.1 [2021-05-12 20:47:21] Requiring default broker type due to app being built with iOS 13 SDK
MSAL log: TID=2529955 MSAL 1.1.17 iOS 14.5.1 [2021-05-12 20:47:21 - B1EF3419-09C6-4EA2-8797-99A09ED4A90E] [MSAL] -[MSALPublicClientApplication acquireTokenWithParameters:(
    email,
    "api://**********/ac

[2021-05-12 20:52] hieunguyenmsft commented on #1284
As the issue is forwared to Intune team, I close this ticket here. Feel free to re-open it.

[2021-05-12 20:54] Joshua-Newar commented on #1301
Hi,

I think that Apple just started to enforce ATT on app submissions.

So what happens is if you click Don’t Allow for the tracking, you just go back to the sign in screen.
This means you are forced to click Allow if you want to sign in.

This is the message we received from Apple and the 2 screenshots they attached:

From Apple
Guideline 2.1 - Performance - App Completeness

We discovered one o

[2021-05-12 21:17] hieunguyenmsft commented on #1301
Thank you, I will try to repro the bug on my side and keep you posted.

[2021-05-12 22:00] Joshua-Newar commented on #1301
FYI
You will need at least iOS 14.5 and a real device.
The simulator doesn’t seem to show the alert.
Also for some reason once you are past the Sign In with MSAL, the alert is never shown again.
I had to fully reset my iPad mini to get the alert back.

Thanks for looking into this.

[2021-05-14 16:08] br-earl-gaspard opened #1302 "MSIDLogger format string passing"
In MSIDLogger.m lines 130-154, it is possible to control the format string argument passed in which can allow an attack much like a buffer overflow.
[code]
A better approach is to pass static format strings that accept a format string argument. The number of formatting directives in the format string should correspond to the number of arguments to be formatted.

[2021-05-14 16:37] br-earl-gaspard opened #1303 "MSIDOAuth2EmbeddedWebviewController may allow forged log entries"
In MSIDOAuth2EmbeddedWebviewController.m lines 255-259, it looks like it is possible for someone to forge log entries or inject malicious content into the log because a part of the `requestURL` is being written to the log which later happens in MSIDLogger.
[code]
Is this something that can be fixed?

[2021-05-14 16:51] hieunguyenmsft commented on #1275
Hi @hkozlovskyi, I checked with our server team and the problem is in the scope content {email, "api://**********/access_as_user"}.
 One token can only be issued to one audience. In this case we have 'email' audience is MS Graph, and your customized scope "api://**********/access_as_user" is for your API, so the token returned from server contains less scope than in the request.
In this case, you

[2021-05-14 16:51] #1275 closed

[2021-05-14 18:18] hkozlovskyi commented on #1275
Hi @hieunguyenmsft
Thanks for the answer. But the problem that I need to provide access for the API scope and also receive token which will include email, based on your answer it looks like that I'm unable to do that. Is there any other way to do that? Maybe you could help with that question.
As for now, as a workaround, I'm asking the user two times to acquireToken with different scopes, one with

[2021-05-14 20:09] hieunguyenmsft commented on #1275
As far as I know, there is no workaround for that. I'm not sure if server has the plan to support multiple audiences from one token in the future. If any news, I will update you via this ticket :)

[2021-05-14 20:24] ameyapat commented on #1275
@hkozlovskyi Maybe you can add email as an optional scope to idToken : https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-optional-claims#configuring-optional-claims

[2021-05-14 20:26] hkozlovskyi commented on #1275
@hieunguyenmsft thanks for your help.

@ameyapat will try, thank you!

[2021-05-17 16:29] hieunguyenmsft commented on #1301
@Joshua-Newar: Hi I checked with my team and this bug is already reported to Apple. They will provide a fix for that in the next OS release (14.6). They also have a RADAR/feedback item to track on that, once I got the link I will share you.
About your app rejection, I think you can forward that information to them to get it back to the store, your app did nothing wron.

[2021-05-17 16:33] hieunguyenmsft commented on #1299
Thank you for the suggestion. I will look into that.

[2021-05-17 16:34] Joshua-Newar commented on #1301
Thanks for your message.

Please forward me the link.
In the mean time we did manage to get the app approved by using a custom web view but the screens differ because there is no bar on top and bottom for navigation and to cancel the request. So we added a button to leave the authentication view. This is not a nice option. Also there are some white screens with this custom web view sometimes. At l

[2021-05-17 16:42] hieunguyenmsft commented on #1303
Hi @br-earl-gaspard , thank you for reporting this finding.
I haven't understood the attack yet, would you please elaborate on the harmful activity here? MSAL is an open-source library, so anyone can customize it and print out the information they want.
Thank you.

[2021-05-17 16:53] br-earl-gaspard opened #1304 "MSIDDevicePopManager could be writing unvalidated input into JSON"
In MSIDDevicePopManager.m line 149, it is possible this call could be writing unvalidated input into JSON. This could allow injection of arbitrary elements or attributes into the JSON entity.
[code]

The JSON injection occurs from two places:
1. in MSIDAssymetricKeyPair.m at line 95
[code]

2. in MSIDDevicePopManager.m at line 149
[code]

Can someone verify if this is something that could happen o

[2021-05-18 16:46] hieunguyenmsft commented on #1301
Hi @Joshua-Newar , this is the information I got from my team:

Hope it will help your app get approval back to the store.
Thank you.

[2021-05-18 16:46] #1301 closed

[2021-05-18 16:57] Joshua-Newar commented on #1301
Thanks for helping out.

Let’s see what Apple says.

[2021-05-18 19:57] br-earl-gaspard opened #1306 "Better Keychain Protection in MSIDKeychainUtil"
In `MSIDKeychainUtil.m` line 104, the `kSecAttrAccessible` key is set to `kSecAttrAccessibleAlways` for non Catalyst apps.
[code]

Using `kSecAttrAccessibleAlways` allows data in the Keychain item to always be accessed regardless of whether the device is locked. Furthermore, using `kSecAttrAccessibleAlways` results in encryption using a key derived solely based on the device’s UID. This leaves fil

[2021-05-18 22:53] hieunguyenmsft commented on #1299
Hi @br-earl-gaspard, this is a public API and changing it will break other applications so we prefer not to do that.
Thank you.

[2021-05-18 22:53] #1299 closed

[2021-05-18 23:02] hieunguyenmsft commented on #1139
The community already provides the workaround, thank you @br-johndavis and @cdescours-amaris for providing it.
We'd rather wait for the official fix from Apple.
Thanks,

[2021-05-18 23:02] #1139 closed

[2021-05-20 12:06] tobihagemann opened #1308 "Initialize `MSALPublicClientApplication` with refresh token"
In our project, we're looking for a way to run automated integration tests via CI. And MSAL is kind of a culprit in our endeavors right now but maybe we've overlooked something.

Is it possible to initialize a `MSALPublicClientApplication` instance with refresh tokens directly? Especially, without having to go through UI workflows and without having to use the keychain.

We actually found a workar

[2021-05-20 15:31] tobihagemann commented on #1308
Another idea just sparked by not using MSAL at all and instead get [an access token from a refresh token](https://docs.microsoft.com/en-us/graph/auth-v2-user#5-use-the-refresh-token-to-get-a-new-access-token) ourselves via URLSession. This seems to work for us, consider this resolved.

[2021-05-20 15:31] #1308 closed

[2021-05-21 05:27] chennaranganath965 commented on #1109
after adding this method on app delegate ,it's working fine.

func application(_ app: UIApplication, open url: URL, options: [UIApplication.OpenURLOptionsKey : Any] = [:]) -> Bool {

	return MSALPublicClientApplication.handleMSALResponse(url, sourceApplication: options[UIApplication.OpenURLOptionsKey.sourceApplication] as? String)
}

[2021-05-21 15:37] br-earl-gaspard commented on #1299
I respectfully disagree with the answer on two counts.
1. APIs are expected to introduce breaking changes from time to time. If they are not than they are not evolving and improving. [Semantic versioning](https://semver.org/) is a way to account for introducing incompatible API changes.
2. The changes proposed here with using a protocol instead of a concrete class do not seem like this would be a

[2021-05-21 15:53] br-earl-gaspard commented on #1303
In the code when a link is tapped the `decidePolicyForNavigationAction` gets called and then logs the `requestURL.host` to the console. It is possible, however unlikely, that link's host could be setup in a way to contain erroneous information that could get logged as a fake log entry. An example might be `userloggedout`. Overall, I think this is a very minor concern and not likely to happen.

[2021-05-21 16:51] hieunguyenmsft commented on #1299
Thanks for the suggestion. I think we're following that versioning model and changing public API will require a major version pump. Changing is not a problem here, we need to have a good reason to change, it will require other applications to update the source code.
The difference between protocol: MSALAccount and class MSALAccount is class MSALAccount is also conforming to other protocol NSCopyin

[2021-05-21 16:58] br-earl-gaspard commented on #1299
Thanks for the feedback @hieunguyenmsft. That helps clear up why the class is used instead of the protocol.
As far as testing goes, I'd prefer to stay away from Swizzling. Another option for the purpose of testing would be to remove the MSALAccount's NS_UNAVAILABLE setting. This would allow easy creation of subclasses but I understand NS_UNAVAILABLE was probably added for a reason.

[2021-05-24 11:17] rahulcode commented on #1156
JSON issues we are not seeing now.
Tested the similar flows again.
Will test password change cases and update again.

Is there information/update on the Cert Based Issue after Sign In Frequency( No **Continue** button (as Enroll now screen is removed ) appears and user can authenticate properly ?)

[2021-05-24 17:07] oldalton commented on #1156
`Is there information/update on the Cert Based Issue after Sign In Frequency( No Continue button (as Enroll now screen is removed ) appears and user can authenticate properly ?)`

We have a fix in progress for it. I'll update this thread when it's available for public testing. Thanks for your patience!

[2021-05-25 14:28] cassianodialpad commented on #951
+1. We do need to send the refresh token to our backend server.

[2021-05-25 19:07] antrix1989 commented on #1306
Hi @br-earl-gaspard, thanks for reporting. This code is used to get the application's Team ID only and it is intentionally set to `kSecAttrAccessibleAlways`. When we save tokens, we always use `kSecAttrAccessibleAfterFirstUnlockThisDeviceOnly`.

[2021-05-27 20:28] antrix1989 commented on #1304
Hi @br-earl-gaspard. The public key is generated by the client and stored in the keychain, so I don't see any concerns here.

[2021-05-27 20:28] #1304 closed

[2021-05-28 14:38] Kyle-Reis commented on #1284
Hey @NerevarineRule. This issue does not appear tp be an Intune-related issue. I think there may be some confusion about what the problem is here. There is no problem with single sign on between Intune and MSAL (as @joeypatino has confirmed that Intune silent enrollment works without issue after the app uses MSAL directly to to acquire a token).

It sounds like the problem here is that once the ap

[2021-05-31 10:54] parora9594 opened #1317 "library is not building arm7,armv7 arcetecture"
We are facing issue is MSAL Library, This library is getting build only for x86_64 arm64 architecture.
We tried using pod and Carthage it is only getting build for x86_64 arm64.  We have checked released version of MSAL like 1.1.17, 1.1.18. it same there.

Xcode cersion: 11.6 CLT: 11.6
Language: Objective C

We need this to build for all the architecture.

`ld: warning: ignoring file /Users/Puneet

[2021-06-01 22:26] ameyapat commented on #1317
Hi @parora9594 , Could you provide details for which device and os version you're trying to build for?

[2021-06-01 23:03] hieunguyenmsft commented on #1303
Good call-out and I agree the attack surface here is relatively small ( attacker needs to set up a new identity provider server for forging false information into the log). I closed it with no further activity.
Thank you.

[2021-06-01 23:03] #1303 closed

[2021-06-01 23:06] hieunguyenmsft commented on #1302
Thank you for reporting and the suggestion. I created a ticket on our board for tracking the issue.

[2021-06-04 03:05] antrix1989 commented on #1282
This looks like your device is out of memory. @rahulcode, could you check if that is the case?

[2021-06-11 07:33] adiashok123 opened #1319 "Error: The UIWindowScene for the returned window was not in the foreground active state"
While doing a interactive login, we are getting an error in loop, it repeatedly ask for login credentials and fails with the same error.

Attaching the error logs:

: MSAL-Auth: Error: Error Domain=com.apple.AuthenticationServices.WebAuthenticationSession Code=3 "The UIWindowScene for the returned window was not in the foreground active state." UserInfo={NSDebugDescription=The UIWindowScene for th

[2021-06-11 21:14] parveen-bhatia opened #1320 "Broker auth flow fails - Error: MSALInternalErrorCodeKey=-42700"
Hi,

I am using MSAL interactive signIn auth flow with Intune SDK. App is able to open broker app and after selecting an account able to return to my app. And then getting below error

``
Error Domain=MSALErrorDomain Code=-50000 \"(null)\" UserInfo={MSALErrorDescriptionKey=application did not receive response from broker., MSALInternalErrorCodeKey=-42700, MSALCorrelationIDKey=97BE84D2-64A8-4D62-8A

[2021-06-11 23:14] kaisong1990 commented on #1320
HI @parveen-bhatia Thanks for your question, could you put a breakpoint at **function openrul within the app delegate or scence delegate if you have** as about link mentioned and see if it was triggered?

Also please provide an incidentId so that we can check if the broker response is in expected format.

Here is [link](
https://github.com/AzureAD/azure-activedirectory-library-for-objc/wiki/Instru

[2021-06-12 00:03] kaisong1990 commented on #1319
@adiashok123 Thanks for your question,

Which MSAL API are you using?

In general ,MSAL APIs are getting triggered while your app is not fully in foreground, and cannot get viewController from UIWindowScene. So it is not a MSAL lib issue.

In order to avoid such issue, you could follow Apple's API [here](https://developer.apple.com/documentation/uikit/uiscenedidactivatenotification?language=objc)

[2021-06-12 14:39] joeypatino commented on #1284
Hi @NerevarineRule , are you able to provide an answer on if this scenario is supported in the MSAL SDK?

[2021-06-14 06:05] crosshawk opened #1321 "Can we use Silent SSO with a Developer ID signed app that does not use provisioning profiles?"
In our MAC application “Automatically manage signing” under Signing & Capabilities is enabled and so far we didn’t have to use a provisioning profile on our devices as the app doesn’t use Keychain Sharing. In order for Silent Single Sign-On (SSO) for MSAL to work we need to add a new Keychain group to our project’s capabilities. That seems to require a provisioning profile to work, but our Bamboo

[2021-06-14 08:45] adiashok123 commented on #1319
MSAL SDK : 1.1.13

[2021-06-14 15:25] parveen-bhatia commented on #1320
Thanks @kaisong1990 for follow up.

Was able to resolve this issue. So, the issue is when `sourceApplication` is being passed as empty string `""` (after we extract it like `sourceApplication = options[UIApplicationOpenURLOptionsSourceApplicationKey]`) in below method. (Which is happening as in my case AppDelegate is in ObjC and wrapper class  over MSAL in Swift uses `sourceApplication` string as

[2021-06-14 17:43] NerevarineRule commented on #1284
@joeypatino
Yep, that should be the supported scenario.
Just to confirm did you make sure that all your applications share the same client id and application id? on the iOS platform, tokens are stored in the keychain as kSecClassGenericPassword type object, and one of the primary identifiers is the client id, so just want to make sure, based on the document below:

https://docs.microsoft.com/en-us

[2021-06-14 23:07] kaisong1990 commented on #1320
@parveen-bhatia Glad you resolved the issue! Let me bring this to the team and see if we can handle this better. Will keep you posted :)

[2021-06-14 23:43] kaisong1990 commented on #1319
@adiashok123 Do you have a specific name of the API you are calling from publicClientApplication? Please try with suggested and make sure the app scene is active.

[2021-06-15 13:35] joeypatino commented on #1284
Hi @NerevarineRule, your response confuses me a little bit. I am not really using or attempting to share credentials between multiple apps.

To be clear, I would like to initiate the MSAL auth (via the brokered SSO flow) in my app and would then like the tokens acquired to be used to silently authenticate the user (without prompting for credentials again) within a webview which supports AAD accoun

[2021-06-16 00:19] NerevarineRule commented on #1284
HI @joeypatino

What I meant was that the credentials used during the stage when you initially used MAMSDK to acquire token, and then the credentials used subsequently by MSAL should be the same in order for MSAL to retrieve the correct token from the keychain token cache.

Even within the same app, the credentials used to acquire token should remain consistent between MAMSDK and MSAL was what I m

[2021-06-16 01:10] Kyle-Reis commented on #1284
Hey @NerevarineRule - as I mentioned before, single sign on between MSAL and Intune is actually working fine. There is no problem there. @joeypatino has confirmed that the app is able to acquire a token via MSAL with a credential prompt and then silently enroll in Intune and get policy with no additional prompt. The problem comes after all of this.

After MSAL authentication and Intune enrollment,

[2021-06-16 16:46] NerevarineRule commented on #1284
@Kyle-Reis, yep. I wasn't disputing that.

Earlier in the thread, I did indicate that in order to share SSO states between MSAL and his secure website, he would need to use ASWebAuthenticationSession. (https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews#cookie-sharing-and-single-sign-on-sso-implications)
It seemed like @joeypatino was having trouble with ASWebAuthent

[2021-06-16 17:24] Kyle-Reis commented on #1284
@NerevarineRule - I see. From the Intune perspective, the recommendation is that applications [avoid using system web views](https://docs.microsoft.com/en-us/mem/intune/developer/app-sdk-ios#special-considerations-when-using-msal-for-app-initiated-authentication), because they run out-of-process and therefore the content they display cannot be managed.

@joeypatino - Once the app authenticates wit

[2021-06-16 17:49] Kyle-Reis commented on #1284
I had another thought which might enable this scenario with fewer changes needed in the app:

@NerevarineRule - If initial MSAL authentication takes place within a WKWebView rather than kicking out to the Authenticator app, would the website be able to use the auth state if same WKWebView is used to navigate to it?

@joeypatino - Is there a hard requirement to support brokered authentication in th

[2021-06-16 18:13] kaisong1990 commented on #1320
@parveen-bhatia
Looks like there is an issue on our side and sourceApplication is not expected to be nil or empty. Could you provide some more information why empty string is passed as sourceApplication in your case?

[2021-06-16 21:38] #1146 closed

[2021-06-16 21:38] #1257 closed

[2021-06-16 21:38] #992 closed

[2021-06-16 21:38] #1260 closed

[2021-06-17 07:53] parora9594 commented on #1317
hi Stale, We are using iphone 6 with OS 10.

[2021-06-17 14:42] ameyapat commented on #1317
Hi @parora9594 , MSAL currently supports iOS 11+ : https://github.com/AzureAD/microsoft-authentication-library-for-objc#supported-versions . Could you retry on device with iOS 11 or above?

[2021-06-17 19:54] kaisong1990 commented on #1321
@crosshawk Thanks for your question, you might need to raise a question to Apple [here](https://developer.apple.com/forums/) and ask if there is any workaround on this.

[2021-06-17 22:34] hieunguyenmsft commented on #1155
Hi @hroblesm @mbondoso pleaset let me know if you are still having this issue or I can close the ticket. Thank you.

[2021-06-18 07:18] parora9594 commented on #1317
@ameyapat IS there any way to use this, my app support from iOS.

I found one macro which can be used to build it for only arm64 and install it lower iOS versions.
Like this:
#ifdef __aarch64__
MSALAADAuthority *msalAuthority;
MSALPublicClientApplicationConfig *config;
MSALPublicClientApplication *application;
MSALClaimsRequest *request;
MSALWebviewParameters *webParameters;
#endif

Is it fine to

[2021-06-21 03:38] parora9594 commented on #1317
@ameyapat  Waiting for your esponse.

[2021-06-21 06:32] lartisimi commented on #1143
Hi @brandwe

any updates on this issue? Is there any way to use Edge for MSAL authentication in iOS apps protected by Intune?

[2021-06-21 09:32] toseefkhilji opened #1328 "Is OAuth 2.0 Client Credentials flow available ?"
Hi,

Is there any classes or method to use this auth flow?

Thanks.

[2021-06-21 15:45] ameyapat commented on #1317
Hi @parora9594 , I think adding that macro will just exclude those variables during compilation for architecture that is not 64 bit like armv7. For your original issue, can you make sure if the MSAL library is linked correctly to your target? https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc is a link to our sample app, you can refer to it to make sure how MSAL is included in yo

[2021-06-21 18:19] kaisong1990 commented on #1328
@toseefkhilji Thanks for your question.

Client Credentials flow is not supported on client, please refer to this [issue](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1186)

[2021-06-21 19:36] parveen-bhatia commented on #1320
When we extract sourceApplication using ` NSString *sourceApplication = options[UIApplicationOpenURLOptionsSourceApplicationKey];` (AppDelegate is in ObjC), it returns nil.

And we have Swift wrapper class over `MSALPublicClientApplication.handleMSALResponse` which takes `sourceApplication` as non optional parameter like `handleOpenURL(_ url: URL, application: String) -> Bool`. I think due to objc

[2021-06-21 20:23] parveen-bhatia opened #1329 "Issue with cancel flow with acquireToken(with: parameters)"
**Steps to replicate:**
- Launch the app (no broker app installed)
- MSAL web auth flow asks for credential
- Cancel the web auth popup.
- Kill and Launch the app again

**Issue:**
`clientApp.acquireToken(with: parameters)` doesn't pop up with web auth and immediately fails with below error

``
The operation couldn’t be completed. (com.apple.AuthenticationServices.WebAuthenticationSession error 3.

[2021-06-22 07:28] toseefkhilji commented on #1328
@kaisong1990 Thanks for the early reply.

My app provides users to have some shared activity/functionality where users can (save/create/upload files and folder and give access), Users don't require to Login in there Microsoft account.
We interactive login and get access tokens from our app.

Can you please suggest a flow or other way for our requirement?

[2021-06-22 08:34] NicolasLourenco opened #1330 "Unable to catch errors during login"
Hello,
I'm trying to catch differents errors scenarios as described [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-error-handling-ios).

But, the callback from the broker or webview is never called before the webview dismiss (the user cancelation in fact).

I've just found that android uses the `client_capabilities` parameters as described [here](https://docs.microsoft

[2021-06-22 10:31] joeypatino commented on #1284
Hi @NerevarineRule, I can not share the exact source files but I will rewrite a sample with just the bare MSAL functionalities & webview and share this with you. I will post that this week.

@Kyle-Reis, No I unfortunately can not access the org's data outside of a webview, i.e. there is no API setup to access it. My client is requiring the brokered SSO flow.

[2021-06-23 08:58] NicolasLourenco commented on #855
Hello, I'm facing the same issue. Any update on this?

[2021-06-23 09:15] #1156 closed

[2021-06-23 09:46] ledzep9012 commented on #855
it was fixed for me in 1.1.5.

[2021-06-23 09:54] NicolasLourenco commented on #855
Did you try to update to the latest version to see if there's a regression?

[2021-06-23 11:25] ledzep9012 commented on #855
No, I didn't.

[2021-06-24 15:22] NicolasLourenco commented on #1330
Ok, so it's seems that (like on android) we should add "protapp" on clientCapabilities

[2021-06-24 15:22] #1330 closed

[2021-06-24 22:08] jasoncoolmax commented on #1328
I don't have a good suggestion regarding your requirement. Following is some resources that may or may not help :)
https://developer.apple.com/documentation/devicecheck/validating_apps_that_connect_to_your_server
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-client-applications

[2021-06-24 22:10] jasoncoolmax commented on #1329
Hi @parveen-bhatia , may I know which version of MSAL and macOS were you using for the repro?

[2021-06-24 22:22] jasoncoolmax commented on #1317
Not sure if it will help, you may also pay attention regarding what iOS version you support in the pod file.
However, our current MSAL supports iOS 11 onwards. We don't support iOS 8 anymore. Good luck to you :)

[2021-06-24 22:42] kaisong1990 commented on #1320
@parveen-bhatia Thanks for confirming. We have a PR open to treat empty and nil the same way.

https://github.com/AzureAD/microsoft-authentication-library-common-for-objc/pull/1004

Closing this issue and feel free to reopen if you find anything wrong after testing

[2021-06-24 22:42] #1320 closed

[2021-06-25 00:43] parveen-bhatia commented on #1329
I am using MSAL (1.1.17), with iOS SDK (14.5) and macOS Big Sure (11.4)

[2021-06-25 03:31] toseefkhilji commented on #1328
@jasoncoolmax Thanks!!!
I'll check.

[2021-06-25 07:01] adiashok123 opened #1332 "MSALErrorInternal Error while doing a Silent Auth"
**Issue**: While doing a sign silently, we are getting (MSALErrorDomain, -50000) MSALErrorInternal in MSAL 1.1.19 and not MSALErrorInteractionRequired [as in MSAL 1.1.13] when the sign in frequency has expired.
However, in earlier SDK of MSAL, this was MSALErrorInteractionRequired and this was the basis for us to go for interactive login. This is for both password as well as certificate based auth

[2021-06-26 00:43] #1294 closed

[2021-06-29 04:09] chibiragu94 opened #1334 "Authentication failed while SignIn"
Getting Exception while SignIn, If Organisation VPN is Turned OFF,
attached the issue below,
com.microsoft.identity.client.exception.MsalClientException: An IO error occurred with message: Unable to resolve host "login.microsoftonline.com": No address associated with hostname

[2021-06-30 13:06] joeypatino commented on #1284
Hi @NerevarineRule, sorry for the delay on this. I've put together an updated sample .h and .m that shows just my usage the MSAL and Intune SDK's. I've also included a couple other classes, one containing the `MSALPublicClientApplication`, and the other is just the AppDelegate to show the `openUrl` method handling, in case that's the culprit or I'm missing something there...

Using this setup, the

[2021-07-01 02:21] #1302 closed

[2021-07-01 20:29] hieunguyenmsft commented on #1156
User reported this is fixed in MSAL 1.1.19

[2021-07-01 21:23] hieunguyenmsft commented on #1332
Thank you for reporting it. We will look at the logs and keep you posted.

[2021-07-01 22:06] #1319 closed

[2021-07-01 22:07] #1328 closed

[2021-07-01 22:08] #1317 closed

[2021-07-01 22:13] jasoncoolmax commented on #1329
Hi @parveen-bhatia I have tried teh same settings as well as the same repro steps as you mentioned, but no luck I am not able to reproduce it.

Is it possible for you to provide the MSAL logs? Instruction of how to enable logging: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging-ios?tabs=objc

[2021-07-01 23:44] parveen-bhatia commented on #1329
@jasoncoolmax thanks for your response.

This issue is inconsistent.  To reproduce it we can
- Launch the app and continue with user prompt to Sign In from `ASWebAuthenticationSession`
- Then we can tap on `Cancel` on the web browser  initiated by by `ASWebAuthenticationSession`
- Launch app again. And repeat above steps at least 3 times or more. (Sometimes it happen on first time also)
- Then we

[2021-07-02 21:12] kohanian commented on #1329
@parveen-bhatia I've run into this issue before. I believe this is actually an Apple specific error. You're getting the following error:
[code]
A good example of this happening would be when a system alert is displayed in the foreground on top of your app's window, and when the `ASWebAuthenticationSession` modal asking the user to log in tried to display itself, it can't because it's window isn't

[2021-07-03 12:42] jpsweet commented on #1016
Olga, thank you again for responding before.

Since the SSO extension is still in preview, I wanted to call out one additional property that was introduced along side the MDM unenrollment time out that would be helpful for enterprises using this Microsoft SDK and SSO Extension.

Apple also introduced a property "IsCallerManaged" which is helpful to determine which apps are actively managed by the

[2021-07-03 17:17] DarinMain opened #1335 "Mine"

[2021-07-04 16:45] Edord99 commented on #1304
ii

[2021-07-04 16:45] Edord99 opened #1336 "My"

[2021-07-05 08:51] mohdhaider opened #1337 "MSAL iOS SDK V 1.1.19 giving "The operation couldn’t be completed. (Foundation._GenericObjCError error 0.)" issue sometimes during silent access token refresh."
I am getting this error sometimes when I am trying to access the existing account from SAML iOS SDK.

Error: The operation couldn’t be completed. (Foundation._GenericObjCError error 0.)

I am not sure where I am doing wrong. I can sign in successfully and can perform silent access token refresh also but sometimes I am not getting the current sign-in account.

`let authority = try MSALAuthority(url

[2021-07-06 20:38] NerevarineRule commented on #1284
@joeypatino  - sorry for the delay, and thank you for sharing the source code.
Multiple things:

1) you don't have to create your own ASWebAuthenticationSession; once you set the webview type to default, MSAL takes care of that internally.  could you chance webviewParams.webviewType = MSIDWebviewTypeAuthenticationSession and see what happens?

2) In your app delegate, I see you created callback me

[2021-07-06 22:19] antrix1989 commented on #1337
hi @mohdhaider,  please send MSAL logs to sedemche@microsoft.com email. Thanks!

[2021-07-06 22:20] #1336 closed

[2021-07-06 22:20] #1335 closed

[2021-07-06 22:24] antrix1989 commented on #1016
@brandwe please take a look at this feature request.

[2021-07-06 22:27] #1321 closed

[2021-07-07 11:55] JMCPH opened #1339 "WatchOS support"
When will the MSAL SDK become available for watchOS?

[2021-07-08 07:14] #1282 closed

[2021-07-08 22:18] antrix1989 commented on #1339
Hi @JMCPH . I am not aware of any plans to support Device Code flow in MSAL ObjC. + @brandwe to track this feature request.

[2021-07-09 09:43] JMCPH commented on #1339
@antrix1989 thank you for your quick reply.

[2021-07-09 09:48] JMCPH opened #1340 "[QUESTION] Custom login viewcontroller?"
Hi,

Is it possible to present our own custom `AuthViewController` instead of the WKWebView using the framework, or is there any other way to do so?

[2021-07-09 10:54] jrodrigues88 opened #1341 "SSO between two iOS native B2C apps not working"
Hi,

We have two mobile apps setup with Azure B2C and they are using a signup/signin journey. The SSO between these apps are not working in iOS. I know that MSAL itself wont handle the SSO, instead the browser handles it. I am using **webviewType = .authenticationSession** as per the documentations.
At the same time in Android, SSO is working using Chrome browser.

Following is the iOS code used f

[2021-07-13 22:14] NerevarineRule commented on #1340
I believe we support a customized WkWebView instance, as long as it is a subclass of WKWebView.

[2021-07-15 19:56] JMCPH commented on #1340
Thanks for the reply, but is there anyway to login without using a custom WKWebView?

[2021-07-15 22:22] NerevarineRule commented on #1340
we don't support custom view controller with custom UI. we recommend that you use one of the webview types supported by our MSAL library, which will handle view controller generation/logic.

[2021-07-15 22:25] NerevarineRule commented on #1339
@JMCPH  is it ok for us to close this issue? I see you closed it and then reopened it immediately after. do you have any new concerns?

[2021-07-16 14:28] #1339 closed

[2021-07-16 23:37] #1155 closed

[2021-07-17 01:43] parveen-bhatia commented on #1329
Thanks @kohanian for providing with me this clue and details about the root cause.

In my case, i was trying to `signIn` with `MSAL` (which is trying to present `ASWebAuthenticationSession`) before AppDelegate's `application:didFinishLaunch` is completed.
I tried doing it, after little delay on app launch and even UI by tapping on button.
Both are working fine.

Thanks for the help and fine to clo

[2021-07-20 15:17] joeypatino commented on #1284
Hi @NerevarineRule, Sorry for my delay in responding. I've been away on vacation and haven't had time to get back to this until now.

1. Ok. I understand. I've removed the `ASWebAuthenticationSession` instance and changed the webviewType to `MSALWebviewTypeAuthenticationSession`; The behavior is the same though, a second login is required inside the webview( SFSafariViewController).

2. I'm not ac

[2021-07-20 20:46] #1329 closed

[2021-07-22 22:11] ameyapat commented on #1340
Closing this issue, feel free to re-open if there are any further questions

[2021-07-22 22:11] #1340 closed

[2021-07-22 22:40] ameyapat commented on #1341
Hi @jrodrigues88 , thanks for bringing light to this issue. What is the iOS version that is being used? There was a bug in iOS 14 from apple where the browser wouldn't attach cookies in subsequent calls. Here are the details : https://developer.apple.com/forums/thread/663533 . It was fixed in iOS 14.5.
A workaround for iOS 14 was using keep me signed in : [KMSI](https://docs.microsoft.com/en-us/az

[2021-07-27 10:57] eldimious commented on #1284
Hey I am facing the same issue when we are using MDM devices + intunes, while seems in our local devices is working properly. In our current implementation we have a method called `loginUser` which makes the following steps:

1. creates MSALPublicClientApplication
2. tries to find getCurrentAccount (getCurrentAccount(with: msalParameters, completionBlock: { currentAccount, _, error in)
3. If accou

[2021-07-27 18:53] pmoprhy opened #1353 "Certificate prompt during acquireTokenWithParameters: in macOS 11.3.1 and greater"
During acquireTokenWithWithParameters a set of identity preferences were created which suppressed a prompt (popup window) in safari but starting in macOS 11.3.1 those identity preference items in the keychain are not the same and the prompt is appearing .
![image](https://user-images.githubusercontent.com/1206821/127211155-096594ad-8ba7-4dab-95e7-960ea186796f.png)
Can we get that functionality bac

[2021-07-27 19:42] NerevarineRule commented on #1284
@joeypatino
interesting.. is there any chance you could provide network trace (Charles or Fiddler trace) that captures network trace information during which you are having this issue?

@eldimious  Could you please share MSAL log with verbose logging on your MDM managed devices and also provide Charles network trace in .HAR format during which re-login is requested?

[2021-07-27 20:25] NerevarineRule commented on #1284
@joeypatino -
Could you upgrade your iOS device to a higher version, like 14.5-6 and see if it changes anything? I do recall there was an issue with cookies in ASWebAuthenticationSession that had to be fixed by Apple - https://developer.apple.com/forums/thread/663533

@eldimious
- what iOS version are you using?

Regardless, if you could kindly provide Charles trace log, that might help me to gath

[2021-07-27 22:40] mipetriu commented on #1353
@pmoprhy Could I ask some clarifying questions - which type of webview are you using? Is it a WKWebview, or one of the system browsers? Also, does this certificate prompt come up every time since you've upgraded to a new version of MacOS?

Also, just for my own understanding, do you have any more details on the identity preferences that were set before?

[2021-07-28 01:12] pmoprhy commented on #1353
Not sure I understand the question. Our code is using the MSAL library, MSALPublicClientApplication to call acquireToken. The parameters sent to that call don't specify a WDWebview or browser, but it looks like safari gets presented. It appears to happen every time acquireToken is called since macOS 11.3.1.
As far as the items in the keychain before I noticed these items used to be added into the

[2021-07-28 20:41] peterveeva opened #1354 "ADFS and MSAL - Question"
I notice in the documentation https://docs.microsoft.com/en-us/azure/active-directory/develop/config-authority that there is the following note:

Modern authentication with Active Directory Federation Services as identity provider (ADFS) is not supported (see ADFS for Developers for details). ADFS is supported through federation.

I also see in the MSAL library that there is an ADFSAuthority that

[2021-07-29 16:32] eldimious commented on #1284
@NerevarineRule

Hey, our managed devices are using ios 14.4 / 14.2 / 14.6. Not sure how can i retrieve logs from a MDM managed device, but i think the issue is on `applicationContext.getCurrentAccount` or `applicationContext.account(forIdentifier: id)` cause this method do not return any account, so the flow of our code enters to `acquireToken` block

[2021-07-30 09:43] eldimious opened #1355 "MSAL Intune MDM flow re-asks for user relogin even if is already logged in"
Hey we are facing issues when we are using MSAL, and try to install ipa via intune into MDM devices. While the user is logged-in it keeps reasks for relogin. Although when we get the build from testflight in not managed devices the flow is working properly. In our current implementation we have a method called loginUser which makes the following steps:

1. creates MSALPublicClientApplication
2. tr

[2021-07-30 12:56] InesCarton opened #1356 "MSAL silent token acquisition doesn't have an interface to add extra parameters"
I need to pass extra parameters to the silent token acquisition to be added to the body of the request so that it can be passed to our custom API so that extra information about the user account can be returned to the client.

This is possible in the .Net library but there is no interface in objective C for this functionality.

[2021-07-31 02:17] #1334 closed

[2021-08-04 18:20] kaisong1990 commented on #1356
Hi @InesCarton Thanks for reaching out.

The ```extraQueryParameters``` in interactive call API is only for /auth not for /token endpoint. For security reasons, we are not exposing extra param for /token during both silent and interactive call.

Could you provide a bit more details in your scenarios? Is it for B2C?

[2021-08-04 20:23] kaisong1990 commented on #1355
@eldimious Thanks for your question, the setup looks good to me. Did you get errors before prompting for relogin? CorrelationId would be helpful from the error response

[2021-08-04 22:57] #1337 closed

[2021-08-04 23:30] NerevarineRule commented on #1284
@eldimious

Thanks for sharing the information.

[code]
1) Could you share your code block where you are acquiring token silently, interactively, as well as invoking those APIs?

2) To capture logs, here's the guideline on how to do so:
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging-ios?tabs=objc

`While in our local devices the above flow seems is working and when we

[2021-08-05 07:31] eldimious commented on #1355
Hey @kaisong1990 thanks for reaching me. I think the issue is related to re-resign the app before we push it to intunes. So the flow is that we resign the app before we push it to testflight, and then we re-resign the .ipa with another cert to push the ipa to intune for MDM distribution.
From managed devices i found the below error:
[code]

[2021-08-05 09:54] alexxxx12 opened #1357 "microsoft-authentication-library-for-objc Returning Account name as nil"
Hi Team,
We are in the middle of integrating the Microsoft-authentication-library with our Enterprise App, but the ios app is returning current and previous Accounts as nil. Even though we have installed Microsoft Authenticator and other Microsoft Apps are working fine.

Here are details of the environment: Version 12.5 (12E262)
MSAL Package using: Swift Dependency Manager.
let me know if you need

[2021-08-05 22:36] kaisong1990 commented on #1357
@alexxxx12 Could you provide more info? Did you not get any account, or you were able to get account, but account name is nil?

Also, the screenshot shows as sign out page, so not sure which steps you were in.

Make sure your app has correct setup by following [here](https://github.com/AzureAD/microsoft-authentication-library-for-objc)

[2021-08-05 22:37] kaisong1990 commented on #1354
@peterveeva Thanks for reaching out, we will support for just 2019, but no ETA yet

[2021-08-05 22:42] kaisong1990 commented on #1355
Looks like the certificate is massed up during resign? I would suggest to reach out to Intune repo regarding signing certificate question [here](https://github.com/msintuneappsdk/ms-intune-app-sdk-ios)

[2021-08-06 10:33] jrodrigues88 commented on #1341
Thanks @ameyapat, tested with iOS 14.5 and its working.

Does that mean SSO will work in iOS13?

[2021-08-06 15:48] ameyapat commented on #1341
@jrodrigues88 Yes it should be working for iOS 13. The bug was just in iOS versions 14-14.4

[2021-08-06 16:17] KarinBerg opened #1358 "Question: "acquireTokenSilent" results in error "AADB2C90088""
Question about method "acquireTokenSilent" on class "MSALPublicClientApplication"

I call the method acquireTokenSilent with an account of the policy "B2C_1_sign-up".

`
let silentParameters = MSALSilentTokenParameters(scopes: kScopes, account: account)
application.acquireTokenSilent(with: silentParameters)
`

This results in the following error.

**Printing description of error:**
Error Domain=MS

[2021-08-06 23:35] NerevarineRule commented on #1284
@joeypatino

After further investigation and discussions with other team members, it appears that the Authenticator/broker has their own dedicated cookie jar, which might be responsible for this issue with the SSO you are experiencing.

To address this issue - there are two other alternative ways - if you don't mind trying them out

1) in your WKWebview website, try creating your own infrastructur

[2021-08-09 13:38] InesCarton commented on #1356
Hello @kaisong1990

We have some custom logic which is invoked after the first interactive sign in. We use the silent token acquisition with force refresh to get updated information from the server, but we need to tell the server somehow which block of data we want to retrieve. We then want to use the token containing the data for other services.

For example, imagine that we have a database where

[2021-08-10 19:56] NerevarineRule commented on #1353
@pmoprhy

Did you perform enrollment through MS Company Portal app on MacOS? The code that sets identity preference using MS device certificate resides in another library.

[2021-08-11 09:18] pkappos opened #1361 "After Sign Out i cannot add another account for logging in."
I sign out of my application successfully. After i am trying to logging again i see keychain cached account and i cannot enter another account. Has anyone experienced such an issue?

**My Code:**
[code]

**My Logs from MSAL:**
TID=158260 MSAL 1.1.16 iOS Sim 14.4 [2021-08-11 09:14:08] Querying MSAL account for identifier f983f562
TID=158260 MSAL 1.1.16 iOS Sim 14.4 [2021-08-11 09:14:08] Keychain fi

[2021-08-11 13:33] pmoprhy commented on #1353
We do start the process with Company Portal and then retrieve a token using the MSAL library with the certificate.

[2021-08-12 21:57] jasoncoolmax commented on #1361
May I know what error do you see?

[2021-08-12 22:16] jasoncoolmax commented on #1358
Yes, sign-up policy token can only be used for signup, not sign in. That's why you are seeing the error from server.
I guess the possible solution here is either use B2C_1_SignUpSignIn policy, or use signUp policy and signIn policy together (which means you need to sign in after sign up).

[2021-08-12 22:30] jasoncoolmax commented on #1356
May I know what kind of extra query parameters you want to pass?
Currently MSAL provides the option to pass claims challenge to server: https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/dev/MSAL/src/public/MSALClaimsRequest.h

[2021-08-13 07:49] InesCarton commented on #1356
@jasoncoolmax  We need to pass an id, which will be then from b2c forwarded to our custom api. And our custom api then will assign a value to our custom claim. Are the claims request passed to the custom API?

[2021-08-13 08:37] InesCarton commented on #1356
@jasoncoolmax Basically we need to pass an ID to our custom API and then we return information related to that ID as part of the token.

[2021-08-13 11:09] joeypatino commented on #1284
Hi @NerevarineRule,

Thank you for this answer. I will follow up with my clients technical team (who developed the website) to see if they will be able to provide this infrastructure.

Option 2 could be possible as well, although at the moment we are supporting iOS 12+, which doesn't appear to be compatible with the SSO extension.

I will work with my client on option 1 or 2 and follow up here if

[2021-08-13 13:26] #1358 closed

[2021-08-16 17:24] alexxxx12 commented on #1357
Hi Kai,
No, we do not see any account(current and previous); the sign-out button is only active after installing the Microsoft Authenticator app, which is weird. I have also added the sample code (but I need to remove all the identifiers due to privacy and code protection)
We have opened an internal ticket with a Microsoft Azure team as well.

[AzureAD.zip](https://github.com/AzureAD/microsoft-aut

[2021-08-16 17:49] NerevarineRule commented on #1353
@pmoprhy Unfortunately, this is by design. Apple recently changed behaviors on their identity preference API.

On MacOS, we use SecIdentitySetPreferred API to set identity preference for each of the trusted app path.

in versions of macOS prior to 11.3, identity preferences are shared between processes running as the same user. Starting in 11.3, URI names are considered per-application preferences

[2021-08-19 16:44] #1355 closed

[2021-08-19 16:55] #1354 closed

[2021-08-21 04:12] #1332 closed

[2021-08-25 16:04] dylanashe opened #1368 "Intermittent crashes from MSIDHttpRequest.m"
We're seeing intermittent crashes in MSIDHttpRequest.m.    We are using iOS MSAL 1.1.15.

Exception Type:  SIGBUS
Exception Codes: BUS_ADRERR at 0x10da60000
Crashed Thread:  30

Thread 30 Crashed:
0   libsqlite3.dylib                     0x00000001a6a75924 sqlite3_finalize + 25392
1   libsqlite3.dylib                     0x00000001a6a73fb4 sqlite3_finalize + 18876
2   libsqlite3.dylib

[2021-08-27 09:51] artemisia-absynthium opened #1369 "Occasional crashes in [MSIDLocalInteractiveController acquireToken:]"
Hello,

I found on Crashlytics some occasional crashes (they are affecting a really small percentage of users) with this crashlog:

[code]

There is no other info about the crash in the Crashlytics dashboard.

The devices where the crash is occuring are

- iPhone 8 Plus, iOS 14.6.0 (18F72)
- iPhone 8, iOS 14.4.2 (18D70)
- iPhone 8 Plus, iOS 14.5.1 (18E212)

I know it's not a lot of information, so

[2021-09-03 06:11] andreiChis70 opened #1371 "Webview - solve authentication challenge"
**Question**
I have to provide a user and password in order to access a page. (using custom policy)
Is there a way to override `didReceiveAuthenticationChallenge` and use a `URLCredential` in order to access the specific page?

**What I have tried?**
I've tried using a custom webview and listening to `didReceiveAuthenticationChallenge` but the webview doesn't show on screen and it doesn't call it'

[2021-09-04 23:24] #1341 closed

[2021-09-08 23:33] kaisong1990 commented on #1357
@alexxxx12 As discussed today, the current account is the account you have signed in to the current app, not the account which was signed in to other applications (eg Outlook.Teams). You will need to call acquire token interactively first.

Closing this for now and feel free to reopen for other questions

[2021-09-08 23:33] #1357 closed

[2021-09-09 22:10] ameyapat commented on #1371
Hi @andreiChis70, even if you pass your custom webview , we override this method to handle oauth challenges and passing your URLCredential won't work.

[2021-09-09 22:10] #1371 closed

[2021-09-09 22:11] #1353 closed

[2021-09-09 22:14] ameyapat commented on #1369
Hi @artemisia-absynthium , if you can get us MSAL logs we can take a further look into why the crash happened.

[2021-09-14 07:05] #1356 closed

[2021-09-14 07:05] #1284 closed

[2021-09-15 07:56] artemisia-absynthium commented on #1369
Hi @ameyapat, unfortunately that's all I have on my Crashlytics dashboard, the crash didn't happen on any of my devices, neither I can reproduce it. I will search for a way to record MSAL logs on Crashlytics for the future.

[2021-09-16 20:00] ralexandre-ciandt opened #1380 "Question: Safari x WKWebView on OAuth 2.0"
So we read that Google is making some security changes and it will affect who is using WKWebView for Authorization. I understand it's just for Google Sign in, and we'd like to know if it will also affect MSAL connection to measure a change on our side. We are currently using WKWebView for customization purposes.

This is the link:
https://developers.googleblog.com/2021/06/upcoming-security-changes

[2021-09-16 22:07] mipetriu commented on #1380
Hi @ralexandre-ciandt, are you referring to signing into B2C applications using MSAL for Google accounts?

[2021-09-17 11:02] KarinBerg opened #1383 "iCloud key chain dialogs"
Hello,

My app offers a sign-up to register a user at my AzureB2C tenant. At the end of the sign-up flow iCloud Keychain dialogs appears but can not be tapped because the whole view is dismissed by MSAL.

Is there a way to interrupt, so the user can decide to save/update their password in the keychain? What option do I have to achieve this?

I recorded a video to show you my problem: [https://yout

[2021-09-17 15:17] LibertyDev18 commented on #1284
Hi @NerevarineRule,

Was hoping to follow up on this to clarify one item as we have a very similar use-case that we are working on.

On Aug 6 you indicated that Authenticator has their own dedicated cookie jar and therefor an alternative mechanism would have to be put in place to support this. Does that still apply if Authenticator is not being used as the broker and instead handled with MSAL insi

[2021-09-22 21:16] KarinBerg commented on #1383
@kaisong1990 Thanks for the answer.
I close this issue due to duplication

[2021-09-22 21:16] #1383 closed

[2021-09-23 04:49] guidedways commented on #674
Sorry never got back to you as the user never got back to us :D I'm seeing more of this now. How exactly do I get to do this?? @oldalton

[2021-09-23 05:25] guidedways commented on #817
Any update?

[2021-09-23 06:36] guidedways commented on #737
Did not work for me.

[2021-09-23 08:26] guidedways opened #1385 "User does not get option to login when selecting "Have an admin account?" during auth"
Please have a look at these side by side screenshots from App A (some other app) on the left and our app on the right during a regular authentication attempt.

![Screenshot 2021-09-23 at 12 20 23](https://user-images.githubusercontent.com/202437/134475831-4cd9dfb4-1b7e-4d29-94eb-64330889824a.png)

When the user gets such a prompt, they click on "Have an admin account? Sign in with that account" bu

[2021-09-23 13:37] MaikoHermans opened #1386 "SSO not working Native App -> Safari"
We are working on the implementation of sso and trying to get it all to work correctly.
Right now we have a problem where it doesn't seem to recognise or send the needed cookies to the system.

So what we are doing is signing in on the app, with the default webmethod, so it should be `aswebauthenticationsession` then going to safari and trying to navigate to one of the webpages, however it will re

[2021-09-23 16:08] hannesjung commented on #649
@oldalton can you please give us an update? It’s been quite some time since the last one. Did you have any progress? Thank you!

[2021-09-23 22:10] Veena11 commented on #1369
@artemisia-absynthium , Sure let's start with the log level at warning

[2021-09-23 22:22] Veena11 commented on #1386
@MaikoHermans , could you please also provide network trace?
Are you checking the check box that says keep me signed in ?

[2021-09-23 22:58] Veena11 commented on #1385
Investigating

[2021-09-26 18:37] #1368 closed

[2021-09-28 15:55] guidedways commented on #1385
Any news on this?

[2021-09-29 07:44] maksirol commented on #1083
Hello,
Do you have any update on this issue?

[2021-09-29 16:33] hieunguyenmsft commented on #1083
I forwarded it to our B2C team and haven't heard back from them. Does this error still occur in the latest OS version?

[2021-09-29 17:17] maksirol commented on #1083
Yes it does, i've tried with iOS 15 and msal version 1.1.22

[2021-09-29 22:34] hieunguyenmsft commented on #1083
I can't reproduce it on my end (I had another error but it's because of my test env).
Can you please send your MSAL log + network trace to hiengu@microsoft.com so I can take a look.
Thank you.

[2021-10-07 08:41] WouterStraver commented on #737
I'm currently facing the exact same issues as @guidedways. It works fine on iOS but it does not work with MacOS. Even with the workarounds mentioned above.

[2021-10-08 00:41] hieunguyenmsft commented on #1083
Discussed offline via email, the question is forwarded to B2C Team. Close it for now and will update the result here. From detailed report of @maksirol, seems like an error in javascript of b2c login page, not related to MSAL.

[2021-10-11 23:32] dotnetcadet opened #1390 "CA Policies are not being applied to Azure AD App Reg when using Brokered Authentication"
**Title:** CA policy inconsistencies between brokered authentication for native iOS.

**Issue**: A few months ago rolled out a mobile application using MSAL with Open ID Connect via Azure Active Directory (Single-Tenant) as our identity provider. As expected broker authentication works and the user is redirected back to the application after successfully logging in. Though recently, CA (Conditiona

[2021-10-12 15:50] phil1995 commented on #737
Is it possible that you also publish an App-Extension-Safe target like you did for CocoaPods?
Because currently when including it in an app extension the following warning appears:
`ld: warning: linking against a dylib which is not safe for use in application extensions: /Library/Developer/Xcode/DerivedData/XXX/Build/Products/Debug-iphonesimulator/MSAL.framework/MSAL`

[2021-10-13 19:36] guidedways opened #1391 "Cannot authenticate any more"
After we signed up for a MPN ID and verified our app's branding, I seem to no longer be able to sign into my account. I see the same issue as explained here: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/449

Essentially I see this error, any idea what's gong on?

[code]

[2021-10-14 14:46] Rafael-Alves-Ab-Inbev opened #1392 "Question: id_token_hint on Header"
Hi!
We have a solution using id_token_hint, passing the id_token as a query string parameter to the B2C journeys.
We'd like to know if we can pass it on the header instead (because on query string sometimes we are getting too long tokens and it's generating some problems), and how to do it.

Thanks!

[2021-10-15 17:23] #1392 closed, assigned to hieunguyenmsft

[2021-10-21 14:42] gutley opened #1396 "MSALPublicClientApplication.getCurrentAccount - Is it guaranteed to be synchronous when no completion block?"
When used without an MSALParameters.completionBlockQueue, is MSALPublicClientApplication.getCurrentAccount guaranteed to return **after** its completion block has run in all circumstances?

i.e given:
[code]

In my testing, regardless of whether there is an account yet or not and whether the iPad had Microsoft Authenticator installed or not I always get:

[code]

For a particular use case in my ap

[2021-10-25 11:01] diwakar445 opened #1397 "Not able to retrieve silent access token using reset password flow in iOS"
we're not able to retrieve silent access token using reset password flow and in our app, we are using 3 authorities as mentioned below code. we're able to retrieve silently access token when we use signup/sign Inflow but not get silent access token when we use reset password flow but it's working in android

I have set up my context object as mentioned below

do {
let signInSignupAuthority = try g

[2021-10-28 22:14] #1397 closed, assigned to nobody

[2021-10-29 15:59] LibertyDev18 opened #1400 "SSO Extension - Behavior/Experience Question"
For LOB apps configured to use the SSO extension via Authenticator, will there always be a momentary display of the in app SSO extension (white screen) modal when supplying UPN hint?  Trying to understand if there is any additional config we are missing that can avoid the momentary "blip".  These are Intune managed devices.

Question is specific to the first launch and initial token acquisition of

[2021-10-30 06:26] #1386 closed

[2021-10-31 03:43] #1391 closed

[2021-11-03 10:00] JontyMC commented on #923
I also have this issue. I can't see how getAccount is ever viable to use, since as soon as multiple users login, this method will always throw an exception?

[2021-11-04 22:03] ameyapat commented on #1400
Hi @LibertyDev18 , Can you provide a video recording of the momentary blip?

[2021-11-05 01:59] LibertyDev18 commented on #1400
Hi @ameyapat, I've a attached a quick video snippet showing the modal that is displayed.

If we disable the SSO extension, tapping on the Authenticate button will bounce over to the Authenticator app and auth will take place within Authenticator where a similar white modal is displayed within Authenticator. Enabling the SSO extension with no code changes results in the same modal but within the LO

[2021-11-05 02:18] ameyapat commented on #1400
@LibertyDev18 Thanks for the video. It looks like UI is shown when it may not be necessary. Do you see the same behavior when you don't provide login hint?
Can you go into Authenticator ->  Hamburger menu ->  Send Feedback and share the incident ID? That will give me the diagnostic data and logs for SSO extension to see what is happening and if the UI pop-up was required.

[2021-11-05 02:37] LibertyDev18 commented on #1400
@ameyapat. When a hint is not supplied that screen shows the account list where a user can select the account they want to use. If they select the account, control is returned to the LOB app. BVFV2RZZ

[2021-11-05 18:47] guidedways opened #1404 "Getting error "Failed to get items from keychain""
We're seeing the following for one our users, not sure what to suggest?

`2021-11-05 22:11:11 -0- MSAL: could not obtain account: Error Domain=NSOSStatusErrorDomain Code=-34018 "(null)" UserInfo={MSALErrorDescriptionKey=Failed to get items from keychain.}`

[2021-11-05 20:45] guidedways commented on #1404
The user has since tried to reboot / re-install the app etc, to no avail. Not sure if there's something we need to do to support their setup? They've got admin privileges on the mac, however the mac is managed by their organization / via MDM. The app itself has been given permission to run by the network admin and they don't know why it continues to fail.

[2021-11-08 11:09] guidedways commented on #1404
@oldalton could we please have some help with this?

[2021-11-09 03:07] AdamUCF opened #1407 "Support non-Microsoft Enterprise SSO Extensions"
We have an internally developed SSO Extension for iOS that automates sign-on to our on-prem Federation system. Our Azure tenant is federated with this on-prem system. When users attempt to sign-on to a Microsoft app such as Teams or a custom app that uses MSAL, instead of the app triggering our SSO extension it pops the browser and forces the user to log in manually. Is there some way to globally

[2021-11-09 10:37] diwakar26 commented on #727
I'm calling something like this still I'm getting issue  this issue
["MSALCorrelationIDKey": 8BAC66C9-2997-4303-B3B0-D8130D8B0C91, "MSALErrorDescriptionKey": Only one interactive session is allowed at a time., "MSALInternalErrorCodeKey": -42402]

Below code used for fetching token
 guard let clientApp = msalClientApp, let tokenParams = getAcquireTokenParameters(policyType: .signUpSignIn) else { re

[2021-11-09 19:47] #1385 closed

[2021-11-09 19:48] guidedways commented on #1385
That did not help

[2021-11-09 20:59] ameyapat commented on #1400
Hi @LibertyDev18 [acquireTokenWithParameters](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplication.html#/Getting%20a%20token%20interactively) is meant to acquire token interactively.

When you used [acquireTokenSilentWithParameters](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplication.html#/c:objc

[2021-11-10 20:42] LibertyDev18 commented on #1400
Hi @ameyapat, we do have msauth:// configured as the Redirect URI and yes we are able to silently acquire tokens after doing an interactive request. The interactive request resulting in just the brief display and dismiss of the white screen UI.  Stepping back just a second I'd like to confirm a couple of things around intended SSO Extension functionality.

With SSO Extension enabled for all manage

[2021-11-10 20:44] mattvlasach commented on #1407
I'm petty sure this is because the Microsoft Azure AD domain is locked to the Authenticator app bundle IDs using app associated domains.  In other words, per security design by Apple, only allowed bundle IDs may use the SSO extension (the SSO extension reaches out to a well known endpoint to capture that list before it is allowed to function).

And since everyone uses login.microsoftonline.com for

[2021-11-10 21:14] mattvlasach opened #1408 "Multi-factor auth support during interactive sign in"
Our use case is that we would like to allow our customers to define if MFA should be required to complete login to our native app, which is using MSAL.

We tried doing this with Conditional Access policies, but it doesn't work.  When you create a CA MFA policy that targets our application's app ID in the AAD portal as the selected "Cloud App", the MFA prompt _does not_ fire. However, if you select

[2021-11-10 22:13] AdamUCF commented on #1407
Yeah the domains I was referring to was our own, not the microsoft domains.

Buuttt after doing some more digging I figured out that the issue was on our side and it does indeed work.

[2021-11-10 22:13] #1407 closed

[2021-11-10 22:42] mattvlasach commented on #1407
Oh I see, you are able to invoke the SSOE _after_ the federated redirect from Azure AD.  That makes sense!

[2021-11-11 04:03] guidedways commented on #1404
Any help would be appreciated - we're not sure how to proceed.

[2021-11-11 19:43] br-johndavis opened #1409 "Trouble with changing accounts - Even with promptType = .login"
In the course of using MSAL I'm trying to change accounts as part of testing use-cases requiring various roles and permissions.

As such, I'm needing to swap between user1@domain.com and user2@domain.com.

After signing out from user1, I tap login, then  tap "additional account". The user then gets the first prompt to enter their email. Instead of being taken to the username and password screen, t

[2021-11-11 23:10] mipetriu commented on #1409
@br-johndavis Could you tell us more about your implementation? What type of webview are you using for interactive requests with MSAL? Also, just to confirm, you're using [this](https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALPublicClientApplication.html#/c:objc(cs)MSALPublicClientApplication(im)signoutWithAccount:signoutParameters:completionBlock:) API to signout?

[2021-11-11 23:18] mipetriu commented on #1404
@guidedways Sorry for the slow reply here. What is the scenario in which the user sees this error? It seems that this error code has to do with entitlements to access the keychain - do you know if the user gave access to the application to access their keychain? Also, would it be possible for you to provide more MSAL logs of the entire flow where this error occurs?

[2021-11-12 01:37] guidedways commented on #1404
They aren't prompted to give the app any entitlements to the keychain as the app hasn't stored anything in the key chain by the time this happens.

They see this the moment the little window opens for Microsoft's login prompt / authentication. They have admin privileges on the mac but it's MDM managed (by the organization).

What other part of the logs would you like to see? That's really mostly w

[2021-11-12 07:02] rockgecko-development commented on #1409
I have a similar problem, but just by logging out, not using 'additional accounts'. My setup:
- iOS simulator
- iOS app calls `acquireToken` to log in to an AD B2C directory
- "app wants to use b2clogin.com" dialog
- safari view controller opens
- user enters a username and password (B2C local account)
- logout via `MSALPublicClientApplication.remove(account)`
- attempt to log in again via `acquir

[2021-11-12 13:44] br-johndavis commented on #1409
@mipetriu

I'm clear what you mean by the "type" of web view. I configure my params like so:
`let webViewParams = MSALWebviewParameters(authPresentationViewController: from)`
- `From` is a parent view controller that presents the auth web view.

I configure my interactive params like so:
`let parameters = MSALInteractiveTokenParameters(scopes: scopes, webviewParameters: webViewParameters)
`paramet

[2021-11-12 23:38] mipetriu commented on #1409
@br-johndavis, @rockgecko-development

If both your scenarios are using the SafariViewController or ASWebAuthenticationSession, its possible that this issue could be caused by Safari cookies being left over in the system browser after your first sign-in. I see that in both cases, the account is being removed using the `.remove` API, which only removes the account info from the cache and doesn't do

[2021-11-15 17:25] mipetriu commented on #1404
@guidedways I see, so the user ran into that error during their initial sign-in attempt. I was hoping to see the MSAL logs for the entire login attempt to be able to understand the whole flow.

Looking into the error: "the error -34018 translates to errSecMissingEntitlement. This error means that your app is trying to use a keychain access group for which it does not have entitlements." - from thi

[2021-11-15 17:46] guidedways commented on #1404
Thanks @mipetriu but not sure what to do next - the keychain access related code is from within MSAL and any access group it's trying to use is again, from outside out control. Isn't this a MSAL issue?

[2021-11-15 19:24] mipetriu commented on #1408
Hi @mattvlasach, apologies for the delay here. I'm not an expert in AAD CA policies, so I will consult with someone that can give a better answer an get back to you.

In the meantime, is it possible to set up the MFA CA policy to be targeted to the resources your app needs to access?

[2021-11-15 20:39] mattvlas commented on #1408
Unfortunately no.  AAD CA policies don't let you target `Microsoft Graph` which is really the only resources we use (basically just the /me path).

So our only workaround is to enable MFA globally with other app exceptions, which isn't viable in large customer environments with hundreds or thousands of apps.

Thanks for looking into this!

[2021-11-15 22:50] ameyapat commented on #1400
For first time it will return nil as we consider it not secure for apps whose trust is not evaluated to enumerate MSAL accounts. User will have to login and the initial UI blip in interactive request is required to confirm with server if the app is registered and has the right redirect URI. After 1st interactive request, It depends on if you call getCurrentAccountWithParameters synchronously or as

[2021-11-15 23:40] mipetriu commented on #1404
@guidedways Another thing to check is if the necessary keychain groups were added to your application, according to the [MSAL doc](https://github.com/AzureAD/microsoft-authentication-library-for-objc#adding-msal-to-your-project).

[2021-11-16 08:53] maksirol commented on #1083
Hello
Any news?

[2021-11-16 11:02] shree1497 commented on #992
I could reproduce this issue fairly consistently on macOS 10.15 Safari 14.1.2 and MacOS Bigsur 11.6 Safari 14.1.2 .
However after upgrading to safari 15.1, I was unable to reproduce this issue.

Upon further analysis, it seems that there is a bug in Apple's implementation of ASWebAuthenticationSession. I tried it with a sample application (No connection of MSAL anywhere) which used ASWebSessionAut

[2021-11-16 14:02] guidedways commented on #1404
@mipetriu I have indeed - we have no other user complaining. In fact, if I try and disable keychain sharing and use our bundle ID as the keychain group, it gives me this exact error, which suggests it's working fine.

Could there be some system wide setting that's preventing MSAL from functioning properly out of the box? We're doing nothing special other than an interactive authentication. Their m

[2021-11-16 15:51] guidedways commented on #1404
I had them run the following command for our app, as per Apple's Forum post:

`codesign -d --entitlements :- /path/to/your.app`

The keychain access group in there mentions both our bundle ID as well as:

[code]

So this looks okay? Why else would this fail?

[2021-11-16 15:55] guidedways commented on #1404
Also, how can we enable extra logging? This is all I see:

[code]

[2021-11-17 00:49] mipetriu commented on #1404
@guidedways If I understand your messages correctly, you observe that one user is experiencing the issue and the rest are not? It's possible that this user has had their keychain corrupted in some way. Has it worked before, or have they been experiencing the issue from the very beginning? Do you know if the user is able to use any other MSAL or Microsoft apps? Or maybe they could try to sign into

[2021-11-17 15:56] stealthmode404 commented on #1404
Hello @mipetriu! I am user in question here :) I am using Outlook for Mac successfully on my account and have been able to integrate it with my O365 account. Further, the default Calendars app is working as well, and have managed to integrate that as well with O365.

[2021-11-18 05:53] guidedways commented on #1404
@mipetriu That was the case until I tried this change:

`pcaConfig.cacheConfig.keychainSharingGroup = [[NSBundle mainBundle] bundleIdentifier];`

Now, even after removing this line, I cannot get my own login authenticated! It gives me the same error as it does for @stealthmode404 .

[code]

Is MSAL caching the group ID or doing something else? I've never had this problem up until recently (the onl

[2021-11-18 05:56] guidedways commented on #1404
Reading up on `kSecAttrAccessGroup` it seems this is only applicable in an iOS app - not macOS. MSAL's source code seems to discard this for macOS in a few places, but not in others. I'm going to try and dig deeper as it's now failing for me too.

[2021-11-18 06:31] guidedways commented on #1404
@mipetriu I can confirm that if I comment out all instances of `kSecAttrAccessGroup` for macOS, it works for me. I'm going to ask @stealthmode404 to try this out too.

Interestingly, I also noticed `kSecAttrAccessible` is being set for macOS - this isn't required. I've moved that into a `#if TARGET_OS_IPHONE` too in my fork.

[2021-11-18 06:32] guidedways commented on #1404
To elaborate, this is what I did everywhere `kSecAttrAccessGroup` was being set. Removed it from the default set of attributes:

[code]

[2021-11-18 07:03] guidedways commented on #1404
@mipetriu This change across all the places `keyChainAccessGroup` was used has fixed it for myself and @stealthmode404 . There should be a way to disable keychain sharing as it's not reliable on macOS as we've just seen.

[2021-11-18 07:05] stealthmode404 commented on #1404
@guidedways thanks for your really great help with this! I was able to sync my O365 calendar with the new build that you had provided! 🥳

[2021-11-18 17:16] mipetriu commented on #1408
@mattvlasach another question: are you providing scopes in your token requests?

[2021-11-19 05:45] sehaswaran opened #1410 "Please Provide some provision for Third Party Apps to customise the status bar light or dart content mode."
Hi Team

Third Party Apps who use your framework ,

calling the acquireToken, which presents the webview with your own navigation controller.

Problem:

Default navigation controller status bar style is black or darkContent.
But, Third Party Apps might support light and dark mode of content .

Please Provide some provision for Third Party Apps to customise the status bar

[2021-11-19 06:24] guidedways commented on #1404
@mipetriu Perhaps there are other places where MSAL's keychain fetch is breaking, but the now the initial login works for me, but as the token expires, a refresh fails with this:

[code]
:(

[2021-11-19 06:45] guidedways commented on #1404
For keychain sharing to work on macOS: https://developer.apple.com/documentation/security/keychain_services/keychain_items/sharing_access_to_keychain_items_among_a_collection_of_apps?language=objc

According to this `kSecAttrSynchronizable` must be set when `kSecUseDataProtectionKeychain` is used. MSAL does not seem to be doing that.

[2021-11-19 08:01] rockgecko-development commented on #1409
Thanks for this info. After more investigation I have found that this issue occurs on an iOS 14.5 simulator, but NOT on iOS 14.2 simulator or real 14.2 device. This is very surprising!
Repro steps: as per https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1409#issuecomment-966871963 . The iOS 14.5 simulator has user agent `Mozilla/5.0 (iPhone; CPU iPhone OS 14_5 like Mac O

[2021-11-21 08:32] guidedways commented on #1404
I've been digging deeper as I feel although this solved the issue for @stealthmode404, I started seeing these errors at my end. Without the default Keychain Group, it would fail to work properly when obtaining tokens silently with `acquireTokenSilentWithParameters`. In fact, after looking at the logs carefully, I realized the keychain error wasn't showing at the point of logging in, in fact the us

[2021-11-21 08:36] guidedways commented on #1404
In particular, this is all I had to do to make this work in `MSIDKeychaintokenCache`:

[code]

[2021-11-21 08:39] guidedways commented on #1404
In addition I think the same block of code should be used everywhere `SecItemCopyMatching` is called with a `kSecAttrAccessGroup`.

[2021-11-22 19:20] mattvlas commented on #1408
@mipetriu yes, the scopes we are requesting are ```scopes = ["User.Read", "GroupMember.Read.All"]```

We also request the AAD deviceId opportunistically via this claim: ```claims = "{\"access_token\":{\"deviceid\":{\"essential\":false}}}"```

[2021-11-22 22:57] mipetriu commented on #1404
@guidedways Regarding, `kSecAttrSynchronizable`, we prefer not to set it to YES since we don't want those items to sync with iCloud. After MacOS 10.15, it should be possible to use the `kSecUseDataProtectionKeychain` without needing to sync.

Thanks for providing info and background on the fix you applied to unblock @stealthmode404, I will take a closer look at your code and at the instances of `S

[2021-11-23 15:00] LibertyDev18 commented on #1400
Hi @ameyapat, thank you for the additional information. Yes, agreed that the experience is better when keeping the user in the LOB app instead of switching over to Authenticator briefly.

Just to recap, when we enable the SSO extension on a device the user experience change that we see in our LOB apps that use MSAL is the in app UI (SSO extension on) vs switch to Authenticator (SSO extension off).

[2021-11-24 06:19] ivanpnn opened #1414 "Please provide account deletion feature"
Hello,

Corresponding to Apple rule : [https://developer.apple.com/news/?id=mdkbobfo](url)
I'm using MSAL pod in my apps. When logging in to OneDrive, in the application can create account from the SDK.

Can MSAL support this Account Deletion feature since it's required by Apple?

Thank you in advance.

[2021-11-26 12:42] Aluok opened #1416 "Main Thread Checker: UI API called on a background thread"
I'm facing an issue using MSAL, and I'm stuck trying to identify from where the issue is coming. I'm to sure if I'm mistaken in my usage of the library or if it's some kind of bug.

My Podfile.lock says that I have the 1.1.24 version installed.

And the code I'm using is the following:
[code]

stack trace:
[code]

What I've tried:
- authPresentationViewController
- adding interactiveParameters.com

[2021-11-28 08:49] guidedways commented on #1404
@mipetriu were you able to verify that the two places where it fetches keychain entries are being handled differently?

[2021-11-29 10:50] artemisia-absynthium commented on #1369
Hi @hieunguyenmsft , I've had another occurrence where I've been able to gather MSAL logs and I forwarded everything to the email address you provided, thank you very much.

[2021-11-29 17:00] hieunguyenmsft commented on #1369
Hello, @artemisia-absynthium. Sorry about the issue, I didn't know the alias only for internal...
I see your log, will keep you posted what I found.
Thank you.

[2021-12-01 01:31] mipetriu commented on #1404
@guidedways Sorry for the delay, I hope you had a nice holiday weekend.

Regarding the different keychain fetch logic between `MSIDBrokerKeyProvider` and `MSIDKeychainTokenCache`, the code to try again without `kSecAttrAccessGroup` was added specifically to that class to cover a scenario regarding how multiple entitlements are read between the read and write cases. It's specific to that scenario,

[2021-12-01 05:01] guidedways commented on #1404
You could call it a macOS issue, yes, but I don't agree with the explanation though. The code that handles "initial authentication" works (on machines affected by this), but the code that handles a silent refresh does not - simply because they're both not doing the same thing.

The machines tested are on Monterey macOS 12. I was able to reproduce this easily by using the bundleID to prevent keycha

[2021-12-02 00:35] mipetriu commented on #1404
The code in `MSIDBrokerKeyProvider` should only be firing on MacOS if you are using the Enterprise SSO Extension, so the same keychain access code should be firing in both the interactive and silent auth cases.

I'm wondering if the behavior you are seeing could be explained in the following way:
1. The tokens retrieved during the initial interactive auth are saved with the bundleID as the access

[2021-12-02 08:30] guidedways commented on #1404
Yes, so let me clarify:

1) If we use the bundleID to disable keychain sharing, the initial authentication flow works since it initially fails with the BundleID used as the Access Group, but then it fails during silent refresh since the silent refresh code does NOT retry without the Access Group

2) If we add our bundleID to "Keychain Groups" is **still** fails with the same entitlement errors. So

[2021-12-02 17:37] mipetriu commented on #1408
@mattvlas I've gotten some more information on this topic from our CA team:

Conditional Access protects data from the cloud, and it triggers based on the requested tokens. A request asking for an idToken for a public client won't trigger conditional access, because the idToken issued to the native client doesn't grant any access to data from the cloud. The CA policy would trigger based on the sco

[2021-12-02 22:58] jasoncoolmax commented on #1414
@ivanpnn Sorry for the late reply.

May I know if you are handling AAD account or B2C account? Such that I can redirect the request to the right team.

[2021-12-02 23:38] shanecowherd commented on #649
Any updates on this?

[2021-12-02 23:43] ameyapat commented on #1400
Hi @LibertyDev18 , apologies for delayed response. Adding your app's bundle id in block list as mentioned here : https://docs.microsoft.com/en-us/azure/active-directory/develop/apple-sso-plugin#disable-sso-for-specific-apps should disable sso extension for it. Can you re-check if the correct bundle id is configured in the list? Can you provide Authenticator incident as mentioned in https://github.

[2021-12-03 04:30] ivanpnn commented on #1414
We're handling B2C account

[2021-12-03 16:38] artemisia-absynthium opened #1418 "MSAL is not safe for use in application extensions"
Hello,

I'm using MSAL in an app which has also a Widget extension where I need to make authenticated calls to refresh data, and since I started using MSAL from inside the widget I'm getting this warning:

[code]

So far nothing wrong has happened in this widget but I'm concerned that with time and/or changes, either in my app or in future MSAL updates, something wrong may start to happen since co

[2021-12-08 07:25] mattvlas commented on #1408
@mipetriu OK, I follow you with the logic above, but in that case, why does the MFA prompt appear as expected when the MFA CA policy is set to "All Cloud Apps"? We don't have any different scopes nor are we making any further Graph API calls, merely toggling between a specific app and All Cloud Apps...

Regardless, per the suggestion, would the below work?

1. In Azure Portal > App Registrations

[2021-12-08 16:23] YoonLee opened #1420 "How to default internal web SSO only even if authenticator app exist"
Hi is there option for just having internal web SSO? InTunes authenticator app installed which jumps to that app each time, manually deleting displays internal web SSO. I would like to approach internal web SSO only. Any input on this? Thanks.

[2021-12-09 18:45] hieunguyenmsft commented on #1420
Could you give us more detail of your setup? With applications from Microsoft (e.g Teams, Outlook,...) and the Authenticator app is installed, the request will always reroute to Authenticator to handle auth. If app is developed by you, you can turn the broker flow on/off.
Hope that helps.

[2021-12-09 22:09] hieunguyenmsft commented on #1418
Thanks for reporting it.
There are quite a few scenarios that we don't support running in app extension (you can search for places that call [MSIDAppExtensionUtil isExecutingInAppExtension], basically we will return early if MSAL is running in app extension).
About the plan to release a separate module for that, I don't have any info yet. Let me just mark it as a new ask here.

[2021-12-09 23:00] jasoncoolmax commented on #1410
Hi @sehaswaran, thank you for providing your input.
You can actually provide your own webview controller to MSAL, such that you have control of how it looks:
https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/master/MSAL/src/public/MSALInteractiveTokenParameters.h#L64

Let me know if the above solves your issue. Thank you!

[2021-12-09 23:23] jasoncoolmax commented on #1414
Let me ask internally and get back to you later.

[2021-12-09 23:24] jasoncoolmax commented on #1416
Can you try to call `app.acquireToken(with: interactiveParameters) { (result, error) in` in the main thread? See if it solves your issue.

Thank you!

[2021-12-09 23:25] mipetriu commented on #649
There's currently no update we can share on this one.

[2021-12-10 01:02] mipetriu commented on #1408
@mattvlas I asked the same question, it seems that applying the policy to all apps makes it a blanket policy that doesn't take into account the resource that is being accessed.

I ran your solution by the CA expert I was discussing this with - your solution should work.

[2021-12-10 03:03] sehaswaran commented on #1410
Thanks @jasoncoolmax I will check

[2021-12-10 03:03] #1410 closed

[2021-12-10 05:59] mattvlas commented on #1408
Success!

A quick POC later and it is working exactly as expected.  For those that find this thread in the future, here is what you need to do:

1. In your app registration, select `Expose an API`
2. Add a new scope with the name of your choosing for both User and Admin consent. Mine ended up being `api://wndScopeTest/MFA.Scope`
3. (I did NOT need to do the API Permissions step)
4. In your MSAL co

[2021-12-10 17:06] hieunguyenmsft commented on #1418
Other apps that use MSAL in their extension doesn't see the warning. Can you follow suggestion in this link to see if it helps:
https://stackoverflow.com/questions/28652102/how-to-suppress-warning-linking-against-dylib-not-safe-for-use-in-application

[2021-12-10 18:39] guidedways opened #1423 "Errors: "No token matching arguments found in the cache""
We've got a few users that have recently reported that as they authenticate (successfully) they are immediately prompted with an error:

[code]

This usually means an interactive token request is required - however the problem is that this is what the user is doing. The interactive token request passes, and immediately when we invoke `acquireTokenSilentWithParameters`, it fails with this error.

W

[2021-12-14 22:46] antrix1989 commented on #1423
@guidedways please capture MSAL logs and send them to sedemche@microsoft.com and I will take a look. Thanks!

[2021-12-15 15:06] artemisia-absynthium commented on #1418
Hi @hieunguyenmsft , thanks for pointing that out, I get the point now, anyway I don't feel comfortable in suppressing warnings so I will keep it.
Maybe you could file a feedback report to Apple though, for presenting the warning even if the unsafe code is properly isolated.
As for this issue, if I got it right and it's just a false positive, you can close it.
Thanks!

[2021-12-15 16:52] hieunguyenmsft commented on #1418
Issue resolved. Thanks for reporting.

[2021-12-15 16:52] #1418 closed

[2021-12-19 20:14] guidedways commented on #1423
@antrix1989 thanks - I've tried capturing it but it seems it won't capture since we use a custom file logger and our customers don't know how to extract MSAL logs. The logs won't get captured in the normal stream we capture to disk.

I'm seeing more users report the same issue - not sure what's going on.

[2021-12-20 06:23] guidedways commented on #1423
Okay I found something - what does this mean?

[code]

[2021-12-21 23:31] Veena11 commented on #1414
We are still checking internally, meanwhile could you check if a custom policy could be set to handle account deletion . https://docs.microsoft.com/en-us/azure/active-directory-b2c/custom-policy-overview

[2021-12-22 10:11] slzButton opened #1427 "After logging in to the iOS Native app using the MSAL SDK, open wkWebView, you need to log in again"
title:After logging in to the iOS Native app using the MSAL SDK, open wkWebView, you need to log in again
标题：iOS native app使用MSAL sdk 登录后，打开wkwebview，还需要再次登录

Content:
The iOS app call
MSALPublicClientApplication
/ * *
Acquire a token for a provided parameters using interactive authentication.

@param  parameters Parameters used for interactive authentication.
@param  completionBlock The completio

[2021-12-23 04:33] ivanpnn commented on #1414
I can't make sure that custom policy will be solve the account deletion policy. Because it's the Apple's reviewer role to decide it.
But, I can give an advise to you. If the effort to add User Deletion feature in your service is too high, maybe you can add disable User Creation feature in your service, just like in DropboxSDK. There is a function to disable User Creation feature in DropboxSDK.

[2021-12-28 00:56] arbyruns opened #1428 "Can I use MSALWebviewParameters within SwiftUI or do I have to use UIKit?"
I'm attempting to authenticate using MSAL and SwiftUI and I can successfully get this to work with the code below when I call MyMSFTLogin(), but I'm left with designing the login within UIKit. However, I'd like to wrap the Sign In portion completely within a SwiftUI button.

Here's what I got to work

    class MSFTLoginController: UIViewController {

        override func viewDidLoad() {

[2022-01-03 21:12] kaisong1990 commented on #1428
In your 1st implementation, the button is within the view. The view has to be presented first and lives in window hierarchy before clicking to sign in.

In the 2nd implementation, MSAL lib is wrapped into a VC class, but the VC is never presented based on the last part of the code

[2022-01-04 21:23] jasoncoolmax commented on #1416
Assuming your issue is resolved. Feel free to reopen it if that is not the case :)

[2022-01-04 21:23] #1416 closed

[2022-01-04 21:40] jasoncoolmax commented on #1414
Thank you @ivanpnn for your patience during the holiday season.
We have reached the correct team. From what I heard, B2C does provide a custom policy to delete an account after creation. The deletion is using "AlternativeSecurityId". I am waiting for more guidance regarding how to do it.

[2022-01-04 23:20] antrix1989 commented on #1423
Seems "com.microsoft.identity.universalstorage" group wasn't added to the project Capabilities. See [here](https://github.com/AzureAD/microsoft-authentication-library-for-objc#configuring-msal).

[2022-01-05 07:59] menasheu commented on #1404
Hi, I have this exact error message on iOS.
This only occurs when I create an ipa file or put the app in production. As far as I use it in XCode there is no problem.
May I ask how did you solve your problem?

[2022-01-05 08:01] guidedways commented on #1404
This is how we fixed it: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1404#issuecomment-974776069

For whatever reason, MSAL is not using the same technique it uses during authentication for when it refreshes the token. Re-using the same code works.

[2022-01-05 08:04] menasheu commented on #1404
I am using the MSAL library as a black box, I understand I have to add it to the project and compile al together after the change?

[2022-01-05 08:05] guidedways commented on #1404
Yes, you need to fork MSAL, fix it there and use it directly with your project as source code.

[2022-01-05 08:05] guidedways commented on #1404
Unless @mipetriu would consider fixing this in code :)

[2022-01-06 23:40] mipetriu commented on #1404
@guidedways I hope you had a great holidays.

The `[query removeObjectForKey:(id)kSecAttrAccessGroup];` logic should not be activated in any normal authentication flows that do not use the Enterprise SSO extension. The retry logic should not be running in this case, so I'm confused about point 1. in your previous message.

After discussing with my team about this issue, we're thinking that a way t

[2022-01-08 13:36] guidedways commented on #1404
Thank you!

I'm not sure if it would. I'm still confused as to why it shouldn't retry the same way it does during initial auth. I don't think it's about the default group vs the app group - customers this fails for are unable to use any access group (probably due to how their machine has been provisioned - I still don't know what causes it) but essentially the fix worked for all of them, I.e the r

[2022-01-09 12:49] dsonigara opened #1430 "Refresh Token"
Hello

I am using MSAL and API. When I login with Microsoft I got an "access token". This access token I am using in other API calls. After some time token is expired. How to refresh the token? Please help me as soon as possible

Thanks

[2022-01-09 13:48] dsonigara commented on #951
@cassianodialpad
Can you please help me When my token is expired, how to refresh a token?

[2022-01-10 14:27] #1428 closed

[2022-01-10 14:39] arbyruns opened #1431 "MSALErrorDescriptionKey=The required app scheme $(PRODUCT_BUNDLE_IDENTIFIER) is not registered even after being set."
I'm getting back an error that `msauth.$(PRODUCT_BUNDLE_IDENTIFIER)` is not registered in the app's info.plist file, but I can see that I registered it here.

![image](https://user-images.githubusercontent.com/2520545/148787647-cfeb7633-1d30-41aa-ba70-6cbf7209d0d2.png)
I can also see that my redirectURi is set properly.  Is there somewhere else within the info.plist I need to set this value?

[cod

[2022-01-10 15:03] arbyruns commented on #1431
Ah I see what I did wrong now.

[2022-01-10 15:03] #1431 closed

[2022-01-10 17:53] mipetriu commented on #1427
@slzButton I responded in the sample repo earlier, copying here if you'd prefer to discuss here:

Apologies for the delayed response. The MSAL library is designed to authenticate users in order for apps to receive tokens and use to access specific cloud resources within the app. MSAL cannot directly pass tokens to a browser to sign in users within the browser.

I recommend that you look into using

[2022-01-12 13:59] schlingding commented on #737
Did Xcode 13 break the workaround here? After having this fix for almost a year we're back to this error.

[code]

We also get the warning
[code]

[2022-01-12 14:15] guidedways commented on #737
Just a remark - recently Google added SPM support to Firebase. If they can get firebase to play ball with SPM with zero tinkering, why can't MSAL?

[2022-01-12 14:44] schlingding commented on #737
This may be due to the use of `binaryTarget`

[2022-01-13 23:27] ameyapat commented on #1430
Hi @dsonigara, when an access token expires, a new access token needs to be requested using a refresh token. YOu can read about access tokens here : https://docs.microsoft.com/en-us/azure/active-directory/develop/access-tokens and refresh tokens here : https://docs.microsoft.com/en-us/azure/active-directory/develop/refresh-tokens

Using MSAL you can silently update token as stated here : https://g

[2022-01-20 22:07] mipetriu commented on #1408
Closing issue, feel free to reopen if any more questions come up.

[2022-01-20 22:07] #1408 closed

[2022-01-21 09:13] BoomDaDa opened #1433 "tvos can use?"
lib can tvos use?

[2022-01-24 11:39] deste91 opened #1434 "[Question] Method to retrieve authorization code"
Hi,
I know this was already asked but I need to know if there is a chance to have this in the future.
For an account linking flow we need an authorization code from Azure B2C to be passed to a third party provider. It would be possible to have a method on MSAL library to retrieve an authorization code instead of an access token in order to send this code to backend?

[2022-01-27 22:56] jasoncoolmax commented on #1414
Our B2C team has come back with the following instruction:
https://github.com/azure-ad-b2c/samples/tree/master/policies/delete-my-account

Let me know if that meets your needs.

[2022-01-27 22:59] jasoncoolmax commented on #1433
Hi @BoomDaDa, sorry that we don't support tvOS at the moment

[2022-01-27 23:04] jasoncoolmax commented on #1420
close due to no response. Feel free to reopen if more info is ready.

[2022-01-27 23:04] #1420 closed

[2022-01-27 23:05] jasoncoolmax commented on #1423
Feel free to reopen if issue remains.

[2022-01-27 23:05] #1423 closed

[2022-01-27 23:07] jasoncoolmax commented on #1427
Feel free to reopen it if the issue remains.

[2022-01-27 23:07] #1427 closed

[2022-01-27 23:08] jasoncoolmax commented on #1430
Feel free to reopen if the issue remains.

[2022-01-27 23:08] #1430 closed

[2022-01-27 23:15] jasoncoolmax commented on #1434
Hi @deste91 , currently our library is not supporting auth code returning. May I know which flow you are actually working on? Such that I can take a closer look.

[2022-01-27 23:20] #1433 closed

[2022-01-28 07:58] deste91 commented on #1434
Thanks @jasoncoolmax . Basically we need auth code to complete this account linking to an Alexa skill: [https://developer.amazon.com/en-US/docs/alexa/account-linking/app-to-app-account-linking-starting-from-your-app.html#how-it-works
](url)
Amazon needs the authorization code to detach an access token and a refresh token on behalf of the user, and we are investigating if the mobile app could retri

[2022-01-28 18:20] arsalangolestanekh opened #1435 "App crashes on SecItemCopyMatching"
I am receiving serverProtectionPoliciesRequired error on acquireTokenSilent API, then I call
 if let info = error._userInfo as? AnyObject {
                    if let userId = info[MSALDisplayableUserIdKey] as? String {
                        IntuneMAMComplianceManager.instance().remediateCompliance(forIdentity: userId, silent: true)
                    }
                }

Then app crashes on  i

[2022-01-28 19:13] #1435 closed

[2022-01-31 05:21] dpaulino opened #1437 "SwiftUI support for fetching tokens interactively without using ViewController"
Hi there,

I want to integrate MSAL into my new SwiftUI app, but based on the sample code, it seems that I need to work with UIKit. I'm not familiar with UIKit at all. How do I get a token interactively using just SwiftUI paradigms?

Here's the sample code that I'm confused about, since SwiftUI doesn't use controllers:

<img width="866" alt="Screen Shot 2022-01-30 at 9 17 51 PM" src="https://user-

[2022-01-31 08:45] zounasL commented on #957
I am facing similar kind of issue. I have setup Azure conditional access policy which require mobile devices to be enrolled through company portal before they can access to office 365 resources.

If i add "site" permission to my Azure application the login flow always complains that the device need to be enrolled even it is already done and i believe this is happening because the iOS MSAL can't ha

[2022-02-04 00:02] antrix1989 commented on #1437
hi @dpaulino, we don't have SwiftUI sample at the moment. I recommend you to take a look at this tutorial: "[Interfacing with UIKit](https://developer.apple.com/tutorials/swiftui/interfacing-with-uikit)".

[2022-02-04 00:47] dpaulino commented on #1437
Is there any plan to support SwiftUI? Apple seems heavily invested in this moving forward, and new devs like me only or mostly know SwiftUI. Without support, my colleagues and I may not be able to add Microsoft logins to our products

[2022-02-04 17:06] jasoncoolmax commented on #1434
Thank you for the link. Now I know better about the flow you are implementing. Currently, MSAL doesn't support returning auth code.

[2022-02-08 21:54] mfcollins3 commented on #1437
I posted this last night for authenticating against a B2C tenant. The code snippets show everything that you need: https://medium.com/neudesic-innovation/using-azure-ad-b2c-to-authenticate-ios-app-users-ef3f82435f7d

[2022-02-09 06:51] applidesign commented on #1414
Hi @jasoncoolmax , thank you for your supports.
I've read the instruction, but I don't know about how to proceed the instruction into my project since the instruction is using xml and my project is in Objective-C.

Is there any instruction how to implement it in obj-c or swift?

[2022-02-09 06:51] ivanpnn commented on #1414
Hi @jasoncoolmax , thank you for your supports.
I've read the instruction, but I don't know about how to proceed the instruction into my project since the instruction is using xml and my project is in Objective-C.

Is there any instruction how to implement it in obj-c or swift?

[2022-02-10 23:05] #1434 closed

[2022-02-10 23:23] jasoncoolmax commented on #957
Hi @zounasL , in iOS, the user-installed certificate is stored in system keychain, while the certificate used to meet conditional access policy is stored in app keychain. System keychain is accessible by system webview while app keychain is accessible by embedded webview. Currently iOS doesn't provide a webview that can access them all. The above limitation creates the trouble for the scenario for

[2022-02-11 10:17] JasSuri commented on #1414
Once you have setup the delete account policy as per the [sample](https://github.com/azure-ad-b2c/samples/tree/master/policies/delete-my-account), you will have to update the Authority in MSAL to point to the new AAD B2C policy Id.

Then create a button in your application that executes MSAL with this authority. The user will then be taken through this Delete account B2C policy.

[2022-02-16 20:14] LibertyDev18 commented on #1400
Hi @ameyapat, it looks like we are now correctly seeing apps excluded from the SSO extension when using the block list but are seeing some interesting behavior during initial install and first attempt at an interactive request where the request is immediately rejected by the SSO extension. I just submitted feedback via Authenticator for one of these requests. Would you be able to shed some light o

[2022-02-17 08:00] VladIacobIonut commented on #1434
Hey @deste91,

We are having the exact same issue on our side. Did you find a temporary workaround to retrieve the auth code for Alexa's A2AAL? We are currently facing a blocker because of this.

Thanks.

[2022-02-20 16:44] AC40 commented on #1431
Could you tell me what you did wrong? I am having exactly the same issue, and can't find a solution. Thanks in advance.

[2022-02-21 20:28] mlynch opened #1446 "Not getting a 2.0 token using acquireToken"
When using `application.acquireToken` API, we are getting back an access token that is version 1.0 and one that has an incorrect `aud` field that is not the client id. We need to get a 2.0 token that has the client id in the `aud` field. How can we ensure we get this token format back when using this API? The id token is correctly returning as a 2.0 token.

In the below example, `scopes` is `["htt

[2022-02-24 08:22] crosshawk opened #1447 "Is there a way to use Login keychain instead of Local Items/iCloud in MSALPublicClientApplication?"
Hello all. We are seeing an issue with our application where some users that have the Local Items keychain locked/corrupted cannot store their credentials, which is normal. However, they seem to have other applications, like MS Office and Chrome that work fine, even though the Local Items keychain is locked, as they use the Login keychain.
So the question is, can we somehow through the code when w

[2022-02-24 16:03] LibertyDev18 commented on #1400
Hi @ameyapat, just bumping my previous question from last week to keep it on the radar.

[2022-02-24 17:54] LibertyDev18 commented on #1400
Hi @ameyapat, no worries at all. I've created another incident id. The issue happens for the first interaction for an LOB app.

With the iOS SSO logging profile installed on the device I also see the following line(s) even though we are specifically making an interactive request:

**<SOAuthorizationRequest: 0x28366ca00>, authorization wants to display UI but user interaction is not enabled**

-[SO

[2022-02-24 23:25] ameyapat commented on #1447
Hi @crosshawk , we use keychain to store tokens and not credentials. Are you looking for a configuration to store tokens in Login keychain?

[2022-02-24 23:32] ameyapat commented on #1446
Hi @mlynch , for 2.0 access tokens you will have to configure it as such in app manifest of your App registration in Azure portal. Here is the doc on how to do it : https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#accesstokenacceptedversion-attribute

[2022-02-25 00:24] ameyapat commented on #1400
Hi @LibertyDev18, did your app receive an error saying interaction required : https://azuread.github.io/microsoft-authentication-library-for-objc/Enums/MSALError.html#/c:@E@MSALError@MSALErrorInteractionRequired?

[2022-02-25 08:27] crosshawk commented on #1447
Sorry @ameyapat , you are right, what I wrote was wrong. We store tokens, not credentials.
Yes we are looking for a configuration to store tokens in Login keychain (which if I understand correctly it should always be unlocked when a user is logged in to their Mac, so there is a smaller possibility that MSAL won't be able to store tokens).

[2022-02-25 17:00] LibertyDev18 commented on #1400
Hi @ameyapat, no, when we make the initial call to acquireTokenWithParameters the following is returned immediately.

2022-02-25 10:42:08.070970-0600 <app_name> [604:28867] Task <4059E5C8-6293-4E25-AA86-0CA621BFB9A1>.<1> AppSSOProtocol received response (null) error Error Domain=com.apple.AuthenticationServices.AuthorizationError Code=1005 "(null)" canceling
2022-02-25 10:42:08.072029-0600 <app_na

[2022-02-25 20:35] jasoncoolmax commented on #1414
Free free to reopen if issue remains.

[2022-02-25 20:35] #1414 closed

[2022-02-28 19:37] LibertyDev18 commented on #1400
Hi @ameyapat, hope you had a good weekend. I created a tiny single view test app to help confirm/isolate this behavior. The app has a button that calls acquireTokenWithParameters and nothing else. Following the steps in the previous post the app behaves the exact same way but there is a difference in behavior from iOS 15 to iOS 14 (14.8.1). On iOS 15, tapping the acquire token button results in an

[2022-02-28 22:06] LibertyDev18 commented on #1400
Hi @ameyapat, sure thing. iOS 14 incident below. This had 2 UI prompts as shown above.

Incident ID: ACJGXWQ2

[2022-03-01 11:48] manasabujji commented on #772
I always get an error when I try and instantiate MSALPublicClientApplication from inside the .appex:
-[XYZContactService loadMakeContactServiceCore] appContext Error: Error Domain=MSALErrorDomain Code=-50000 "(null)" UserInfo={MSALErrorDescriptionKey=The required app scheme “ msauth.xyz.abc.iphone.office365Action" is not registered in the app's info.plist file. Please add “ sauth.xyz.abc.iphone.of

[2022-03-01 11:49] manasabujji commented on #772
please tell me  how to slove the error

[2022-03-01 19:48] LibertyDev18 commented on #1400
Good Afternoon @ameyapat, one additional thing to mention with the 2 UI prompts. We also see "similar" behavior with a managed 3rd party app (Zscaler) where there is an initial SSO extension prompt followed by another round trip outside of the SSO extension. This setup looks to be a bit different being that it's web view based but I don't believe the double round trip was happening there previousl

[2022-03-02 04:25] lam1611 opened #1449 "Code Signature Invalid when apply MASL for macOS application"
I am facing the tough issue when applying the Microsoft Authentication for our macOS application.
On DEBUG mode it works fine. But crashing on RELEASE. It causes the Code Signature Invalid whenever the application launched.
I installed the MSAL into our project via cocoapods.

Here are our entitlements, codesign information:

[code]

[code]

[code]

[code]

The application crashes whenever it laun

[2022-03-02 09:06] NilsLattek commented on #1437
Full SwiftUI support would be awesome. Apple is really pushing SwiftUI.

[2022-03-03 00:10] ameyapat commented on #1400
Hi @LibertyDev18, Thanks for the video and trying to diagnose the issue. I think we might have identified what is happening. We configure SSO extension to intercept any network requests to all our login endpoints configured in extension data set through MDM. If you app is making requests via NSURLSession, these requests by default were allowed to have the ability to present user with a webview if

[2022-03-03 02:04] LibertyDev18 commented on #1400
Hi @ameyapat, thank you for the update and additional information. Really appreciate the help with this.

For the multiple prompt issue we see the multiple prompts when making a single call to acquireTokenWithParameters. The completion block is called only once after the second prompt is displayed to the user.

We were doing some additional testing today on iOS 14 and are seeing another interestin

[2022-03-03 08:30] crosshawk commented on #1447
Hi @ameyapat or anyone else who might know, so is it possible to use the Login keychain instead of the Local Items one?

[2022-03-03 23:56] ameyapat commented on #1400
@LibertyDev18 After discussing with my team, the reason for the double blip is browser sso is triggered for all managed apps. To prevent this you can add your app to the block list or disable this flag : https://docs.microsoft.com/en-us/azure/active-directory/develop/apple-sso-plugin#enable-sso-for-all-managed-apps in your MDM settings.
For the -1012 issue on iOS 15, we can ship the fix in next Au

[2022-03-04 00:01] ameyapat commented on #1447
Hi @crosshawk, we are moving towards using iOS style keychain on mac as it is Apple's recommendation. Office is using our ADAL library that uses ACL but in the near future it will also shift to use ios style keychain.
Sorry, we won't be supporting to use Login keychain as it is Apple's recommendation to use iOS style keychain.

[2022-03-04 17:57] ferantivero commented on #737
@guidedways after following the workaround in [here](https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/737#issuecomment-770056675) with SPM + Xcode 13.2.1 + Swift 5.5 I've just been able to get a `Build Succeeded` but it is sort of unstable :)

First time you attempt to build, you will get the `CodeSign` error that ends up with a `Build  Failed` as you/others and I were e

[2022-03-05 00:06] LibertyDev18 commented on #1400
Hi @ameyapat, thank you for the additional information and update on the Authenticator app.

With regard to the double blip, are you referring to the browser_sso_interaction_enabled flag (if we want the app to participate in SSO)? It seems that if we remove this flag then we do not get the double blip for MSAL apps on iOS 14.

Are you able to comment on the sceneDidBecomeActive (or applicationDidB

[2022-03-05 00:54] ameyapat commented on #1400
@LibertyDev18 No I was referring to flag : [enable-sso-for-all-managed-apps](https://docs.microsoft.com/en-us/azure/active-directory/develop/apple-sso-plugin#enable-sso-for-all-managed-apps). If your app is not using MSAL but want SSO you can enable that flag. If your app is using MSAL you should not enable that flag. (https://docs.microsoft.com/en-us/azure/active-directory/develop/apple-sso-plugi

[2022-03-07 14:22] ArikShtineL opened #1453 "MSAL fails to compile on macOS with Xcode 13.2.1 ."
Hi!

I am using MSAL 1.2.0, macOS(Rosetta) 12.1.
When I try to build macOS app with `macos-arm64_x86_64` I get the following:

Warning:
[code]

And error:
[code]

I check with other similar framework and I see that there are files where there should be symlinks:
Current->Versions/A
Headers->  Versions/Current/Headers
MSAL -> Versions/Current/MSAL
Modules -> Versions/Current/Modules
Resources -> Ve

[2022-03-08 17:07] mdivkovic-speech opened #1454 "Is MSAL for Objective-C using FIPS validated cryptography?"
[FIPS](https://en.wikipedia.org/wiki/FIPS_140-2) Is a security standard that federal agencies in the US have to adhere to, and that means that the software they use also has to be built on top of FIPS validated cryptography.

Following this, could you answer these questions:

- Is the MSAL Objective-C (and by extension, MSAL-Android, MSAL-javascript) client library using [FIPS approved cryptograph

[2022-03-08 19:40] LibertyDev18 commented on #1400
Good afternoon @ameyapat. Thank you for the clarification. Okay, so we have several 3rd party apps in the portfolio that do NOT use MSAL that we DO want to enable SSO for. In this scenario we enable the enable-sso-for-all-managed-apps flag and add the bundle ids of any apps we want to exclude to the block list. The enablement/presence of the enable-sso-for-all-managed-apps flag should not adversel

[2022-03-09 00:46] kaisong1990 commented on #1453
@ArikShtineL Thanks for your question, could you provide how to use MSAL SDK as a dependency in your project? Like SPM, Cocoapod or something else?

[2022-03-09 08:21] ArikShtineL commented on #1453
We add the xcframework manual to the target. @kaisong1990

[2022-03-10 19:16] kaisong1990 commented on #1454
Hi @mdivkovic-speech

Thanks for your questions.

In MSAL Objective-C, we are relying on Apple provided framework CommonCrypto and Security.framework. [CryptoKit](https://developer.apple.com/documentation/cryptokit/?changes=latest_minor) is only supported in Swift, and we are not using it.

Since we are relying on from Apple framework, [this doc](https://support.apple.com/guide/sccc/overview-sccc2

[2022-03-10 19:17] kaisong1990 commented on #1453
Thanks for the update, we will look into it

[2022-03-10 23:23] #1396 closed

[2022-03-10 23:49] mipetriu commented on #1449
@lam1611 Based on your observation that you are able to build in release mode after disabling keychain sharing, is it possible that your distribution provisioning profile does not contain the keychain sharing entitlement?

Outside of checking that your provisioning profiles contain all of the entitlements your apps needs to use, I would also suggest contacting Apple support to dig deeper into your

[2022-03-11 01:06] lam1611 commented on #1449
@mipetriu Thanks for your reply. I posted the `embedded.provisionprofile` in my comment above. The `embedded.provisionprofile` contain the information of Entitlement as following.

[code]

[code]

As 2020 Apple WWDC updated, it automatically addes the keychain access group entitlement to every profile. It means that when I use the Keychain Sharing with the `keychain-access-groups` `ABCDEFGHI.com.m

[2022-03-11 19:21] mlynch commented on #1446
Okay thank you, will give that a shot and see if it works for what we need!

[2022-03-14 10:35] korstiaanS opened #1455 "A lot of warnings in the simulator"
Using MSAL 1.2.0, Xcode 13.2.1 on ios simulator 15.2

Hi,

If I start my app and the pop-up shows that I can Sign in, the debug output shows a lot of Warnings (see only the first 2 below, they repeat).
I see that it comes from the MSAL.framework and it also says "This will be disallowed in the future."
It looks like it is always a key `correlationId` and `error`.
I don't want to release my app wit

[2022-03-15 14:47] idelfonsog2 commented on #1431
Same here @arbyruns could you elaborate on your solution ?

[2022-03-15 16:06] idelfonsog2 opened #1457 "MSAL Library is still fetching tokens without MFA enable"
I have a native mobile app (iOS & Android) in which I'm trying to enable the MFA or Broker Based Authentication in the MSAL Library. (I also have the Azure app registered, per the documentation) I have noticed the following scenarios:

[code]

We **don't want** the the access token to be given if the user did not went through MFA or Broken based authentication
And we want to be able to catch that

[2022-03-15 20:59] idelfonsog2 opened #1459 "MSAL iOS library is not finishing is background task"
What needs to be done from my end ?
[code]

[2022-03-17 18:46] mipetriu commented on #1449
@lam1611 Is it possible that your provisioning profile hasn't allow-listed the other entitlements that are listed by the app, such as `com.apple.security.device.audio-input`, `com.apple.security.device.camera`, or `com.apple.security.temporary-exception.files.home-relative-path.read-write`? Also, are you using a distribution signing certificate to sign the code in RELEASE mode?

Unfortunately I ca

[2022-03-17 21:57] jasoncoolmax commented on #1459
May i know why you want to call interactive login in background thread? interactive login needs UI.

[2022-03-17 22:07] jasoncoolmax commented on #1459
Is it possible for you to provide me the full logs? such that I can take a deeper look

[2022-03-17 22:14] jasoncoolmax commented on #1457
First, if you want users to go through MFA and have broker installed, you will need to set up the conditional access policy at the portal.

Second, once the conditional policy is set, users will be guided to do the MFA or to install broker at the webview. Client don't need to worry about how to teach users to finish MFA or install broker.

Let me know if more info is needed.

[2022-03-17 23:40] ameyapat commented on #1400
Sorry for the confusion in the documentation, we will look to make it simpler. All its configuration applies to only if app is not using MSAL. See : https://docs.microsoft.com/en-us/azure/active-directory/develop/apple-sso-plugin#applications-that-dont-use-msal

If your app is using MSAL you do not need to use special configurations, see : https://docs.microsoft.com/en-us/azure/active-directory/de

[2022-03-18 11:49] lam1611 commented on #1449
Thanks for your reply @mipetriu. We used the distribution profile on release mode.
Yes I have to connect to Apple support for learning more about the issue.

[2022-03-20 19:40] guidedways opened #1460 "Cannot "paste" password any more"
I realize this isn't a MSAL issue per se, however a number of users have reported that in the last few weeks, something changed with the authentication flow where the password entry window / dialog no longer accepts "pasting" passwords into the field. Is there something we need to do at our end?

[2022-03-21 10:09] lzouloumis opened #1461 "Account claims refresh issue"
Hello,

Is there any way to refresh the account claims  when using the acquireTokenSilent method?

We have noticed that account claims refresh only when we use acquire token method interactively. However, we don't want to require the user to log in again, each time a custom claim in our account claims changes.

Thanks for your time.

[2022-03-21 10:14] ThomasPapapaschos commented on #1461
I have the exact same problem.

[2022-03-23 04:11] RajendraNayak opened #1462 "Logout doesn't redirect back to my iOS app"
I am using MSAL auth library in my iOS app & login is perfectly working.
I want logout using browser so I made below

signoutParameters.signoutFromBrowser = true

But On calling logout(), I expect the browser to be redirected to my app once the logout process is completed. However, I just get a screen "You signed out of your account ..." and it stays there.

![Simulator Screen Shot - iPhone 13 - 2

[2022-03-24 16:43] LibertyDev18 commented on #1400
Hi @ameyapat, thank you for the additional information and all of your help with these topics.

It looks like there have been two releases of the Authenticator app in the past week or so. Are you able to confirm that the fix referenced above was included in one of these releases (6.5.89 or 6.5.90)?

[2022-03-24 17:28] ameyapat commented on #1400
@LibertyDev18 The fix is included in 6.5.91. App store rollout will start on the 30th

[2022-03-24 21:11] jasoncoolmax commented on #1455
Thank you for reporting this issue. A PR has been submitted for fixing it. It should be included in the next MSAL release. Thank you!

[2022-03-24 22:17] hieunguyenmsft commented on #1462
Thanks for reporting this. This is a known limitation in AAD logout flow, we don't have any plan to implement it in the near future.

[2022-03-24 22:22] hieunguyenmsft commented on #1461
@lzouloumis @ThomasPapapaschos can you elaborate about your flow and what kind of claim?

[2022-03-24 22:26] hieunguyenmsft commented on #1460
Can you give us more detail about the OS version and MSAL version, your scenario? And possible a screenshot/ screenrecord. We aren't aware of any recent change on MSAL but may be something on the Web UX.
Thank you.

[2022-03-25 09:44] RajendraNayak commented on #1462
@hieunguyenmsft  Thank you for your quick reply.

[2022-03-25 09:44] #1462 closed

[2022-03-25 10:30] RajendraNayak opened #1463 "How to remove MSAL cache (which keeps user info) from iOS keychain after logout"
I am using MSAL auth library in my iOS app.

My organisation security team dumped the keychain while testing my iOS app & found that, they can see some confidential user information in the keychain (like username, client_id, encrypted password etc) even after successful logout from MSAL. You can see this in below image.

<img width="1439" alt="Screenshot 2022-03-25 at 3 24 59 PM" src="https://user

[2022-03-25 14:14] lzouloumis commented on #1461
Hello @hieunguyenmsft,

First of all I would like to thank you for your prompt response. Before I delve into the details of the flows and the claims I would like to mention that we integrated MSAL via CocoaPods and we use the latest version. Below there is a code snippet from the MSAL-Info.plist file.
`  <key>CFBundleShortVersionString</key>
  <string>1.1.26</string>`

The claim that we want to re

[2022-03-29 18:07] RajendraNayak opened #1465 "Sign-out is showing wrong consent message in iOS, how to change this message?"
I am using MSAL auth library in my iOS app
I am using below parameter for logging out

signoutParameters.signoutFromBrowser = true

But on calling signout method, app is showing an alert which says ".... wants to use 'microsoftonline.com' to **sign in**".  This is wrong, it should be ".... wants to use 'microsoftonline.com' to **sign out**"

How can i change this message?

![Simulator Screen Shot

[2022-03-30 04:50] ekscrypto opened #1466 "Unable to get SSO working with B2C authentication between custom iOS app and website via Safari"
We have several websites using SSO via B2C.  We also have an iOS app that authenticate to the same B2C tenant/authority via it's own ClientID.

The same user accounts are able to authenticate to both the iOS application and to the website.  **Unfortunately when the iOS app redirects the user to the website via Safari, the user is not pre-authenticated with the authorized user from the iOS app**.

[2022-03-30 04:59] ekscrypto commented on #1466
Our iOS device is using MSAL 1.1.26; iOS 15.3.1.

We redirect the user to Safari using UIApplication.shared.open(_ url: URL).  There are no other browser installed on the test device.

[2022-03-30 05:02] ekscrypto commented on #1466
We can see a session=... cookie set in the HTTP query sent to the website where we redirect the user.  As mentioned the destination site is (expectedly) unable to directly use that session cookie since it's ClientID is different.  It forwards the user to the B2C authentication site but the session cookie doesn't seem to be recognized and the automatic redirect back to the site is not happening.

[2022-03-30 05:54] ekscrypto commented on #1466
2022-03-30 01:46:04.427 🔬🔬🔬 [SNIPPED-Logger] => MSAL MSALLogLevel: TID=6831061 MSAL 1.1.25 iOS 15.3.1 [2022-03-30 05:46:04 - SNIPPED] [MSAL] Result from authorization session callbackURL host: auth , has error: NO
2022-03-30 01:46:04.428 🔬🔬🔬 [SNIPPED-Logger] => MSAL MSALLogLevel: TID=6831061 MSAL 1.1.25 iOS 15.3.1 [2022-03-30 05:46:04 - SNIPPED] [MSAL] No cached preferred_network for authority
202

[2022-03-30 17:17] ekscrypto commented on #1466
I notice that while our Xcode SwiftPackageManager config is set to EXACT=1.1.26 the library is recording it's version as 1.1.25.  I have cleaned & rebuilt the app several times.

[2022-03-31 22:06] #1459 closed

[2022-03-31 22:06] #1457 closed

[2022-03-31 22:26] antrix1989 commented on #1463
Hello @RajendraNayak. Please use [wipeCacheForAllAccounts flag](https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/0b7810a95080ec9bd7c2bf04a6b2d244600a2d98/MSAL/src/public/MSALSignoutParameters.h#L69) to clear all data in the keychain on signout. The api was added in our [1.2.0 release](https://github.com/AzureAD/microsoft-authentication-library-for-objc/releases/tag/1.2.0).

[2022-04-01 01:00] antrix1989 commented on #1465
This is the default message that comes from ASWebAuthenticationSession. Unfortunately, we cannot change it.

[2022-04-01 01:00] #1465 closed

[2022-04-01 12:58] kanyaks opened #1467 "How to disable Broker Authentication?"
I am setting byPassRedirectURIValidation as true but I still see it is launching the broker app.

[2022-04-01 16:35] ameyapat commented on #1400
There has been a series of hotfix deploys for Authenticator and the fix for this issue is not included in 6.5.91/6.5.92/6.5.93. I will update here when the fix for this issue is released, mostly in the 6.5.94. Apologies for the delay

[2022-04-04 18:35] hieunguyenmsft commented on #1461
Hi @lzouloumis, I was thinking of suggesting you follow this article:
https://docs.microsoft.com/en-us/azure/active-directory/develop/request-custom-claims to force-request the custom claim in each request but then realized that your flow is B2C so that solution might not work for B2C flow. I forwarded your question to our B2C team, will keep you posted.
Thanks,
Hieu.

[2022-04-05 08:39] lzouloumis commented on #1461
Hello @hieunguyenmsft,

We have already tried to solve our problem using the article that you mentioned. Specifically, we have created a custom claims request and we used the property "value" to force the library to return the specific value for our custom claim.
However, it didn't work. It returned back the old claim value and not the value that we have specified in the claims request.

We will b

[2022-04-07 12:49] ekscrypto commented on #1466
Any luck finding a person for this question?

[2022-04-07 15:10] didldum opened #1468 "mdmEnrolledAccount is fine, but getCurrentAccountWithParameters is null"
I have integrated intune SDK and MSAL into a LOB iOS app for SSO on enrolled devices, receive the mdm UPN instantly, but don't receive any MSALAccount to get an accessToken and work with it.

✅ [[IntuneMAMEnrollmentManager instance] mdmEnrolledAccount] returns the UPN instantly correctly.
❌ But [application getCurrentAccountWithParameters ...] always returns null, even when the enrollment dialogue

[2022-04-07 18:30] juan-arias commented on #1467
Hi @kanyaks, in general this is not recommended, please let us know if there is any specific reason you would like to prevent launching the broker app.

[2022-04-07 21:22] #1463 closed

[2022-04-07 21:58] juan-arias commented on #1468
Hi @didldum, do you have any error message as part of the completionBlock (`MSALCurrentAccountCompletionBlock`)?

[2022-04-08 05:29] didldum commented on #1468
No, error argument is null (or false).

We also noticed the enrollment dialogue after PIN/fingerprint sometimes hangs and never finishes. Maybe related?

[2022-04-11 07:11] AceChen1 opened #1469 "Intune Wrapping Tools can share the login session or cookies via MSALWebviewTypeAuthenticationSession Setting ?"
Hi guys, may i know we can get the login session or cookie after use wrapping tools way login successfully? for currently, we use AAD as KEYCLOAK IDP, i need load the KEYCLOAK url to get the KEYCLOAK grant code, then use grant code to get the KEYCLOAK token (OAuth flow), but if the wrapping tools login session can't be shared to app, we need login again on the KEYCLOAK side. any way can just need

[2022-04-11 09:27] Drzaln commented on #764
Hi @aaronjedwards
I'm facing the exact same issue, but my keychain already correct and using iOS 15.4.1

[2022-04-13 16:43] LibertyDev18 commented on #1400
Thank you @ameyapat. We'll pull the latest version down and a run through our test cases to confirm.

[2022-04-14 22:10] ameyapat commented on #1469
Hi @AceChen1 , Can you provide some clarification on what Keycloak is? Is keycloak using MSAL? If not, I think you should open a issue with keycloak

[2022-04-15 03:31] AceChen1 commented on #1469
Hi @ameyapat i just want to know the MSAL lib can set the MSALWebviewTypeAuthenticationSession setting to let Intune Wrapping Tools also use MSALWebviewTypeAuthenticationSession config in IOS side?

[2022-04-15 15:35] ameyapat commented on #1469
You can set the default web view by following https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews#change-the-default-browser-for-the-request. The SSO/cookie sharing implications of which are : https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews#cookie-sharing-and-single-sign-on-sso-implications

[2022-04-16 04:38] #1404 closed

[2022-04-16 04:38] #1409 closed

[2022-04-21 02:17] juan-arias commented on #1468
@didldum, can you please share the logs from the app? They will help us troubleshoot the issue.

[2022-04-21 05:51] guidedways commented on #1460
This isn't stale - requesting user(s) to provide us with some examples.

[2022-04-21 05:54] guidedways commented on #1460
We're using the latest version of MSAL (1.2.1) and this is how we setup our prompt:

[code]

[2022-04-21 06:04] guidedways commented on #1460
Here's a screen recording - I'm trying to paste text into the field but CMD+V won't do anything, and right clicking there's no paste option:

https://user-images.githubusercontent.com/202437/164385186-438be4b0-88e9-46e0-a225-edf016df02d9.mp4

[2022-04-21 06:05] guidedways commented on #1460
This is macOS 12.3.1

[2022-04-21 19:10] ameyapat commented on #1453
1.2.1 is released and contains the fix for this. The symlinks are preserved in the package and codesigning shouldn't fail now.

[2022-04-21 19:10] #1453 closed

[2022-04-22 17:59] jasoncoolmax commented on #1455
The change should be in 1.2.1. Close this.

[2022-04-22 17:59] #1455 closed

[2022-04-27 19:27] LibertyDev18 commented on #1400
@ameyapat, thanks for your help with all of these topics. Testing is looking good so we should be all set for now. We can spin up another issue if/when we have additional questions.

[2022-04-28 02:03] kqiuciic opened #1479 "Should acquireTokenSilent be called concurrently?"
I'm trying to do sth like https://docs.microsoft.com/en-us/azure/active-directory/develop/scenario-mobile-acquire-token#ios-1
to call APIs after getting the access token, but there're chances that multiple API calls are made at the same time when the access token is expired and I did notice multiple requests sent from the app:
<img width="1300" alt="145206209-73479351-cace-459d-bc12-676557fe27c7"

[2022-04-28 21:08] kaisong1990 commented on #1479
Hi @kqiuciic

Thanks for reaching out, it should be fine to call multiple requests silently, and I don't think there could be an issue.

Let me know if you have any issue with this.

Also, can you provide some contexts/scenarios why need to call acquire token silently multiple times?

[2022-04-28 23:03] ameyapat commented on #1400
Thanks @LibertyDev18  for reporting the issue, glad to know the fix resolved the issue.

[2022-04-28 23:03] #1400 closed

[2022-04-29 02:11] kqiuciic commented on #1479
@kaisong1990 Our APIs are all protected, so I just try to get a fresh access token every time since `acquireTokenSilent` simply returns the token if it's not expired and will try to refresh it if expired. Do you have any suggestions?

[2022-04-30 23:19] #1447 closed

[2022-04-30 23:19] #1446 closed

[2022-04-30 23:19] #1449 closed

[2022-05-01 22:09] sullivanisoc commented on #1460
I'm continuing to have the very same experience, and I do _not_ have the same experience when, for instance, I am prompted to authenticate a MSFT application (so, I was presented with a visually identical login prompt for Office applications and could both paste into them and also could talk to my password manager).  I am also using macOS 12.3.1. I do not know how to identify the version of MSAL I

[2022-05-02 11:15] anton-simakov opened #1480 "MSAL stopped working after setting Google Chrome as the default browser (macOS)"
Hi,

I use `MSAL` with [Microsoft Graph SDK for ObjC](https://github.com/microsoftgraph/msgraph-sdk-objc) in my application, and I ran into a problem after setting `Google Chrome` as the default browser.

### Steps to reproduce

1. Go to System Preferences → General and set `Google Chrome` as the default browser.
1. Run [macOS Sample Code](https://github.com/Azure-Samples/active-directory-macOS-sw

[2022-05-02 13:52] kepe94 opened #1481 "WKWebview Silent Login - Session not working"
The silent login doesn’t work on the WKWebview, by logging in with the method ‘acquireTokenSilent’ using the wkWebView as webviewType.

After logging in, it requires to login again when opening the url with WKWebview.

How could I solve this issue?

Thank you in advance

[2022-05-02 16:38] hieunguyenmsft commented on #1460
Our web interface team is looking at this issue.
@guidedways  @sullivanisoc can you please confirm if the paste function still work on other fields?
@sullivanisoc Unless you own the app, there is no easy way to figure out if the app using MSAL or not, and which version.
Thank you for reporting the error.

[2022-05-02 16:52] sullivanisoc commented on #1460
On Mon, May 02, 2022 at 09:38:15AM -0700, Hieu Nguyen wrote:
***@***.***  @sullivanisoc can you please confirm if the paste function still work on other fields?

The only thing I ever get the dialogue for is authentication in the application, so I'll have to wait until it times out again to check this.

Thanks,

A
--
Andrew Sullivan
President & CEO, Internet Society
***@***.***
+1 416 731 1261

[2022-05-02 20:20] hieunguyenmsft commented on #1460
Hi, the UX team asks for more info and that would be great if you can help to provide them to narrow down the scope of this issue:
1. Network trace (Fiddler or Charles).
2. Try other identity providers (Google, Facebook, Apple..) to see if the error still persists.
3. Use MSA (Microsoft personal account e.g live.com or outlook.com account).
Thank you.

[2022-05-02 22:10] kaisong1990 commented on #1479
@kqiuciic Thanks for the info. In our ```MSALSilentTokenParameters```,  there is a ```forceRefresh``` (Bool) where you can set to skip local AT lookup to refresh a new AT each time. In general, it should be good, though I am not very clear why new AT is needed for the protected resource :)

[2022-05-03 21:19] brenmcnamara opened #1482 "Granting subset of scopes to clients"
Following up on an issue here that my team is having with MSAL authentication flow. We spoke with Microsoft Technical Support today, and they recommended we file an issue here.

Currently, our application is requesting a couple of scopes: `https://graph.microsoft.com/Calendars.ReadWrite.Shared` and `https://graph.microsoft.com/OnlineMeetings.ReadWrite` which fail to get granted when authenticating

[2022-05-04 04:19] kqiuciic commented on #1479
@kaisong1990 Oh, actually I'm making use of the cache. I need a *fresh* AT to avoid 401, not a *new* AT every time. Though being satisfied with current strategy (it's simple: you get one when you need one), I'm also curious if I should instead store and renew the AT routinely. Is it possible to get a cached about-to-expire AT from `acquireTokenSilent`?

[2022-05-05 01:43] kqiuciic commented on #1479
@kaisong1990 btw, is there any API to clean the AT from the cache for testing purposes?

[2022-05-05 12:33] lzouloumis commented on #1461
Hi @hieunguyenmsft,

Any news for this issue?

Thanks,
Lampros

[2022-05-05 16:11] hieunguyenmsft commented on #1461
Hi @lzouloumis , I haven't heard anything from the B2C team. I will ping them again today.
Thanks,
Hieu

[2022-05-05 22:14] jasoncoolmax commented on #1482
Hi @brenmcnamara , you can check here for a detailed example for how to handle MSALErrorServerDeclinedScopes error:
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-error-handling-ios#error-handling-in-msal-for-iosmacos

Let me know if it helps. Thank you!

[2022-05-05 22:17] jasoncoolmax commented on #1481
Hi @kepe94 , to be able to log in silently, you have to login in successfully interactively. The silent login call actually doesn't use the webview.

If you still cannot figure out, you can share with me the MSAL logs. I can help to take a look.

[2022-05-05 22:21] jasoncoolmax commented on #1480
Hi @anton-simakov , we do hear from some customers about similar behaviors as what you desribed. Some of them told us that the weird behavior will disappear once they upgrade their mac version to the latest. Would you mind trying the same?

If upgrading the system doesn't help, let me know and I can help take a deeper look. Thank you!

[2022-05-05 22:22] jasoncoolmax commented on #1469
Feel free to reopen if issue remains. Thank you!

[2022-05-05 22:22] #1469 closed

[2022-05-06 04:48] kaisong1990 commented on #1479
@kqiuciic
```btw, is there any API to clean the AT from the cache for testing purposes?```
There is no direct way of doing so, and the only way is to clean up eveyrthing, please refer to this [link](https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/dev/MSAL/src/public/MSALSignoutParameters.h#L69)

```Oh, actually I'm making use of the cache. I need a fresh AT to avoid 401,

[2022-05-06 07:57] anton-simakov commented on #1480
Hi @jasoncoolmax, thank you for your reply. I am on macOS **Big Sur** at the moment. I have **all** the latest updates installed. Did you mean that I need to upgrade to macOS **Monterey**?

[2022-05-06 07:59] kepe94 commented on #1481
Thank you! Other question:
why if I open a sharepoint site on ios <15 the webview requires the login and after, instead of opening the article, it goes in loop with the login and on ios 15 everything works correctly?

[2022-05-11 08:12] kqiuciic commented on #1479
@kaisong1990 sorry but we're facing crashes around `MSALPublicClientApplication.getCurrentAccount`, is it safe to call this concurrently?

[2022-05-12 14:27] dragantr opened #1484 "AcquireToken returning an error: (com.apple.AuthenticationServices.WebAuthenticationSession, 3)"
I am using the MSAL 1.2.1 version and during the `MSALPublicClientApplication acquireTokenWithParameters` it returns the following error:
`2022-05-11T13:55:56.460Z	WARN		com.symphony.intune	0			 IntuneMAM: TID=114384 MSAL 1.2.1 iOS 15.4.1 [2022-05-11 13:55:56 - DD636EF2-49C3-42FD-AD1F-C72DAAA246E3] [MSAL] acquireToken returning with error: (com.apple.AuthenticationServices.WebAuthenticationSession

[2022-05-12 21:12] jasoncoolmax commented on #1481
Is the above involving MSAL? If yes, can you provide the MSAL logs such that I can take a look?

[2022-05-12 21:14] jasoncoolmax commented on #1480
Yes. Let me know if upgrading to the latest Monterey solves your issue.

[2022-05-12 21:14] #1482 closed

[2022-05-12 22:08] jasoncoolmax commented on #1484
@dragantr If possible, could you share the MSAL logs or even better a video of the repro? So far I don't have enough info to decrypt what actually happened :P

[2022-05-12 22:15] jasoncoolmax commented on #1479
Hi @kqiuciic Could you provide the MSAL logs + crash logs/reports for the crashes you mentioned? The crash is not expected.

[2022-05-12 22:16] jasoncoolmax commented on #1468
@didldum Do you happen to have the logs that we need? Feel free to reopen this issue when that is ready. Thank you very much!

[2022-05-12 22:16] #1468 closed

[2022-05-12 22:17] jasoncoolmax commented on #1467
Feel free to reopen if the issue remains.

[2022-05-12 22:17] #1467 closed

[2022-05-13 06:58] dragantr commented on #1484
hi, @jasoncoolmax thanks for a quick response. I attached the full logs:

[IntuneMAMDiagnosticFiles.txt](https://github.com/AzureAD/microsoft-authentication-library-for-objc/files/8684784/IntuneMAMDiagnosticFiles.txt)

[2022-05-13 11:47] MohamedJaffer-24 opened #1485 "Acquiring Device Id from decoding AccessToken in iOS"
Is it possible to fetch Device Id by decoding the base 64 Encoded AccessToken?

Device Id -> In Microsoft Authenticator App, After Device Registration , there will be a device id shown there.

At First, I was able to see the Device Id after decoding the access token. But then After when i try it by changing the Microsoft Account ,I cant get it again. I can only get the Access Token, but on decodin

[2022-05-13 16:19] YoonLee commented on #1420
Our organization distributes inTune iPad (Outlook, Team, Authenticator, and Comp Portal preinstalled.
I feel having authenticator app to do authenticate are high coupling,
- App need to go external Authenticator app space and return back is extra steps. Instead preferred for  internal authenticate.
- The iPad can be shared with other associates, and log out then log in jumping back and force app t

[2022-05-13 16:50] hieunguyenmsft commented on #1420
Hi @YoonLee, thank you for your suggestions. IMHO, balancing between security compliance and ease of use really needs our attention here.
- Can you elaborate more about internal web SSO for my learning? I wonder if that's internal, how is the SSO session shared between apps that using ADAL/MSAL or not using our libs at all (and to the extension of system apps e.g Safari browser)?
- Shared device f

[2022-05-13 18:06] dragantr commented on #1484
Hi @jasoncoolmax I found the issue and solve it. You can close the issue. Thank you

[2022-05-13 18:07] #1484 closed

[2022-05-14 04:51] arisun opened #1486 "Unable to fetch access-token from acquireToken(with: parameters)"
Our iOS app uses WKWebView for authentication, it was working few months back, but it is not getting worked right now.
It gives the following error:
`MFA Error: TID=5064945 MSAL 1.2.0 iOS 15.4.1 [2022-05-13 23:44:19 - 4466CC51-9C93-4A77-8820-904EAB301F85] [MSAL] Start webview authorization session with webview controller class MSIDAADOAuthEmbeddedWebviewController.`

Any guidance will be appreciab

[2022-05-15 23:28] sullivanisoc commented on #1460
Hi,

I don't know what you all did, but just now pasting the password into the dialogue worked for me again.

Busycal Version 2022.2.2 (202220228)

This is on my macOS 12.3.1 (21E258) on an M1.

Hope this is useful.

A

On Mon, May 02, 2022 at 01:20:43PM -0700, Hieu Nguyen wrote:

--
Andrew Sullivan
President & CEO, Internet Society
***@***.***
+1 416 731 1261

[2022-05-16 06:34] guidedways commented on #1460
Had to switch to a different authentication mechanism. Their web view authentication is broken.

[2022-05-16 12:25] ljunquera commented on #1437
@kaisong1990 and @antrix1989 and word on this feature? Do we have a target date for this?

[2022-05-16 18:37] brenmcnamara commented on #1482
Hi @jasoncoolmax , thanks for the response.

I saw the error-handling approach provided in the link, but a bit confused on how exactly it would work.

The example has the following line of code:

[code]

It looks like it is assuming that we somehow already have silent parameters that we can use to make a follow-up request, but I'm not really sure how to create this unless we already had a successf

[2022-05-16 20:57] HarmanDhunna commented on #1461
Hello @lzouloumis,

Please take a look at the paragraph in [this](https://docs.microsoft.com/en-us/azure/active-directory-b2c/openid-connect#refresh-the-token) doc.

Currently (and most likely for the foreseeable future) B2C does not support updating the claims (other than the ones listed in the doc above) when redeeming refresh tokens. From my research on other GitHub issues, this seems to be int

[2022-05-18 00:54] ameyapat opened #1487 "test"

[2022-05-18 00:55] #1487 closed

[2022-05-18 04:33] bgavrilMS opened #1488 "Title for the Issue"
Body of the issue

[2022-05-18 04:34] #1488 closed

[2022-05-18 18:04] bgavrilMS opened #1489 "Automation tests failure"
Automation failed for https://github.com/AzureAD/microsoft-authentication-library-for-objc ran against Testing creating an issue [6351270680dddcf7a92949ca60d78882bd5c6e19]  branch
      Pipeline URL : [gdfg](https://identitydivision.visualstudio.com/IDDP/_build/results?buildId=924054&view=logs)

[2022-05-18 18:08] #1489 closed

[2022-05-18 18:13] bgavrilMS opened #1490 "Automation tests failure"
Automation failed for [AzureAD/microsoft-authentication-library-for-objc](https://github.com/AzureAD/microsoft-authentication-library-for-objc) ran against Testing [97554276ea9d8566531dc5500bd124ef108b5247]  branch

      Pipeline URL : [https://identitydivision.visualstudio.com/IDDP/_build/results?buildId=924081&view=logs](https://identitydivision.visualstudio.com/IDDP/_build/results?buildId=9240

[2022-05-18 18:15] #1490 closed

[2022-05-19 21:26] bgavrilMS opened #1493 "Automation tests failure"
@AzureAD/appleidentity
Automation failed for [AzureAD/microsoft-authentication-library-for-objc](https://github.com/AzureAD/microsoft-authentication-library-for-objc) ran against Install python only when previous tasks fail [fa8d475baedd49d75f3b8f30d8f9d260367b7047]  branch
 Pipeline URL : [https://identitydivision.visualstudio.com/IDDP/_build/results?buildId=925030&view=logs](https://identitydivi

[2022-05-19 22:01] jasoncoolmax commented on #1479
Feel free to reopen the issue when logs/crash reports are ready. thank you!

[2022-05-19 22:02] jasoncoolmax commented on #1480
Free free to reopen if the issue remains

[2022-05-19 22:02] #1480 closed

[2022-05-19 22:09] #1460 closed

[2022-05-19 22:12] antrix1989 commented on #1486
@arisun Could you send the full log to this email sedemche@microsoft.com

[2022-05-19 22:12] azure-pipelines[bot] opened #1495 "Automation tests failure"
@AzureAD/appleidentity
Automation failed for [AzureAD/microsoft-authentication-library-for-objc](https://github.com/AzureAD/microsoft-authentication-library-for-objc) ran against Trying without using service connection [e683b98b944a11f9af65fd04bf966cdfcfb88a64]  branch
 Pipeline URL : [https://identitydivision.visualstudio.com/IDDP/_build/results?buildId=925127&view=logs](https://identitydivision.

[2022-05-19 22:13] #1461 closed

[2022-05-19 22:17] antrix1989 commented on #1437
We don't have the ETA at the moment, but we are always encouraging contributions.

[2022-05-19 22:20] antrix1989 commented on #1485
May I know why you need the device id? We don't support getting it from the access token.

[2022-05-19 22:25] bernawy commented on #1466
Hi @ekscrypto, would you please submit a support ticket for this?
You can follow the steps here - https://docs.microsoft.com/en-us/azure/active-directory-b2c/find-help-open-support-ticket#how-to-open-a-support-ticket-for-azure-ad-b2c-in-the-azure-portal
Thank you.

[2022-05-20 03:05] guidedways commented on #1460
@antrix1989 Has this been fixed?

[2022-05-20 08:06] umapriyadarsi commented on #1485
We sync the list of devices from Azure AD and are trying to create an inventory of the list of devices which are present in our inventory. We are able to do this already for Windows devices(The certificate is present in Windows Certificate Store. The Certificate subject ID is the Device ID which matches with Azure AD REST API data for /devices).

We are now also trying the same for iOS.

We got to

[2022-05-23 06:52] robin202205 opened #1496 "App crash on -[MSALPublicClientApplication acquireTokenSilentWithParameters:completionBlock:]"
OS Version: iOS 15.4.1 (19E258)
Report Version: 104

Exception Type: EXC_BAD_ACCESS (SIGBUS)
Exception Codes: BUS_NOOP at 0x00000005f02f9ae0
Crashed Thread: 4

Application Specific Information:
9a5a-bf0537da0013 > account >
Attempted to dereference garbage pointer 0x5f02f9ae0.

Thread 4 Crashed:
0   libobjc.A.dylib                 0x35800b970         objc_retain
1   MSAL

[2022-05-23 21:15] shafersystems opened #1497 "Potential security issues reported from Veracode scan"
MSIDSymmetricKey.m. line 217, tmpFixedInput is used without validating that the memory was successfully allocated.
MSIDBrokerCryptoProvider.m line 125, return value of getCString is ignored so you don't know if memory was successfully allocated.
MSIDSymmetricKey.m line 193, keyDerivated is not checked to make sure memory was allocated before being used

[2022-05-25 10:47] parora9594 opened #1499 "Issue in Self signed mac pkg file related to keychain!!!!"
Hi,
We are integrating MSAL in our Mac Application to register on Azure portal. we are getting bellow error in signed build only while running from xcode everythig is working fine.

`MobiControl[40882]/1#-1` LF=0 copy_matching Error Domain=NSOSStatusErrorDomain Code=-34018 "Client explicitly specifies access group ASDSDSDDWW.com.microsoft.identity.universalstorage but is only entitled for (

    "

[2022-05-25 18:03] parora9594 commented on #1499
@antrix1989 Please help.

[2022-05-26 06:14] umapriyadarsi commented on #1485
@antrix1989 any update on this? Would appreciate your view on how this can be achieved?

[2022-05-26 18:37] jasoncoolmax commented on #1479
Feel free to reopen the issue if issue remains.

[2022-05-26 18:37] #1479 closed

[2022-05-26 18:37] jasoncoolmax commented on #1481
Feel free to reopen if issue remains.

[2022-05-26 18:37] #1481 closed

[2022-05-26 22:44] juan-arias commented on #1485
Hi @umapriyadarsi, we no longer support decoding the access token in order to get the device id. Getting it is now an internal system operation and not supported for 3rd party developers; nevertheless, we would like to know more about what is the objective you are trying to achieve once you get the device id.

If the end goal is to make sure the device is registered, we suggest configuring a resou

[2022-05-26 22:55] juan-arias commented on #1497
Hi @shafersystems, thanks for reporting this, we will apply some changes to prevent these possible issues.

[2022-05-26 22:56] juan-arias commented on #1496
Hi @robin202205, can you please send logs instead? That will help us better troubleshoot the issue.

[2022-05-26 22:57] juan-arias commented on #1466
Closing this issue, @ekscrypto please take a look at the previous comment for additional help.

[2022-05-26 22:57] #1466 closed

[2022-05-27 02:21] robin202205 commented on #1496
@juan-arias you mean what log？

[2022-05-27 02:23] robin202205 commented on #1496
OS Version: iOS 15.4.1 (19E258)
Report Version: 104

Exception Type: EXC_BAD_ACCESS (SIGBUS)
Exception Codes: BUS_NOOP at 0x00000005f02f9ae0
Crashed Thread: 4

Application Specific Information:
9a5a-bf0537da0013 > account >
Attempted to dereference garbage pointer 0x5f02f9ae0.

Thread 4 Crashed:
0   libobjc.A.dylib                 0x35800b970         objc_retain
1   MSAL

[2022-05-27 03:15] umapriyadarsi commented on #1485
@juan-arias is my understanding correct that at least as late as 25th Feb 2021 this was supported as mentioned by @oldalton here : https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1204#issuecomment-785305664
?

The end goal is to create an inventory of the devices joined with Azure Ad.

[2022-05-27 04:16] oldalton commented on #1485
@umapriyadarsi, we never supported or recommended for clients to decode access tokens directly. Access tokens are meant for resources/APIs and shouldn't be decoded by clients. If you have a scenario where your API requires a deviceId, you can request deviceId through a custom claims parameter just like you did. However, this access token shouldn't be decoded by the iOS client app. We have this doc

[2022-05-27 05:50] umapriyadarsi commented on #1485
@oldalton I am not particularly about the access token. We are mainly looking to get the DeviceId.

We have been trying various things, and we were able get the DeviceId in iOS twice by base 64 decoding the access token.
In Android, we are able to consistently receive the deviceId, by base 64 decoding the access token. So, we began with that assumption. That is the only link for access token. Othe

[2022-05-27 18:34] oldalton commented on #1485
@umapriyadarsi, thanks, in this case I recommend requesting this in the "id_token".
You can try to explicitly request a deviceId claim using this parameter: https://azuread.github.io/microsoft-authentication-library-for-objc/Classes/MSALClaimsRequest.html

Configure it with the following JSON: `{"id_token":{"deviceid":{"essential":true}}}`

Unfortunately, I cannot guarantee it will work since we d

[2022-05-30 12:29] MohamedJaffer-24 commented on #1485
@oldalton  Thank You  . This Custom Claims Method for fetching deviceid , worked great .
Can you please close the ticket and thank you everyone for helping on this.

[2022-05-30 12:29] #1485 closed

[2022-05-31 01:04] juan-arias commented on #1496
@robin202205, we need the logs from the output from the application, when running it in Xcode

[2022-05-31 20:04] guidedways opened #1501 "Cannot paste password when using MSALWebviewTypeWKWebView"
I don't know why this issue was closed: https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1460

It's becoming a serious pain for all our users. Please can someone have a look into this? By simply using `MSALWebviewTypeWKWebView` you can reproduce this - CMD+V stops working in the password field and password managers don't work either.

[2022-06-01 17:26] naveenkumard opened #1502 "How to force iOS app's SSO login through Edge browser instead of Safari?"
Hello team,

One of our customer is facing issue related to SSO login in our app when they try to do login in their MDM device (using MS Intune). They do have conditional access setup in place. Our SSO login flow opens safari browser within the app to do login but due to conditional access in place login fails with error code 53003. They say that other apps (ex Workday iOS app) opens Edge browser

[2022-06-02 09:07] naveenkumard commented on #1502
@oldalton : Can you help here? Thanks

[2022-06-02 20:36] juan-arias commented on #1499
Hi @parora9594,

Since you mention it works when running from Xcode, I'm assuming you already have a correct *.entitlements file and an entry for Debug, so an entry for Release might be missing.

Please check on your project -> your target -> Build Settings -> Code Signing Entitlements
and make sure you have entries for Debug and Release (they can both point to the same *.entitlements file), for e

[2022-06-02 22:15] mipetriu commented on #1502
@naveenkumard Thanks for your question. Could you help to clarify your scenario a little bit more? Are users going through the SSO login flow through your app? And are you using ASWebAuthenticationSession or another system browser to open the Safari browser?

Also, just for context, what kind of CA policies are causing the failure in this case?

[2022-06-02 23:20] mipetriu commented on #1501
Hi @guidedways, I'm not sure exactly why the previous issue was closed, I can double check on that.

Regarding the issue, I see in the previous issue that there were a couple of questions from our server-side auth UX team that I'm not sure were answered:

1. Is this behavior only in the Microsoft auth flow? For example, if the affected user opens a webview to Google's auth flow, are they able to p

[2022-06-03 04:22] naveenkumard commented on #1502
@mipetriu : Yes, our customer uses SSO login flow through our app. When user enters email id in the UI, our own server determine whether the login is SSO based or password based login flow. If SSO, then our own server return SSO URL and our iPhone app loads the URL in WKWebView. Since WKWebView uses webkit engine internally (the same used by Safari) and they have some kind of conditional policy se

[2022-06-03 12:20] guidedways commented on #1501
Please see this video. It does not work. There's no paste option in the right click menu and CMD+V does not respond. You can see me trying:

https://user-images.githubusercontent.com/202437/171852236-fb35f421-457d-42fc-93fa-ad9b6bd5645c.mp4

Here's our code:

[code]

[2022-06-03 12:20] guidedways commented on #1501
This does not work for any Office 365 account we've tested with. **All** our users report the same issue.

[2022-06-03 17:22] mipetriu commented on #1501
@guidedways Do you mind doing a quick test to answer the questions above? From the webview you see in the video, please choose "Sign in with another account" -> "No account? Create one!" and then double-check if pasting is possible in the account creation form. I'd like to bring this info back to our auth UX team try to understand this issue better.

[2022-06-03 17:24] guidedways commented on #1501
I think that works (without verifying) because while I was testing I entered a fake email and since that didn't exist it made me go back and enter the login again - this time I could paste! So it was surprising for me, I thought it's fixed. For the video I used my real account and indeed it failed. So yes, this is a bug when you're using an existing account.

[2022-06-03 17:27] guidedways commented on #1501
I should add that the non-webview method has been giving us a lot of headaches separately as it frequently fails and then if you try again it says "you can only have one auth session". Users have to frequently force quit their browsers to make it work.

The web view works flawlessly except it does not allow pasting passwords or using a password manager to paste for them, so it's incredibly painful

[2022-06-03 22:17] mipetriu commented on #1502
@naveenkumard I see, thanks for the added context. As far as I know, it's not possible on iOS to use a different browser (like Edge) as an embedded webview within the app. MSAL uses Safari webviews, but has specific handling for cases where CA policies must be resolved.

I have a few suggestions that you could try out.

1. Try using a system browser like [ASWebAuthenticationSession](https://develo

[2022-06-03 22:32] mipetriu commented on #1501
@guidedways I'm sorry, I just want to make sure I understand your reply:

_I entered a fake email and since that didn't exist it made me go back and enter the login again - this time I could paste!_

I'm trying to understand if different Microsoft auth UX pages (login vs. sign up) are behaving differently for you, so I can work with our auth UX team to understand if there's a pattern. Are you sayi

[2022-06-05 05:48] guidedways commented on #1501
Here are two videos.

1. I passed in "jerry@busyapps.onmictosoft.com" as the login hint, then in the login window, I clicked on "Sign in with a different account", tried to paste into login there, did **not** work. Clicking next and pasting into the password field also fails.

https://user-images.githubusercontent.com/202437/172037217-970c8600-381d-4611-bfc9-a03b96a5539c.mov

[2022-06-05 05:48] guidedways commented on #1501
2. Second video is when we did not pass any login hint do begin with. Even so, I cannot paste into the field. It just refuses pasting altogether.

So basically pasting fails regardless either way, in both the login and the password fields.

https://user-images.githubusercontent.com/202437/172037231-7adbcc50-7562-48cd-b270-61cd37d7f3e4.mov

[2022-06-05 05:51] guidedways commented on #1501
Finally third video. I clicked on "Sign in with a different account" then on "Create a new account" and boom - the window just closed 😦

**Please, please** have the UX team fix the "paste" issue. These days people use password managers and keep 20 character long passwords. It's killing them.

https://user-images.githubusercontent.com/202437/172037325-b1b09da0-0430-41aa-9c49-dd0c2a2c2bce.mov

[2022-06-05 05:54] guidedways commented on #1501
If they need an app to test this with, please install our trial app (free): https://busymac.com/busycal/index.html

[2022-06-06 00:57] stutivaidya commented on #935
Hello, running into the same problem. "Implicit declaration of function 'MSID_LOG_WITH_CTX' is invalid in C99"

Tried out above suggestions but still running into the same error.

[2022-06-06 01:03] stutivaidya opened #1503 "Implicit declaration of function 'MSID_LOG_WITH_CTX' is invalid in C99"
Hello, after adding pod 'MSAL' when i try to build the project, i am running into the following error "Implicit declaration of function 'MSID_LOG_WITH_CTX' is invalid in C99"
Xcode version : 13.3.1
MSAL version: 1.2.1

<img width="971" alt="Screen Shot 2022-06-05 at 6 01 33 PM" src="https://user-images.githubusercontent.com/11149194/172078469-5f5eec4d-2679-4b56-b387-e61e7c1717e3.png">

[2022-06-06 12:21] naveenkumard commented on #1502
@mipetriu : Thanks for your response. As you suggested, I tried the option 1  but stuck with call back URL issue.  Let me explain in details. Once our mobile app receives SSO login URL, our app loads it using ASWebAuthenticationSession. This launches system browser to do login. After user makes successful login, it redirects to one of our web app URL which loads our web app. Now I'm not sure how t

[2022-06-06 16:11] guidedways opened #1505 "error: Unable to create RSA key with the provided exponent and modulus?"
I'm not sure what this even means but one of our users is seeing this. Any help please?
![img-0](https://user-images.githubusercontent.com/202437/172200687-2c98fe82-91a2-4500-b4c1-216f92935eea.png)

[2022-06-06 19:25] ameyapat commented on #1505
Hi @guidedways ,thanks for bringing this to our attention. This error might be thrown by our token service due to a bug in device registration for some macOS devices. To confirm, can you ask the user to create an incident by opening company portal app -> Help -> 'Send diagnostic report'. Please share the incident ID here

[2022-06-07 00:46] guidedways commented on #1505
Thanks - they don't know what that means (I.e how to do that).

[2022-06-07 04:23] ameyapat commented on #1505
Please ask them to follow these instructions : https://docs.microsoft.com/en-us/mem/intune/user-help/send-errors-macos#share-diagnostic-details

[2022-06-07 18:36] mipetriu commented on #1501
@guidedways Thanks for linking your trial app. I downloaded it and tested it out - I can see the same behavior you've mentioned and showed in the videos. When I configured our MSAL Test Mac app with `webviewParameters.webviewType = MSALWebviewTypeWKWebView`, prompt = login, and a passed in loginHint, I'm finding that the webview looks the same as in your app, but I can paste. That seems to suggest

[2022-06-07 18:45] mipetriu commented on #1502
@naveenkumard I see. Unfortunately the scenario that you're building is unsupported by Microsoft or MSAL. We wouldn't recommend redirecting the webview to your web app and collecting the token from the WKHTTPCookieStore. MSAL follows the OAuth2/OIDC protocol to request tokens directly on behalf the application, so we provide a redirect URI to our webview that will return the callback to the app. I

[2022-06-07 19:07] ameyapat commented on #1501
@guidedways If it is a passed in webview, using to https://developer.apple.com/documentation/uikit/uiresponder/1621105-canperformaction?language=objc to enable pasting might be an option? I found the paste option was disabled in the edit menu of the app

[2022-06-07 19:12] guidedways commented on #1501
Thanks @ameyapat I'm not sure I follow - we're not using a custom WebView. Our code is pretty straightforward. You feel this may have something to do with the FirstResponder and the edit menu simply being disabled for the popup window? However we're not controlling that window - MSAL is. Should the Edit menu handler not be present as part of MSAL's offering?

[code]

[2022-06-07 20:15] guidedways commented on #1501
Okay that was it 🤦‍♂️ It turns out the Paste menu was being disabled by one of the first responders given we've internally mapped CMD+V to a swizzeled method call. It was out fault after all. Thank you for bearing with me!

[2022-06-07 20:15] #1501 closed

[2022-06-08 05:04] #1496 closed

[2022-06-08 05:04] juan-arias commented on #1499
Please feel free to reopen in case issue persists.

[2022-06-08 05:04] #1499 closed

[2022-06-08 05:33] naveenkumard commented on #1502
@mipetriu : Thanks. We are also working on MAM (mobile app management) support which requires MSAL in oder to apply the app policy on our app. The new app is going to use MAM and MSAL SDK's to support it. So if we ask our customer to use this new app which is a dedicated app for Intune, will it solve the conditional access policy issue (the original issue reported here)? The reason I'm asking beca

[2022-06-08 16:43] oldalton commented on #1503
Per offline discussion, you're including both ADAL and MSAL in your project. CocoaPods doesn't really know how to resolve same submodule dependency for both of them correctly. That's why you're seeing this issue. Please try removing ADAL and see if this resolves your issue.

[2022-06-09 22:20] ameyapat commented on #1503
Closing issue, please let us know if the issue persists

[2022-06-09 22:20] #1503 closed

[2022-06-09 22:20] ameyapat commented on #1502
Yees that should resolve the issue if you integrate MAM and MSAL SDKs correctly

[2022-06-11 20:38] frindler opened #1508 "Sign-in with MSAL for status bar app fails without window"
I have a macOS status bar app and would like to sign in the user when the app starts. I'm using MSAL 1.2.1 installed via Cocoapods.

If no user is logged in (if I cannot acquire a token silently), I call the following function from `applicationDidFinishLaunching` in my app delegate:

[code]
(this is essentially the version from the [MSAL macOS/iOS example](https://docs.microsoft.com/en-us/azure/ac

[2022-06-14 13:18] idelfonsog2 commented on #1459
Thank you for the response Jason, I completely move to another task at the time and here I'm again facing still the issue. I will put it in the main thread

[2022-06-14 18:30] kaisong1990 commented on #1508
@frindler Thanks for your question.

The error message is thrown by Apple system instead of MSAL libs. There is a requirement since iOS 13 and macOS 10.15 that an anchor window is required in order to use ASWebAuthenticationSession.

Here is the reference: https://developer.apple.com/documentation/authenticationservices/aswebauthenticationpresentationcontextproviding/3237230-presentationanchorforw

[2022-06-14 20:24] frindler commented on #1508
@kaisong1990 Thanks for the quick reply. That sounds like a good workaround to this macOS issue!

[2022-06-14 20:24] #1508 closed

[2022-06-16 22:06] #1495 closed

[2022-06-17 18:36] adkeswani opened #1510 ""Failed to serialize SSO request dictionary for get accounts request" after changing client ID, redirect URI, etc."
I was trying the sample app from here: https://github.com/Azure-Samples/ms-identity-macOS-swift-objc/

It ran fine with the demo client ID, redirect URI, etc. that were already present.

I then registered my own app and replaced the demo client ID, redirect URI, etc. with my own.

Now whenever I run the app I get "Failed to serialize SSO request dictionary for get accounts request", with internal

[2022-06-17 18:45] adkeswani commented on #1510
I also tried creating an entirely separate copy of the app and replacing the client ID, redirect URI, etc. before running it, but it immediately hit the SSO error. It's as though there is some global state that is now polluted by the demo client ID, redirect URI, etc.

[2022-06-17 19:06] adkeswani commented on #1510
Changing to a custom keychain group didn't help either (hit the same SSO error), which implies that the cache causing this is not in the keychain group.

[2022-06-17 19:25] adkeswani commented on #1510
This may be related to Microsoft Company Portal enrollment, not client ID, redirect URI, etc. Testing...

[2022-06-17 19:26] adkeswani commented on #1510
Looks like that was the reason. Closing this for now. Hopefully useful to other MS employees who happen to try this.

[2022-06-17 19:26] #1510 closed

[2022-06-20 19:40] juan-arias commented on #1497
MSAL version 1.2.2 has been released.

[2022-06-20 19:40] #1497 closed

[2022-06-21 10:37] artemisia-absynthium opened #1512 "ID token expires before access token but doesn't get refreshed until access token expires"
Hello, I'm having an issue with the access token and id token expiration times being different from each other, details follow.

## Context

My use case is about AAD: I retrieve tokens with standard scopes and I'm using the access token to call Microsoft Graph APIs and the id token to call my custom server APIs, because the standard access token format doesn't allow my server to verify it ("aud" f

[2022-06-23 19:02] k-payne-lex opened #1514 "SwiftUI previews (canvas) no longer work properly after adding MSAL framework to project."
SwiftUI canvas previews working just fine until I added MSAL framework to project.  Now i get "Failed to build the scheme "myTestProject" for all views.  If I look at the diagnostics of the problem, i see the following:

I have tried to add "arm64" to the Excluded Architectures build setting, I get the same result. Is it possible the framework needs to be built as a xcxframework? Carthage seems to

[2022-06-23 22:04] hieunguyenmsft commented on #1505
Close as no logs provided.

[2022-06-23 22:04] #1505 closed

[2022-06-23 22:29] hieunguyenmsft commented on #1512
Hi @artemisia-absynthium, the idToken and accessToken issued for Graph should be only used for that service. Can you share more detail on how your service uses idToken?

[2022-06-23 22:42] hieunguyenmsft commented on #1514
Hi @k-payne-lex it looks like an architecture configuration issue, not an MSAL problem. Can you have a look at this link: https://developer.apple.com/forums/thread/669274 to see if it's similar to your issue.

[2022-06-24 08:56] artemisia-absynthium commented on #1512
Hi @hieunguyenmsft , thanks for the response, the idToken has my app id in the aud field, so I'm using that to call APIs on my server, while I'm using the accessToken only for Graph. How should it be instead if I need to access both Graph and my server?

[2022-06-24 20:48] hieunguyenmsft commented on #1512
IMHO, OAuth2 tokens aren't designed for cross-resources and shouldn't be used likewise. Think about breaching a promise with your user: in UI your app was asking for user consent to access Graph resource but in the background, it also reached out to another resource.
There are several options I think of:
- 2 separate requests to get 2 sets of tokens for different resources.
- If your service want

[2022-06-24 20:48] #1512 closed

[2022-06-24 20:50] hieunguyenmsft commented on #1512
Close as I think this is not a MSAL's issue.

[2022-06-27 08:49] jihad2022 commented on #1437
Hi y'all,

I'm trying to integrate MSAL with SwiftUI app as well.

I'm acquiring the token interactively from one of my SwiftUI Views upon appearing, see code below:

[code]
In my view model I've this code:
[code]
the `self` here is the SwiftUI view, and on my enrollment service/manager I've something like this:

[code]
Unfortunately, I'm getting the following error:
`Error Domain=MSALErrorDomain

[2022-06-27 09:17] jihad2022 commented on #1437
This is Working for fresh installation of the App, but not running afterward without signing in on 1st launch of the app. So basically the error is thrown from 2nd launch of the app and up.

[2022-06-27 13:14] k-payne-lex commented on #1514
Some additional information, I use carthage to pull and build the framework.  The resulting msal.framework file is then included in the project.  I am thinking my project needs a xcframework.  Thoughts?  I think xcode previews will only work if the ios-simulator binary is linked?  I am thinking the carthage build only creates .framework file, thus arm64 is missing?

[2022-06-27 19:17] hieunguyenmsft commented on #1514
@k-payne-lex which command did you use for Carthage build? I just ran on my end using ```carthage update --use-xcframeworks``` and it produces a .xcframework.

[2022-06-27 19:19] hieunguyenmsft commented on #1514
Inside that xcframework folder, I see 3 outputs: ios-arm64, ios-arm64_x86_84-simulator, and macos-arm64_x86_64 so I guess they are enough to run on a real device/ simulator. Let me know if you think otherwise.

[2022-06-28 17:58] #1514 closed

[2022-06-29 21:17] navee4721 commented on #1212
@rahulcode Did you find solution to this , i am facing similar issue. Even after fetching tokens interactively i am seeing bad token

[2022-06-30 17:54] shanecowherd commented on #649
It looks like 1.2.2 dropped, any luck it includes support for Catalyst? I need to come up with a solution using MSAL, some Javascript solution or to just pull MSAL out of my app.  Thanks!

[2022-06-30 21:55] #957 closed

[2022-06-30 21:55] #1486 closed

[2022-07-02 16:23] esummers commented on #649
@oldalton Will the conditional access issue blocking Catalyst support be resolved with the new Partner Compliance Management API that will be released for MDM providers this year?

If that will still be a blocking issue, +1 for supporting Catalyst anyway with a big warning that it may not work with some conditional access policies.

[2022-07-07 16:51] idelfonsog2 opened #1517 "Is Async/Await support in the library?"
I get the following docs

![Screen Shot 2022-07-07 at 11 50 05CDT](https://user-images.githubusercontent.com/7195235/177827793-52238812-c527-4a49-a20f-7478d6559dc1.png)

It seems it comes from the Objective-C Interface, although other methods are not using this "magic" is it supported in all methods or not? is there a specific branch that I should use the library from? or any information related t

[2022-07-07 19:59] idelfonsog2 opened #1518 "`acquireToken(with: parameters)` Main Thread Checker"
I have the following warning for this code:

`[UIViewController view] must be used from main thread only`
`self.applicationContext.acquireToken(with: parameters)`

should I wrap that line on the mainThread ?

[2022-07-07 22:29] antrix1989 commented on #1517
Yes, the public API of the MSLA library is Objective-C based. Objective-C methods with completion blocks are automatically translated into async methods in Swift. For example:

[code]

[2022-07-07 22:29] #1517 closed

[2022-07-07 23:13] antrix1989 commented on #1518
Yes, `acquireToken(with: parameters) `needs to be called from the main thread. We also provide the API to configure the [completion block queue](https://github.com/AzureAD/microsoft-authentication-library-for-objc/blob/dev/MSAL/src/public/MSALParameters.h).

[2022-07-07 23:13] #1518 closed

[2022-07-13 13:12] Frederikdam commented on #1459
Facing the same issue warning in the logs.

I'm calling `applicationContext.acquireToken(with: parameters)` from the main thread.

[2022-07-15 17:51] Happy202121 opened #1520 "App stopped working for GCC High tenants after migrating from ADAL to MSAL"
Describe the bug
Our app is in production. After migrating from ADAL to MSAL, our Intune-integrated app no longer works for GCC High customers. After entering their email and password, they get the error "AADSTS700016: Application with identifier not found in the directory (domain name)".

With ADAL, our GCC High customers did not get this error.

Smartphone:
Device: All iOS devices
iOS Version: A

[2022-07-16 21:31] Nicolaidam opened #1521 "Refresh accesstoken silently after logging in with Firebase"
Im using firebase for Microsoft authentication for an application. After login it should be possible to fetch data from Microsoft Graph.  When the user is authenticated with Firebase an OAuth access token and OAuth ID is provided, and the accesstoken can be used to fetch data from Microsoft Graph. Everything is working!

However, when the user is away from the app for a day (or something like that

[2022-07-19 03:42] naveenkumard commented on #1502
@engy-hussien : Sorry for the late reply as I missed your comment. We have integrated both MSAL and MAM in our app but we were not able to test it out due to non availability of environment setup at our end.

[2022-07-19 13:52] geohei opened #1523 "MSAL says broker is not enabled for device"
I'm using sample package below to make myself familiar with MSAL 1.2.2 (MSALiOS).
https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc
Microsoft Authenticator is installed on the device and correctly used by sample code above.
All works fine.

But ... if I implement the code in my app, I get an error while getting device information:

[code]

`Optional(Error Domain=MSALErrorDomain

[2022-07-21 22:07] kaisong1990 commented on #1502
@naveenkumard Would you have an ETA for testing, and let us know if the above suggestions would work.

[2022-07-21 22:10] kaisong1990 commented on #1521
@Nicolaidam Would you give try with MSAL for interactive login as well? We don't support the mixed senarios.

[2022-07-21 22:24] kaisong1990 commented on #1523
@geohei I would suggest going to ```MSIDRequestParameters+Broker.m```, and put breakpoint in the class to check which validation failed

[2022-07-21 22:27] kaisong1990 commented on #649
We don't have a plan supporting Catalyst at this moment

[2022-07-21 22:35] kaisong1990 commented on #1520
@Happy202121 Can you provide correlationIds and MSAL logs. Also, would be great if you can provide authorities and parameters you passed into MSAL

[2022-07-22 07:58] geohei commented on #1523
@kaisong1990 Thanks for your reply. Meanwhile I managed to make the broker (Microsoft Authenticator) pop up. I believe my mistake was that I left `msauth.com.microsoft.identitysample.MSALiOS://auth` (from the https://github.com/Azure-Samples/ms-identity-mobile-apple-swift-objc sample package) in the `Info.plist` (URL types) as well as `kRedirectUri`. When I changed both settings to the `msauth.MY_

[2022-07-25 10:17] sparkinson opened #1524 "Is silent SSO supported?"
Hello,

I would like to use and maintain an SSO session in Safari across a mobile app and a web app.

So, in the mobile app, I call "acquireTokenWithParameters", this opens a browser and logs the user in. If an SSO session already exists in the Safari browser I don't even need to enter credentials :) - fabulous.

My SSO session has KMSI enabled and this will keep the session alive for a long perio

[2022-07-25 20:38] mipetriu commented on #1524
@sparkinson You should be able to use `acquireTokenSilentWithParameters` to obtain a new access/refresh token without showing any browser or UI. The `acquireTokenSilentWithParameters` will return any available access tokens in MSAL's cache if available. If the access token is expired, it will use the refresh token to acquire a new access/refresh token pair. This way you should be able to avoid the

[2022-07-25 23:54] kaisong1990 commented on #1523
@geohei You might find this link useful as a quick start:
https://docs.microsoft.com/en-us/azure/active-directory/develop/mobile-app-quickstart?pivots=devlang-ios

```MY_BUNDLE_ID``` was added into info.plist by Xcode when creating the app. And yes, the redirectUri needs to be added manually into infp.plist, and it needs to be the same as the one you registered in the portal in order to make the a

[2022-07-26 07:38] sparkinson commented on #1524
Thanks so much for the response.

But not quite. I was interested whether this method could be used to obtain
completely fresh access and refresh tokens using an SSO session. This would
be if the refresh token has expired but you still have an active SSO
session.

After some more thought I don’t think it possibly can. It requires opening
a web page (which is done in a hidden iframe app n web apps)

[2022-07-26 15:32] geohei commented on #1523
@kaisong1990 I followed your quick start link, created an Azure test account and tested quite some configurations. The problem with this project is that (1.) I do not have access to the Azure AD I have to write iOS code for, (2.) nor do I have an test user account to test run my settings/configuration. All I have is the concerned Azure's application URL answer from a user's Firefox web inspector r

[2022-07-26 18:36] mipetriu commented on #1524
@sparkinson Ah, I see, apologies for my misunderstanding. Yes, the `acquireTokenSilentWithParameters` API is meant to acquire updated tokens with existing tokens. It will not be able to use cookies saved in the Safari browser to acquire tokens silently.

MSAL can be configured to use a system browser like ASWebAuthenticationSession that will share cookies with Safari, but you're correct, the user

[2022-07-27 12:48] SpoonTheGreater opened #1525 "MSALPromptType type `.login` shows the sheet but auto logs in."
Using the default `webviewType` for the `MSALWebviewParameters`, default values for the `MSALInteractiveTokenParameters` and setting the `promptType` to `.login` `acquireTokenWithParameters` always shows the web view sheet, but redirects to successful login without requiring user to enter username or password.

Using `signoutWithAccount` to sign out, but the web view cache isn't being cleared. Eve

[2022-07-27 20:09] artemisia-absynthium commented on #1512
Hi @hieunguyenmsft , thanks for providing options, it's clearer now.

[2022-07-27 21:04] danielt1263 commented on #1459
Can reproduce using the official sample app in MSAL 1.2.2 (does not happen with 1.1.x) Client code is not doing anything on a background thread.
To reproduce:

1. Run the sample app.
2. Click on the "Call Microsoft Graph API" button.
3. Click on the "Cancel" button of the alert that pops up.
4. Wait 30 seconds to see the warning.

(It seems to only happen the first time. Subsequent clicks on the c

[2022-07-27 21:44] danielt1263 opened #1526 "UIApplication.endBackgroundTask not being called properly in version 1.2.2"
Can reproduce using the official sample app with MSAL 1.2.2 (does not happen with 1.1.x) Client code is not doing anything on a background thread.
To reproduce:
1. Run the sample app.
2. Click on the "Call Microsoft Graph API" button.
3. Click on the "Cancel" button of the alert that pops up.
4. Wait 30 seconds to see the warning.

(It seems to only happen the first time. Subsequent clicks on the

[2022-07-27 21:45] danielt1263 commented on #1526
This is a rehash of issue #1459

[2022-07-28 22:10] mipetriu commented on #1526
@danielt1263 Thank you for reporting this. I will attempt to repro this on my end as well to see if I can take a closer look.

[2022-07-28 22:14] mipetriu commented on #1525
@SpoonTheGreater As part of the MSALSignoutParameters, could you try to set the `signoutFromBrowser` param to true?

[code]

Another question: are you using SSO extension in your scenario?

[2022-07-28 22:47] kaisong1990 commented on #1523
@geohei I see, unfortunately, we don't support both Safari redirect and broker flow redirect at the same time. In order to use broker flow, you will need to update the redirectUri from Azure portal (or ask your team's admin for the updates).

[2022-07-29 13:34] danielfarrell-transact commented on #1525
Thanks @mipetriu!

We've tried setting `signoutParameters.signoutFromBrowser = true` and we get the following strange behaviour (see video) and when the user attempts to re-enter the app they're not prompted for username / password.

https://user-images.githubusercontent.com/65712630/181770135-4c7421e1-6e99-4e30-8b1a-027cb5ec144a.MP4

[2022-07-29 16:12] guidedways opened #1527 "TLS error showing up"
Any idea why we're seeing this?

[code]

[2022-07-29 20:03] mipetriu commented on #1525
@danielfarrell-transact, this is the expected behavior for the `signoutFromBrowser` param - we need to invoke the browser to complete that signout.

I do see that the user is not being prompted after the signout in your video. Would it be possible for you to provide MSAL logs of this behavior occurring so I can take a closer look? You could attach them here or send to mipetriu@microsoft.com if you

[2022-08-01 10:04] Nicolaidam commented on #1521
Actually I have already experimented with MSAL for the interactive login and it works fine, also when refreshing the graph token silently.

However my problem was that I wanted to use Firebase SDK for the Authentication part (where a graph token is provided as well) and refresh that token silently afterwards. But it seems like this is not possible to refresh silently, that's is my issue. It is not

[2022-08-02 10:35] mfclarke-ts commented on #1526
We're facing this issue as well. It's concerning because it may mess with our system budget for background fetch.

[2022-08-02 18:29] kaisong1990 commented on #1527
@guidedways MSAL SDK does not provide/limit TLS version, and should use Apple's networking framework. I would suggest checking your app configurations and local networking to make sure TLS 1.1 + is supported

[2022-08-02 18:37] kaisong1990 commented on #1521
@Nicolaidam Thanks for the details. MSAL has its own system and logic of managing tokens/account, and will not work with mixed flow as you mentioned above.

1. You might reach out to Firebase and ask if they provide a way of refreshing/managing tokens. Or
2. Use both Firebase for FB/Google login flows and MSAL for MS graph

[2022-08-02 20:28] Happy202121 commented on #1520
Thanks, working to gather those now.

[2022-08-05 14:24] noxo opened #1531 "MSALPublicClientApplication.acquireTokenSilent() completionBlock not called"
I've been observing random situations where MSALPublicClientApplication.acquireTokenSilent() completionBlock is not being called.

The code looks roughly following and is executed in main-thread.

[code]

Could it be the the code itself - which is effectively blocking the main thread? I.e is MsalApplication.acquireTokenSilent() dispatching something syncronously to main queue (in some certain cond

[2022-08-07 19:52] Nicolaidam commented on #1521
Yeah okay.That was also what I was thinking.
We have decided to do the token handling ourself on our custom python backend and then use MSAL for Microsoft login and graph token refreshing.
Thanks a lot! 🙏🏼

[2022-08-09 09:57] Rain-dew opened #1533 "file not found"
#import "IdentityCore_Internal.h"

[2022-08-09 10:01] Rain-dew commented on #1533
Specifically, the “identitycore” folder is empty. Why?

[2022-08-09 10:12] Rain-dew commented on #1533
Ok,I found it in xxxx1.2.2.zip.

[2022-08-09 10:12] #1533 closed

[2022-08-09 22:59] mipetriu commented on #1526
@danielt1263, @mfclarke-ts. Thanks again for bringing attention to these issues.

For the background task warning, there was indeed a bug in the background task handling for system webview requests. I've checked in a fix that will be in the next release, which will likely be available by early next week.

Regarding the "Attempting to load the view of a view controller", as far as I can tell we are

[2022-08-11 22:05] jasoncoolmax commented on #1526
Fix will be out in the coming release next week if everything goes well. Feel free to reopen the ticket if that doesnt' solve the warning. Thank you!

[2022-08-11 22:05] #1526 closed

[2022-08-11 22:09] jasoncoolmax commented on #1531
Could you please provide us the MSAL logs such that i can take a deeper look?
(If you haven't setup the logging yet, see [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging-ios?tabs=objc) for details)

BTW, are you calling the silent call in main thread? Can you try to call the silent call in a background thread? Let me know what you find out.

[2022-08-11 22:12] #1521 closed

[2022-08-11 22:19] jasoncoolmax commented on #1520
Feel free to reopen the issue once the data requested is ready.

[2022-08-11 22:19] #1520 closed

[2022-08-11 22:20] jasoncoolmax commented on #1527
Feel free to reopen the ticket if the issue remains.

[2022-08-11 22:20] #1527 closed

[2022-08-12 10:36] MatteoRed1983 commented on #1502
Hi everyone!

We are facing a similar issue and we cannot find any way to solve it actually. We want to distribute Tableau for Intune app in our corporate and these are the following settings:

-Our MDM is Intune
-Tableau for Intune app is MAM protected and approved in Intune
-We have conditional access policy that will block non-enrolled devices
-The authentication method for the app is MSAL

We

[2022-08-12 20:04] mipetriu commented on #1525
@danielfarrell-transact Thanks for sending the log, and apologies for the delay. From what I can see, this is a B2C scenario. That would explain why the `signoutFromBrowser` param didn't solve the issue - it does not work in the B2C case.

Based on this, my suspicion is that there is an issue here with SSO cookies not being cleared in the browser. I'm personally not extremely familiar with all the

[2022-08-16 11:37] danielfarrell-transact commented on #1525
Hi @mipetriu - I've just sent a network trace to your email as both `.trace` & `.chlsj` (Charles Proxy) files. Let me know if you need it in another format.

This is a network trace of the following:
Initial login > Logout > Login again with no prompt for users credentials

`wipeCacheForAllAccounts` & `wipeAccount` signout parameters were both set to true.

[2022-08-18 07:08] mipetriu commented on #1525
Hi @danielfarrell-transact, thanks for sending that info. After speaking to our B2C team, they are thinking that the issue lies with the mock SAML IDP that you are using. When MSAL passed `promptType = login` to B2C, it will make a request to the mock IDP with `ForceAuthN = true`. It appears that the mock IDP does not recognize the `ForceAuthN` param, and in this case B2C is working as expected.

[2022-08-19 16:33] danielfarrell-transact commented on #1525
Okay, thank you for your help @mipetriu 👍🏻

[2022-08-22 18:17] LibertyDev18 opened #1538 "MSAL SSO Extension - Azure AD vs Redirect Type Differences"
We are seeing a difference in behavior with SSO Extension and LOB apps when setting up the SSO configuration profile 'SSO app extension type' as Redirect vs. Microsoft Azure AD.

With the type set to Redirect we get exactly as we would expect where the first launch of the app and call to MSAL acquireTokenWithParameters briefly presents (slides up) a screen that is dismissed and the user is seamles

[2022-08-22 20:20] antrix1989 commented on #1502
@MatteoRed1983 can you use an embedded browser in MSAL instead of Safari?

Regarding "Link Failed" error, could you record the video and capture MSAL logs for us to take a look? You can send them to sedemche@microsoft.com

[2022-08-22 20:36] antrix1989 commented on #1538
@LibertyDev18 please capture MSAL and Authenticator logs (Hamburger button -> Send feedback -> Having trouble?). Send MSAL logs and Authenticator incident id to sedemche@microsfot.com.

[2022-08-23 02:06] LibertyDev18 commented on #1538
@antrix1989, email sent with requested information. Please let me know if we can provide anything additional.

[2022-08-26 03:14] smarapat opened #1540 "Issue with the login - ios16 beta7"
Hi team,
The login is not working in ios16 beta7. I have upgraded to the latest MSAL plugin but still facing the same issue.

Could you please help me?

[2022-08-28 22:21] antrix1989 commented on #1538
Azure AD configuration has extra settings to do the device registration and linking to Intune during the initial token request. This behavior is a known issue and the fix is expected to be rolled out in September.

[2022-08-28 22:21] #1538 closed

[2022-09-01 20:35] juan-arias commented on #1540
Hi @smarapat, can you please try again with iOS16 beta 8?
Also, please provide logs or additional information about what specific issue you are having.

[2022-09-05 04:53] guidedways commented on #1527
@jasoncoolmax we don't have any configuration within the app - more users are reporting the same issue:
[code]

[2022-09-05 04:54] guidedways commented on #1527
If you google for this, you'll find all kinds of complaints coming from Azure services so I think this is related to a bug in MSAL or Microsoft in general:

https://www.google.com/search?q=%22You+are+using+TLS+version+1.0%2C+1.1+and%2For+3DES%22&rlz=1C5CHFA_enAE951AE952&oq=%22You+are+using+TLS+version+1.0%2C+1.1+and%2For+3DES%22&aqs=chrome..69i57j69i59l4.402j0j7&sourceid=chrome&ie=UTF-8

[2022-09-05 04:55] guidedways commented on #1527
More links, but these are related to Windows. Our user is on macOS: https://docs.microsoft.com/en-us/mem/configmgr/core/plan-design/security/enable-tls-1-2-client

[2022-09-05 05:20] guidedways commented on #1527
I have a feeling this has something to do with `NSAllowsArbitraryLoads` set to `true` in the Info.plist file. This is probably causing it to connect via TLS v1.0. Is there a way to override this in code?

[2022-09-07 07:02] noxo commented on #1531
Thanks so much for the response.

We'll enable MSAL logging, to be able to gather more info.

And yeah, silent call is done in main thread. Moving the silent call is into background thread is something to consider, but I would first try to get the logs.

[2022-09-09 20:04] guidedways opened #1544 "Override / specify TLS version?"
Please see this issue:

https://github.com/AzureAD/microsoft-authentication-library-for-objc/issues/1527

It turns out that when you use `NSAppTransportSecurity` and enable `NSAllowsArbitraryLoads`, macOS somehow seems to connect via TLS 1.0 or 1.1 but NOT 1.2. The server (a university in this case) the user is connecting to requires v1.2 explicitly.

When we made the following change, it fixed it

[2022-09-12 05:43] tushar-iosd commented on #938
Hi @jatinmishra  were you able to achieve that ?

[2022-09-12 10:43] GitterRemote commented on #1437
a simple work around is to create a `UIControllerView` wrapper View in the SwiftUI.
[code]

then put the `MSALAuthPresentationView` under the `ZStack` in the parent View

[2022-09-12 15:07] jukemoon opened #1545 "Deleted Accounts Caching?"
I've been having trouble switching accounts in Authenticator. I've removed the account entirely from Authenticator and added my new one. Still, each time I run my iOS application, it prompts me to log in with the account that was just deleted from Authenticator. The only way I've had luck switching accounts is by performing a factory reset of the device.

Could you please assist?

[2022-09-14 11:34] dtatcbrain opened #1555 "Expired tokens returned from Authenticator"
We have a customer for an Intune iOS app with MSAL login through the MS Authenticator app against an Azure AD. Sometimes, for up to an hour at a time, some of their users get expired tokens from Authenticator. Looking at our logs, they have usually expired recently (less than 20 minutes prior to the login attempt).

We have been able to reproduce the behaviour, but only by setting back the clock o

[2022-09-15 12:16] #1525 closed

[2022-09-15 14:25] nevertheless1975 opened #1556 "MSAL's dSYM files"
Where can get the MSAL dSYM file? I had hoped it would be part of the release, but I didn't found it. I have some crash reports indicating MSAL been involved. However, I'm missing the symbols that would allow me to read stack traces.

[2022-09-15 22:10] mipetriu commented on #1556
Hi @nevertheless1975, how are you integrating MSAL into your project? For example through Cocoapods or Swift Package Manager?

[2022-09-15 22:19] mipetriu commented on #1555
Hi @dtatcbrain, what is the experience that the user sees? Are they acquiring a token through MSAL/Authenticator that is then being rejected by the resource?

The scenario of the Authenticator returning expired tokens without manipulating the clock seems incorrect. If the user can repro the issue, could they upload logs and share the IncidentID? We can take a look on our side.

[2022-09-15 22:27] mipetriu commented on #1545
Hi @jukemoon, which prompt are you referring to when you continue to see the removed account? Are you referring to the Authenticator account list that's shown when starting an interactive token request with the Authenticator present? If possible, maybe a screenshot of the prompt may help.

Could you also upload Authenticator logs of the issue and share the incidentID? We can take a look on our sid

[2022-09-15 22:35] mipetriu commented on #1544
Hi @guidedways, MSAL doesn't contain any logic for selection a TLS version - this should be controlled by the underlying Apple networking framework. If TLS version 1.2 is available, but the client isn't selecting the highest available version, it might be beneficial to open a support ticket with Apple? Their engineers would be best placed to investigate any issues.

[2022-09-16 03:39] mipetriu commented on #1556
@nevertheless1975 After taking a closer look, you can find the MSAL dSYM file if you archive your application. If you right-click one of the archives in your list and select "open in Finder" and then "show package contents" on it, I believe you should be able to find the dSYM there.

[2022-09-16 07:13] nevertheless1975 commented on #1556
Hi @mipetriu, we're integrating the compiled MSAL framework. My understanding is that dSYMs would only be created for frameworks we are building as dependency of the app target. At least for those dependencies we have dSYMs, for already compiled frameworks not. I was wondering if dSYMs would be somewhere online for each MSAL version, so I don't have to change the build process.

[2022-09-16 09:27] nevertheless1975 commented on #1556
If I just add MSAL via Cocoapods, archiving the project will give me the dSYM. I'm good. Thanks.

[2022-09-16 12:55] nevertheless1975 commented on #1556
The dSYM I generated of course has a different UUID. So I need the dSYM that was build for the released binaries. Do you have these somewhere online or can I ask you to provide for a specific version?

[2022-09-18 08:48] honkmaster commented on #1514
The issue still persists when using SPM. Here, we have no influence how the package is build...

[2022-09-20 05:15] smarapat commented on #1540
Hi @juan-arias , still I'm facing the login issue.

Couldn't query current account with error: Error Domain=NSOSStatusErrorDomain Code=-34018 "(null)" UserInfo={MSALErrorDescriptionKey=Failed to get items from keychain.}

[2022-09-20 21:06] juan-arias commented on #1540
Hi @smarapat,

Looking into the error: "the error -34018 translates to errSecMissingEntitlement. This error means that your app is trying to use a keychain access group for which it does not have entitlements." - from this [Apple forum post](https://developer.apple.com/forums/thread/114456). Please check if the necessary keychain groups were added to your application, according to the [MSAL doc](h